.wiring_editor .anchor {
    background: rgb(122, 152, 192);
    position: absolute;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 6px;
    -webkit-transition: box-shadow 500ms ease-in 150ms;
    -moz-transition: box-shadow 500ms ease-in 150ms;
    -o-transition: box-shadow 500ms ease-in 150ms;
}

.wiring_editor .grid .anchor {
    cursor: pointer;
}

.wiring_editor .sources .anchor {
    background: url('../../images/wiring/blue_ball.png');
    right: -1em;
}

.wiring_editor .targets .anchor {
    background: url('../../images/wiring/orange_ball.png');
    left: -1em;
}

.wiring_editor .menubar .sources .anchor {
    width: 1em;
    height: 1em;

}

.wiring_editor .menubar .targets .anchor {
    width: 1em;
    height: 1em;

}

.wiring_editor .sources .anchor.disabled {
    opacity: 0.7;
    cursor: no-drop;
}

.wiring_editor .targets .anchor.disabled {
    opacity: 0.7;
    cursor: no-drop;
}

.wiring_editor .targets .anchor:hover {
    box-shadow: 0 0 20px rgba(255, 103, 0, 1);
}

.wiring_editor .sources .anchor:hover {
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}
