.wiring_editor {
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size:12px;
    font-family: "Courier New", courier;
}

.wiring_editor .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.wiring_editor .menubar {
    white-space: nowrap;
    font-size: 0.6em;
    width: 180px;
    vertical-align: middle;
    overflow-x: visible;
    overflow-y: auto;
}

.wiring_editor .menubar .disabled {
    pointer-events: none;
}

.wiring_editor .grid {
    font-size: 1em;
    background: url('../../images/wiring/transp-grid-gray.png');
    box-shadow: inset 0 0 10px #000000;
}

.wiring_editor .grid.selecting {
    cursor: url('../../images/wiring/cursorAdd.png'), crosshair;
}

.wiring_editor .menubar .styled_expander {
    margin: 3px;
    border: none;
}

.wiring_editor .menubar .styled_expander .widgetsIcon{
    background: url('../../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}

.wiring_editor .menubar .styled_expander .operatorsIcon{
    background: url('../../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}
