/* generic entities --> widgets and operators */
.wiring_editor .ioperator {
    -webkit-transition: background 500ms ease-in 250ms;
    -moz-transition: background 500ms ease-in 250ms;
    -o-transition: background 500ms ease-in 250ms;
    background: -webkit-linear-gradient(white, rgba(206,220,180,0.8));
    background: -moz-linear-gradient(white, rgba(206,220,180,0.8));
    background: -o-linear-gradient(white, rgba(206,220,180,0.8));
}

.wiring_editor .iwidget {
    -webkit-transition: background 500ms ease-in 250ms;
    -moz-transition: background 500ms ease-in 250ms;
    -o-transition: background 500ms ease-in 250ms;
    background: -webkit-linear-gradient(white, rgba(206,220,231,0.8));
    background: -moz-linear-gradient(white, rgba(206,220,231,0.8));
    background: -o-linear-gradient(white, rgba(206,220,231,0.8));
}

.wiring_editor .ioperator, .wiring_editor .iwidget {
    line-height: 2.2em;
    padding-bottom: 2px;
    border: 1px solid;
    padding-bottom: 8px;
    border-radius: 1.25ex 1.25ex 1.25ex 1.25ex;
    box-shadow: 4px 4px 4px gray;
    font-family: "Courier New", courier;
    pointer-events: auto;
}

.wiring_editor .ioperator .header, .wiring_editor .iwidget .header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 5px;
    padding: 8px;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
}

.wiring_editor .grid .header .closebutton {
    top: -10px;
    float: right;
}

.wiring_editor .grid .sources .closebutton {
    top: 14px;
    right: 12px;
}

.wiring_editor .grid .ioperator, .wiring_editor .grid .iwidget {
    position: absolute;
}

.wiring_editor .targets {
    float: left;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.wiring_editor .sources {
    float: right;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

.wiring_editor .sources > div, .wiring_editor .targets > div {
    border-radius: 15px;
    -webkit-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
    -moz-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
    -o-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
}

.wiring_editor .sources  div div {
	display: inline-block;
}

.wiring_editor .targets > div div {
    display: inline-block;
}

/* menubar entities */
.wiring_editor .menubar .ioperator, .wiring_editor .menubar .iwidget {
    position: relative;
    padding-bottom: 0em;
    margin: 1em 1em;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 1em;
    z-index: 10;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
}

/* edit mode */
.wiring_editor .ioperator.editing .header, .wiring_editor .iwidget.editing .header {
    cursor: default;
}

.wiring_editor .ioperator.editing {
    background: rgba(206,220,180,0.8);
}

.wiring_editor .iwidget.editing {
    background: rgba(206,220,231,0.8);
}

.wiring_editor .sources.editing > div {
    background: rgba(0, 168, 151, 0.4);
    color: black;
    cursor: move;
}

.wiring_editor .targets.editing > div.highlight_main {
    box-shadow: inset 0 0 10px hsla(20, 100%, 50%, 0.5);
    color: #FF5500;
}

.wiring_editor .sources.editing > div.highlight_main {
    box-shadow: inset 0 0 10px hsla(240, 94%, 50%, 0.5);
    color: blue;
}

.wiring_editor .targets.editing > div {
    background: rgba(255, 151, 82, 0.4);
    color: black;
    cursor: move;
}

.wiring_editor .sources > div {
    padding-left: 10px;
    margin-top: 2px;
	margin-bottom: 2px;
}

.wiring_editor .targets > div {
    padding-right: 10px;
    margin-top: 2px;
	margin-bottom: 2px;
}

.wiring_editor .sources > div.moving {
    box-shadow: inset 0 0 10px hsla(240, 94%, 50%, 0.5);
    color: blue;
}

.wiring_editor .targets > div.moving {
    box-shadow: inset 0 0 10px hsla(20, 100%, 50%, 0.5);
    color: #FF5500;;
}

.wiring_editor .sources > div.moving.highlight_main{
    color: blue;
}

.wiring_editor .targets > div.moving.highlight_main{
    color: #FF5500;;
}

/* clone mini widget for Drag&Drop from menubar to grid */
.wiring_editor .border_layout .ioperator.clon, .wiring_editor .border_layout .iwidget.clon {
    position: absolute;
    font-size: 0.7em;
    z-index: 20;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
    overflow: hidden;
    font-weight: bold;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.wiring_editor .border_layout .ioperator.clon .header, .wiring_editor .border_layout .iwidget.clon .header {
    padding-top: 4px;
}

/* clone slots and events during editing Drag&Drop */
.wiring_editor .border_layout .source_clon {
    position: absolute;
    margin-top: 2px;
    background: rgba(0, 168, 151, 0.6);
    color: blue;
	border-radius: 15px;
    opacity: 0.5;
    cursor: move;
}

.wiring_editor .border_layout .target_clon {
    position: absolute;
    margin-top: 2px;
    background: rgba(255, 151, 82, 0.6);
    color: #FF5500;
    border-radius: 15px;
    opacity: 0.5;
    cursor: move;
}

.wiring_editor .border_layout .source_clon .labelDiv{
    display: inline-block;
    float: right;
    margin-right: 14px;
    margin-top: 6px;
}

.wiring_editor .border_layout .target_clon .labelDiv{
    display: inline-block;
    float: left;
    margin-left: 14px;
    margin-top: 6px;
}

.wiring_editor .border_layout .target_clon .anchor, .wiring_editor .border_layout .source_clon .anchor, .wiring_editor .border_layout .target_clon .multiconnector_icon, .wiring_editor .border_layout .source_clon .multiconnector_icon {
    display: none;
}

/* SELECTED OBJECTS */
.wiring_editor .grid .ioperator.selected {
    background-color: #DF7A62;
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 180);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

 .wiring_editor .grid .iwidget.selected {
    background-color: #DF7A62;
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 231);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

/* highlight events and slots by friendcode */
.wiring_editor .sources .highlight, .wiring_editor .targets .highlight_main {
    background: #FF9854;
    color: white;
}

.wiring_editor .targets .highlight, .wiring_editor .sources .highlight_main {
    background: #0A9;
    color: white;
}

.wiring_editor .sources .highlight span, .wiring_editor .targets .highlight_main span {
    pointer-events: none;
}

.wiring_editor .targets .highlight span, .wiring_editor .sources .highlight_main span {
    pointer-events: none;
}

/* multiconnector button */
.wiring_editor .grid .multiconnector_icon {
    background: rgb(122, 152, 192);
    position: absolute;
    display: inline;
    width: 9px;
    height: 9px;
    margin: 2px;
}

.wiring_editor .grid .multiconnector_icon{
    cursor: pointer;
}
.wiring_editor .grid .sources .multiconnector_icon {
    background: url('../../images/wiring/multiconnector_button.png');
    float: right;
    right: -10px;
    position: relative;
}

.wiring_editor .grid .targets .multiconnector_icon {
    background: url('../../images/wiring/multiconnector_button.png');
    float: left;
    left: -11px;
    position: relative;
}

/* edit Button */
.wiring_editor .grid .header .editPos_button {
    float: left;
    background-image: url(../../images/icons-sprite.png);
    background-position: -49px -337px;
    top: -10px;
    width: 16px;
    height: 16px;
}

/* highlight button DEPRECATED */
.wiring_editor .grid .generalHighlight_button {
    float: right;
    background: url('../../images/wiring/big_eye1.png');
    width: 20px;
    height: 20px;
    z-index: 100;
}

.wiring_editor .grid .generalHighlight_button.activated {
    background: url('../../images/wiring/big_eye2.png');
}

.wiring_editor .grid .header .highlight_button {
    float: left;
    background: url('../../images/wiring/eye1.png');
    top: -10px;
    width: 16px;
    height: 16px;
}

.wiring_editor .grid .header .highlight_button.activated {
    background: url('../../images/wiring/eye2.png');
}
