{% load i18n %}
<html>
<head>
	<style>
		body{
			font-family: Arial,Helvetica,sans-serif;
			font-size: 90%;
		}
		.warn{
			font-size: 80%;
			color: dimGray;
		}
	</style>
		
</head>
<body>
	<p>{% trans "Select a file from your local system" %}.</p>
	<form id="upload_file" name="upload_file" method="POST" enctype="multipart/form-data" action="#">
		<input type="file" name="file"/>
		<input type="submit" value="{% trans 'upload' %}"/>
	</form>
	<p class="warn">{% trans "permitted types: " %} {% for type in content_types %} {{type}} {%endfor%}.{%trans " Max. size: " %}{{max_size}}</p>
</body>
</html>