.resource {
    position: relative;
    border: 1px solid #CDCED1;
    padding: 0 8px;
    border-radius: 6px;
    display: inline-block;
    margin: 0.9ex;
    vertical-align: middle;
    height: 142px;
    width: 300px;
    text-align: left;
    overflow: hidden;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -webkit-box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    background: white;
    cursor: pointer;
}

.resource:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    border-color: rgba(82, 168, 236, 0.8);
}

.resource .txt-gradient {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    background: linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    position: absolute;
    bottom: 0px;
    width: 38px;
    right: 0px;
}

.resource > .header > h2 > .txt-gradient {
    height: 26px;
}

.resource > .description > .txt-gradient {
    height: 18px;
    width: 60px;
}

.resource > img {
    width: 170px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
    border-radius: 4px;
    display: inline-block;
}

.resource > .header > .rating {
    position: absolute;
    top: 0px;
    right: 8px;
    line-height: 26px;
}

.resource > .header > .rating > .star {
    margin: 0px 1px 0px;
}

.resource > .header > .vendor {
    font-size: 13px;
}

.resource > .description {
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    height: 72px;
    overflow: hidden;
    top: 60px;
    left: 178px;
    right: 8px;
}

.resource > .header > .resource_name {
    white-space: nowrap;
    font-size: 20px;
    line-height: 26px;
}

.resource > .header > .label {
    margin-left: 0px;
}

.resource > .header > h2 {
    margin: 0px;
    font-size: 24px;
    overflow: hidden;
    position: relative;
    width: 192px;
}

.resource .mainbutton {
    clear: both;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
}

.resource_details .panel {
    background-color: rgb(246, 246, 244);
    border: 1px solid rgb(205, 206, 209);
    border-radius: 6px 6px 6px 6px;
    text-align: center;
    margin: 0 3ex;
    padding: 1ex;
}
