{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript">

function edit()
{
    div=document.getElementById("78");
    div.contentEditable="true";
    div.contenteditable="true";  
    div.designMode="on";
    div.designmode="on";
}

</script>
<script id="tiny_mce_js" src="{{ MEDIA_URL }}tinyMCE/widgets/tiny_mce/tiny_mce_src.js" type="text/javascript">
</script>
</head>
<div id="78" contenteditable style="designmode:on" contenteditable="true">
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Remi_turtlegrafik.png/220px-Remi_turtlegrafik.png" alt="AAAAAAAA"/>
<p id="79" contenteditable="true" >
sdfdsdmmfklmsdalkfm
</p>
<a href="#" onclick="javascript:{edit(); }" >Edit</a>
<a href="#" onclick="javascript:{noedit();}">NoEdit</a>
</div>

<script type="text/javascript" src="ezweb/tinyMCE/widgets/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">

tinyMCE.init({

theme : "advanced",

mode : "textareas",

plugins : "noneditable"

});

</script>
<form method="post" action="somepage">
<textarea name="content" style="width:100%">

<p>Editable content.</p>

<p class="mceNonEditable">Non editable content, can't be modified in IE or FF.</p>

<p>Editable content.</p>

<p class="mceNonEditable">Non editable content, can't be modified in IE or FF.</p>

</textarea>

</form>

<iframe >
<a id="2784" target="_blank" href="http://127.0.0.1:8000/admin/clms/layouttemplate/1/layout/#" onclick="javascript:{alert(4); return false;}"> choose the panel </a>

</iframe>

</html>
