{% load i18n %}

<ul>

{% if has_previous %}
  <li>
    <a href="{{ query_string }}page={{ previous }}"><img src="/ezweb/clms/images/pag_anterior.png" alt="{% trans "Previous Page" %}" /></a>
  </li>
{% endif %}

{% if not show_first %}
{% endif %}

{% for page_num in page_numbers %}
   <li{% ifequal page_num page %} class="actual"{% endifequal %}>
     {% ifequal page_num page %}
       {{ page }}
     {% else %}
       <a href="{{ query_string }}page={{ page_num }}">{{ page_num }}</a>
     {% endifequal %}
   </li>
{% endfor %}

{% if not show_last %}
{% endif %}

{% if has_next %}
  <li>
    <a href="{{ query_string }}page={{ next }}"><img src="/ezweb/clms/images/pag_siguiente.png" alt="{% trans "Next Page" %}" /></a>
  </li>
{% endif %}
</ul>
