$brand-primary:             #002B67;
$brand-success:             #5BB75B;
$brand-info:                #49AFCD;
$brand-warning:             #E9C12F;
$brand-danger:              #DA4F49;

$body-bg:                   #FCFCFC;
$widget-bg:                 #FFFFFF;

$font-size-base:            13px;
$font-size-large:           15px;
$font-size-small:           10px;
$font-size-xs:              10px;

$font-family-base:          "Open Sans", Arial, sans-serif;
$headings-font-family:      NeoTech;
$headings-color:            #002B67;

$line-height-base:          18px;

$padding-vertical-base:      4px;
$padding-horizontal-base:   12px;

$padding-vertical-large:     8px;
$padding-horizontal-large:  14px;

$padding-vertical-small:     5px;
$padding-horizontal-small:   9px;

$padding-vertical-xs:        2px;
$padding-horizontal-xs:      6px;

$panel-bg:                  #FFFFFF;

$button-gradients:          false;

$button-background-default: #FFF;
$button-border-default:     #CCC;

$button-border-primary:     $brand-primary;

$rating-on-color:          #60C1CF;

$resource-header-bg:       #EBEBEB;

@import 'defaults';
