#workspace {
    overflow: hidden;
}

.workspace.fullscreen {
    background: white;
}

#workspace > .alert {
    margin: 2ex 5ex;
}

/********************************************/

div.dragboard.fixed {
  background: transparent;
}
