.notebook.workspace .wrapper {
    border: 0px none;
    border-radius: 0px;
}

#workspace {
    overflow: hidden;
}

.workspace.fullscreen {
    background: white;
}

#workspace > .alert {
    margin: 2ex 5ex;
}

/********************************************/

div.dragboard.fixed {
  background: transparent;
}

/***
 *
 */

.notebook.full.workspace > div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.notebook.workspace .tab_wrapper {
    top: auto;
    bottom: 0;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 0px none;
    height: 35px;
    line-height: 35px;
    z-index: 2;
}

.notebook.workspace .tab_wrapper .move_left {
    margin: 0px 5px;
}

.notebook.workspace .tab_wrapper .move_right {
    margin: 0px 5px;
}

.notebook.workspace .tab_wrapper .icon-add-tab {
    margin: 0px 4px;
    color: rgb(85, 85, 85);
}

.notebook.workspace .tab_wrapper .icon-add-tab:hover {
    color: #60C1CF;
}

.notebook.workspace .tab_wrapper .icon-add-tab:before {
    content: "\f055";
}

.notebook.workspace .wrapper {
    top: 0;
    bottom: 36px;
}

.notebook.workspace .tab_area {
    height: 35px;
    top: -1px;
}

.notebook.workspace .tab_area .tab {
    vertical-align: top;
    padding: 8px 19px 8px 1ex;
    border-radius: 0 0 4px 4px;
}

.notebook.workspace .tab_area .tab:hover {
    border-color: #DDD #E2E2E2 #E2E2E2;
}

.notebook.workspace .tab_area .tab > span {
    vertical-align: middle;
}

.notebook.workspace .tab_area .tab.selected {
    border-color: rgba(0,0,0,0) #DDD #DDD;
}

.notebook.workspace .tab_area .tab.highlight {
    border-color: rgba(82, 168, 236, 0.8);
}

.notebook.workspace .tab_area > .tab.highlight {
    -webkit-animation: highlight_tab 2s infinite linear;
    -moz-animation: highlight_tab 2s infinite linear;
    -o-animation: highlight_tab 2s infinite linear;
    animation: highlight_tab 2s infinite linear;
}

@-webkit-keyframes highlight_tab {
    0% {
        box-shadow: 0 0 8px 0px rgba(82, 168, 236, 0.6);
    }
    50% {
        box-shadow: 0 0 8px 4px rgba(82, 168, 236, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 0px rgba(82, 168, 236, 0.6);
    }
}
