@import 'variables';

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  src: local('Comfortaa'), local('Comfortaa-Regular'),
       url("../fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_regular-webfont.woff") format("woff"),
       url("../fonts/comfortaa_regular-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url("../fonts/comfortaa_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_bold-webfont.woff") format("woff"),
       url("../fonts/comfortaa_bold-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_bold-webfont.svg#ComfortaaBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont.woff") format("woff"),
       url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSansBold'),
       url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bold-webfont.woff") format("woff"),
       url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
       url("../fonts/opensans-bold-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'NeoTech';
  font-style: normal;
  font-weight: normal;
  src: local("Neo Tech"), local("NeoTech"),
       url("../fonts/neotech-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/neotech-regular-webfont.woff") format("woff"),
       url("../fonts/neotech-regular-webfont.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(140, 140, 140);
    background: #fcfcfc;
    text-rendering: optimizeLegibility;
}

a:hover {
    color: #60C1CF;
}

/* OIL Header */

header.navbar {
    background-color: #f4f4f4;
    padding: 1px 10px 1px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
    -moz-box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
    box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
    margin-bottom: 15px;
}

header.navbar {
    height: 37px;
    padding: 1px 2% 1px;
}

header.navbar > .navbar-inner {
    min-height: 40px;
    padding: 0px;
}

header.navbar > .navbar-inner > .logo-header, header.navbar > .navbar-inner > .logo-header > a {
    display: inline-block;
}

header.navbar .logo-header > .brand {
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 -8px;
    font-size: 23px;
    font-weight: 200;
    color: #60c1cf;
    text-shadow: 0 1px 0 #fff;
    vertical-align: top;
    line-height: 21px;
    font-family: "NeoTech";
}

header.navbar .logo-header .fiware-logo {
    border: 0px none;
    display: block;
    width: 60px;
    padding-top: 0;
}

header.navbar .logo-header > .brand > .fiware-logo {
    width: 158px;
}

header.navbar .logo-header > .brand > span {
    color: #002d67;
}

header.navbar ul.oil-portal {
    height: 36px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
    font-family: Arial;
}

header.navbar ul.oil-portal > li {
    display: inline-block;
    padding: 12px 18px 8px;
    list-style-type: none;
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 4px;
}

header.navbar ul.oil-portal > li:hover {
    background-color: rgba(152, 152, 152, 0.1);
    height: 18px;
    color: #049cdb;
}

header.navbar ul.oil-portal > li.active {
    background: #fcfcfc;
    height: 18px;
}

header.navbar ul.oil-portal > li > a {
    color: #555;
}

header.navbar ul.oil-portal > li:hover > a {
    color: #60c1cf;
}

header.navbar ul.oil-portal > li.active:hover > a, header.navbar ul.oil-portal > li.active > a{
    color: #002d67;
}

header.navbar ul.nav span.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 70px;
}

header.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
}

header.navbar > .nav.pull-right {
    float: right;
    margin-right: -5px;
}

header.navbar .nav > li {
    float: left;
    line-height: 20px;
}

header.navbar .nav > li > a {
    float: none;
    display: block;
    padding: 10px 0 10px 1px;
    color: rgb(119, 119, 119);
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
}

header.navbar .nav > li > a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

header.navbar .nav > li > a > img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

header.navbar .nav > li > a > .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

header.navbar .nav > .arrow-down-settings {
    vertical-align: middle;
    width: 22px;
    height: 25px;
    background-image: url("../images/arrow-down.png");
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-position: -1px -35px;
    margin: 8px 0px 6px 1px;
}

header.navbar .nav > .arrow-down-settings:hover {
    background-position: -1px -5px;
}

footer {
    font-size: 13px;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 20px;
    text-align: center;
    color: rgb(140, 140, 140);
    padding: 1ex 1ex 10px 20px;
}

/* END OIL Header */

.wirecloud_app_bar {
    margin: 0 0 6px 0;
    white-space: nowrap;
}

.wirecloud_header_nav {
    margin: 0 0 0 5px;
}

#wirecloud_header > .breadcrum_wrapper {
    font-family: "Courier New", courier;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5ex;
    line-height: 41px;
    position: relative;
}

.wirecloud_toolbar {
    overflow: visible;
    margin: 0 5px;
}

.wirecloud_toolbar .styled_button {
    width: 21px;
    box-sizing: content-box;
    text-align: center;
}

.wirecloud_toolbar .styled_button .badge {
    position: absolute;
    bottom: -6px;
    right: 0;
}

.breadcrum {
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    width: 500px;
    transition: width 0.30s ease-in;
}

@media (min-width: 1024px) {
    .breadcrum {
        width: 700px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .breadcrum {
        width: 800px;
        font-size: 20px;
    }
}

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 600px;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#wirecloud_header .menu_wrapper {
    right: 0px;
    text-align: right;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    color: #990000;
}

#wirecloud_header .menu_wrapper > .menu {
    display: inline-block;
    padding: 0 0 0 1ex;
    vertical-align: top;
}

#wirecloud_header > .menu_wrapper > .menu > span {
    padding: 0.5ex 0.75ex;
    cursor: pointer;
    color: #002B67;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#wirecloud_header > .menu_wrapper > .menu > span.wiring.error:before {
    content: "\f071";
    vertical-align: baseline;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    color: #f89406;
    margin-right: 3px;
}

#wirecloud_header > .menu_wrapper > .menu > span:hover {
    text-decoration: none;
    background-color: #FDFFFF;
    color: #60C1CF;
}

#wirecloud_header > .menu_wrapper > .menu > .user_menu_wrapper {
    display: inline-block;
    margin: 0 1ex;
}

#wirecloud_header > .menu_wrapper > .menu > span.selected {
    cursor: default;
    background-color: #002B67;
    color: white;
}

#wirecloud_header > .menu_wrapper > .menu .mark {
    display: none;
}

#wirecloud_header > .menu_wrapper > .menu > .selected > .mark {
    height: 2ex;
}

#wirecloud_header > .submenu {
    display: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#wirecloud_breadcrum {
    vertical-align: middle;
}

#wirecloud_breadcrum > span {
    padding: 0 5px;
}

/* Loading window */

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-window.disabled {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    z-index: 4;
    margin-bottom: 4ex;
    margin-right: 4ex;
}

#loading-subtask-title {
    margin: 0;
}

.window_menu .styled_form .notebook {
    height: 400px;
}

.parametrizable_input > * {
    display: inline-block;
}

.parametrizable_input > .readOnlyIcon, .parametrizable_input > .visibilityIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px;
    vertical-align: bottom;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.parametrizable_input > .readOnlyIcon {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -552px;
}

.parametrizable_input > .readOnlyIcon.readOnly {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -552px;
}

.parametrizable_input > .visibilityIcon {
    background-image: none;
}

.parametrizable_input > .visibilityIcon.visible {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -384px;
}

.clearfloats {
    clear: both;
}

.powered-by-wirecloud {
    vertical-align: middle;
}

.powered-by-wirecloud:before {
    content: 'Powered by ';
    vertical-align: middle;
}

.powered-by-wirecloud:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 20px;
    background: url("../images/logos/wc1-mini.png");
}

/* Cookies banner */

#cookie-law {
    background: rgba(44,44,44,0.9);
    position: fixed;
    font-family: Arial;
    z-index: 10000;
    bottom: 0;
    left: 0;
}

#cookie-law p {
    color: white;
    padding: 10px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
}

#cookie-law a {
    color: white;
    font-weight: bold;
}

#close-cookie-banner {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    margin: 0;
    line-height: 20px;
}
