#showcase {
  overflow:hidden;
}

#catalogue select {
  height: 20px;
  font-size: 8pt;
}

.showcase {
  border-color:#C2CBD2;
  padding-top: 7px;
}

#catalogue .back_to_resource_list {
  border-bottom: 1px solid;
  height:23px;
  padding-top:5px;
}

#catalogue .margin_top {
  margin-top: 10px;
}

#catalogue .link:hover  {
  text-decoration: underline;
}

#catalogue .link {
  cursor: pointer;
  color: darkBlue;
}

#catalogue .developer_image {
  width: 200px;
  height: 120px;
  padding-left: 20px;
  padding-top:8px;
}

#catalogue .developer_title {
  font-size:18px;
}

#catalogue .developer_block {
  clear:both;
  float:left;
  margin-bottom:25px;
  padding-left:15px;
}

#catalogue .developer_description {
  padding-left: 15px;
  padding-top: 8px;
  max-width: 700px;
}

#catalogue .developer_block button, #catalogue #template_uri, #catalogue #gadget_uri {
  margin-left:15px;
  margin-top:10px;
}

#catalogue .float_left {
  float: left;
}

#catalogue #left_bar {
	float:left;
	display:inline;
	position:relative;
	width: 13%;
	padding: 0px 10px 0 10px;
	margin: 0;
	height: 1000px;
}

#catalogue #left_bar a:hover {
   text-decoration:none;
}

#catalogue #left_bar .bar_widget {
	margin: 0 0 20px 0;
}

#catalogue #left_bar .widget_title {
	font-size: 105%;
	margin: 10px 0;
}

#catalogue #left_bar .widget_content {
	overflow-x: auto;
	margin-top: 10px;
}

#catalogue .simple_search {
	float: left;
	position: relative;
	left: 10px;
}

#catalogue .simple_search #simple_search_text {
    margin: 0px;
    padding: 0px;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#E6F3FF none repeat scroll 0 0;
}

#catalogue #left_bar .link {
	display: block;
	padding-bottom: 5px;
}

#catalogue #catalogue_content {
	float:left;
    padding-left:10px;
    position:relative;
    width:84%;
}

#catalogue .center .resources {
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  float:left;
  width: 100%;
}

#catalogue .paginate_show {
    display: inline;
    float:right;
    margin-right: 10px;
}	

#catalogue .orderby {
	display:inline;
	float:right;
	margin-right: 10px;
}

#catalogue .paginate {
	padding-top:2px;
	padding-bottom:7px;
	float:right;
	margin-right: 10px;
}	

#catalogue .center .resources .resource,  #catalogue .center .resources .resource_details {
  clear:both;
  margin-right:10px;
  position:relative;
}

#catalogue .center .resources .header_resource {
	border-top: 1px solid;
}

/* 
///////////
Resource 
/////////// 
*/

#catalogue .center .resources .resource .resource_name,  #catalogue .center .resources .resource_details .resource_name {
  padding-bottom: 8px;
  max-width: 350px;
  font-size: 20px;
}

#catalogue .center .resources .resource .resource_name, #catalogue .center .resources .resource .image {
  cursor: pointer;
}

#catalogue .center .resources .resource_details .resource_name { 
  cursor: default;
  float: left;
}

#catalogue .center .resources .resource_details .image {
  cursor: default;
}

#catalogue .center .resources .resource .image, #catalogue .center .resources .resource_details .image {
  width: 170px;
  height: 80px;
  border: 1px solid;
}

#catalogue .center .resources .resource_details .popularity {
  float: left;
  margin: 5px;
}

#catalogue .center .resources .resource_details .voting_label {
  float: left;
  margin: 5px;
}

#catalogue .center .resources .resource_details .popularity .off {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/ezweb/images/catalogue/ico_vot_no.gif) no-repeat scroll 0 0;
  float:left;
  height:15px;
  width:15px;
  cursor: default;
}

#catalogue .center .resources .resource_details .popularity .on {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  float:left;
  height:15px;
  width:15px;
  cursor: default;
  background:transparent url(/ezweb/images/catalogue/ico_vot_ok.gif) no-repeat scroll 0 0;
}

#catalogue .center .resources .resource_details .popularity .md {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  float:left;
  height:15px;
  width:15px;
  cursor: default;
  background:transparent url(/ezweb/images/catalogue/ico_vot_md.gif) no-repeat scroll 0 0;
}

#catalogue .padding_left {
  padding-left: 5px; 
}

#catalogue .padding_right {
  padding-right: 5px; 
}

#catalogue .section_title {
  clear:both;
  font-size:13pt;
  padding-bottom:5px;
  padding-top:10px;
}

#catalogue .center .resources .resource .desc, #catalogue .center .resources .resource_details .desc {
  clear: both;
  max-width: 650px;
}

#catalogue .center .resources .resource .tags, #catalogue .center .resources .resource_details .tags {
  float: left;
  padding-top: 10px;
}

#catalogue .center .resources .resource .tags .tags_label, #catalogue .center .resources .resource_details .tags {
  float: left;
  margin-right:10px;
}

#catalogue .center .resources .resource .footer_resource {
  height: 10px;
  clear: both;
  bottom: 0px;
  float: left;
}

#catalogue .center .resources .resource .left_column_resource, #catalogue .center .resources .resource_details .left_column_resource {
  float: left;
  width: 25%;
  text-align: center;
}

#catalogue .center .resources .resource .right_column_resource,  #catalogue .center .resources .resource_details .right_column_resource {
  float: left;
  width: 75%;
}

#catalogue .center .resources .resource .header_resource, #catalogue .center .resources .resource_details .header_resource {
  height: 10px;
  clear: both;
  top: 0px;
}

/* /////////////// */

.purchase_window_table td.app_name {
	color: darkBlue;
}

.purchase_window_table tr.total_row td {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.purchase_window_table tr.total_row {
	cursor: default;
}

.tags .tag_links {
	float: left;
}

#catalogue #toolbar {
  width: 100%;
}

#catalogue .toolbar_option {
  float: left;
}

#gadgetToAppWindow .app_image {
  position:absolute;
  right:8px;
  top:30px;
  width:140px;
  height: 65px;
}

#gadgetToAppWindow .app_info {
  width: 525px;
}

#gadgetToAppWindow .app_desc, #gadgetToAppWindow .app_gadgets {
  clear: both;
}

.show_external_link {
  padding-bottom: 10px;
}

#gadgetToAppWindow b {
  clear: both;
  float: left;
  padding-right: 5px;
}



#close_info_resource {
	position:absolute;
	z-index:2;
	right:10px;
	top:10px;
}

.purchase_window_text {
	max-width: 500px;
}

.purchase_window_table {
	margin-top:10px;
	width: 100%;
}

.purchase_window_table th {
	border-bottom:1px solid;
	padding-left: 6px;
	text-align: left;
}

.purchase_window_table th.app_name {
	width: 60%;
}

.purchase_window_table th.app_signup_price,  .purchase_window_table th.app_monthly_price {
	width: 20%;
}

.purchase_window_table td {
	border-left:1px solid;
	padding-left: 6px;
	text-align: left;
	padding: 6px;
	margin: 0px;
}

.purchase_window_table tr {
	cursor: pointer;
	cursor: hand;
}

#purchase_window_table .right_border {
  border-right: 1px solid;
}

.help_text_enabled {
	display: block;
	position: absolute;
	z-index: 5;
	max-width: 450px;
}

.help_text_disabled {
	display: none;	
	position: absolute;
}

#app_image {
	width: 150px;	
	height: 70px;
	border: none;
	clear: both;
	float: right;
}

#app_name {
	clear: both;
	font-size: 16px;
	float: left;	
	padding-bottom: 10px;
	min-width: 400px;
}

#app_desc, #app_gadget_list {
	clear: both;
}

#app_vendor, #app_signup_fee, #app_monthly_fee {
	padding-left: 6px;
	float: left;
}

#app_close{
	position: absolute;
	top: 5px;
	right: 5px;
}

.floating_left {
	float: left;
	clear: left;
}

.clearing_both {
	clear: both;
	font-weight: bold;
}

#colorpicker301{
	position: fixed;
}

