div.dragboard {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

div.gadget_window {
  position: absolute;
  border: 1px solid;
}

div.fulldragboard {
  position: fixed;
}

div.gadget_window_locked {
}

div.gadget_window_transparent {
  background: transparent;
}

div.gadget_menu {
  cursor: move;
  overflow: hidden;
  border: 0px;
  padding: 1px 3px 1px 7px;
  height: 16px;
}

/*div.dragboard.fixed -> LOCK OR SHARED STATUS*/
div.fixed div.gadget_menu {
  cursor: default;
}

/*div.dragboard.fixed -> LOCK OR SHARED STATUS*/
div.fixed div.gadget_window div.gadget_menu .closebutton, div.fixed div.gadget_window div.gadget_menu .versionbutton {
  display: none;
}

/*div.dragboard.fixed -> LOCK OR SHARED STATUS*/
div.fixed div.gadget_menu #settingsbutton {
  display: inline;
}

/*div.gadget_window_readonly -> READONLY STATUS*/
div.gadget_window.gadget_window_readonly div.gadget_menu .closebutton {
  display: none;
}

div.gadget_window div.gadget_menu input[type="button"] {
  float: right;
  display: inline;
  margin: 0 0 0 5px;
  padding: 0px;
  width: 16px;
  height: 16px;
  border: 0px none;
  outline: 0px none;
  cursor: pointer;
}

div.gadget_window div.gadget_wrapper {
  width: auto;
}

div.gadget_window_locked div.gadget_wrapper {
  border: none;
}

div.gadget_window div.gadget_wrapper object {
  width: 100%;
}

div.row {
  white-space: nowrap;
}

div.color_button {
  float: left;
  cursor: pointer;
  margin: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid;
}

div.gadget_window .button {
  display: none;
  margin: 2px 2px 0px 2px;
  float: right;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

div.gadget_window .snapButton, div.gadget_window .extractButton, div.gadget_window .dragboardwiki{
	display: block;
}

div.gadget_window div.leftResizeHandle {
  position: absolute;
  width: 32px;
  height: 16px;
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}

div.gadget_window div.rightResizeHandle {
  position: absolute;
  width: 32px;
  height: 16px;
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
}

div.gadget_window div.inUse {
  width: 100%;
  height: 100%;
}

div.gadget_window div.leftResizeHandle.inUse {
  right: 0px;
  top: 0px;
  width: auto;
  height: auto;
}

div.gadget_window div.resizeHandle.inUse {
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
}

/*div.dragboard.fixed*/
div.fixed div.gadget_window div.leftResizeHandle,
  div.fixed div.gadget_window div.rightResizeHandle,
  div.fixed div.gadget_window div.extractButton,
  div.fixed div.gadget_window div.snapButton
{
  display: none;
}

.gadget_menu span {
  cursor: pointer;
}

div.fixed .gadget_menu span {
	cursor: default;
}

.gadget_menu .igadget_name {
  float:left;
  display:inline;
  border: 0px;
}

div.gadget_window div.statusBar {
  overflow: hidden;
  border: 0px;
  height: 16px;
  padding: 0 32px;
}

div.gadget_window div.statusBar .button {
  margin-top: 0;
  margin-bottom: 0;
}



/*****
 * config_interface
 */

div.gadget_window div.config_interface,
div.gadget_window_locked div.config_interface {
  display: none;
  padding: 1px 1ex;
  margin: 0px;
  border-bottom: 1px solid;
}

div.config_interface div.buttons {
  margin: 1ex 0px;
  float: right;
}

div.config_interface table {
  width: 100%;
}

div.config_interface label {
  margin: 1ex;
  display: block;
}

div.config_interface input, div.config_interface select {
  margin: 0px 1ex;
  border: 1px solid;
}

div.config_interface table input {
  width: 90%;
  max-width: 100ex;
  padding: 0px 0.5ex;
}

div.config_interface table input[type="checkbox"] {
  width: auto;
}

div.config_interface select {
  padding: 0px;
}

div.config_interface h4{
	margin: 10px 0;
}

div.shared_conf_area label {
	display:inline;
	margin:0 10px 0 0;
	vertical-align:middle;
}

div.shared_conf_area input{
	margin-right:2px;
	vertical-align:middle;
}

div.shared_conf_area a{
	cursor: pointer;
}

div.shared_conf_area a{
	vertical-align:middle;
}

table.shared_prefs {
	border-collapse: collapse;
}

table.shared_prefs td{
	border-bottom:1px solid;
	padding: 3px 0;
}

div.config_interface label.invalid input {
	border: 1px solid;	
}

.gadget_menu_locked .hide_on_lock, .gadget_menu_fulldragboard .hide_on_fulldragboard, .gadget_menu_minimized .hide_on_minimize {
  display: none;
}

/********************************************/
div.fulldragboard div.statusBar {
  display: none;
}

div.fulldragboard {
  border: 0px none;
}

div.fulldragboard div.gadget_menu input[type="button"].minimizebutton {
  display: none;
}

div.fulldragboard div.gadget_menu {
  cursor: default;
}

/******************************
 * Locked Dragboard
 ******************************/

div.gadget_window_locked {
    border: 1px solid;
}

div.gadget_window_locked div.gadget_menu, div.gadget_window_locked div.statusBar {
    display: none;
}

/***
 *
 */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

#dragboardcursor {
  position: absolute;
  z-index: 1;
  border: 2px dashed;
}

.dragboardwikilink {
	color: transparent;
}
.dragboardwikilink:hover {
	color: transparent;
}

.floating_gadget_icon{
	position: absolute;
	width: 75px;
	text-align: center;
	display: none;
}

.floating_gadget_icon img{
	width: 60px;
	height: 60px;
	display: block;
	padding: 0 5px 2px 5px;
}

.floating_gadget_icon .floating_gadget_title{
	display: block;
	cursor: default;
	font-size:85%;
}

