
td {
  padding: 0;
}

.hidden {
    display: none !important;
}

#loading-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

/* header ------------------------------------------------------------------------------------------ */

#header {
    position: relative;
    width:100%;
    z-index: 2;
}
.form-row {
	width: 300px;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.form-row input[type="submit"]{
	padding: 3px;
	border: 0;
	margin-top: 5px;
}

.form-row table {
	text-align: left;
}

#content-main .registration{
	text-align: center;
}

#content-main .registration a{
	cursor:pointer;
}

#banner {
  position:relative;
  overflow:hidden;
}

#greeting{
	text-align:right;
	position:relative;
	float:right;
	width:400px;
	margin-right:15px;
	margin-top:5px;
}


#greeting .languages{
	display:inline;
	margin-left: 20px;
}

#greeting .languages img{
	border:0px none;
}
#logo {
	position:relative;
	float:left;
	margin-top:0;
	margin-left:10px;
}

#bar {
  position: relative;
  float: left;
  clear:both;
  width: 100%;

}

#tab_section {
    position: absolute;
    bottom:   0;
    display:  block;
    right:    4px;
    width:    100%;
    z-index:  3;
    white-space: nowrap
}

#tab_section #fixed_bar{
 position:relative;
 right:0pt;
 float:right;
 height:25px;
 overflow:hidden;
 display:inline;
 max-width:70%;
}

#tab_section #scroll_bar{
 position:absolute;
 top:0;
 right:0;
 float:right;
 white-space:nowrap;
}

#toolbar_section {
  position: relative;
  margin-left: 40px;
  float: left;
  margin-top: 3px;
  z-index: 3;
  white-space: nowrap;
}

.toolbar_section input[type=button]{
	border: 0px none;
  	cursor: pointer;
}

#add_tab_link, #left_slider, #right_slider {
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  height: 21px;
  width: 21px;
  cursor: pointer;
}

.ws_name{
  max-width: 130px;
}

#workspace_name {
  position: relative;
  display: inline;
  margin-right: 0px;
  margin-left: 3px;
}

.toolbar_marked, .toolbar_unmarked {
	position: relative;
	float: left;
	width: auto !important;
}

.toolbar_marked {
	top: 5px;
	margin: 0 0 1px 3px;
}

.toolbar_unmarked {
	top: 4px;
	margin: 1px 0 0 3px;
}

#dragboard_link.toolbar_unmarked, #dragboard_link.toolbar_unmarked * {
	cursor: pointer;
}

#tab_section .toolbar_marked, #tab_section .toolbar_unmarked {
	margin-top: -4px;
	margin-right: 4px;
}

#left_slider{
 margin-top:2px;
 margin-left:3px;
 float:right;
 width: 10px;
}

#right_slider{
 margin-top:2px;
 float:right;
 width: 10px;
}

.message_box{
	font-weight: bold;
}

#add_tab_link {
 margin-top:2px;
 float:right;
}

#workspace_link_container {
	float: left;
}

#workspace_menu_link{
	clear: left;
}

#dragboard_link span {
  position:relative;
  top:3px;
  vertical-align:top;
  margin-right:3px;
}


#logs_link {
  height: 16px !important;
  cursor:pointer;
  padding: 2px 4px 0px 2px;
}

.message_section{
	position: absolute;
	top: 6px;
	z-index: 3;
	display: none;
	width:100%;
	text-align: center;
	height:18px;
	padding-top:5px;
}

#tab_section .tab {
  position: relative;
  float: right;
  display: block;
  padding: 2px 9px;
  margin: 0px 3px;
  cursor: pointer;
  z-index: 3;
  height: 18px;
  padding: 3px 5px 1px;
  font-weight: bold;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  padding-bottom: 2px;
  padding-right: 3px;
}

.tab span{
  margin-right:5px;
}

.current .tab_name {
  margin-right: 5px;
}

#menu_layer{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 3;
}

.drop_down_menu, .window_menu{
  position:fixed;
  text-align: left;
  z-index: 4;
}

.drop_down_menu {
  padding: 0.5em;
  display: none;
}

.drop_down_menu .option {
  padding : 5px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

.drop_down_menu .submenu{
  padding: 2px;
}

.drop_down_menu div img {
  border: none;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
}

.drop_down_menu div span {
  display: inline;
}

.drop_down_menu .submenu .submenu_title{
 font-size: 90%;
}

.drop_down_menu div .help_buttom {
  position: absolute;
  right: 10px;
  margin-left: 5px;
  border: none;
  display: inline;
  vertical-align: middle;
  cursor: pointer;
}

#help_section .help_button{
	padding-left: 18px;
}

.window_menu {
  max-width:50%;
  padding: 0.8em 1.8em;
}

#parse_parameters{
  margin: 0px 0px 0px 0pt;
}

.window_menu .window_content input {
  margin: 0px 0px 0px 0pt;
}

.window_menu .window_title {
  font-size: 16px;
  margin-right: 1ex;
  font-weight: bold;
  min-width: 31ex;
}
.window_menu .window_top {
  position: relative;
}

.window_menu .closebutton {
  position: relative;
  top: 3px;
  margin-left: 1ex;
  float: right;
}

.window_menu .window_content {
  clear: both;
}

.window_menu .window_content > img {
  float: left;
  margin-right: 5px;
  vertical-align: bottom;
}
.window_msg {
  display: inline;
  text-align: center;
}

.window_menu .window_content .msg img {
  margin: 0 2px;
  vertical-align: bottom;
}

.window_msg_error{
  font-size: 90%;
}

.window_menu .window_bottom {
  margin: 2em 0 0.5em;
  text-align: center;
}

.required_mark{
	font-size: 100%;
}

.required_text{
	font-size: 85%;
}

.tabOps_launcher, .closebutton{
  border:0px none;
  cursor: pointer;
  padding: 0px;
  width: 16px;
  height: 16px;
}

button {
  margin: 3px;
  cursor: pointer;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	padding:0;
}

#gadgets .gadget .toolbar{
	margin-top:0;
	height:30px;
}
#gadgets .gadget .toolbar h2{
	margin:0;
	padding:5px;
	font-size:120%;
	float:left;
}

#gadgets .gadget .toolbar a {
	float:right;
	margin-right:2%;
	margin-top:10px;
}
#gadgets .gadget .toolbar a img {}


#gadgets .gadget .preferences table{
	width:90%; 
	margin-left:5%; 
	margin-right:5%;
}

#gadgets .gadget .preferences input {
	width:100%;
}

#gadgets .gadget .preferences td{
	text-align:left;
}

#gadgets .gadget .preferences fieldset{
	border:none;
}

#gadgets .gadget .main{
	padding:1%;
}
#gadgets .gadget .main h4{
	margin-top:1%;
}

#gadgets .gadget .main img{
	width:120px;
	height:60px;
	margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  position:relative;
  min-width: 600px;
  left: 0px;
  right: 0px;
  margin: 0 4px 4px 4px;
  z-index: 1;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  display: none;
}

.container_content {
  position: relative;
  top: 0;
  width:100%;
  height:100%;
}

/* dragboard ---------------------------------------------------------------------------------------- */

#dragboard_container {
  overflow-x: hidden;
  z-index: 2;
  display: block;
}

/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  overflow-x: hidden;
}

/* logs -------------------------------------------------------------------------------------------- */

#logs_console {
  overflow-x: hidden;
  overflow-y: auto;
}

#logs_console .icon {
  margin: 1.1ex 10px 0px 10px;
  vertical-align: bottom;
  float: left;
  clear: both;
}

#logs_console p {
  margin: 1ex 10px 0px 36px;
}

#logs_header {
    text-align:right;
    padding-right:20px;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}

.help_button {
	margin-left: 0px;
	margin-bottom:2px;
	display: inline;
	vertical-align: middle;
	cursor: pointer;
}

.color_input {
	width: 74px;
}

#menu_color_sample {
	margin-left:5px;
}

.color_button {
	height: 25px;
	width: 25px;
	vertical-align: top;
	cursor: pointer;
	margin-bottom:0;
	margin-top:0;
}
