body {
	margin:0;
    padding:0;
    /*min-width: 900px;*/ /*TODO: IE6 doesn't deal with min-width! Find a solution*/
}

td {
    padding: 0;
}

.hidden {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    height: 10ex;
    z-index: 4;
    margin: 4ex;
    height: 8ex;
}

#loading-message .window_content {
    margin-top: 1ex;
}

#loading-subtask-title {
    margin: 0;
}

/* header ------------------------------------------------------------------------------------------ */
#header {
    position: relative;
    width: 100%;
    z-index: 2;
    height: 74px;
}

.form-row {
    width: 220px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.form-row input[type =
"submit"] {
    padding: 3px;
    border: 0;
    margin-top: 5px;
}

.form-row table {
    text-align: left;
}

#content-main .registration {
    text-align: center;
}

#content-main .registration a {
    cursor: pointer;
}

.banner{
	position:relative;
  	overflow:hidden;
	display: block;
}

.powered{
	bottom:0;
	position:absolute;
	right:-38px;
}

#themeSelector {
    cursor: pointer;
}

#greeting {
    text-align: right;
    margin-right: 15px;
    margin-top: 5px;
}

#greeting > * {
    float: right;
    margin: 0 1px;
}

#greeting input[type = button] {
	cursor: pointer;
}

#greeting .languages {
    margin-left: 5px;
    margin-top: 2px;
}

#greeting .languages img {
    border: 0px none;
}

.logo_layout {
    max-height:50px;
    max-width:250px;
    position:relative;
}

.logo_placeholder {
	position:relative;
	left: 0px;
	width: 250px;
	float: left;
	text-align: center;
}

#bar {
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
}

#tab_section {
    position: absolute;
    bottom: 0;
    height: auto;
    display: block;
    right: 4px;
    width: 100%;
    z-index: 3;
    white-space: nowrap
}

#tab_section #fixed_bar {
    position: relative;
    right: 0pt;
    float: right;
    height: 25px;
    overflow: hidden;
    display: inline;
}

#tab_section #scroll_bar {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    white-space: nowrap;
}
#add_tab_link, #left_slider, #right_slider {
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    height: 21px;
    width: 21px;
    cursor: pointer;
    border: 0px none;
}

.toolbar_section {
    position: relative;
    float: left;
    top: 0px;
	padding-left: 20px;
}

.toolbar_section input[type = button] {
    border: 0px none;
    padding-bottom: 3px;
}


#header .toolbar_menu {
  float: left;
  margin-left: 40;
}

#header .toolbar_menu > div {
  padding:3px 10px;
  font-size: 10pt;
  float: left;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #C2CBD2;
  color: #4C5054;
}

#header .toolbar_menu .first_toolbar_button {
	border-left: 0px;
	-moz-border-radius-bottomleft: 5px;
	border-left: 1px solid #C2CBD2;
}

#header .last_toolbar_button {
	-moz-border-radius-bottomright: 5px;
	border-right: 1px solid #C2CBD2;
}

#header .area_name {
	clear: both;
	font-size:11pt;
	margin-top: -3px;
	cursor: default;
	margin-left:20px;
	color: #4C5054;
	float: left;
	font-weight: bold;
}

#floating_gadgets_launcher {
    float: right;
	margin-left: 4px;
}

.ws_name {
    max-width: 130px;
    border: 0px none;
    height: 15px;
}

#workspace_menu_link {
  float:left;
  left:5px;
  position:relative;
  top:5px;
}

#dragboard_link {
    float: left;
	margin-left: 15px;
	position:relative;
	color: #4C5054;
}

#ws_operations_link {
    width: 19px;
    height: 9px;
	cursor: pointer;
}

body.shared #workspace_link_container span {
    cursor: default;
}

#left_slider {
    float: right;
    margin-top: 2px;
    margin-left: 3px;
    width: 10px;
}

#right_slider {
    margin-top: 2px;
    width: 10px;
    float: right;
}

#tab_marker {
    width: 4px;
    height: 23px;
    float: right;
}
#add_tab_link {
    float: right;
    top: 1px;
	height: 20px;
	padding-bottom: 1px;
	width: auto;
}

#workspace_link_container {
    float: left;
}

#logs_link {
  height: 16px;
  border: none;
  width: 16px;
  background: transparent url(../images/info.png) no-repeat;
  cursor: pointer;
}

#preferences_link {
  height: 16px;
  width: 16px;
  border: none;
  background: transparent url(../images/preferences.png) no-repeat;
  cursor: pointer;
}

.go_back{
	font-size:11pt;
	position:absolute;
	right:30px;
	top:14px;
	text_decoration: underline;
	cursor: pointer;
}

.message_section {
    position: absolute;
    bottom: 0px;
    z-index: 3;
    display: none;
    width: 100%;
    text-align: center;
    height: 18px;
    padding-top: 5px;
	border: 1px solid;
}

#tab_section .tab {
    position: relative;
    float: right;
    display: block;
    padding: 2px 9px;
    margin: 0px;
    cursor: pointer;
    z-index: 3;
    height: 18px;
    padding: 3px 5px 1px;
    font-weight: bold;
	border: 1px solid;
}

.disabled {
    display: none !important;
}

#tab_section .current {
	border: 1px solid;
  	border-bottom: 0px none;
	padding-top: 4px;
}

.tab span {
  margin: 2px 5px 0;
}

.current .tab_name, #tab_section .current span {
    float: left;
	margin: 0px 5px 0;
}

.tab .tab_name {
	border: 0px;
}

.tab_dragger {
    cursor: move;
}

body.shared .tab_dragger {
    visibility: hidden;
}

#menu_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.drop_down_menu, .window_menu {
    position: absolute;
    text-align: left;
    z-index: 4;
}

.drop_down_menu {
    padding: 0.5em;
    display: none;
    overflow-y: auto;
  	border: 1px solid;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double;
}

.drop_down_menu .option {
    padding: 5px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

.drop_down_menu div .help_button {
  width: 16px;
  height: 16px;
}

.drop_down_menu .help_text {
    font-size: 80%;
    padding: 0px;
    white-space: pre;
    cursor: default;
}

.drop_down_menu .submenu {
    padding: 2px;
}

.drop_down_menu div img {
    border: none;
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
}

.drop_down_menu div span {
    display: inline;
}

.drop_down_menu .submenu .submenu_title {
    font-size: 90%;
}

.drop_down_menu div .help_button {
    position: absolute;
    right: 10px;
    margin-left: 5px;
    border: none;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

.underlined {
  border-bottom: solid 1px;
}

.window_menu, .help_text_enabled {
  border: 2px solid;
}

.window_menu {
    max-width: 50%;
    overflow-y: auto;
    padding: 0.8em 1.8em;
}

#parse_parameters {
    margin: 0px 0px 0px 0pt;
}

.window_menu table {
	width: 100%;
}

.window_menu td {
    text-align: right;
}

.window_menu .window_content input {
    margin: 0px 0px 0px 0pt;
}

.window_menu .window_title {
    font-size: 16px;
    margin-right: 1ex;
    font-weight: bold;
    min-width: 31ex;
    float: left;
}

.window_menu .window_top {
    position: relative;
}

.window_menu .closebutton {
    margin-left: 1ex;
    float: right;
}

.window_menu .window_content {
	margin-top: 2ex;
    clear: both;
}

.window_menu .window_content > img {
    float: left;
    margin-right: 5px;
    vertical-align: bottom;
}

.window_menu .window_content td {
  	padding: 0.7ex 1ex;
}

.window_menu .window_content td.label {
  text-align: left;
  padding-right: 2ex;
}

.window_menu .window_content .complexTable {
  width: 100%;
}

.window_menu .window_content .complexTable td {
  padding-left: 0;
}

.window_menu .window_content .complexTable td.inheritCell {
  text-align: left;
  padding-right: 2ex;
  padding-left: 1ex;
}

.window_menu .window_content .complexTable td.inheritCell input {
  margin-right: 1ex;
}

.window_menu .window_content .msg {
  text-align: justify;
}

.window_menu .legend {
  margin-top: 3ex;
}

.window_msg {
    text-align: center;
}

.window_menu .window_content .warning {
    display: block;
}

.window_menu .window_content .msg img {
    margin: 0 2px;
    vertical-align: bottom;
}

.window_menu .window_content .fieldset{
	text-align: left;
}

.window_menu .window_content .section_name{
	cursor: pointer;
	padding-left: 12px;
	left: -12px;
	position: relative;
}

.window_menu .window_content .section{
	text-align: right;
}

.window_menu .window_content .section td{
	padding-right: 0;
}

.window_menu .window_multiple_select {
    max-height: 200px;
}

.window_msg_error {
    font-size: 90%;
	margin-left: 0px;
}

.window_menu .window_bottom {
    margin: 2em 0 0.5em;
    text-align: center;
}

.required_mark {
    font-size: 100%;
}

.required_text {
    font-size: 85%;
}

.tabOps_launcher, .closebutton {
    border: 0px none;
    cursor: pointer;
    padding: 0px;
  	width: 16px;
  	height: 16px;
}

.tab_dragger{
	width: 8px;
	height: 16px;
	float: left;
}

button {
    margin: 3px;
    cursor: pointer;
	border: medium none;
}

/* gadgets ------------------------------------------------------------------------------------------ */

#gadgets .gadget {
    padding: 0;
	border: 1px solid;
	border-top:1px solid;
}

#gadgets .gadget .toolbar {
    margin-top: 0;
    height: 30px;
	border-bottom: 1px solid;
}

#gadgets .gadget .toolbar h2 {
    margin: 0;
    padding: 5px;
    font-size: 120%;
    float: left;
}

#gadgets .gadget .toolbar a {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

#gadgets .gadget .preferences{
	border-bottom: 1px solid;
}

#gadgets .gadget .preferences table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#gadgets .gadget .preferences input {
    width: 100%;
}

#gadgets .gadget .preferences td {
    text-align: left;
}

#gadgets .gadget .preferences fieldset {
    border: none;
}

#gadgets .gadget .main {
    padding: 1%;
}

#gadgets .gadget .main h4 {
    margin-top: 1%;
	border-bottom:1px dotted;
}

#gadgets .gadget .main table{
  border:1px dotted;
}

#gadgets .gadget .main img {
    width: 120px;
    height: 60px;
    margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    z-index: 1;
 	min-width: 600px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    visibility: hidden;
	border-top: 1px solid;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

/* dragboard ---------------------------------------------------------------------------------------- */
#dragboard_container {
    overflow-x: hidden;
    z-index: 2;
    display: block;
}

/* showcase ---------------------------------------------------------------------------------------- */
#showcase_container {
    overflow-x: hidden;
}

/* logs -------------------------------------------------------------------------------------------- */
#logs_console {
    overflow-x: hidden;
    overflow-y: auto;
}

#logs_console .icon {
    margin: 1.1ex 10px 0px 10px;
    vertical-align: bottom;
    float: left;
    clear: both;
}

#logs_console p {
    margin: 1ex 10px 0px 36px;
}

#logs_header {
    text-align: right;
    padding-right: 20px;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
    display: none;
}

.help_button {
    margin-left: 0px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: pointer;
	border: none;
	width: 16px;
	height:16px;
	display:block;
}

.color_input {
    width: 74px;
}

#menu_color_sample {
    margin-left: 5px;
}

.color_button {
    height: 25px;
    width: 25px;
    vertical-align: top;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
}

.floatclearer {
    clear: both;
}