body {
    margin:0;
    padding:0;
    color:#000;
    font-size:80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    color:red;
}

a:hover{
    color:red;
}

.hidden {
    display: none !important;
}

div.floatclearer {
  clear: both;
}

/* header ------------------------------------------------------------------------------------------ */
/* testing from codesyntax */
#header {
        position: relative;
        width:100%;
	background: url("/ezweb/images/header.gif") repeat-x top left;
	color:white;
        text-align:right;
	height: 77px;
	z-index: 2;
}
.form-row {
	width: 300px;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.form-row input[type="submit"]{
	padding: 3px;
	background: transparent url(/ezweb/images/header.gif) repeat;
	color: white;
	border: 0;
	margin-top: 5px;
}

.form-row table {
	text-align: left;
}

#content-main .registration{
	text-align: center;
}

#content-main .registration a{
	color:#2D6F9C;
	cursor:pointer;
}

#banner {
  position:relative;
  overflow:hidden;
}

#greeting{
	position:relative;
	float:right;
	width:400px;
	margin-right:15px;
	margin-top:5px;
}

#greeting a{
	color:white;
}
#greeting .languages{
	display:inline;
	margin-left: 20px;
}

#greeting .languages a{
	text-decoration:none;
}
#greeting .languages img{
	border:0px none;
}
#logo {
	position:relative;
	float:left;
	margin-top:0;
	margin-left:10px;
}

#bar {
  position: relative;
  float: left;
  clear:both;
  width: 100%;

}

#tab_section {
    position: absolute;
    bottom:   0;
    display:  block;
    right:    4px;
    width:    100%;
    z-index:  3;
    white-space: nowrap
}

#tab_section #fixed_bar{
 position:relative;
 right:0pt;
 float:right;
 height:25px;
 overflow:hidden;
 display:inline;
 max-width:70%;
}

#tab_section #scroll_bar{
 position:absolute;
 top:0;
 right:0;
 float:right;
 white-space:nowrap;
}

#toolbar_section {
  background:transparent url(/ezweb/images/fond.gif) repeat scroll left top;
  position: relative;
  padding-left: 9px;
  float: left;
  margin-top: 8px;
  z-index: 3;
  white-space: nowrap;
  height: 28px;
  overflow: hidden;
/*  right: 4px;
  left: 4px;*/

}

.toolbar_section input[type=button], #add_tab_link, #left_slider, #right_slider {
  position: relative;
  margin-left: 3px;
  height: 21px;
  width: 21px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
}

.ws_name{
  border: 0px none;
  max-width: 130px;
  height: 15px;
}

#workspace_name {
  position: relative;
  display: inline;
  margin-right: 0px;
  margin-left: 3px;
  color:#2D6F9C;
}

.toolbar_marked, .toolbar_unmarked {
	width: auto !important;
	color: #2D6F9C;
	border-color:#2D6F9C !important;
	border-style:solid !important;
	-moz-border-radius: 4px;
	height: 21px !important;
	position: relative;
	float: left;
	padding: 0px 0px 0px 16px;
}

.toolbar_marked {
	background-color:#DDDEDF !important;
	border-width:2px 1px 1px 3px !important;
	top: 5px;
	margin: 0 0 1px 3px;
}

.toolbar_unmarked {
	background-color:transparent !important;
	border-width:1px 3px 2px 1px !important;
	top: 4px;
	margin: 1px 0 0 3px;
}

#dragboard_link.toolbar_unmarked, #dragboard_link.toolbar_unmarked * {
	cursor: pointer;
}

#tab_section .toolbar_marked, #tab_section .toolbar_unmarked {
	margin-top: -4px;
	margin-right: 4px;
}

#left_slider{
 margin-top:2px;
 margin-left:3px;
 float:right;
 width: 10px;
 background: transparent url(/ezweb/images/sliderL21px.png) no-repeat;
}

#right_slider{
 margin-top:2px;
 float:right;
 width: 10px;
 background: transparent url(/ezweb/images/sliderR21px.png) no-repeat;
}

#add_tab_link {
 margin-top:2px;
 float:right;
}

#catalogue_link {
  background: transparent url(/ezweb/images/catalogue16px.png) no-repeat scroll 1px 1px;
}

#wiring_link {
  background: transparent url(/ezweb/images/wiring16px.png) no-repeat scroll 1px 1px;
}

#dragboard_link {
  background: url(/ezweb/images/dragboard16px.png) no-repeat scroll 1px 1px;
  height: 18px !important;
}

#dragboard_link span {
  position:relative;
  top:3px;
  vertical-align:top;
  margin-right:3px;
}

#change_ws_link {
  background-image: url(/ezweb/images/settings.png);
}

#ws_operations_link {
  background: transparent url(/ezweb/images/ops21px.png) no-repeat scroll 0 0;
  margin-left: -5px;
  width: 16px;
  position:relative;
  top:-1px;
}

#logs_link {
  cursor:pointer;
}

.message_section{
	position: absolute;
	top: 6px;
	z-index: 3;
	display: none;
	width:100%;
	text-align: center;
	height:18px;
	padding-top:5px;
	background: lightyellow;
	border: 1px solid red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}

#add_tab_link {
  background: transparent url(/ezweb/images/addTab16px.png) no-repeat scroll 1px 1px;
  
}

#tab_section .tab {
  position: relative;
  float: right;
  display: block;
  border: 1px solid #4c5054;
  color: #FFF;
  background: #97A0A8 url(/ezweb/images/degradado.png) no-repeat scroll left top;
  font-weight: bold;
  padding: 2px 9px;
  margin: 0px 3px;
  cursor: pointer;
  z-index: 3;
  height: 18px;
  padding: 3px 5px 1px;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 4px;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  color: #4c5054;
  background: #E0E0E0;
  border-bottom: 0px none;
  padding-bottom: 2px;
  padding-right: 3px;
}

.tab span{
  margin-right:5px;
}
.tab .tab_name {
  background: #97A0A8;
  border: 0px;
}

.current .tab_name {
  background: #E0E0E0;
  margin-right: 5px;
}

#description {}

#description p {}

#menu_layer{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}
#menu_layer{
  z-index: 3;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #6699cc;
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  position:fixed;
  text-align: left;
  z-index: 4;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.drop_down_menu {
  border: solid 1px #AAAAAA;
  padding: 0.5em;
  display: none;
}

.drop_down_menu .option {
  padding : 5px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

.drop_down_menu .submenu{
  padding: 2px;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #2D6F9C;
}

.drop_down_menu .submenu .submenu_title{
 font-size: 90%;
}

.drop_down_menu div img {
  border: none;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
}

.drop_down_menu div span {
  display: inline;
}

.drop_down_menu div .help_buttom {
  background: transparent url(/ezweb/images/help.gif) no-repeat scroll 0 0;
  position: absolute;
  right: 10px;
  margin-left: 5px;
  border: none;
  display: inline;
  vertical-align: middle;
  cursor: pointer;
}

#help_section .help_button{
	padding-left: 18px;
}

.underlined {
  border-bottom: solid 1px #AAAAAA;
}

.window_menu {
  border: 2px solid #0b8fff;
  max-width:50%
}

#parse_parameters{
  margin: 0px 0px 0px 0pt;
}

.window_menu .window_top {
  position: relative;
}

.window_menu .closebutton {
  position: relative;
  top: 3px;
  margin-left: 1ex;
  float: right;
}

.window_menu .window_content {
  clear: both;
}

.window_menu .window_content > img {
  float: left;
  margin-right: 5px;
  vertical-align: bottom;
}

.window_msg_error{
  font-size: 90%;
  color: red;
}

.required_mark{
	font-size: 100%;
	color: red;
}

.required_text{
	font-size: 85%;
}

.tabOps_launcher, .closebutton{
  border:0px none;
  cursor: pointer;
  padding: 0px;
  width: 16px;
  height: 16px;
}

.tabOps_launcher{
  background: transparent url(/ezweb/images/tabops16px.png) no-repeat;
}

/*.tabOps_launcher:hover{
  background: transparent url(/ezweb/images/settings-highlighted.png) no-repeat;
}*/

.closebutton {
  background: transparent url(/ezweb/images/close.png) no-repeat;
}

button {
  background: transparent url(/ezweb/images/button.gif) repeat;
  border: medium none;
  color: white;
  margin: 3px;
}


/* gadgets ------------------------------------------------------------------------------------------ */

#gadgets {
}

#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
	padding:0;
}

#gadgets .gadget .toolbar{
	margin-top:0;
	background-color:#E5ECF9;
	height:30px;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	margin:0;
	color:#36C;
	padding:5px;
	font-size:120%;
	float:left;
}

#gadgets .gadget .toolbar a {
	float:right;
	margin-right:2%;
	margin-top:10px;
}
#gadgets .gadget .toolbar a img {}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	width:90%; 
	margin-left:5%; 
	margin-right:5%;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences input {
	width:100%;
}

#gadgets .gadget .preferences td{
	text-align:left;
}

#gadgets .gadget .preferences fieldset{
	border:none;
}

#gadgets .gadget .main{
	padding:1%;
}
#gadgets .gadget .main h4{
	margin-top:1%;
	border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
	border:1px dotted #dfdfdf;
}
#gadgets .gadget .main th{

}
#gadgets .gadget .main td{

}
#gadgets .gadget .main img{
	width:120px;
	height:60px;
	margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  position:relative;
  min-width: 600px;
  left: 0px;
  right: 0px;
  border: 1px solid #4c5054;
  margin: 0 4px 4px 4px;
  z-index: 1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  display: none;
}

.container_content {
  position: relative;
  top: 0;
  width:100%;
  height:100%;
}

/* dragboard ---------------------------------------------------------------------------------------- */

#dragboard_container {
  overflow-x: hidden;
  z-index: 2;
  display: block;
}

/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  overflow-x: hidden;
  background: #FFF;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_console {
  overflow-x: hidden;
  overflow-y: auto;
}

#logs_console .icon {
  margin: 1.1ex 10px 0px 10px;
  vertical-align: bottom;
  float: left;
  clear: both;
}

#logs_console p {
  margin: 1ex 10px 0px 36px;
}

#logs_header {
    text-align:right;
    padding-right:20px;
}
#logs_header a {
    color:darkBlue;
    text-decoration:underline;
}

/* footer ------------------------------------------------------------------------------------------ */


#footer {}

#footer p {}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}
