body{
	 margin:0;
	 padding:0;
	 color:#000;
	 font-size:80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: url("/ezweb/images/fond.gif") top left;
	overflow: hidden;
}

a{
	 color:red;
}

a:hover{
	 color:red;
}

/* header ------------------------------------------------------------------------------------------ */
/* testing from codesyntax */
#header {
        position: relative;
        width:100%;
	background: url("/ezweb/images/header.gif") repeat-x top left;
	color:white;
        text-align:right;
	height: 70px;
	z-index: 2;
}
#banner {
  position:relative;
  overflow:hidden;
}

#greeting{
	position:relative;
	float:right;
	width:400px;
	margin-right:15px;
	margin-top:5px;
}
#greeting a{
	color:white;
}
#logo {
	position:relative;
	float:left;
	margin-top:0;
	margin-left:10px;
}

#bar {
  position: relative;
  float: left;
  clear:both;
  width: 100%;

}

#tab_section {
 position: absolute;
 top: 6px;
 display: block;
 right:4px;
 margin-left:25%;
 z-index: 3;

}

#toolbar_section {
  position: relative;
  padding-left: 20px;
  float: left;
  margin-top: 8px;
  z-index: 3;
/*  right: 4px;
  left: 4px;*/

}

.toolbar_section input[type=button], #add_tab_link {
  position: relative;
  margin-right: 3px;
  margin-left: 3px;
  height: 21px;
  width: 21px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
}
.ws_name{
  border: 0px none;
}

#workspace_name {
  position: relative;
  display: inline;
  margin-right: 0px;
  margin-left: 3px;
  color:#2D6F9C;
}

#add_tab_link {
 margin-top:2px;
 float:right;
}


#catalogue_link {
  background: transparent url(/ezweb/images/catalogue21px.png) no-repeat;
}
/*#catalogue_link:hover {
  background: transparent url(catalogue.png) no-repeat;
}*/

#wiring_link {
  background: transparent url(/ezweb/images/wiring21px.png) no-repeat;
}
/*#wiring_link:hover {
  background: transparent url(wiring.png) no-repeat;
}*/

#change_ws_link {
  background-image: url(/ezweb/images/settings.png);
}

#ws_operations_link {
  background: transparent url(/ezweb/images/ops21px.png) no-repeat;
  margin-left: 0px;
}

/*#ws_operations_link:hover {
  background: transparent url(ops.png) no-repeat;
}*/

#logs_link {
  margin-right: 3px;
  margin-left: 3px;
  color:red;
  cursor:pointer;
}

#add_tab_link {
  background: transparent url(/ezweb/images/addTab21px.png) no-repeat;
  
}

/*#add_tab_link:hover {
  background: transparent url(addTab.png) no-repeat;
  
}*/

.toolbar_marked {

}
.toolbar_unmarked {

}

#tab_section .tab {
  position: relative;
  float: right;
  border: 2px solid #4c5054;
  color: #FFF;
  background: #97a0a8;
  font-weight: bold;
  padding: 2px 9px;
  margin: 0px 0.5em;
  cursor: pointer;
  z-index: 3;
  height: 18px;
  padding: 2px 5px 1px;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  color: #4c5054;
  background: #E0E0E0;
  border-bottom: 0px none;
  padding-bottom: 3px;
  padding-right: 3px;
}

.tab span{
  margin-right:5px;
}
.tab .tab_name {
  background: #97A0A8;
  border: 0px;
}

.current .tab_name {
  background: #E0E0E0;
  margin-right: 5px;
}

#description {}

#description p {}

#menu_layer{
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 3;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #6699cc;
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  position:absolute;
  text-align: left;
   z-index: 4;
}

.drop_down_menu {
  border: solid 1px #AAAAAA;
  padding: 0.5em;
  display: none;
}

.drop_down_menu .option {
  padding : 5px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

.drop_down_menu .submenu{
  padding: 2px;
}

.drop_down_menu .border_top{
	border-top: 4px double #2D6F9C;
}

.drop_down_menu .submenu .submenu_title{
 font-size: 90%;
}

.drop_down_menu div img {
  border: none;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
}

.drop_down_menu div span {
  display: inline;
}
.underlined {
  border-bottom: solid 1px #AAAAAA;
}

.window_menu{
  border: 2px solid #0b8fff;
}

.window_menu .window_top {
  position:relative;
  margin:2px 2px 20px 2px;
}

.window_menu .window_title {
  font-size: 16px;
  color: #2D6F9C;
  font-weight: bold;
  margin-left: 10px;
}

.window_menu .closebutton {
  position: absolute;
  right: 2px;
}
.window_menu .window_content {
  clear: both;
  margin:20px;
}
.window_menu .window_content img{
  margin-right: 5px;
  vertical-align: bottom;
}
.window_msg {
  display: inline;
  text-align: center;
}
.window_msg_error{
  font-size: 90%;
  color: red;
}

.window_menu .window_bottom {
  margin:20px 18px 10px 18px;
  text-align: center;
}

.tabOps_launcher, .closebutton{
  border:0px none;
  cursor: pointer;
  padding: 0px;
  width: 16px;
  height: 16px;
}

.tabOps_launcher{
  background: transparent url(/ezweb/images/tabops16px.png) no-repeat;
}

/*.tabOps_launcher:hover{
  background: transparent url(/ezweb/images/settings-highlighted.png) no-repeat;
}*/

.closebutton {
  background: transparent url(/ezweb/images/close.png) no-repeat;
}

button {
  background: transparent url(/ezweb/images/button.gif) no-repeat;
  border: medium none;
  color: white;
  margin: 3px;
}


/* gadgets ------------------------------------------------------------------------------------------ */

#gadgets {
}

#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
	padding:0;
}

#gadgets .gadget .toolbar{
	margin-top:0;
	background-color:#E5ECF9;
	height:30px;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	margin:0;
	color:#36C;
	padding:5px;
	font-size:120%;
	float:left;
}

#gadgets .gadget .toolbar a {
	float:right;
	margin-right:2%;
	margin-top:10px;
}
#gadgets .gadget .toolbar a img {}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	width:90%; 
	margin-left:5%; 
	margin-right:5%;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences input{
	width:100%; 
}

#gadgets .gadget .preferences td{
	text-align:left;
}

#gadgets .gadget .preferences fieldset{
	border:none;
}

#gadgets .gadget .main{
	padding:1%;
}
#gadgets .gadget .main h4{
	margin-top:1%;
	border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
	border:1px dotted #dfdfdf;
}
#gadgets .gadget .main th{

}
#gadgets .gadget .main td{

}
#gadgets .gadget .main img{
	width:120px;
	height:60px;
	margin-bottom: 1%;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  position:relative;
  min-width: 600px;
  left: 0px;
  right: 0px;
  border: 2px solid #4c5054;
  margin: 0 4px 4px 4px;
  z-index: 1;
}

.container {
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  background: #e6f3ff;
  background-color:#e0e0e0;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 1;
  visibility: hidden;
}

.container_content {
  position: relative;
  top: 0;
  width:100%;
  height:100%;
}

/* dragboard ---------------------------------------------------------------------------------------- */

#dragboard_container {
  overflow-x: hidden;
  z-index: 2;
  display: block;
}

/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  overflow-x: hidden;
  background: #FFF;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_console {
  overflow-x: hidden;
  overflow-y: auto;
}

#logs_console .icon {
  margin: 1.1ex 10px 0px 10px;
  vertical-align: bottom;
  float: left;
  clear: both;
}

#logs_console p {
  margin: 1ex 10px 0px 36px;
}

/* footer ------------------------------------------------------------------------------------------ */


#footer {}

#footer p {}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}
