.toolbar_section > input[type=button]{
	width: 135px !important;
}

#toolbar_section{
	margin-left: 10px;
	width: 500px;
}
#workspace_menu_link{
	padding-top: 0px;
}

#workspace_link_container{
	max-width: 170px;
}

#logo {
	background: url("/ezweb/themes/default/images/ie/Open_Ez_Logo-trans.png") no-repeat;
}

/* OLD STYLES -> REVIEW 
#tab_section .tab {
  height:18px;
  padding: 2px 9px 1px;

}

#tab_section .current {
  padding-bottom: 3px;
}

#admin_icons {
  float: left;
  margin-top: -40px;
  width: 240px;
}

#section_title h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}

#head_control_tab {
    margin-left: -100px;
}
*/