#wiring_container {
  width: 100%;
}

#wiring #wiring_wrapper {
  position: relative;
}

#wiring #wiring_table {
  position: relative;
  clear:    both;
  z-index:  1;
}

#wiring #channels_list {
  margin: 2ex 0px;
  padding: 0px;
}

#wiring .tableCell {
  position:relative;
  float:left;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  margin-top: 1ex;
}

#wiring .eventColumn, #wiring .slotColumn {
  width: 20%;
  position: relative;
}

#wiring .inoutColumn {
  width: 20%;
  position: relative;
  left: 20%;
  float: left;
}

#wiring .eventColumn {
  float: left;
  left: 0;
}

#wiring .slotColumn {
  right: 0;
  float: right;
}

#wiring .title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  margin-bottom: 1ex;
}

#wiring .eventColumn > .title, .slotColumn > .title{
  cursor:pointer;
}

#wiring .borderLeftCell {
  padding: 0 0 0 1ex;
}

#wiring .columnCell ul input[type="radio"] {
  display: none;
}

#wiring .columnCell ul li {
  padding: 2px;
}

#wiring .columnCell ul li div {
  padding: 2px;
}

#wiring #newChannelForm {
    text-align: center;
}

#wiring .igadget {
  position: relative;
  font-weight: bold;
  padding: 3px 3px 0px;
}

#wiring .igadget .content div {
  position: relative;
}

#wiring .igadget.unfoldable > .header {
  cursor: default;
}

#wiring .igadgetContent.folded {
  display: none;
}

#wiring .tab {
  position: relative;
}

#wiring .eventColumn .tab.empty, #wiring .tab .igadget.empty {
  display: none;
}

#wiring .newChannel, #wiring #unfold_all_link, #wiring .option_link {
  cursor: pointer;
}

#wiring .newChannel {
  margin: 2ex 1ex;
  text-align: center;
}

#wiring #wiring_options {
  position: relative;
  float:    right;
  z-index:  1;
  margin:   5px;
}

#wiring #unfold_all_link, #wiring .inline {
  display: inline;
}

#wiring #wiring_options label {
 margin-right: 20px;
}

#wiring #unfold_chkItem {
  display: inline;
  width: 15px;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}

#wiring #channels_list .channel {
  cursor: pointer; cursor: hand;
  position: relative;
}

#wiring #channels_list .channel .inAnchor {
  position: absolute;
}

#wiring #channels_list .channel .outAnchor {
  position: absolute;
}

#wiring #channels_list .channel.selected .inAnchor, #wiring #channels_list .channel.selected .outAnchor {
  cursor:default;
}

#wiring img {
  margin: 2px;
  vertical-align: middle;
}

#wiring #channels_list .channel .channelContent {
  display: none;
  cursor: default;
}

#wiring #channels_list .channel.selected .channelContent {
  display: block;
}

#wiring #channels_list .channel.selected .channelContent .filterMenuLauncher {
	margin-left: 5px;
	cursor: pointer;
}

#wiring #channels_list .channel.selected .channelContent .column {
	vertical-align: top;
}

#wiring #channels_list .channel.selected .channelContent .column .labelContent {
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
  margin: 0px
}


#wiring #channels_list .channel.selected .channelContent .column .filterValue {
  margin-top: -1px;
  white-space: nowrap;
}

#wiring #channels_list .channel.selected .channelContent .paramValueInput {
  background: #E0E0E0;
  border:0px none;
  margin: 0.05ex 0ex 0.05ex 0ex;
  width:100%;
  cursor: text;
}

#wiring #wiring_messages {
  display: none;
}

#wiring .channelNameInput {
  border:0px;
  margin:0px 1ex;
  cursor:pointer;
  background: #97A0A8;
}

#wiring .selected .channelNameInput {
  cursor: text;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.canvas div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.helpwiringheader {
  text-align:left;
  font-size:80%;
  white-space:pre;
}

#wiring .help_button{
	display: inline;
}

#wiring .fold_table, #wiring .hide {
  display: none;
}

#wiring .contentTable {
  width: 100%;
  border-top: 1px solid #000000;
}

#wiring .option_link {
  display: inline;
  padding-right: 5px;
  float: right;
}

#wiring .option_link_separator {
  display: inline;
  padding-right: 5px;
  float: right;
}

#wiring .channelContent td {
  vertical-align: top;
}

#wiring .create_url_link, #wiring #remote_operation_tip {
  display: block;
  margin-top: -2px;
}
