#wiring_container {
  width: 100%;
}

#wiring #wiring_wrapper {
  position: relative;
}

#wiring #wiring_table {
  position: relative;
  clear:    both;
  z-index:  1;
  margin-top: 10px;
}

#wiring #wiring_table .anchor{
	display: none;
}

#wiring #wiring_table.selected_channel .anchor{
	display: block;
}

#wiring #channels_list {
  margin: 2ex 0px;
  padding: 0px;
}

#wiring .tableCell {
  position:relative;
  float:left;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  margin-top: 1ex;
}

#wiring .connectableColumn {
  width: 25%;
  vertical-align: top;
}

#wiring .eventColumn, #wiring .slotColumn {
  width: 20%;
  position: relative;
  padding: 0 20px;
  vertical-align: top;
}

#wiring .inoutColumn {
  width: 20%;
  position: relative;
  left: 20%;
  float: left;
  vertical-align: top;
}

#wiring .eventColumn {
  float: left;
  left: 0;
}

#wiring .slotColumn {
  right: 0;
  float: right;
}

#wiring .title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  margin-bottom: 1ex;
}

#wiring .eventColumn > .title, .slotColumn > .title{
  cursor:pointer;
}

#wiring .borderLeftCell {
  border-collapse: collapse;
  padding: 0 0 0 1ex;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid;
  border-right: none;
}

#wiring .columnCell ul input[type="radio"] {
  display: none;
}

#wiring .columnCell ul li {
  padding: 2px;
}

#wiring .columnCell ul li div {
  padding: 2px;
}

.form-row input[type="submit"] {
  padding-left: 18px;
}

#wiring .igadget {
  position: relative;
  font-weight: bold;
  padding: 3px 3px 0px;
  margin:3px 2px;
}

#wiring .igadget > .content {
  padding: 0px 0px 1px 0px;
  font-weight: normal;
  position: relative;
  margin: 6px 0px;
}

#wiring .igadget .content div {
  position: relative;
}

#wiring .igadget > .content > div {
  line-height: 24px;
}

#wiring .eventColumn .igadget > .content > div {
  padding: 0px 14px 0px 0px;
  text-align: right;
  cursor:pointer;
}

#wiring .slotColumn .igadget > .content > div {
  padding: 0px 0px 0px 14px;
  text-align: left;
}

#wiring .igadget.unfoldable > .header_section {
  cursor: default;
}

#wiring .igadgetContent.folded {
  display: none;
}

#wiring .igadget.folded > .content {
  display: none;
}

#wiring .igadget > .content > div > .anchor {
  position: absolute;
  width: 35px;
  height: 18px;
  border: 0px;
  padding: 0px;
  top: 3px;
}

#wiring .eventColumn .igadget .anchor {
  right: -35px;
}

#wiring .slotColumn .igadget .anchor {
  left: -35px;
}

#wiring .tab {
  position: relative;
}

#wiring .eventColumn .tab.empty, #wiring .tab .igadget.empty {
  display: none;
}

#wiring .option_link {
  cursor: pointer;
}

#wiring #wiring_options {
  position: relative;
  float:    right;
  z-index:  1;
  margin:   5px;
}

#wiring .inline {
  display: inline;
}

#wiring #unfold_chkItem {
  display: inline;
  width: 15px;
  height: 15px;
  border: 0px;
  padding: 0 20px 0 0;
  cursor: pointer;
}

#wiring #channels_list .channel {
  cursor: pointer;
  position: relative;
}

#wiring #channels_list .channel .inAnchor {
  position: absolute;
  left: -25px;
}

#wiring #channels_list .channel .outAnchor {
  position: absolute;
  right: -25px;
}

#wiring #channels_list .channel.selected .inAnchor, #wiring #channels_list .channel.selected .outAnchor {
  cursor:default;
  height:   18px;
  top:      3px;
  width:    35px;
}

#wiring .tab {
  margin: 5px 0px;
  position: relative;
  border: 1px solid;
}

#wiring .tab > .header_section {
  clear: both;
  z-index: 1;
}

#wiring .tab.folded > .content, #wiring .tab.empty > .content {
  height: 0px;
  overflow: hidden;
}

#wiring .tab > .content {
  padding: 2px;
  clear: both;
  z-index: 0;
  position: relative;
  top: -1px;
}

#wiring .eventColumn .tab > .header_section, #wiring .slotColumn .tab > .header_section {
  padding: 6px 24px 2px 34px;
  text-align: right;
}

#wiring .eventColumn .tab > .header_section{
  text-align: right;
}

#wiring .slotColumn .tab > .header_section {
  text-align: left;
}

#wiring .tab > .header_section {
  cursor:      pointer;
  font-weight: bold;
  position:    relative;
}

#wiring .tab.empty > .header_section {
  cursor: default;
}

#wiring .tab > .header_section > .anchor {
  position: absolute;
  left: -28px;
  top: 5px;
  width: 35px;
  height: 18px;
  border: 0px;
  padding: 0px;
}

#wiring .igadget > .header_section {
  padding-left: 20px;
  cursor:pointer;
}

#wiring #unfold_chkItem{
  display: inline;
  width: 15px;
  height: 15px;
  border: 0px;
  padding: 0 20px 0 0;
  cursor: pointer;
}

#wiring img {
  margin: 2px;
  vertical-align: middle;
}

#wiring #channels_list .channel {
  margin: 20px 1ex;
  padding: 0px;
}


#wiring #channels_list .channel .channelPipe {
  border: 1px solid;
  cursor: pointer;
  height: 25px;
  padding: 0 8px;
}

#wiring #channels_list .channel .channelContent {
  border-width: 0px 1px 1px 1px;
  margin: 0 8px;
  display: none;
  overflow-x: auto;
  padding: 0.5ex 1ex 0.5ex 1ex;
  cursor: default;
}

#wiring #channels_list .channel.selected .channelContent, #wiring .newChannel.selected .channelContent {
  display: block;
}

#wiring #channels_list .channel.selected .channelContent .filterMenuLauncher, #wiring .newChannel.selected .channelContent .filterMenuLauncher {
	margin-left: 5px;
	border: 0;
	cursor: pointer;
	width: 21px;
	height: 21px;
	vertical-align: middle;
}

#wiring #channels_list .channel.selected .channelContent td, #wiring .newChannel.selected .channelContent td {
	line-height: 1.5;
	padding: 0 3px 0 0;
}

#wiring #channels_list .channel.selected .channelContent label, #wiring .newChannel.selected .channelContent label {
	text-align: left;
	margin: 0px;
}

#wiring #channels_list .channel.selected .channelContent .filterValue, #wiring .newChannel.selected .channelContent .filterValue {
	white-space: nowrap;
}

#wiring #channels_list .channel.selected .channelContent .paramName, #wiring .newChannel.selected .channelContent .paramName {
	line-height: 1;
	white-space: nowrap;
}

#wiring #channels_list .channel.selected .channelContent .paramName label, #wiring .newChannel.selected .channelContent .paramName label{
	white-space: normal;
}

#wiring #channels_list .channel.selected .channelContent .column {
	vertical-align: top;
}

#wiring #channels_list .channel.selected .channelContent .column .labelContent {
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
  margin: 0px
}

#wiring #channels_list .channel.selected .channelContent .paramValueInput {
  border:0px none;
  margin: 0.1ex 0ex;
  padding: 2px;
  width:100%;
  cursor: text;
}

#wiring #wiring_messages {
  border: 1px solid;
  margin: 1ex 20px;
  padding: 1ex 2ex;
  display: none;
}

#wiring .channelNameInput {
  border:0px;
  margin:2px 1ex;
  cursor:pointer;
}

#wiring .selected .channelNameInput {
  cursor: text;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.canvas div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.helpwiringheader {
  border: 1px solid;
  text-align:left;
  white-space:pre;
}

#wiring .help_button{
	display: inline;
}

#wiring .fold_table, #wiring .hide {
  display: none;
}

#wiring .contentTable {
  width: 100%;
  border-top: 1px solid #000000;
}

#wiring .option_link {
  display: inline;
  padding-right: 5px;
  float: right;
  cursor:pointer;
}

#wiring .option_link_separator {
  display: inline;
  padding-right: 5px;
  float: right;
}

#wiring .channelContent td {
  vertical-align: top;
}

#wiring .create_url_link{
	cursor: pointer;
}

#wiring .create_url_link, #wiring #remote_operation_tip {
  display: block;
  margin-top: -2px;
}
