#wiring {
  display: block;
}

#wiring_container {
  width: 100%;
}

#wiring #channels_list {
  margin: 2ex 0px;
  padding: 0px;
}

#wiring .tableCell {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  margin-top: 1ex;
}

#wiring .connectableColumn {
  width: 25%;
  vertical-align: top;
}

#wiring .eventColumn, #wiring .slotColumn {
  width: 20%;
  padding: 0 20px;
  vertical-align: top;
}

#wiring .connectionColumn {
  width: 20%;
  vertical-align: top;
}

#wiring .inoutColumn {
  width: 20%;
  vertical-align: top;
}

#wiring .title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  margin-bottom: 1ex;
}

#wiring #eventColumn .title, #slotColumn .title{
  cursor:pointer;
}

#wiring .borderLeftCell {
  border-collapse: collapse;
  padding: 0 0 0 1ex;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #AAA;
  border-right: none;
}

#wiring .columnCell ul input[type="radio"] {
  display: none;
}

#wiring .columnCell ul li {
  padding: 2px;
}

#wiring .columnCell ul li div {
  padding: 2px;
}

.form-row input[type="submit"] {
  background-image: url(/ezweb/images/kgpg.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}

#wiring #newChannelForm {
    text-align: center;
}

#wiring .igadget {
  background: #F7F7F7;
  margin:3px 2px;
  position: relative;
  font-weight: bold;
  padding: 3px 3px 0px;
  color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#wiring .igadget .igadgetContent {
  padding: 0px 0px 1px 0px;
  font-weight: normal;
}

#wiring .eventColumn .igadget .igadgetContent div {
  padding: 0px 14px 0px 0px;
  text-align: right;
  position: relative;
  margin: 6px 0px;
}

#wiring .slotColumn .igadget .igadgetContent div {
  padding: 0px 0px 0px 14px;
  text-align: left;
  position: relative;
  margin: 6px 0px;
}

#wiring .igadget.folded, #wiring .igadgetContent.folded{
  display: none;
}

#wiring .igadget .igadgetContent div .chkItem {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  border: 0px;
  background: url(/ezweb/js/wiring/checked.png);
  padding: 0px;
  top: -8px;
}

#wiring .igadget .igadgetContent div .unchkItem {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  border: 0px;
  background: url(/ezweb/js/wiring/unchecked.png);
  padding: 0px;
  top: -8px;
}

#wiring .eventColumn .igadget .igadgetContent .chkItem {
  right: -14px;
}

#wiring .eventColumn .igadget .igadgetContent .unchkItem {
  right: -14px;
}

#wiring .slotColumn .igadget .chkItem {
  left: -14px;
}

#wiring .slotColumn .igadget .igadgetContent .unchkItem {
  left: -14px;
}

#wiring .tab .tabContent .chkItem {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  border: 0px;
  background: url(/ezweb/js/wiring/checkedtab.png);
  padding: 0px;
}

#wiring .tab .tabContent .unchkItem {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  border: 0px;
  background: url(/ezweb/js/wiring/unchecked.png);
  padding: 0px;
}

#wiring .slotColumn .tab .tabContent .chkItem {
  left: -9px;
  top: -1px;
}

#wiring .slotColumn .tab .tabContent .unchkItem {
  left: -9px;
  top: -1px;
}

#wiring .tab {
  border: 2px solid black;
  margin: 5px 0px;
  position: relative;
  padding: 2px;
  background: #97A0A8;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

#wiring .eventColumn .tabContent.bckgrnd_folder {
  background: #97A0A8 url(/ezweb/js/wiring/tree.gif) no-repeat scroll left top;
}

#wiring .slotColumn .tabContent.bckgrnd_folder {
  background: #97A0A8 url(/ezweb/js/wiring/tree.gif) no-repeat scroll right top;
}

#wiring .igadgetName {
  padding-left: 20px;
  cursor:pointer;
  background: url(/ezweb/js/wiring/Lminus.png) no-repeat scroll left top;
}
#wiring .igadgetName.bckgrnd_folded {
  background: url(/ezweb/js/wiring/Lplus.png) no-repeat scroll left top;
}

#wiring .tab .tabContent {
  padding: 0px 0px 5px 0px;
  color: white;
  cursor:pointer;
  font-weight: bold;
  margin: 2px 0px;
}

#wiring .eventColumn .tab .tabContent {
  padding: 0px 14px 0px 0px;
  text-align: right;
  position: relative;
}

#wiring .slotColumn .tab .tabContent {
  padding: 0px 0px 0px 14px;
  text-align: left;
  position: relative;
}

#wiring #newChannelForm .addSubmit {
  cursor: pointer; cursor: hand;
  padding: 0px;
  height: 16px;
  width: 16px;
  background: url(/ezweb/js/wiring/add.png);
  border: 0px none;
}

#wiring .newChannel, #wiring #unfold_all_link {
  cursor: pointer; cursor: hand;
  color: #2D6F9C;
  text-decoration: underline;
}

#wiring .newChannel{
  margin: 2ex 1ex;
}

#wiring #unfold_all_link{
  display: inline;
  position: absolute;
  top:5px;
  right: 20px;
}

#wiring #channels_list .channel {
  margin: 2ex 1ex;
  border: 1px solid #2D6F9C;
  background: #97A0A8;
  padding: 0px;
  cursor: pointer; cursor: hand;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

#wiring img {
  margin: 2px;
  vertical-align: middle;
}

#wiring #channels_list .channel .channelContent, #wiring .newChannel .channelContent {
  border-top: 1px solid #525248;
  display: none;
  background: #F7F7F7;
  padding: 0.5ex 1ex 0.5ex 1ex;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px
}

#wiring #channels_list .channel.selected {
  background: #2D6F9C;
}

#wiring #channels_list .channel.selected .channelContent, #wiring .newChannel.selected .channelContent {
  display: block;
}

#wiring #channels_list .channel.selected .channelContent .filterMenuLauncher, #wiring .newChannel.selected .channelContent .filterMenuLauncher {
	background: transparent url(/ezweb/images/ops21px.png) no-repeat scroll 0 0;
	margin-left: 5px;
	border: 0;
	cursor: pointer;
}

#wiring #channels_list .channel.selected .channelContent .column, #wiring .newChannel.selected .channelContent .column {
	vertical-align: top;
}

#wiring #channels_list .channel.selected .channelContent .column .labelContent, #wiring .newChannel.selected .channelContent .column .labelContent {
	color: #2D6F9C;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	margin: 0px
}


#wiring #channels_list .channel.selected .channelContent .column .filterValue, #wiring .newChannel.selected .channelContent .column .filterValue {
	margin-top: -1px;
	white-space: nowrap;
}

#wiring #channels_list .channel.selected .channelContent .paramValueInput, #wiring .newChannel.selected .channelContent .paramValueInput {
	background: #E0E0E0;
	border:0px none;
	margin: 0.05ex 0ex 0.05ex 0ex;
	width:100%;
	cursor: text;
}

#wiring #wiring_messages {
  border: 1px solid orange;
  background: lightyellow;
  margin: 1ex 20px;
  padding: 1ex 2ex;
  display: none;
}

#wiring #newChannelForm .linkSubmit{
   color: blue;
   background-color:#E0E0E0;
   border-style:none;
   border-color:#FFFFFF;
   cursor: pointer;
   text-decoration: underline;
}

#wiring .newChannelInput {
   border:1px solid #4C5054;
   margin:0px 1ex;
}

#wiring .channelNameInput {
   border:0px;
   margin:0px 1ex;
   cursor:pointer;
   background: #97A0A8;
}

#wiring .selected .channelNameInput {
	background: transparent url(/ezweb/images/fond.gif) repeat;
	cursor: text;
}

.canvas div div{
	z-index: 3;
}

.canvas .arrow{
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 16px;
	background: transparent url(/ezweb/images/wiringArrow.png) no-repeat;
}


