body {
	color:#000000;
	background: url("../images/fondo.jpg") repeat top left;
    margin:0;
    padding:0;
    font-size:80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:#3483a5;
}

input[type="text"], input[type="password"], textarea{
	border: none;
	-moz-border-radius: 3%;
}

#loading-indicator {
    background: white;
    -moz-opacity: 0.6;
    opacity: 0.6;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.hidden {
    display: none !important;
}

div.floatclearer {
  clear: both;
}

/* header ------------------------------------------------------------------------------------------ */
#header {
	background: url("../images/header.png") repeat-x left top;
	color:white;
	height: 65px;
}

.form-row input[type="submit"] {
	background: transparent url(../images/header_deg.gif) repeat;
	color: white;
}

#content-main .registration a{
	color:#3483a5;
}

#greeting a, #greeting a:visited{
	color:#3483a5;
}

#greeting .languages a{
	text-decoration:none;
}

#logo {
	padding-top:5px;
}

#tab_section {
 top: 6px;
}

#add_tab_link, #left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
}

.toolbar_section input[type=button]{
	border: 0px none;
  	cursor: pointer;
}

.ws_name{
  border: 0px none;
  height: 13px;
  font-size: 90%;
  margin-top: 3px;
}


#dragboard_link{
	padding: 0 7px;
}

#workspace_menu_link{
	margin: 0 auto;
	width: 19px;
	height: 8px;
	padding-top: 5px;
}

#ws_operations_link {
	width: 19px;
	height: 8px;
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 15%;
	height: 21px;
	margin: 0 7px;
}

.toolbar_marked {
	color: white;
	font-weight: bold;
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}

.toolbar_unmarked:hover,#add_tab_link:hover {
	color: white;
}
.toolbar_unmarked {
	color: #b5d7ed;
	background: transparent url(../images/button.png) repeat-x scroll left top;
}

#left_slider{
 	background: transparent url(../images/leftSlider.png) no-repeat scroll 2px 0;
}

#right_slider{
 	background: transparent url(../images/rightSlider.png) no-repeat scroll 2px 0;
}

#logs_link {
  background: none;
  color:red;
}

.message_section{
	background: lightyellow;
	border: 1px solid red;
}

.message_box{
	color: #FFFFFF;
}

#add_tab_link {
	color: #B5D7ED;
	background: #666666 url(../images/button-selected.png) repeat-x scroll left top;
}

#tab_section .tab {
  background: transparent url(../images/tab.png) repeat-x scroll left top;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  color: #b5d7ed;
}

#tab_section .tab:hover {
	color: #FFFFFF;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  	background: transparent url(../images/tab-selected.png) repeat-x scroll left top;
  	color: white;
	font-weight: bold;
}

.tab span{
  margin-right:5px;
}

.current .tab_name {
  margin-right: 4px;
}

.tab .tab_name {
  background: #97A0A8;
  border: 0px;
}

.current .tab_name {
  background: #E0E0E0;
}

#menu_layer{
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #FFFFFF;
}

.drop_down_menu, .window_menu{
  background: transparent url(../images/menu.png) repeat scroll 0 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #FFFFFF;
}

.drop_down_menu {
  color: #b5d7ed;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #2D6F9C;
}

.drop_down_menu div .help_buttom {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
}

.underlined {
 
}

.window_menu .window_title {
  color: #FFFFFF;
}

.window_menu .window_content {
  margin-top: 2em;
}

.window_menu .window_content .msg {
  text-align: justify;
}

.window_msg_error{
  color: red;
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  width: 16px;
  height: 16px;
  background: transparent url(../images/menu-tab.png) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
}

button {
  background: transparent url(../images/button.png) repeat;
  border: medium none;
  color: white;
  -moz-border-radius: 15%;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

.dragboard {
  border: 1px solid #2e4e6a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: #FFF;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    text-decoration:underline;
}

#logs_console{
	color: #FFFFFF;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	border: none;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
}
