body {
	color:#000000;
	/*background: url("../images/fondo.jpg") repeat top left;*/
    font-size:80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:#b5d7ed;
}

label{
	color: #FFFFFF;
}

input[type="text"], input[type="password"], textarea{
	-moz-border-radius: 3%;
}

.window_link{
	color:#C5E2F4;
	text-decoration:underline;
	cursor: pointer;
}

#loading-background {
    background: white;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

#loading-indicator {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-message {
    font-size: 10pt;
    font-weight: bold;
	border-color: transparent;
}

.hidden {
    display: none !important;
}

/* header ------------------------------------------------------------------------------------------ */
/*#header {
	background: url("../images/header.png") repeat-x left top;
	color:white;
	height:65px;
}*/

.go_back{
	text-decoration: underline;
}

.form-row input[type="submit"] { /* login form */
	background: #666666 url(../images/button-selected.png) repeat-x scroll left top;
	color: #B5D7ED;
	-moz-border-radius: 3%;
	cursor: pointer;
}

#content-main .registration a{
	color:#b5d7ed;
}
/*
#greeting a, #greeting a:visited{
	color:#0094C6;
}
*/
#greeting .languages a{
	text-decoration:none;
}

#add_tab_link, #left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
  cursor: pointer;
}

.toolbar_section input[type=button]{
	border-color: transparent;
  	cursor: pointer;
}

.ws_name{
  border-color: transparent;
  font-size: 90%;
}

#ws_operations_link {
	height: 11px;
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 15%;
	-webkit-border-radius:15px;
}
/*
.toolbar_marked {
	color: white;
	font-weight: bold;
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}

.toolbar_unmarked:hover,#add_tab_link:hover {
	color: white;
}

.toolbar_unmarked {
	color: #b5d7ed;
	background: transparent url(../images/button.png) repeat-x scroll left top;
}
*/
#left_slider{
 width: 23px;
 background: transparent url(../images/leftSlider.png) no-repeat scroll 0 0;
}

#right_slider{
 width: 23px;
 background: transparent url(../images/rightSlider.png) no-repeat scroll 0 0;
}

#tab_marker{
	width: 4px;
	height: 23px;
	background: transparent url(../images/tab_marker.png) no-repeat scroll 0 0;
}

#tab_space{
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
    opacity: 0.3;
}

#logs_link {
  background: transparent url(../images/info.png) no-repeat;
}

#preferences_link {
  background: transparent url(../images/preferences.png) no-repeat;
}

#logs_link.highlighted{
  background: transparent url(../images/info_highlighted.png) no-repeat;
}

.message_section{
	background: lightyellow;
	border-color: red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}
/*
#add_tab_link {
	color: #B5D7ED;
	background: #01bbef url(../images/button.png) repeat-x scroll left top;
}
*/

#tab_section .tab {
  /*background: transparent url(../images/tab.png) repeat-x scroll left top;
  color: #b5d7ed;
  border-color: transparent;*/
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

/*#tab_section .tab:hover {
	color: #FFFFFF;
}
*/
#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}
/*
#tab_section .current {
  	background: transparent url(../images/tab-selected.png) repeat-x scroll left top;
  	color: white;
	font-weight: bold;
}
*/
.current .tab_name {
  background: #FFFFFF;
}

#menu_layer{
  opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #FFFFFF;
}

.drop_down_menu, .window_menu{
  background: transparent url(../images/menu.png) repeat scroll 0 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #FFFFFF;
  border-color: transparent;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #FFFFFF;
}

.drop_down_menu div .help_button {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
}

.underlined{
	border-color: transparent;
}
.window_menu .window_title {
  color: #FFFFFF;
}

.window_menu .window_content .section_name{
  background: transparent url(../images/section.png) no-repeat scroll 0 0;
  text-decoration: underline;
  font-weight: bold;
}

.window_menu .window_content tr:hover {
  background: #2B456B;
}

.window_menu .window_content td input {
  vertical-align: sub;
}

.window_menu .window_content td.label {
  font-weight: bold;
}

.window_menu .window_content .iframeDiv {
  background-color: white;
  -moz-border-radius: 6px;
}

.window_menu .explanation{
	font-size: 8pt;
	color: white;
}

.window_menu .error {
  color: red;
  font-weight: bold;
}

.window_menu .warning{
	font-weight: bold;
	font-size: 8pt;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  background: transparent url(../images/menu-tab.png) no-repeat;
}

.tab_dragger{
	background: transparent url(../images/separator.gif) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
}

button {
  background: transparent url(../images/button.png) repeat;
  color: white;
  -moz-border-radius: 15%;
}

/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border-color: #C5D7EF;
	border-top-color: #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom-color: #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom-color: #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom-color:#dfdfdf;
}
#gadgets .gadget .main table{
  border-color:#dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

.dragboard, #wiring {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*background: transparent url(../images/layer.png) repeat scroll 0 0;*/
}

.container {
	border-color: transparent;	
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container, #app_catalogue_container {
  background: transparent;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    text-decoration:underline;
}

#logs_console{
	color: #FFFFFF;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	display:block;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
	vertical-align:middle;
}
