body {
	color:#000000;
	background: url("../images/fondo.jpg") repeat top left;
    margin:0;
    padding:0;
    font-size:80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:#b5d7ed;
}

label{
	color: #FFFFFF;
}

input[type="text"], input[type="password"], textarea{
	border-width: 0 0 0 0;
	-moz-border-radius: 3%;
}

#loading-background {
    background: white;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

#loading-indicator {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-message {
    margin: 50px 4ex;
    font-size: 10pt;
    height: 8ex;
    font-weight: bold;
}

#loading-message .window_content {
    margin-top: 1ex;
}

#loading-message {
    margin: 4ex;
}
#loading-subtask-title{
	margin: 0;
}

.hidden {
    display: none !important;
}

/* header ------------------------------------------------------------------------------------------ */
#header {
	background: url("../images/header.png") repeat-x left top;
	color:white;
	height: 65px;
}

.form-row input[type="submit"] { /* login form */
	background: #666666 url(../images/button-selected.png) repeat-x scroll left top;
	color: #B5D7ED;
	-moz-border-radius: 3%;
	cursor: pointer;
}

#content-main .registration a{
	color:#b5d7ed;
}

#greeting {
	text-align:right;
	margin-right:15px;
	margin-top:5px;
}

#greeting a, #greeting a:visited{
	color:#b5d7ed;
}

#greeting .languages a{
	text-decoration:none;
}

#logo {
	margin-top:5px;
	background: url("../images/Open_Ez_Logo.png") no-repeat;
	width: 226px;
	height: 35px;
}

#add_tab_link, #left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
}

.toolbar_section input[type=button]{
	border: 0px none;
  	cursor: pointer;
  	padding-bottom: 3px;
}

.ws_name{
  border: 0px none;
  height: 13px;
  font-size: 90%;
  margin-top: 3px;
}


#dragboard_link{
	padding: 0 7px;
}

#dragboard_link span {
	top: 2px;
}

#workspace_menu_link{
	margin: 0 auto;
	width: 19px;
	height: 11px;
	padding-top: 5px;
}

#ws_operations_link {
	width: 19px;
	height: 9px;
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 15%;
	-webkit-border-radius:15px;
	height: 21px;
	margin: 0 7px;
}

.toolbar_marked {
	color: white;
	font-weight: bold;
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}

.toolbar_unmarked:hover,#add_tab_link:hover {
	color: white;
}
.toolbar_unmarked {
	color: #b5d7ed;
	background: transparent url(../images/button.png) repeat-x scroll left top;
}

#left_slider{
 margin-top:2px;
 margin-left:3px;
 width: 23px;
 background: transparent url(../images/leftSlider.png) no-repeat scroll 0 0;
}

#right_slider{
 margin-top:2px;
 width: 23px;
 background: transparent url(../images/rightSlider.png) no-repeat scroll 0 0;
}

#tab_marker{
	width: 4px;
	height: 23px;
	background: transparent url(../images/tab_marker.png) no-repeat scroll 0 0;
}

#tab_space{
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
    opacity: 0.3;
}

#logs_link {
  height: 16px;
  border: none;
  width: 16px;
  background: transparent url(../images/info.png) no-repeat;
}

#preferences_link {
  height: 16px;
  width: 16px;
  border: none;
  background: transparent url(../images/preferences.png) no-repeat;
}

#logs_link.highlighted{
  background: transparent url(../images/info_highlighted.png) no-repeat;
}

.message_section{
	background: lightyellow;
	border: 1px solid red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}

#add_tab_link {
	color: #B5D7ED;
	background: #666666 url(../images/button-selected.png) repeat-x scroll left top;
}

#tab_section .tab {
  background: transparent url(../images/tab.png) repeat-x scroll left top;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  color: #b5d7ed;
}

#tab_section .tab:hover {
	color: #FFFFFF;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  	background: transparent url(../images/tab-selected.png) repeat-x scroll left top;
  	color: white;
	font-weight: bold;
}


.current .tab_name, .current span {
  margin: 0 5px;
}

.current .tab_name {
  background: #FFFFFF;
}

#menu_layer{
  opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #FFFFFF;
}

.drop_down_menu, .window_menu{
  background: transparent url(../images/menu.png) repeat scroll 0 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #FFFFFF;
}

.drop_down_menu {
  color: #b5d7ed;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #FFFFFF;
}

.drop_down_menu div .help_buttom {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
}

.underlined {
 
}

.window_menu .window_title {
  color: #FFFFFF;
}

.window_menu .window_content {
  margin-top: 2ex;
}

.window_menu .window_content tr:hover {
  background: #2B456B;
}

.window_menu .window_content td {
  padding: 0.7ex 1ex;
}

.window_menu .window_content td input {
  vertical-align: sub;
}

.window_menu .window_content td.label {
  text-align: left;
  padding-right: 2ex;
  font-weight: bold;
}

.window_menu .window_content .complexTable {
  width: 100%;
}

.window_menu .window_content .complexTable td {
  padding-left: 0;
}

.window_menu .window_content .complexTable td.inheritCell {
  text-align: left;
  padding-right: 2ex;
  padding-left: 1ex;
}

.window_menu .window_content .complexTable td.inheritCell input {
  margin-right: 1ex;
}

.window_menu .window_content .msg {
  text-align: justify;
  margin-left: 20px;
}

.window_menu .legend {
  margin-top: 3ex;
}

.window_menu .explanation{
	font-size: 8pt;
}

.window_menu .error {
  color: red;
  font-weight: bold;
  margin-left: 0px;
}

.window_menu .warning{
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding: 10px;
	
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  width: 16px;
  height: 16px;
  background: transparent url(../images/menu-tab.png) no-repeat;
}

.tab_dragger{
	width: 8px;
	height: 16px;
	float: left;
	background: transparent url(../images/separator.gif) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
  width: 16px;
  height: 16px;
}

button {
  background: transparent url(../images/button.png) repeat;
  border: medium none;
  color: white;
  -moz-border-radius: 15%;
}

/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  min-width: 600px;
  margin: 0 4px 4px 4px;
}

.dragboard, #wiring {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: transparent url(../images/layer.png) repeat scroll 0 0;
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: transparent;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    text-decoration:underline;
}

#logs_console{
	color: #FFFFFF;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	border: none;
	width: 16px;
	height:16px;
	display:block;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
	vertical-align:middle;
}
