/*BODY*/
body {

}
/*HEADER*/

/*BANNER*/
#logo {
	background: url("../images/ie/Open_Ez_Logo-trans.png") no-repeat;
}

#toolbar_section{
	*margin-left: 10px;
}

.toolbar_marked, .toolbar_unmarked {
	padding-left: 4px;
	padding-right: 4px;
}


#workspace_link_container{
	text-align:center;
}


#dragboard_link{
	float:none;
}

#workspace_menu_link{
	clear:none;
	*margin: 0px;
	padding-top: 0px;
}


/*MENU_LAYER*/
#menu_layer{
/*ie hack to show a clickable transparent layer*/
  opacity: .0;
  moz-opacity: .0;
  filter: alpha(opacity=0);
  background-color:red;
}

#menu_layer.disabled_background {
  background-color: #6699cc;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

/*CATALOGUE*/
#catalogue .resource .toolbar button {
	padding: 2px;
}

#catalogue .center .resources .resource .content .image{
	*margin-left: 0;
}

/*WIRING*/
/* Filter params */
#wiring #channels_list .channel.selected .channelContent .paramName, #wiring .newChannel.selected .channelContent .paramName {
	white-space: normal;
}