/*BODY*/
body {

}
/*HEADER*/

/*BANNER*/
#logo {
	background: url("../images/ie/Open_Ez_Logo-trans.png") no-repeat;
}

#toolbar_section{
	*margin-left: 10px;
}

.toolbar_marked, .toolbar_unmarked {
	padding-left: 4px;
	padding-right: 4px;
}

.toolbar_unmarked{
	*background: #085c88 url(../images/ie/button.png) repeat-x scroll left top;
	border: 1px solid #085c88 !important;
	
}

.toolbar_marked{
	top:4px;
	border: 1px solid #003867 !important;
	*background-color: #003867;	
}

#workspace_link_container{
	text-align:center;
}


#dragboard_link{
	float:none;
	height:19px;
}

#workspace_menu_link{
	clear:none;
	*margin: 0px;
	padding-top: 0px;
	margin-top: 2px;
}

/*MENU_LAYER*/
#menu_layer{
/*ie hack to show a clickable transparent layer*/
  opacity: .0;
  moz-opacity: .0;
  filter: alpha(opacity=0);
  background-color:#FFFFFF;
}

#menu_layer.disabled_background {
  background-color: #FFFFFF;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

/*CATALOGUE*/
#catalogue .resource .toolbar button {
	padding: 2px;
}

#catalogue .center .resources .resource .content .image{
	*margin-left: 0;
}

#catalogue .center .resources .resource .top {
	background: url(../images/ie/resource-top.png) no-repeat top left;
}

#catalogue .resource > .bottom {
	background: url(../images/ie/resource-bottom.png) no-repeat top left;
}

#catalogue .center .resources .resource.current > .top {
	background-image: url(../images/ie/resource-top-select.png);
}

#catalogue .resource.current > .bottom {
	background-image: url(../images/ie/resource-bottom-select.png);
}

#catalogue .center .resources .resource:hover > .top {
	background-image: url(../images/ie/resource-top-select.png);
}

#catalogue .resource:hover > .bottom {
	background-image: url(../images/ie/resource-bottom-select.png);
}

#catalogue .center .resources .resource.selected > .top {
	background-image: url(../images/ie/resource-top-tagmode.png);
}

#catalogue .resource.selected > .bottom {
	background-image: url(../images/ie/resource-bottom-tagmode.png);
}

#catalogue .center .resources .resource .toolbar button{
	padding: 2px 3px 3px;
}

/*WIRING*/
/* Filter params */
#wiring #channels_list .channel.selected .channelContent .paramName, #wiring .newChannel.selected .channelContent .paramName {
	white-space: normal;
}

/*DRAGBOARD*/
/*Tabs*/
#add_tab_link{
	border: 1px solid #085c88 !important;
	*background-color: #085c88;	
}

/*igadget*/
div.gadget_window div.gadget_menu input[type="button"].closebutton {
  background: url("../images/ie/igadget/close.png");
}

div.gadget_window div.gadget_menu input[type="button"].closebutton:hover {
  background: url("../images/ie/igadget/close.png");
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton {
  background: url("../images/ie/igadget/minimize.png");
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton:hover {
  background: url("../images/ie/igadget/minimize.png");
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton {
  background: url("../images/ie/igadget/maximize.png");
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton:hover {
  background: url("../images/ie/igadget/maximize.png");
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton {
  background: url("../images/ie/igadget/settings.png");
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton:hover {
  background: url("../images/ie/igadget/settings.png");
}

div.gadget_window div.gadget_menu input[type="button"].settings2button {
  background: url("../images/ie/igadget/settings2.png");
}

div.gadget_window div.gadget_menu input[type="button"].settings2button:hover {
  background: url("../images/ie/igadget/settings2.png"); 
}