.rating > .star {
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
}

.rating > .star.off:before {
    color: rgb(102, 102, 102);
    content: "\f006";
}

.rating > .star.on:before {
    color: rgb(0, 45, 103);
    content: "\f005";
}

.rating > .star.middle:before {
    color: rgb(0, 45, 103);
    content: "\f123";
}
