{% extends "facebook/base.html" %}
{% load i18n %}
{% load facebook_tags %}

{% block content %}
<style>
	body{
		font-size: 80%;
	}
	#account, #fb_only{
		float:left;
		padding: 0 75px;
	}
	#account{
		border-right: 1px solid;
	}
</style>

  <div style="display: inline;">{% show_facebook_photo user %}</div>
  <h2 style="display: inline;">{% show_facebook_greeting user %}</h2>
  <p>{% trans "If you already have an account, enter your username and password below to link your account with your facebook account. If you do not have an account, you can Connect with facebook only so as you won't have to remember a name and a password." %}</p>
  
  {% if login_form.errors %}
  <p class="error">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form action="" method="post" accept-charset="utf-8" class="nice-form" id="account">
  	<h4>{% trans "Link facebook to an existing account:" %}</h4>
    <input type="hidden" name="login" value="true" id="login">
    {{ login_form.as_p }}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" id="next">        
    {% endif %}
    <p><input type="submit" value="{% trans 'Link my accounts and log in' %}"></p>
  </form>

  <div id="fb_only">
	   <h4>{% trans "Use facebook only:"%}</h4>
	  <form action="" method="post" accept-charset="utf-8" class="nice-form">
	    <input type="hidden" name="facebook_only" value="true" id="facebook_only">
	    {% if next %}
	    <input type="hidden" name="next" value="{{ next }}" id="next">        
	    {% endif %}
	    <p><input type="submit" value="{% trans 'Connect with facebook only' %}"></p>
	  </form>
	</div>
{% endblock %}