/*
 * BODY
 */

/* global background */
body.catalogue_view {
	background: {{ body_bg }};
}

/*
 * HEADER section
 */

/* banner */
#catalogue_banner {
	background: {{ banner_bg }};
}

#catalogue_header, #catalogue_header a{
	color:{{ banner_font }};
}

/* toolbar button marked */
#catalogue_banner .toolbar_menu > div.selected_section,  
#catalogue_banner .toolbar_menu > div.selected_section:hover {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/* toolbar button unmarked */
#catalogue_banner .toolbar_menu > div {
	color: {{ toolbar_unmarked_font }};
	font-weight: bold;
	background: {{ toolbar_unmarked_bg }};
	border-color:{{ toolbar_border }};

}

/* toolbar button unmarked on hover*/
#catalogue_banner .toolbar_menu > div:hover {
	color: {{ toolbar_hover_font }};
	font-weight: bold;
	background: {{ toolbar_hover_bg }};
	text-decoration: underline;
}

/* TABS */

/* not selected tab */
#catalogue_nav_bar .tab_section .tab {
	color: {{ tab_unmarked_font }};
	background: {{ tab_unmarked_bg }};
	border-color: {{ tab_unmarked_border }};
	font-weight: bold;
}

#catalogue_nav_bar .tab_section .tab:hover {
	color: {{ tab_hover_font }};
	border-color: {{ tab_hover_border }};
	background: {{ tab_hover_bg }};
}

/* selected tab */
#catalogue_nav_bar .tab_section .current, #catalogue_nav_bar .tab_section .current:hover {
 	color: {{ tab_marked_font }};
  	background: {{ tab_marked_bg }};
  	border-color: {{ tab_marked_border }};
}

/*
 * WRAPPER section
 */

/* left_bar */
#left_bar{
	background: {{ catalogue_left_bg }};
	border-color: {{ catalogue_border }};
	color: {{ catalogue_left_font }};
}


/* resources */

#catalogue_content{
	background: {{ catalogue_content_bg }};
	border-color: {{ catalogue_border }};
	color: {{ catalogue_content_font }};
}
