/*
 * BODY
 */

/* global background */
body.catalogue_view {
	background: {{ body_bg }};
}

/*
 * HEADER section
 */

/* banner */
#catalogue_banner {
	background: {{ banner_bg }};
}

#catalogue_banner, #catalogue_banner a{
	color:{{ banner_font }};
}

#catalogue_banner .toolbar_section {
	border-color:{{ banner_font }};
}

/* toolbar button marked */
#catalogue_banner .toolbar_menu > div.selected_section {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/* toolbar button unmarked */
#catalogue_banner .toolbar_menu > div {
	color: {{ toolbar_unmarked_font }};
	font-weight: bold;
	background: {{ toolbar_unmarked_bg }};
}

#catalogue_banner .toolbar_menu > div:hover {
	color: {{ toolbar_hover_font }};
	font-weight: bold;
	background: {{ toolbar_hover_bg }};
	text-decoration: underline;
}

/* TABS */

/* not selected tab */
#catalogue_nav_bar .tab_section .tab {
	color: {{ tab_unmarked_font }};
	background: {{ tab_unmarked_bg }};
	border-color: transparent;
	font-weight: bold;
}

#catalogue_nav_bar .tab_section .tab:hover {
	color: #4C5054;
	border-color: #C2CBD2;;
	background: ;
}

/* selected tab */
#catalogue_nav_bar .tab_section .current {
 	color: #4C5054;
  	background: #FFDE6B;
  	border-color: #C2CBD2;
}

/*
 * WRAPPER section
 */

/* left_bar */
#left_bar{
	background: {{ catalogue_left_bg }};
	border-color: {{ container_left_border }};
}


/* resources */

#catalogue_content{
	background: {{ catalogue_content_bg }};
	border-color: {{ catalogue_content_border }};
}
