/*
 * BODY
 */

/* global background */
body.catalogue_view {
	background: {{ body_bg }};
}

/*
 * HEADER section
 */

/* banner */
#catalogue_banner {
	background: {{ banner_bg }};
}

#catalogue_banner, #catalogue_banner a{
	color:{{ banner_font }};
}

/* toolbar button marked */
#catalogue_banner .toolbar_menu > div.selected_section {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/* toolbar button unmarked */
#catalogue_banner .toolbar_menu > div {
	color: {{ toolbar_unmarked_font }};
	font-weight: normal;
	background: {{ toolbar_unmarked_bg }};
	height: 18px;
}

#catalogue_banner hover {
	color: {{ toolbar_hover_font }};
	font-weight: normal;
	background: transparent {{ toolbar_hover_bg }};
}

/*
 * WRAPPER section
 */

/* left_bar */
#left_bar{
	background: {{ catalogue_left_bg }};
	border-color: {{ container_left_border }};
}


/* resources */

#catalogue_content{
	background: {{ catalogue_content_bg }};
	border-color: {{ catalogue_content_border }};
}
