/*
 * BODY
 */

/* global background */
body.dragboard_view, body.wiring_view{
	background: {{ body_bg }};
	color: {{ body_font }}
}

/*
 * BANNER section
 */

/* banner */
#ws_banner, #wiring_banner {
	background: {{ banner_bg }};
}

#ws_banner, #wiring_banner, #ws_banner a, #wiring_banner a {
	color:{{ banner_font }};
}

/*
 * TOOLBAR section
 */

/* MAIN toolbar button unmarked */
#ws_banner .toolbar_menu > div, #wiring_banner .toolbar_menu > div, #logs_header .toolbar_menu > div {
	color: {{ toolbar_unmarked_font }};
	font-weight: bold;
	background: {{ toolbar_unmarked_bg }};
	border-color:{{ toolbar_border }};
}

/* MAIN toolbar button marked */
#ws_banner .toolbar_menu > div.selected_section, #wiring_banner .toolbar_menu > div.selected_section, #logs_header .toolbar_menu > div.selected_section {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/* MAIN toolbar button hover */
#ws_banner .toolbar_menu > div:hover, #wiring_banner .toolbar_menu > div:hover, #logs_header .toolbar_menu > div:hover {
	color: {{ toolbar_hover_font }};
	font-weight: bold;
	background: {{ toolbar_hover_bg }};
	text-decoration: underline;
}
#ws_banner .toolbar_menu > div.selected_section:hover, #wiring_banner .toolbar_menu > div.selected_section:hover, #logs_header .toolbar_menu > div.selected_section:hover {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/*
 * TOOLBAR SMALL section
 */

/* SMALL toolbar button unmarked */
#ws_banner .toolbar_menu_small > div, #wiring_banner .toolbar_menu_small > div, #logs_header .toolbar_menu_small > div {
	color: {{ small_toolbar_unmarked_font }};
	font-weight: bold;
	background: {{ small_toolbar_unmarked_bg }};
	border-color: {{ toolbar_border }};
}

/* SMALL toolbar button marked */
#ws_banner .toolbar_menu_small > div.selected_section, #wiring_banner .toolbar_menu_small > div.selected_section, #logs_header .toolbar_menu_small > div.selected_section {
	color: {{ small_toolbar_marked_font }};
	font-weight: bold;
	background: {{ small_toolbar_marked_bg }};
}

/* SMALL toolbar button hover */
#ws_banner .toolbar_menu_small > div:hover, #wiring_banner .toolbar_menu_small > div:hover, #logs_header .toolbar_menu_small > div:hover {
	color: {{ small_toolbar_unmarked_hover }};
	font-weight: bold;
	background: {{ small_toolbar_unmarked_hover }};
	text-decoration: underline;
}
#ws_banner .toolbar_menu_small > div.selected_section:hover, #wiring_banner .toolbar_menu_small > div.selected_section:hover, #logs_header .toolbar_menu_small > div.selected_section:hover {
	color: {{ small_toolbar_marked_font }};
	font-weight: bold;
	background: {{ small_toolbar_marked_bg }};
}

/*
 * WRAPPER section
 */

/* dragboard */
.dragboard{
	background: {{ container_bg }};
	border-color: {{ container_border }};
}

.sidebar{
	border-color: {{ container_border }};
}

/* wiring */
#wiring{
	background: {{ container_bg }};
	border-color: {{ container_border }};
}

/*
 * TAB section
 */

/* add tab button */
#add_tab_link {
 	color: {{ add_tab_font }};
	background: {{ add_tab_bg }};
}

#add_tab_link:hover {
	color: {{ add_tab_hover_font }};
	background: {{ add_tab_hover_bg }};
}

/* not selected tab */
#ws_header .tab_section .tab {
	color: {{ tab_unmarked_font }};
	background: {{ tab_unmarked_bg }};
	border-color: {{ tab_unmarked_border }};
	font-weight: bold;
}

#ws_header .tab_section .tab:hover {
	color: {{ tab_hover_font }};
	border-color: {{ tab_hover_border }};
	background: {{ tab_hover_bg }};
}

/* selected tab */
#ws_header .tab_section .current {
 	color: {{ tab_marked_font }};
  	background: {{ tab_marked_bg }};
  	border-color: {{ tab_marked_border }};
}

#ws_header .tab_section .current:hover {
	color: {{ tab_marked_font }};
	background: {{ tab_marked_bg }};
	font-weight:bold;
	border-color: {{ tab_marked_border }};
}

/*
 * IGADGET section
 */

/* igadget box */
div.gadget_window {
	border-color: {{ gadget_border }} !important; /* quitar el important cuando se meta el skin al final del body */
}

/* igadget name */
.gadget_menu span, .gadget_menu .igadget_name {
  	color: {{ gadget_title_font }};
  	font-weight: bold;
}
