/*
 * BODY
 */

/* global background */
body.dragboard_view, body.wiring_view{
	background: {{ body_bg }};
}

/*
 * HEADER section
 */

/* banner */
#ws_banner, #wiring_banner {
	background: {{ banner_bg }};
}

#ws_banner, #wiring_banner, #ws_banner a, #wiring_banner a {
	color:{{ banner_font }};
}

#ws_banner .toolbar_section, #wiring_banner .toolbar_section {
	border-color:{{ banner_font }};
}

/* MAIN toolbar button marked */
#ws_banner .toolbar_menu > div.selected_section, #wiring_banner .toolbar_menu > div.selected_section {
	color: {{ toolbar_marked_font }};
	font-weight: bold;
	background: {{ toolbar_marked_bg }};
}

/* MAIN toolbar button unmarked */
#ws_banner .toolbar_menu > div, #wiring_banner .toolbar_menu > div {
	color: {{ toolbar_unmarked_font }};
	font-weight: bold;
	background: {{ toolbar_unmarked_bg }};
}

/* MAIN toolbar button hover */
#ws_banner .toolbar_menu > div:hover, #wiring_banner .toolbar_menu > div:hover {
	color: {{ toolbar_hover_font }};
	font-weight: bold;
	background: {{ toolbar_hover_bg }};
	text-decoration: underline;
}

/* SMALL toolbar button marked */
#ws_banner .toolbar_menu_small > div.selected_section, #wiring_banner .toolbar_menu_small > div.selected_section {
	color: '';
	font-weight: bold;
	background: '';
}

/* SMALL toolbar button unmarked */
#ws_banner .toolbar_menu_small > div, #wiring_banner .toolbar_menu_small > div {
	color: '';
	font-weight: bold;
	background: '';
}

/* SMALL toolbar button hover */
#ws_banner .toolbar_menu_small > div:hover, #wiring_banner .toolbar_menu_small > div:hover {
	color: '';
	font-weight: bold;
	background: '';
	text-decoration: underline;
}

/*
 * WRAPPER section
 */

/* dragboard */
.dragboard{
	background: {{ container_bg }};
	border-color: {{ container_border }};
}

/* wiring */
#wiring{
	background: {{ container_bg }};
	border-color: {{ container_border }};
}

/*
 * TAB section
 */

/* add tab button */
#add_tab_link {
 	color: {{ add_tab_font }};
	background: {{ add_tab_bg }};
}

#add_tab_link:hover {
	color: {{ add_tab_hover_font }};
	background: {{ add_tab_hover_bg }};
}

/* not selected tab */
.tab_section .tab {
	color: {{ tab_unmarked_font }};
	background: {{ tab_unmarked_bg }};
	border-color: transparent;
	font-weight: bold;
}

.tab_section .tab:hover {
	color: {{ tab_hover_font }};
	border-color: {{ tab_border }};
	background: {{ tab_hover_bg }};
}

/* selected tab */
.tab_section .current {
 	color: {{ tab_marked_font }};
  	background: {{ tab_marked_bg }};
  	border-color: {{ tab_border }};
}

.tab_section .current:hover {
	color: {{ tab_marked_font }};
	background: {{ tab_marked_bg }};
	font-weight:bold;
}

/*
 * IGADGET section
 */

/* igadget box */
div.gadget_window {
	border-color: {{ gadget_border }} !important; /* quitar el important cuando se meta el skin al final del body */
}

/* igadget name */
.gadget_menu span, .gadget_menu .igadget_name {
  	color: {{ gadget_title_font }};
  	font-weight: bold;
}
