/* this file overwrite CSS rules for pdf */
section h1{
  page-break-before:always;
}

tr{
	page-break-inside:avoid;
}

h1, h2, h3, h4, h5, h6{
	page-break-inside:avoid;
	page-break-after: avoid;
}


.goApiary{
  clear:both;
  padding-top: 15px;
  line-height: 2.2em;
}

#TOC-container{
  display: none;
}

/* show url for links only if they are externals*/
a:link[href^="http://"]:after, a:visited[href^="http://"]:after, 
a:link[href^="https://"]:after, a:visited[href^="https://"]:after,
a:link[href^="ftp://"]:after, a:visited[href^="ftp://"]:after { 
	content:" (" attr(href) ") "; 
} 

pre, pre code{
	page-break-inside: auto !important;
}

.goActions a::after, .goApiary a::after, .goExample a::after{
    font-family: FontAwesome;
    content:''
}
