.iwidget {
    position: absolute;
    -moz-transition: box-shadow 0.7s ease-in;
    -webkit-transition: box-shadow 0.7s ease-in;
    transition: box-shadow 0.7s ease-in;
    background: white;
	border-color: #C2CBD2;
    overflow: visible;
}

.iwidget > .widget_menu {
    background: transparent;
    color: #4C5054;
    font-size: 24px;
    cursor: move;
    line-height: 30px;
    position: relative;
}

.iwidget > .widget_menu > span {
    font-family: Comfortaa;
    display: inline-block;
}

.iwidget > .widget_menu > .buttons {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 38px, rgb(255, 255, 255));
    border-radius: 4px;
    padding: 0px 3px 0px 38px;
    opacity: 0;
    white-space: nowrap;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    transition-property: opacity;
    transition-duration: 1s;
    line-height: 28px;
}

.iwidget > .widget_menu:hover > .buttons {
    opacity: 1;
}

.iwidget > .widget_menu .styled_button {
    font-size: 75%;
    margin: 0 3px;
    padding: 0px;
    border: 0px none;
    color: rgba(136, 136, 136, 0.6);
    -moz-transition-property: color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -o-transition-property: color;
    -o-transition-duration: 1s;
    transition-property: color;
    transition-duration: 1s;
}

.iwidget > .widget_menu .styled_button:focus, .iwidget > .widget_menu .styled_button:hover {
    color: rgba(136, 136, 136, 1);
}

.iwidget > .widget_menu > .infobuttons {
    padding: 0px 38px 0px 3px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255) 38px, rgb(255, 255, 255));
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    line-height: 28px;
}

.iwidget > .widget_menu .errorbutton.disabled {
    display: none;
}

.iwidget > .widget_wrapper {
    clear: both;
    overflow: hidden;
    width: auto;
    border-width: 1px 1px 0px 1px;
    border-radius: 4px 4px 0px 0px;
    border-style: solid;
    border-color: #DDD;
}

.iwidget > .statusBar {
    background: #DDD;
}
