{% load i18n %}
<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
<s:verticallayout>

    <s:options>{"class": "panel panel-default we-panel-components"}</s:options>

    <s:northcontainer>
        <s:options>{"class": "panel-heading"}</s:options>
        <div class="panel-title">
            <strong>{% trans "Components" %}</strong>
        </div>
        <t:searchinput/>
        <div class="btn-group btn-group-justified"><t:buttons/></div>
    </s:northcontainer>

    <s:centercontainer>
        <s:options>{"class": "panel-body"}</s:options>
        <t:list/>
    </s:centercontainer>

</s:verticallayout>
</s:styledgui>