<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
    <div class="we-component-group">
        <div class="panel panel-default we-component-meta">
            <div class="panel-heading">
                <div class="panel-title"><t:title/></div>
            </div>
            <div class="panel-body">
                <div class="se-thumbnail se-thumbnail-sm"><t:image/></div>
                <div class="se-input-group se-input-group-sm se-input-group-block"><t:versionselect/><t:createbutton/></div>
                <h5><t:vendor/></h5>
                <t:description/>
            </div>
        </div>
    </div>
</s:styledgui>
