{% load i18n %}
<s:styledgui xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template">
<s:horizontallayout>
<s:options>{"class": "wiring-footer"}</s:options>
<s:centercontainer><t:title></t:title></s:centercontainer>
<s:eastcontainer>
<span class="label label-connection">
<t:connections></t:connections> {% trans "Connections" %}
        </span>
<span class="label label-operator">
<t:operators></t:operators> {% trans "Operators" %}
        </span>
<span class="label label-widget">
<t:widgets></t:widgets> {% trans "Widgets" %}
        </span>
</s:eastcontainer>
</s:horizontallayout>
</s:styledgui>