{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}{% trans "EzWeb Platform" %}{% endblock %}</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
  <!--[if lt IE 7]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
  <![endif]-->

  <!-- Base and Theme css -->
  {% if only_one_css_file %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/ezweb_compressed.css"/>
  {% else %}
    <link media="screen,projection" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ezweb.css"  />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/ezweb.css" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dragboard.css"  />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/dragboard.css" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/wiring.css"  />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/wiring.css" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/catalogue.css"  />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/catalogue_list.css" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/default_catalogue.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/default.css" />
  {% endif %}

  <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/ie.css" />
  <![endif]-->

  <!-- CSS for different header -->
  {% block css %}{% endblock %}

  {% block meta %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />
  {% endblock %}
</head>

<body>

<!-- Menu layer -->
<div id="menu_layer" style="display:none"></div>

<!-- Loading indicator -->
<div id="loading-window">
  <div id="loading-background"></div>
  <div id="loading-message" class="window_menu">
    <div class="window_top">
      <div id="loading-task-title" class="window_title">{% trans "Loading EzWeb Platform" %} 0%</div>
    </div>
    <div class="window_content">
      <div id="loading-indicator"></div>
      <div id="loading-subtask-title" class="msg">{% trans "Retrieving EzWeb code" %}: 0%</div>
    </div>
  </div>
</div>

<!-- HEADER -->
{% block header %}
  {% include "header.html" %}
{% endblock %}

<div id="wrapper">

  <!-- DRAGBOARD LAYERS -->
  <div class="sidebar">
    <div class="sidebar_top">
      <a id="close_sidebar" class="closebutton"></a>
      <div class="sidebar_title">{% trans "Select Application" %}</div>
    </div>
    <div id="workspace_sidebar" class="sidebar_items"></div>
    <div id="add_workspace" class="add_workspace">{% trans "New Application" %}</div>
  </div>
  <!-- Initially empty (filled by javascript code)-->
  <!-- DRAGBOARD LAYERS -->

  <!-- WIRING LAYER -->
  <div id="wiring" class="container">
    <div id="wiring_wrapper">
      <div id="wiring_options">
        <div id="unfold_chkItem"><label>{% trans 'Unfold on starting' %}</label></div>
      </div>
      <div id="wiring_table">
        <div id="eventColumn" class="eventColumn">
          <div class="title folded">{% trans "EVENTS" %}
            <input name='event' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
          </div>
          <div id="events_list"></div>
        </div>

        <div class="inoutColumn">
          <div class="title">{% trans "CHANNELS" %}
            <input name='channels' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this, event);"/>
          </div>
          <div id="channels_list"></div>
        </div>

        <div id="slotColumn" class="slotColumn">
          <div class="title folded">{% trans "SLOTS" %}
            <input name='slot' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
          </div>
          <div id="slots_list"></div>
        </div>
        <div class="floatclearer"></div>
      </div>
    </div>
  </div>
  <!-- WIRING LAYER -->

  <!-- CATALOGUE LAYER -->
  <div id="catalogue_views">

    <!-- JavaScript Templates -->
    <script id="list_view_resource_structure_template" type="html/template">
      {% include "catalogue/resource.html" %}
    </script>

    <script id="list_view_resource_details_structure_template" type="html/template">
      {% include "catalogue/resource_details.html" %}
    </script>

    <script id="list_view_developer_info_structure" type="html/template">
      {% include "catalogue/developers.html" %}
    </script>

    <script id="pagination_structure" type="html/template">
      {% include "catalogue/pagination_template.html" %}
    </script>

    {% include "catalogue/template.html" %}
  </div>
  <!-- CATALOGUE LAYER -->

  <!-- SHOWCASE LAYER -->
  <div id="showcase" class="container showcase"></div>
  <!-- SHOWCASE LAYER -->

  <!-- LOGS LAYER -->
  <div id="logs_container" class="container">
    <div id="logs_console" class="container_content"></div>
  </div>
  <!-- LOGS LAYER -->
</div> <!-- end of #wrapper -->

<!-- JavaScript code -->

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/strftime.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/strftime-locales.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/common/jscolor/jscolor.js"></script>

<script type="text/javascript">
var URIs = {
  USER: '/user/{{ user.username }}',
  GET_IGADGET: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}'),
  GET_IGADGETS: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/'),
  PUT_IGADGET_VERSION: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}/version'),
  GET_GADGET: new Template('/user/{{ user.username }}/gadgets/#{vendor}/#{name}/#{version}'),
  GET_GADGETS: '/user/{{ user.username }}/gadgets',
  GET_CONTEXT: '/user/{{ user.username }}/context',
  GET_CONTEXT_VALUE: new Template('/user/{{ user.username }}/context/#{concept}/value'),
  PLATFORM_PREFERENCES: '/user/{{ user.username }}/preferences/platform',
  WORKSPACE_PREFERENCES: new Template('/user/{{ user.username }}/preferences/workspace/#{workspace_id}'),
  TAB_PREFERENCES: new Template('/user/{{ user.username }}/preferences/tab/#{workspace_id}/#{tab_id}'),
  GET_POST_RESOURCES: '/user/{{ user.username }}/catalogue/resource',
  GET_RESOURCES_SIMPLE_SEARCH: '/user/{{ user.username }}/catalogue/search',
  GET_RESOURCES_GLOBAL_SEARCH: '/user/{{ user.username }}/catalogue/globalsearch',
  DELETE_TAG: '/user/{{ user.username }}/catalogue/tag',
  POST_RESOURCE_TAGS: '/user/{{ user.username }}/catalogue/tag',
  POST_RESOURCE_VOTES: '/user/{{ user.username }}/catalogue/voting',
  POST_IGADGET: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets'),
  PROXY: '/proxy',
  GET_IGADGET_VARIABLES: new Template('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables'),
  GET_POST_GADGET_VARIABLE: new Template('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables/#{varName}'),
  PUT_VARIABLES: new Template('/workspace/#{workspaceId}/variables'),
  GET_POST_WORKSPACES: '/workspaces',
  GET_POST_WIRING: new Template('/workspaces/#{id}/wiring'),
  GET_POST_WORKSPACE: new Template('/workspaces/#{id}/last_user/#{last_user}'),
  GET_POST_TABS: new Template('/workspace/#{workspace_id}/tabs'),
  TAB: new Template('/workspace/#{workspace_id}/tab/#{tab_id}'),
  POST_PUBLISH_WORKSPACE: new Template('/workspace/#{workspace_id}/publish'),
  GET_ADD_WORKSPACE: new Template('/workspace/#{workspace_id}/add?active=#{active}'),
  GET_MERGE_WORKSPACE: new Template('/workspace/#{from_ws_id}/merge/#{to_ws_id}'),
  PUT_SHARE_WORKSPACE: new Template('/workspace/#{workspace_id}/share/#{share_boolean}'),
  GET_SHARE_GROUPS: new Template('/workspace/#{workspace_id}/share/groups'),
  GADGET_TEMPLATE_GENERATOR: new Template('{{GADGET_GENERATOR_URL}}/gadgetGenerator/template/#{gadget_type}'),
  GET_MERGE_PUBLISHED_WORKSPACE: new Template('/workspace/published_workspace/#{published_ws}/merge/#{to_ws}'),
  POST_CREATE_EXTERNAL_CHANNEL: '/channel/external',
  GET_SUBSCRIBE_USER_TO_REMOTE_CHANNELS: new Template('/notifier/channels/register?channels=#{channels}&user={{ user.username }}'),
  POST_PUBLISH_REMOTE_CHANNELS: new Template('/notifier/channels/notify?channels=#{channels}'),
  POST_CHECK_VERSIONS: '/user/{{ user.username }}/catalogue/versions',
  ADD_RESOURCE_TO_APP: new Template('/user/{{ user.username }}/catalogue/application/#{application_id}/resource/#{resource_id}/link'),
  CONTRACT_APPLICATIONS_TRANSACTION: '/contract/subscribe/applications',
  FILE_UPLOADER: '/uploader',
  BASIC_THEME: '/ezweb/themes/default',
{% if AUTHENTICATION_SERVER_URL %}
  EZSTEROIDS_API: '{{ AUTHENTICATION_SERVER_URL }}/api',
{% endif %}
{% if home_gateway_dispatcher_url %}
  HOME_GATEWAY_DISPATCHER_URL: '{{ home_gateway_dispatcher_url }}serviceGadgets?user={{ user.username }}',
  HOME_GATEWAY_DISPATCHER_UNSUBSCRIBE_URL: '{{ home_gateway_dispatcher_url }}unsubscribeServices',
  HOME_GATEWAY_DISPATCHER_CANCEL_URL: '{{ home_gateway_dispatcher_url }}cancelServices'
{% else %}
  HOME_GATEWAY_DISPATCHER_URL: null
{% endif%}
};

var ezweb_user_name = '{{ user.username }}';
var ezweb_user_screen_name = '{{ screen_name }}';
var ezweb_organizations = '{{ ezweb_organizations|safe }}';
var tag_categories = '{{ tag_categories|safe }}';
var _currentTheme = null;

var public_workspace = '{{ active_workspace }}';
var last_logged_user = '{{ last_user }}';
var post_load_script = '{{ post_load_script|safe }}';

var theme_images = {
  "icons": {
    "add": "add.png",
    "catalogue": "catalogue.png",
    "catalogue-wiki": "wiki.png",
    "catalogue-resource_compatible_event": "catalogue/resource_compatible_event.png",
    "catalogue-resource_compatible_slot": "catalogue/resource_compatible_slot.png",
    "close": "remove.png",
    "dragboard": "dragboard.png",
    "dragboard-wiki": "dragboard-wiki.png",
    "delete": "delete.png",
    "delete_highlighted": "delete-highlighted.png",
    "error": "error.png",
    "filter": "filter.gif",
    "go-first": "go-first.png",
    "go-first-disabled": "go-first-disabled.png",
    "go-last": "go-last.png",
    "go-last-disabled": "go-last-disabled.png",
    "go-next": "go-next.png",
    "go-next-disabled": "go-next-disabled.png",
    "go-previous": "go-previous.png",
    "go-previous-disabled": "go-previous-disabled.png",
    "igadget-extract": "igadget/extract.png",
    "igadget-exit_fulldragboard": "igadget/exit_fulldragboard.png",
    "igadget-fulldragboard": "igadget/fulldragboard.png",
    "igadget-lower": "igadget/lower.png",
    "igadget-lower_to_bottom": "igadget/lowerToBottom.png",
    "igadget-menu_colors": "igadget/menu_colors.png",
    "igadget-raise": "igadget/raise.png",
    "igadget-raise_to_top": "igadget/raiseToTop.png",
    "igadget-settings": "settings.png",
    "igadget-snap": "igadget/snap.png",
    "igadget-transparency": "igadget/transparency.png",
    "info": "info.png",
    "lock": "lock.png",
    "mark_tab_visible": "visible.png",
    "move": "menu_move.png",
    "rename": "rename.gif",
    "remove": "remove.png",
    "tab_preferences": "preferences.png",
    "unlock": "unlock.png",
    "warning": "warning.png",
    "wiring-filter_param": "filter-param.png",
    "workspace_preferences": "preferences.png",
    "channel-remove": "remove.png",
    "showcase-delete": "delete.png",
    "showcase-delete_highlighted": "delete-highlighted.png",
    "showcase-wiki": "wiki.png",
    "showcase-wiki_highlighted": "wiki-highlighted.png",
    "showcase-resource_image_not_available": "image_not_available.jpg",
    "show_floating":"show_floating.png",
    "solution": "solution.png",
    "wiring": "wiring.png",
    "workspace_merge": "workspace/merge.png",
    "workspace_active": "workspace/active.png",
    "workspace_publish": "publish.png",
    "init-dat": "init.dat"
  },

  "imagesToPreload": [
    "igadget/close-highlighted.png",
    "igadget/lower.png",
    "igadget/maximize.png",
    "igadget/minimize.png",
    "igadget/resize-handle-bottom-left.png",
    "igadget/settings2.png",
    "igadget/snap.png",
    "igadget/close.png",
    "igadget/lowerToBottom.png",
    "igadget/menu_colors.png",
    "igadget/raise.png",
    "igadget/resize-handle-bottom-right.png",
    "igadget/settings-highlighted.png",
    "igadget/transparency.png",
    "igadget/extract.png",
    "igadget/maximize-highlighted.png",
    "igadget/minimize-highlighted.png",
    "igadget/raiseToTop.png",
    "igadget/settings2-highlighted.png",
    "igadget/settings.png",

    "catalogue/resource-left-bottom.gif",
    "catalogue/resource-left-bottom-select.png",
    "catalogue/resource-left-bottom-tagmode.png",
    "catalogue/resource-left-fill.png",
    "catalogue/resource-left-fill-select.png",
    "catalogue/resource-left-fill-tagmode.png",
    "catalogue/resource-left-header.png",
    "catalogue/resource-left-top.png",

    "wiring/add.png",
    "wiring/checked.png",
    "wiring/inAnchorChannel.png",
    "wiring/inAnchorOutEnabled.png",
    "wiring/LminusDisabled.png",
    "wiring/Lplus.png",
    "wiring/outAnchorInEnabled.png",
    "wiring/outAnchor.png",
    "wiring/tree.gif",
    "wiring/unchecked.png",
    "wiring/checked14px.png",
    "wiring/checkedtab.png",
    "wiring/inAnchorInEnabled.png",
    "wiring/inAnchor.png",
    "wiring/Lminus.png",
    "wiring/outAnchorChannel.png",
    "wiring/outAnchorOutEnabled.png",
    "wiring/pipe.png",
    "wiring/unchecked14px.png",
    "wiring/wiringArrow.png",

    "error.png",
    "new.png"
  ]
};

var _SKINS = ["default"];
//default skin for workspaces. Users may change the skin of a workspace afterwards
var _DEFAULT_SKIN = 'default';


var _ONLY_ONE_CSS_FILE = '{{ only_one_css_file }}' == 'True';
var _EzWeb_RELEASE = '{{ ezweb_release }}';

var installed_apps = {{ installed_apps|safe }};

var remote_channels_enabled = '{{ remote_channels_enabled }}' == 'True';

var policy_lists = {{ policies|safe|default:"null" }};

</script>


<script type="text/javascript" src="{{ MEDIA_URL }}js/EzSteroidsAPI/EzSteroidsAPI.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.improvements.js"></script>
<script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>

{% if only_one_js_file %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/ezweb_{{ ezweb_release }}.js"></script>
{% else %}
   {% include "js_includes.js" %}
{% endif %}


<!-- Initialization code -->
<script type="text/javascript">
    var LANGUAGE_CODE = "{{LANGUAGE_CODE}}";
    var LANGUAGES = [];
    {% for lang in LANGUAGES %} LANGUAGES.push(["{{lang.0}}","{{lang.1}}"]);{% endfor %}

    function setLanguage(language) {
        var onSuccess = function() {
            window.location.reload();
        }

        var onError = function() {}

        var persistenceEngine = PersistenceEngineFactory.getInstance();
        var params = {language: language};
        persistenceEngine.send_post("/i18n/setlang/", params, this, onSuccess, onError);

        return false;
    }

    var opManager = OpManagerFactory.getInstance();
    opManager.loadEnviroment();
</script>
</body>
</html>
