{% load compress i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}{% trans "EzWeb Platform" %}{% endblock %}</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
	<![endif]-->

    <!-- Base css -->
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ezweb_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dragboard_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wiring_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue_core.css"  />
    {% endcompress %}
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie_core.css" />
    <![endif]-->

    <!-- Theme css -->
    {% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ezweb.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dragboard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wiring.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue_list.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default_catalogue.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css" />
    {% endcompress %}
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
    <![endif]-->
  {% endblock %}

  {% block meta %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
  {% endblock %}
</head>

<body>

<!-- Menu layer -->
<div id="menu_layer" style="display:none"></div>

<!-- Loading indicator -->
<div id="loading-window">
  <div id="loading-background"></div>
  <div id="loading-message" class="window_menu">
    <div class="window_top">
      <div id="loading-task-title" class="window_title">{% trans "Loading EzWeb Platform" %} 0%</div>
    </div>
    <div class="window_content">
      <div id="loading-indicator"></div>
      <div id="loading-subtask-title" class="msg">{% trans "Retrieving EzWeb code" %}: 0%</div>
    </div>
  </div>
</div>

<!-- HEADER -->
{% block header %}
{% block workspace_header %}
<div id="ws_header" class="global_header">

  <div id="ws_banner" class="banner">

    <div id="logo_placeholder" class="logo_placeholder">
      <img id="logo" class="logo_layout" src="{{ STATIC_URL }}images/Open_Ez_Logo.png" alt="Open EzWeb" width="244" height="36" />
    </div>

    <div id="toolbar_section" class="toolbar_section"></div>

    <div id="greeting">
      <!-- LOGS LINK -->
      <input type="button" id="logs_link" title="{% trans 'Show errors console' %}" onclick="OpManagerFactory.getInstance().showLogs();"/>
      <a href="http://forge.morfeo-project.org/wiki/index.php/FAQ" target="_blank" title="{% trans 'About EzWeb' %}">{% trans "About EzWeb" %}</a>
      <span> | </span>
      <a id="preferences_link" href="#" onclick="javascript:OpManagerFactory.getInstance().showPlatformPreferences(); return false;" title="{% trans 'Edit Settings' %}">{% trans "Settings" %}</a>
      <span> | </span>
      {% if is_anonymous %}
        <a href="/accounts/login/?next=/" title="{% trans 'Sign in' %}">{% trans "Sign in" %}</a>
        <span> | </span>
        <span id="user_section">{% trans "anonymous" %}</span>
      {% else %}
        <a href="#" onclick="javascript:OpManagerFactory.getInstance().logout()" title="{% trans 'Sign out' %}">{% trans "Sign out" %}</a>
        {%if AUTHENTICATION_SERVER_URL %}
          <span> | </span>
          <a href="{{AUTHENTICATION_SERVER_URL}}" title="{% trans 'Profile' %}">{% trans "Profile" %}</a>
        {%endif%}
        <span> | </span>
        <span id="user_section">{% if screen_name %}{{screen_name}}{% else %}{{user.username}}{% endif %}</span>
      {% endif %}
    </div> <!-- end of #greeting -->
  </div> <!-- end of #ws_banner -->

  <div id="bar" class="bar">
    <div id="ws_section_identifier" class="section_identifier">
      <div id="dragboard_link" class="area_name">
        <div id="workspace_name"></div>
      </div>
      <input id="go_to_link" class="application_selector" type="button" />
    </div>

    <div id="tab_section" class="tab_section">
      <input type="button" id="add_tab_link" title="{% trans 'Add more tabs' %}" class="toolbar_unmarked" onclick="$('add_tab_link').blur();OpManagerFactory.getInstance().activeWorkSpace.addTab();" value="{% trans 'Add Tab' %}"/>
      <input type="button" id="right_slider" title="go left" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goLeft();" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().leftTimeOut);"/>
      <div id="fixed_bar">
        <div id="scroll_bar">
          <div id="tab_marker" style="display:none"></div>
        </div>
      </div>
      <input type="button" id="left_slider" title="go right" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goRight();" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().rightTimeOut);"/>
    </div>

    <div id="message_section" class="message_section">
      <span id="message_box" class="message_box"></span>
    </div>
  </div> <!-- end of #bar -->

</div> <!-- end of #ws_header -->
{% endblock %}

{% block wiring_header %}
<div id="wiring_header" class="global_header" style="display:none">

  <div id="wiring_banner" class="banner">
    <div class="logo_placeholder">
      <img class="logo_layout" src="{{ STATIC_URL }}images/Open_Ez_Logo.png" alt="Open EzWeb" width="244" height="36" />
    </div>
    <div class="toolbar_section">
      <div class="toolbar_menu">
        <div id="wiring_dragboard_link" class="first_toolbar_button">
          <span class="icon-back icon-size" title="{% trans 'Back to my application' %}"/>
        </div>
        <div id="wiring_operate_link" class="last_toolbar_button selected_section">{% trans 'Operate' %}</div>
      </div>
      <div class="toolbar_menu_small visible">
        <div class="first_toolbar_button" id="newChannel">{% trans 'New channel' %}</div>
        <div class="last_toolbar_button " id="unfold_all_link">{% trans 'Unfold all' %}</div>
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="section_identifier">
      <div class="area_name">{% trans 'Wiring' %}</div>
    </div>
  </div> <!-- end of #wiring_banner -->
</div> <!-- end of #wiring_header -->
{% endblock %}

{% block catalogue_header %}
<div id="catalogue_header" class="global_header" style="display:none">
  <div id="catalogue_banner" class="banner">
    <div class="logo_placeholder">
      <img class="logo_layout" src="{{ STATIC_URL }}images/Open_Ez_Logo.png" alt="Open EzWeb" width="244" height="36" />
    </div>
    <div class="toolbar_section">
      <div class="toolbar_menu">
        <div id="catalogue_dragboard_link" class="first_toolbar_button">
            <span class="icon-back icon-size" title="{% trans 'Back to my application' %}"/>
        </div>
        <div id="search_button_toolbar" class="selected_section">{% trans "Search" %}</div>
        <div id="developers_button_toolbar" class="last_toolbar_button">Crear gadgets</div>
      </div>
    </div>
  </div>
  <div class="bar" id="catalogue_nav_bar">
    <div class="section_identifier">
      <div class="area_name">{% trans 'Gallery' %}</div>
    </div>

    <div class="tab_section">
      <div id="gadgets_button" class="tab current"><span>{% trans 'Gadgets' %}</span></div>
      <div id="mashups_button" class="tab"><span>{% trans 'Applications' %}</span></div>
    </div>
  </div> <!-- end of #catalogue_banner -->
</div> <!-- end of #catalogue_header -->
{% endblock %}

{% block logs_header %}
<div id="logs_header" class="global_header" style="display:none">
  <div class="banner">
    <div class="toolbar_section">
      <div class="toolbar_menu">
        <div id="logs_dragboard_link" class="first_toolbar_button">
            <span class="icon-back icon-size" title="{% trans 'Back to my application' %}"/>
        </div>
        <div id="logs_all_toolbar" class="selected_section">{% trans 'All' %}</div>
        <div id="logs_igadget_toolbar" class="last_toolbar_button">{% trans 'iGadget' %}</div>
      </div>
      <div class="toolbar_menu_small visible">
        <div class="first_toolbar_button" id="logs_clear_button">{% trans 'Clear' %}</div>
        <div class="last_toolbar_button" id="logs_save_button">{% trans 'Save' %}</div>
      </div>
    </div>
    <div class="title"></div>
  </div>
  <div class="bar">
    <div class="area_name"><div class="section_identifier"></div></div>
  </div>
</div> <!-- end of #logs_header -->
{% endblock %}
{% endblock %}

<div id="wrapper">

  <!-- DRAGBOARD LAYERS -->
  <div class="sidebar">
    <div class="sidebar_top">
      <a id="close_sidebar" class="closebutton"></a>
      <div class="sidebar_title">{% trans "Select Application" %}</div>
    </div>
    <div id="workspace_sidebar" class="sidebar_items"></div>
    <div id="add_workspace" class="add_workspace">{% trans "New Application" %}</div>
  </div>
  <!-- Initially empty (filled by javascript code)-->
  <!-- DRAGBOARD LAYERS -->

  <!-- WIRING LAYER -->
  <div id="wiring" class="container">
    <div id="wiring_wrapper">
      <div id="wiring_options">
        <div id="unfold_chkItem"><label>{% trans 'Unfold on starting' %}</label></div>
      </div>
      <div id="wiring_table">
        <div id="eventColumn" class="eventColumn">
          <div class="title folded">{% trans "EVENTS" %}
            <input name='event' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
          </div>
          <div id="events_list"></div>
        </div>

        <div class="inoutColumn">
          <div class="title">{% trans "CHANNELS" %}
            <input name='channels' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this, event);"/>
          </div>
          <div id="channels_list"></div>
        </div>

        <div id="slotColumn" class="slotColumn">
          <div class="title folded">{% trans "SLOTS" %}
            <input name='slot' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
          </div>
          <div id="slots_list"></div>
        </div>
        <div class="floatclearer"></div>
      </div>
    </div>
  </div>
  <!-- WIRING LAYER -->

  <!-- CATALOGUE LAYER -->
  <div id="catalogue_views">

    <!-- JavaScript Templates -->
    <script id="list_view_resource_structure_template" type="html/template">
      {% include "catalogue/resource.html" %}
    </script>

    <script id="list_view_resource_details_structure_template" type="html/template">
      {% include "catalogue/resource_details.html" %}
    </script>

    <script id="list_view_developer_info_structure" type="html/template">
      {% include "catalogue/developers.html" %}
    </script>

    <script id="pagination_structure" type="html/template">
      {% include "catalogue/pagination_template.html" %}
    </script>

    {% include "catalogue/template.html" %}
  </div>
  <!-- CATALOGUE LAYER -->

  <!-- SHOWCASE LAYER -->
  <div id="showcase" class="container showcase"></div>
  <!-- SHOWCASE LAYER -->

  <!-- LOGS LAYER -->
  <div id="logs_container" class="container">
    <div id="logs_console" class="container_content"></div>
  </div>
  <!-- LOGS LAYER -->
</div> <!-- end of #wrapper -->

<!-- JavaScript code -->

{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/strftime.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/strftime-locales.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/prototype/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common/jscolor/jscolor.js"></script>
{% endcompress %}
<script type="text/javascript">
var URIs = {
  USER: '/user/{{ user.username }}',
  GET_IGADGET: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}'),
  GET_IGADGETS: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/'),
  PUT_IGADGET_VERSION: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}/version'),
  GET_GADGET: new Template('/user/{{ user.username }}/gadgets/#{vendor}/#{name}/#{version}'),
  GET_GADGETS: '/user/{{ user.username }}/gadgets',
  GET_CONTEXT: '/user/{{ user.username }}/context',
  GET_CONTEXT_VALUE: new Template('/user/{{ user.username }}/context/#{concept}/value'),
  PLATFORM_PREFERENCES: '/user/{{ user.username }}/preferences/platform',
  WORKSPACE_PREFERENCES: new Template('/user/{{ user.username }}/preferences/workspace/#{workspace_id}'),
  TAB_PREFERENCES: new Template('/user/{{ user.username }}/preferences/tab/#{workspace_id}/#{tab_id}'),
  GET_POST_RESOURCES: '/user/{{ user.username }}/catalogue/resource',
  GET_RESOURCES_SIMPLE_SEARCH: '/user/{{ user.username }}/catalogue/search',
  GET_RESOURCES_GLOBAL_SEARCH: '/user/{{ user.username }}/catalogue/globalsearch',
  DELETE_TAG: '/user/{{ user.username }}/catalogue/tag',
  POST_RESOURCE_TAGS: '/user/{{ user.username }}/catalogue/tag',
  POST_RESOURCE_VOTES: '/user/{{ user.username }}/catalogue/voting',
  POST_IGADGET: new Template('/workspace/#{workspaceId}/tab/#{tabId}/igadgets'),
  PROXY: '/proxy',
  GET_IGADGET_VARIABLES: new Template('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables'),
  GET_POST_GADGET_VARIABLE: new Template('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables/#{varName}'),
  PUT_VARIABLES: new Template('/workspace/#{workspaceId}/variables'),
  GET_POST_WORKSPACES: '/workspaces',
  GET_POST_WIRING: new Template('/workspaces/#{id}/wiring'),
  GET_POST_WORKSPACE: new Template('/workspaces/#{id}/last_user/#{last_user}'),
  GET_POST_TABS: new Template('/workspace/#{workspace_id}/tabs'),
  TAB: new Template('/workspace/#{workspace_id}/tab/#{tab_id}'),
  POST_PUBLISH_WORKSPACE: new Template('/workspace/#{workspace_id}/publish'),
  GET_ADD_WORKSPACE: new Template('/workspace/#{workspace_id}/add?active=#{active}'),
  GET_MERGE_WORKSPACE: new Template('/workspace/#{from_ws_id}/merge/#{to_ws_id}'),
  PUT_SHARE_WORKSPACE: new Template('/workspace/#{workspace_id}/share/#{share_boolean}'),
  GET_SHARE_GROUPS: new Template('/workspace/#{workspace_id}/share/groups'),
  GADGET_TEMPLATE_GENERATOR: new Template('{{GADGET_GENERATOR_URL}}/gadgetGenerator/template/#{gadget_type}'),
  GET_MERGE_PUBLISHED_WORKSPACE: new Template('/workspace/published_workspace/#{published_ws}/merge/#{to_ws}'),
  POST_CREATE_EXTERNAL_CHANNEL: '/channel/external',
  GET_SUBSCRIBE_USER_TO_REMOTE_CHANNELS: new Template('/notifier/channels/register?channels=#{channels}&user={{ user.username }}'),
  POST_PUBLISH_REMOTE_CHANNELS: new Template('/notifier/channels/notify?channels=#{channels}'),
  POST_CHECK_VERSIONS: '/user/{{ user.username }}/catalogue/versions',
  ADD_RESOURCE_TO_APP: new Template('/user/{{ user.username }}/catalogue/application/#{application_id}/resource/#{resource_id}/link'),
  CONTRACT_APPLICATIONS_TRANSACTION: '/contract/subscribe/applications',
  FILE_UPLOADER: '/uploader',
  BASIC_THEME: '/ezweb/themes/default',
  ACTIVE_THEME: '{{ STATIC_URL }}',
{% if AUTHENTICATION_SERVER_URL %}
  EZSTEROIDS_API: '{{ AUTHENTICATION_SERVER_URL }}/api',
{% endif %}
{% if home_gateway_dispatcher_url %}
  HOME_GATEWAY_DISPATCHER_URL: '{{ home_gateway_dispatcher_url }}serviceGadgets?user={{ user.username }}',
  HOME_GATEWAY_DISPATCHER_UNSUBSCRIBE_URL: '{{ home_gateway_dispatcher_url }}unsubscribeServices',
  HOME_GATEWAY_DISPATCHER_CANCEL_URL: '{{ home_gateway_dispatcher_url }}cancelServices'
{% else %}
  HOME_GATEWAY_DISPATCHER_URL: null
{% endif%}
};

var ezweb_user_name = '{{ user.username }}';
var ezweb_user_screen_name = '{{ screen_name }}';
var ezweb_organizations = '{{ ezweb_organizations|safe }}';
var tag_categories = '{{ tag_categories|safe }}';
var _currentTheme = null;

var public_workspace = '{{ active_workspace }}';
var last_logged_user = '{{ last_user }}';
var post_load_script = '{{ post_load_script|safe }}';

var _SKINS = ["default"];
//default skin for workspaces. Users may change the skin of a workspace afterwards
var _DEFAULT_SKIN = 'default';


var _ONLY_ONE_CSS_FILE = '{{ only_one_css_file }}' == 'True';
var _EzWeb_RELEASE = '{{ ezweb_release }}';

var installed_apps = {{ installed_apps|safe }};

var remote_channels_enabled = '{{ remote_channels_enabled }}' == 'True';

var policy_lists = {{ policies|safe|default:"null" }};

</script>


<script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/EzSteroidsAPI/EzSteroidsAPI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/prototype/prototype.improvements.js"></script>
{% include "js_includes.js" %}
{% endcompress %}

{% block extra_scripts %}{% endblock %}

<!-- Initialization code -->
<script type="text/javascript">
    var LANGUAGE_CODE = "{{LANGUAGE_CODE}}";
    var LANGUAGES = [];
    {% for lang in LANGUAGES %} LANGUAGES.push(["{{lang.0}}","{{lang.1}}"]);{% endfor %}

    function setLanguage(language) {
        var onSuccess = function() {
            window.location.reload();
        }

        var onError = function() {}

        var persistenceEngine = PersistenceEngineFactory.getInstance();
        var params = {language: language};
        persistenceEngine.send_post("/i18n/setlang/", params, this, onSuccess, onError);

        return false;
    }

    var opManager = OpManagerFactory.getInstance();
    opManager.loadEnviroment();
</script>
</body>
</html>
