<div id="catalogue_views">

    <!-- JavaScript Templates -->
    <script id="list_view_resource_structure_template" type="html/template">
        {% include "catalogue/resource.html" %}
    </script>

    <script id="list_view_resource_details_structure_template" type="html/template">
        {% include "catalogue/resource_details.html" %}
    </script>

    <script id="list_view_developer_info_structure" type="html/template">
        {% include "catalogue/developers.html" %}
    </script>

    <script id="pagination_structure" type="html/template">
        {% include "catalogue/pagination_template.html" %}
    </script>

    {% include "catalogue/template.html" %}
</div>