{% load i18n %}
<div class="header_resource"></div>
<div class="left_column_resource">
    <div><img src="#{image_url}" class="image click_for_details"></div>
    <button class="instanciate_button #{type}">#{button_text}</button>
</div>
<div class="right_column_resource">
    <div>
        <div class="resource_name click_for_details">#{name}</div>
        <div class="popularity">#{average_popularity}</div>
    </div>
    <div class="desc padding_left">#{description}</div>
    <div class="tags">
        <div class="bold floating_left padding_left">{% trans 'Tags:' %}</div>
        <div class="tag_links padding_left"></div>
    </div>
    <div class="footer_resource"></div>
</div>
