.emptyWorkspaceInfoBox {
    max-width: 582px;
    border-radius: 7px;
    padding: 18px;
    margin: 10px;
    border: 2px dashed rgba(62, 128, 173, 0.5);
}

.emptyWorkspaceInfoBox > .alert {
    margin: 0;
}

.emptyWorkspaceInfoBox > .alert a {
    font-weight: bold;
    color: #3A87AD;
}

.emptyWorkspaceInfoBox > .alert a:hover {
    color: #60C1CF;
}
