{% load i18n %}
<div class="back_part">
	<div class="back_to_resource_list link">« {% trans 'Close resource details' %}</div>
</div>

<div class="content_part">
<div class="resource_details">

    <div class="left_column_resource">
        <img src="#{image_url}" class="image"/>
        <div class="buttons">
            <button class="instantiate_button">#{button_text}</button>
        </div>
    </div>

    <div class="right_column_resource">
        <div>
            <h2 class="resource_name">#{name}</h2>
            <div class="popularity">#{average_popularity}</div>
        </div>

		<div class="fiware_descriptions">
		<h3>{% trans 'Description' %}</h3>
        <div class="desc padding_left">#{longDescription}</div>
		</div>

        <h3>{% trans 'Tags' %}</h3>
        <div class="tag_links padding_left"></div>

        <h3>{% trans 'Detailed data' %}</h3>
		<div><span class="attr_title">{% trans 'Store:' %}</span> <span>#{store}</span></div>
		<div><span class="attr_title">{% trans 'Type:' %}</span> <span>#{type}</span></div>
        <div><span class="attr_title">{% trans 'Vendor:' %}</span> <span>#{vendor}</span></div>
        <div><span class="attr_title">{% trans 'Name:' %}</span> <span>#{name}</span></div>
        <div><span class="attr_title">{% trans 'Version:' %}</span> <span>#{version}</span></div>
        <div><span class="attr_title">{% trans 'Created:' %}</span> <span>#{created}</span></div>
		<div><span class="attr_title">{% trans 'Modified:' %}</span> <span>#{created}</span></div>
        <div><span class="attr_title">{% trans 'Available versions:' %}</span> <span>#{versions}</span></div>
		<div><span class="attr_title">{% trans 'More info at:' %}</span> <span class="link"><a target="_blank" href="#{page}">#{page}</a></span></div>
        <h3>{% trans 'Advanced operations' %}</h3>
        <div class="advanced_operations"></div>
    </div>
    <div class="footer_resource"></div>
</div>
</div>
