{% load i18n %}
<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
<s:borderlayout>

    <s:northcontainer>

        <s:options>{"class": "search_bar"}</s:options>

        <t:pagination />

    </s:northcontainer>

    <s:westcontainer>
        <s:options>{"class": "search_bar"}</s:options>

        <div>
            <label>{% trans 'Order by:' %}</label>
            <t:orderby />
        </div>

        <div>
            <label>{% trans 'Widgets per page:' %}</label>
            <t:widgetsperpage />
        </div>

        <h2>Filtering</h2>
        <div>
            <input class="simple_search_text" type="text" />
            <t:reset_button />
        </div>

    </s:westcontainer>

    <s:centercontainer>
        <s:options>{"class": "resource_list"}</s:options>
    </s:centercontainer>

</s:borderlayout>
</s:styledgui>
