/*
 * BODY
 */

/* global background */
body.catalogue_view {
	background: white;
}

/*
 * HEADER section
 */

/* banner */
#catalogue_banner {
	background: white;
}

#catalogue_header, #catalogue_header a{
	color:#4C5054;
}

/* toolbar button marked */
#catalogue_banner .toolbar_menu > div.selected_section,  
#catalogue_banner .toolbar_menu > div.selected_section:hover {
	color: #4C5054;
	font-weight: bold;
	background: #FFDE6B;
}

/* toolbar button unmarked */
#catalogue_banner .toolbar_menu > div {
	color: white;
	font-weight: bold;
	background: #0066B3;
	border-color: #C2CBD2;

}

/* toolbar button unmarked on hover*/
#catalogue_banner .toolbar_menu > div:hover {
	color: white;
	font-weight: bold;
	background: #0066B3;
	text-decoration: underline;
}

/* TABS */

/* not selected tab */
#catalogue_nav_bar .tab_section .tab {
	color: #4c5054;
	background: transparent;
	border-color: transparent;
	font-weight: bold;
}

#catalogue_nav_bar .tab_section .tab:hover {
	color: #4c5054;
	border-color: #C2CBD2;
	background: #FFDE6B;
}

/* selected tab */
#catalogue_nav_bar .tab_section .current, #catalogue_nav_bar .tab_section .current:hover {
 	color: #4c5054;
  	background: #FFDE6B;
  	border-color: #C2CBD2;
}

/*
 * WRAPPER section
 */

/* left_bar */
#left_bar{
	background: ;
	border-color: #C2CBD2;
	color: #4C5054;
}


/* resources */

#catalogue_content{
	background: ;
	border-color: #C2CBD2;
	color: #4C5054;
}
