#header {
	background: none repeat scroll 0 0 white !important;
	height: 25px !important;
    padding: 10px 0;
}

#more {
    color: #4C5054;
    float: right;
    position: absolute;
    right: 17px;
    text-decoration: none;
    top: 0px;
    z-index: 10000;    
}

#more img {
    border: none;
}

#logs_link {
    position: absolute;
    top: -15px;
}

#lite_toolbar_section {
	margin-top:0;
	position: relative;
	float:left;
}

#lite_toolbar_section .toolbar_marked, #lite_toolbar_section .toolbar_unmarked{
	top: 2px;
}

#lite_toolbar_section .toolbar_marked{
    height: 24px;
	background:  transparent url(../images/toolbar_marked_bg.jpg) no-repeat scroll 0 0;
}

#lite_toolbar_section #workspace_link_container  .toolbar_unmarked {
    border: 1px solid #CCD8E3;
    cursor: pointer;
    height: 22px;
    margin-top: 0;
}

#ws_operations_link{
	background: transparent url(../images/tabops16px.png) no-repeat scroll 0 0 !important;
	border: medium none;
	height: 24px;
    margin:1px 0 0 -2px;
}

#workspace_link_container {
    margin-top: 2px;
}

#dragboard_link.toolbar_marked {
    margin-right: 0;
    margin-top: 0;
    -moz-border-radius: 0;
    float: left;
}

#workspace_menu_link {
	float: left;
	clear: none !important;
	margin: 0;
    padding-top: 1px !important;
}

#ws_operations_link {
    height: 24px !important;
}


#tab_section .tab {
    border: 1px solid #e4e4e4;
    height: 24px;
}

#tab_section {
	top:4px;
	width: auto;
	padding-right: 10px;
}

#bar{
    bottom: auto;
    width: 100%;
    margin-top: 0.5em;
}

#bar span,
#bar input {
    font-size: 10px;
}

#tab_section #left_slider {
    padding-left: 20px;
    background-position: right top;
}

/* view */
.gadget_menu input.igadget_name {
    width: 70%;
}

/* añadir gadget */
#catalogue #left_bar {
    width: 24% !important;
    max-width: 163px !important;
}

/* conect gadget */
#wiring .tab {
    background-image: none;
}

#wiring .eventColumn{
    padding-left: 0;
    width: 23%;
}
#wiring .eventColumn .tab .header,
#wiring .eventColumn .tab > .header {
    padding-right: 10px!important;
}

#wiring .slotColumn {
    padding-right: 0;
    width: 23%;
}

#wiring .slotColumn .tab .header,
#wiring .slotColumn .tab > .header {
    padding-left: 10px!important;
}

#wrapper #wiring .inoutColumn {
    left: 15%;
    width: 25%;
}

#wiring .channelPipe input.channelNameInput {
    width: 80%;
    margin: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#workspace_menu_link {
    margin-top: -2px;
}
input.tabOps_launcher {
    line-height: 25px;
}
}
