.wiring_editor .anchor {
    /*background: rgb(122, 152, 192);*/
    position: absolute;
    display: inline;
    width: auto;
    height: auto;
    margin: 2px;
    border-radius: 16px;
    -webkit-transition: box-shadow 500ms ease-in 150ms;
    -moz-transition: box-shadow 500ms ease-in 150ms;
    -o-transition: box-shadow 500ms ease-in 150ms;
    z-index: 3;
    font-family: FontAwesome;
    font-size: 1.5em;
}

.wiring_editor .grid .anchor {
    cursor: pointer;
}

.wiring_editor .sources .anchor {
    right: -1em;
    position: absolute;
    right: -0.6em;
    color: rgba(69, 145, 170, 0.90);
}

.wiring_editor .targets .anchor {
    left: -1em;
    position: absolute;
    left: -0.6em;
    color: rgba(209, 125, 58, 0.90);
}

.wiring_editor .menubar .sources .anchor {
    width: 1em;
    height: 1em;
}

.wiring_editor .menubar .targets .anchor {
    width: 1em;
    height: 1em;

}

.wiring_editor .sources .anchor.disabled {
    opacity: 0.7;
}

.wiring_editor .targets .anchor.disabled {
    opacity: 0.7;
}

.wiring_editor .targets .anchor:hover {
    box-shadow: 0 0 20px rgba(255, 103, 0, 1);
}

.wiring_editor .sources .anchor:hover {
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
}

/* Ghost Anchor */
.wiring_editor .grid .container .anchorDiv.ghost .anchor {
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0px 0px 7px rgb(167, 71, 71), 0px 0px 5px rgb(236, 0, 0);
}
