.wiring_editor .canvas .arrow {
    fill:   none;
    cursor: crosshair;
    opacity: 0.5;
}

.wiring_editor .canvas .arrow.selected {
    opacity: 1;
}

.wiring_editor .canvas .arrow.emphasize{
    opacity: 1;
}

.wiring_editor .canvas .arrow .arrowbody {
    stroke: rgb(214, 214, 214);
    stroke-width: 0.4em;
}

.wiring_editor .canvas .arrowborder {
    stroke: rgb(110, 110, 110);
    stroke-width: 0.65em;
}

.wiring_editor .canvas .pullerBall {
    stroke: black;
    fill:   rgba(138, 131, 226, 0.9);
    stroke-width: 0.03em;
    display: none;
}

.wiring_editor .canvas .pullerLine {
    stroke: rgb(128, 128, 128);
    stroke-width: 0.03em;
    display: none;
    stroke-dasharray: 2;
}

.wiring_editor .canvas .selected .arrowbody, .wiring_editor .canvas .selected.emphasize .arrowbody {
    stroke: rgb(214, 214, 214);
    stroke-width: 0.4em;
}

.wiring_editor .canvas .selected .arrowborder, .wiring_editor .canvas .selected.emphasize .arrowborder {
    stroke: orange;
    stroke-width: 0.8em;
}

.wiring_editor .canvas .emphasize .arrowbody {
    stroke: rgba(138, 131, 226, 0.9);
    fill:   none;
    stroke-width: 0.4em;
}

.wiring_editor .canvas .emphasize .arrowborder {
    stroke: black;
    fill:   none;
    stroke-width: 0.65em;
}

.wiring_editor .canvas .closer {
    stroke: black;
    fill:   red;
    fill-opacity:1;
    stroke-width: 0.03em;
    display: none;
}

.wiring_editor .canvas .selected .closer {
    display: inline;
}

.wiring_editor .canvas .selected .pullerBall {
    display: inline;
}

.wiring_editor .canvas .selected .pullerLine {
    display: inline;
}

/* Hollow arrows */
.wiring_editor .canvas .arrow.hollow .arrowbody {
	stroke: rgb(214, 214, 214);
}

.wiring_editor .canvas .arrow.hollow .arrowborder {
	stroke: rgb(209, 122, 122);
}

/* Read Only */
.wiring_editor .canvas .readOnly .closer {
    fill: #30F;
}

.wiring_editor .canvas .readOnly .closer:hover {
    display: inline;
    fill: red;
}

.wiring_editor .canvas .readOnly .arrowborder {
    stroke: #30F;
}

/* Ghost arrows */
.wiring_editor .canvas .arrow.ghost .arrowbody {
	stroke: rgb(255, 255, 255);
}

.wiring_editor .canvas .arrow.ghost .arrowborder {
    stroke: rgb(138, 136, 136);
    stroke-dasharray: 2;
}
