/* ColorSmartBox */
.wiringPreview .smartBox {
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.wiringPreview .smartBox > .rightDiv {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
}

.wiringPreview .smartBox > .rightDiv > div {
    white-space: nowrap;
    height: 18px;
    line-height: 18px;
    margin: 0px;
}

.wiringPreview .smartBox > .rightDiv > .southDiv {
    margin-top: 2px;
}

.wiringPreview .source > .smartBox {
    right: -39px;
}

.wiringPreview .target > .smartBox {
    left: -39px;
}

.wiringPreview .smartBox .subSmartBox {
    display: inline-block;
    margin: 1px;
    font-family: Comfortaa;
    color: rgb(243, 245, 217);
    font-size: 18px;
    line-height: 39px;
    height: 38px;
    text-align: center;
    width: 38px;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #7A6E57;
    cursor: pointer;
}

.wiringPreview .smartBox > .subSmartBox.half {
    width: 18px;
    vertical-align: middle;
}

.wiringPreview .smartBox > .rightDiv > div > .subSmartBox {
    width: 18px;
    line-height: 19px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Highlight  subSmartBoxes*/
.wiringPreview .smartBox .subSmartBox.highlighted {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #BB0800;
}

/* Colors */
.wiringPreview .smartBox .subSmartBox.previewColor0 {
    background-color: #006dcc;
}

.wiringPreview .smartBox .subSmartBox.previewColor1 {
    background-color: #da4f49;
}

.wiringPreview .smartBox .subSmartBox.previewColor2 {
    background-color: #5bb75b;
}

.wiringPreview .smartBox .subSmartBox.previewColor3 {
    background-color: #faa732;
}

.wiringPreview .smartBox .subSmartBox.previewColor4 {
    background-color: #6D3353;
}

.wiringPreview .smartBox .subSmartBox.previewColor5 {
    background-color: #296629;
}

.wiringPreview .smartBox .subSmartBox.previewColor6 {
    background-color: #49afcd;
}

.wiringPreview .smartBox .subSmartBox.previewColor7 {
    background-color: #333;
}

.wiringPreview .smartBox .subSmartBox.previewColor8 {
    background-color: #C97F83;
}

.wiringPreview .smartBox .subSmartBox.previewColor9 {
    background-color: #805BA3;
}

.wiringPreview .smartBox .subSmartBox.previewColor10 {
    background-color: #A79B9B;
}

.wiringPreview .smartBox .subSmartBox.previewColor11 {
    background-color: #919448;
}

.wiringPreview .smartBox .subSmartBox.previewColor12 {
    background-color: #6D0000;
}
