.wiring_editor {
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size:12px;
}

.wiring_editor .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.wiring_editor .canvas.elevated {
    z-index: 2;
}

.wiring_editor .menubar {
    vertical-align: middle;
    overflow-x: visible;
    overflow-y: auto;
    width: 180px;
}

.wiring_editor .menubar .disabled {
    pointer-events: none;
}

.wiring_editor .grid {
    font-size: 1.05em;
}

.wiring_editor .grid.selecting {
    cursor: url('../../images/wiring/cursorAdd.png'), crosshair;
}

.wiring_editor .menubar .styled_expander {
    margin: 3px;
    border: none;
}

.wiring_editor .menubar .styled_expander > div {
    font-size: 120%;
}

.wiring_editor .menubar .styled_expander .title {
    font-style: normal;
    text-shadow: none;
}

.wiring_editor .menubar .styled_expander.expanded .contents {
    white-space: nowrap;
    font-size: 0.7em;
    padding: 1ex;
}

.wiring_editor .menubar .styled_expander .widgetsIcon {
    background: url('../../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}

.wiring_editor .menubar .styled_expander .operatorsIcon {
    background: url('../../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}

/* Control panel */
.wiring_editor .grid .controlPanel {
    float: right;
    font-size: 3ex;
    width: 50px;
    background: rgb(223, 122, 98);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 8px;
    box-shadow: 2px 2px 3px grey;
    margin-right: 10px;
    position: relative;
}

.wiring_editor .grid .controlPanel .ResizeAllOperatorsButton {
    z-index: 1;
    cursor: pointer;
    margin: 8px;
}
