.wiring_editor {
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size:12px;
}

.wiring_editor .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.wiring_editor .menubar {
    vertical-align: middle;
    overflow-x: visible;
    overflow-y: auto;
    width: 180px;
    padding: 5px 0px 0px 5px;
}

.wiring_editor .menubar .ioperator.disabled,
.wiring_editor .menubar .iwidget.disabled,
.wiring_editor .clon {
    pointer-events: none;
}

.wiring_editor .grid.selecting {
    cursor: url('../../images/wiring/cursorAdd.png'), crosshair;
}

.wiring_editor .menubar .se-expander.expanded .panel-body {
    white-space: nowrap;
    font-size: 0.7em;
    padding: 1ex;
}

/* Entities max-width */
.wiring_editor .calculateEntitySizeDiv {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}
