/* generic entities --> widgets and operators */
.wiring_editor .ioperator {
    background: rgba(220, 240, 220, 0.8);
}

.wiring_editor .iwidget {
    background: rgba(230, 228, 231, 0.8);
}

.wiring_editor .ioperator, .wiring_editor .iwidget {
    -webkit-transition: background 500ms ease-in 250ms;
    -moz-transition: background 500ms ease-in 250ms;
    -o-transition: background 500ms ease-in 250ms;
    padding-bottom: 2px;
    border: 1px solid #B4B4B4;
    padding-bottom: 8px;
    border-radius: 1.25ex 1.25ex 1.25ex 1.25ex;
    pointer-events: auto;
    position: absolute;
}
 /* subdataMode */
.wiring_editor .ioperator.subdataMode {
    pointer-events: none;
    background: rgba(220, 240, 220, 0.3);
}

.wiring_editor .iwidget.subdataMode {
    pointer-events: none;
    background: rgba(230, 228, 231, 0.3);
}

.wiring_editor .grid .subdataMode .geContainer {
    -webkit-transition: opacity 500ms ease-in 250ms;
    -moz-transition: opacity 500ms ease-in 250ms;
    -o-transition: opacity 500ms ease-in 250ms;
    opacity: 0.3;
}

.wiring_editor .grid .subdataMode .header {
    -webkit-transition: opacity 500ms ease-in 250ms;
    -moz-transition: opacity 500ms ease-in 250ms;
    -o-transition: opacity 500ms ease-in 250ms;
    opacity: 0.3;
}

.wiring_editor .grid .geContainer {
    position: relative;
    display: inline;
}

.wiring_editor .grid .geContainer .header {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 15px;
    padding: 8px;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
}

.wiring_editor .grid .geContainer .sources {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
}

.wiring_editor .grid .geContainer .targets {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
}

.wiring_editor .grid .header .closebutton {
    font-family: FontAwesome;
    background: transparent;
    top: -7px;
    float: right;
    margin-right: 0px;
    font-size: 15px;
    color: rgb(83, 83, 134);
}

/* edit Button */
.wiring_editor .grid .header .editPos_button {
    float: left;
    font-family: FontAwesome;
    top: -7px;
    font-size: 15px;
    color: rgb(83, 83, 134);
}

/* anchorDivs */
.wiring_editor .grid .geContainer .anchorDiv {
    white-space: nowrap;
}

/* buttonsDiv */
.wiring_editor .grid .buttonsDiv {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
}

.wiring_editor .grid .sources .buttonsDiv {
    width: 0px;
    right: 2px;
}

.wiring_editor .grid .targets .buttonsDiv {
    width: 0px;
    left: -7px;
}

/* multiconnector button */
.wiring_editor .grid .multiconnector_icon {
    display: block;
    cursor: pointer;
    margin: 0;
    color: rgb(83, 83, 134);
}

.wiring_editor .grid .sources .multiconnector_icon {
	font-family: fontAwesome;
}

.wiring_editor .grid .targets .multiconnector_icon {
    font-family: fontAwesome;
}

/* Tree button */
.wiring_editor .grid .sources .treeButton_icon {
	font-family: fontAwesome;
	margin: 0;
	color: rgb(83, 83, 134);
}

.wiring_editor .grid .sources .treeButton_icon {
	font-family: fontAwesome;
}

.wiring_editor .grid .sources .treeButton_icon.activated {
	font-family: fontAwesome;
}

.wiring_editor .sources .labelDiv, .wiring_editor .targets .labelDiv {
    border-radius: 15px;
    -webkit-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
    -moz-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
    -o-transition: background-color 500ms ease-in 250ms, color 750ms ease-out, box-shadow 500ms ease-in 250ms;
}
.wiring_editor .labelDiv {
    padding: 4px 6px;
    display: inline-block;
    font-weight: normal;
    margin-top: 1px;
	margin-bottom: 1px;
}

.wiring_editor .sources .labelDiv {
    margin-right: -6px;
}

.wiring_editor .targets .labelDiv {
    margin-left: -6px;
}

/* anchorTree */
.wiring_editor .grid .anchorTree {
	/*margin: auto;*/
	background: rgb(197, 197, 197);
    display: none;
    opacity: 0.9;
    border-radius: 25px 4px 25px 25px;
    box-shadow: 0px 0px 50px 5px black;
}

.wiring_editor .grid .tree {
	position: relative;
}

.wiring_editor .grid .anchorTree.activated {
	display: block;
    position: relative;
    pointer-events: auto;
    opacity: 1;
}

.wiring_editor .grid .anchorTree .subTree {
    display: inline-block;
    border-right: 2px solid black;
    border-radius: 12px;
}

.wiring_editor .grid .anchorTree .labelsFrame {
    display: inline-block;
    text-align: right;
    position: relative;
}

.wiring_editor .grid .anchorTree .dataTree {
    padding: 2px;
    position: relative;
    border-radius: 15px;
    font-weight: normal;
    margin: 0;
}

.wiring_editor .grid .anchorTree .dataTree .labelTree {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    z-index: 3;
}

.wiring_editor .grid .anchorTree .dataTree .subAnchor {
    display: inline-block;
    margin: 2px;
    position: relative;
    width: 12px;
    height: 12px;
    font-size: 1.4em;
    background: transparent;
    color: rgb(22, 85, 248);
}

.wiring_editor .grid .anchorTree .dataTree.leaf {
    display: block;
}

.wiring_editor .grid .anchorTree .hideTreeButton {
    color: rgb(22, 85, 248);
    position: absolute;
    right: -2px;
    top: -1px;
    font-size: 1.3em;
    z-index: 3;
}

/* menubar entities */
.wiring_editor .menubar .ioperator .header, .wiring_editor .menubar .iwidget .header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 5px;
    padding: 8px;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
}

.wiring_editor .menubar .ioperator, .wiring_editor .menubar .iwidget {
    position: relative;
    padding-bottom: 0em;
    margin: 1em 1em;
    vertical-align: middle;
    line-height: 1em;
    z-index: 10;
    border: 1px solid #B4B4B4;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
    pointer-events: auto;
}

/* edit mode */
.wiring_editor .ioperator.editing .header, .wiring_editor .iwidget.editing .header {
    cursor: default;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 5px;
    padding: 8px;
    color: #1D1D2F;
    text-overflow: ellipsis;
}

.wiring_editor .ioperator.editing {
    background: rgba(206,220,180,0.8);
}

.wiring_editor .iwidget.editing {
    background: rgba(206,220,231,0.8);
}

.wiring_editor .sources.editing .labelDiv {
    color: black;
    cursor: move;
    box-shadow: inset 0 0 6px #000000;
}

.wiring_editor .targets.editing .labelDiv {
    color: black;
    cursor: move;
    box-shadow: inset 0 0 6px #000000;
}

.wiring_editor .sources .moving .labelDiv {
    box-shadow: inset 0 0 10px hsla(240, 94%, 50%, 0.5);
    color: blue;
}

.wiring_editor .targets .moving .labelDiv {
    box-shadow: inset 0 0 10px hsla(20, 100%, 50%, 0.5);
    color: #FF5500;;
}

/* clone slots and events during editing Drag&Drop */
.wiring_editor .border_layout .source_clon {
    position: absolute;
    margin-top: 2px;
}

.wiring_editor .border_layout .target_clon {
    position: absolute;
    margin-top: 2px;
}

.wiring_editor .border_layout .source_clon .labelDiv{
    display: inline-block;
    float: right;
    margin-right: 14px;
    margin-top: 6px;
    background: rgba(0, 168, 151, 0.6);
    color: blue;
    border-radius: 15px;
    opacity: 0.5;
    cursor: move;
    white-space: nowrap;
}

.wiring_editor .border_layout .target_clon .labelDiv{
    display: inline-block;
    float: left;
    margin-left: 14px;
    margin-top: 6px;
    background: rgba(255, 151, 82, 0.6);
    color: #FF5500;
    border-radius: 15px;
    opacity: 0.5;
    cursor: move;
    white-space: nowrap;
}

.wiring_editor .border_layout .target_clon .buttonsDiv, .wiring_editor .border_layout .source_clon .buttonsDiv, .wiring_editor .border_layout .target_clon .anchor, .wiring_editor .border_layout .source_clon .anchor {
    display: none;
}

/* clone mini widget for Drag&Drop from menubar to grid */
.wiring_editor .border_layout .ioperator.clon, .wiring_editor .border_layout .iwidget.clon {
    position: absolute;
    font-size: 0.95em;
    z-index: 20;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
    overflow: hidden;
    font-weight: bold;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.wiring_editor .border_layout .ioperator.clon .header, .wiring_editor .border_layout .iwidget.clon .header {
    padding-top: 4px;
}

/* SELECTED OBJECTS */
.wiring_editor .grid .ioperator.selected {
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 180);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

 .wiring_editor .grid .iwidget.selected {
    background-color: #DF7A62;
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 231);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

/* highlight events and slots by semantic */
/*colorCodes = {'EQUIVALENT': 'green', 'SUBSUMED':'green', 'SUBSUMES':'orange', 'DISJOINT':'red', 'OVERLAP':'grey', 'NONE':'grey'}*/

 .wiring_editor .sources .highlight span, .wiring_editor .targets .highlight_main span {
    pointer-events: none;
}

.wiring_editor .targets .highlight span, .wiring_editor .sources .highlight_main span {
    pointer-events: none;
}

.wiring_editor .highlight.equivalent {
    background: green;
    color: white;
}

.wiring_editor .highlight.subsumed {
    background: green;
    color: white;
}

.wiring_editor .highlight.subsumes {
    background: orange;
    color: black;
}

.wiring_editor .highlight.haspart {
    background: orange;
    color: black;
}

.wiring_editor .highlight.disjoint {
    background: red;
    color: white;
}

.wiring_editor .highlight.overlap {
    background: grey;
    color: white;
}

.wiring_editor .highlight.none {
    background: grey;
    color: white;
}
