/* generic entities --> widgets and operators */
.wiring_editor .ioperator {
    background: rgba(220, 240, 220, 0.8);
}

.wiring_editor .iwidget {
    background: rgba(230, 228, 231, 0.8);
}

.wiring_editor .ioperator, .wiring_editor .iwidget {
    -webkit-transition: background 600ms;
    -moz-transition: background 600ms;
    -o-transition: background 600ms;
    transition: background 600ms;
    -webkit-transition: box-shadow 600ms;
    -moz-transition: box-shadow 600ms;
    -o-transition: box-shadow 600ms;
    transition: box-shadow 600ms;
    padding-bottom: 0.65em;
    border: 1px solid #B4B4B4;
    border-radius: 1.25ex 1.25ex 1.25ex 1.25ex;
    pointer-events: auto;
    position: absolute;
}

/* ghost mode */
.wiring_editor .ioperator.ghost, .wiring_editor .iwidget.ghost {
    opacity: 0.5;
}

.wiring_editor .ioperator.ghost .ghostNotification, .wiring_editor .iwidget.ghost .ghostNotification {
    color: #F00;
    font-size: 0.9ex;
    display: block;
}

.wiring_editor .ioperator.ghost .header span, .wiring_editor .iwidget.ghost .header span {
    font-style: italic;
}

/* flex */
.wiring_editor .ioperator.flex, .wiring_editor .iwidget.flex {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

/* subdataMode */
.wiring_editor .ioperator.subdataMode {
    background: rgba(220, 240, 220, 0);
    pointer-events: none;
    box-shadow: 0px 0px 25px 5px rgba(113, 172, 113, 0.4);
}

.wiring_editor .iwidget.subdataMode {
    background: rgba(230, 228, 231, 0);
    pointer-events: none;
    box-shadow: 0px 0px 25px 5px rgba(70, 70, 70, 0.4);
}

.wiring_editor .grid .subdataMode .geContainer {
    opacity: 1;
}

.wiring_editor .grid .subdataMode .geContainer .targets, .wiring_editor .grid .subdataMode .geContainer .sources {
    opacity: 0;
}

.wiring_editor .grid .geContainer {
    position: relative;
    display: block;
    overflow: visible;
}

.wiring_editor .grid .geContainer .header {
    position: relative;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 1em;
    padding: 0.55em 0.4em;
    color: #1D1D2F;
    cursor: move;
}

.wiring_editor .grid .geContainer .sources {
    position: relative;
    display: inline-block;
    margin: 0.17em 0em;
    vertical-align: top;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
}

.wiring_editor .grid .geContainer .targets {
    position: relative;
    display: inline-block;
    margin: 0.17em 0em;
    vertical-align: top;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
}

.wiring_editor .grid .header span {
    position: relative;
    display: inline-block;
    padding: 0em 1.8em 0em 1.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

.wiring_editor .grid .header .closebutton {
    position: absolute;
    font-family: FontAwesome;
    top: 0.2em;
    right: 0.2em;
    margin-right: 0;
    font-size: 0.99em;
    color: rgb(83, 83, 134);
}

/* edit Button */
.wiring_editor .grid .header .editPos_button {
    position: absolute;
    font-family: FontAwesome;
    top: 0.2em;
    left: 0.2em;
    font-size: 0.99em;
    color: rgb(83, 83, 134);
}

/* log button */
.wiring_editor .grid .header > .logbutton {
    font-family: FontAwesome;
    float: right;
    font-size: 0.99em;
    color: rgb(83, 83, 134);
    position: absolute;
    right: 1em;
    top: 0.2em;
}

.wiring_editor .grid .header > .logbutton.disabled {
    visibility: hidden;
}

/* miniOperator version status */
.wiring_editor .menubar .ioperator .header .status, .wiring_editor .menubar .iwidget .header .status{
    position: absolute;
    right: -3px;
    top: -1px;
    color:  #B9442E;
    display: none;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.1em;
}

.wiring_editor .menubar .ioperator.old .header .status, .wiring_editor .menubar .iwidget.old .header .status{
    display: inline-block;
}
/* Operator version status */
.wiring_editor .grid .ioperator .header .status, .wiring_editor .grid .iwidget .header .status{
    position: absolute;
    right: 0;
    top: 1.4em;
    color: rgb(185, 68, 46);
    display: none;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 0.8em;
    width: 0;
    z-index: 1;
}

.wiring_editor .grid .ioperator.old .header .status, .wiring_editor .grid .iwidget.old .header .status{
    display: inline-block;
}

/* anchorDivs */
.wiring_editor .grid .geContainer .anchorDiv {
    white-space: nowrap;
}

.wiring_editor .grid .geContainer .anchorDiv.ghost {
    color: rgba(185, 0, 0, 0.67);
}

.wiring_editor .sources .labelDiv, .wiring_editor .targets .labelDiv {
    border-radius: 1.25em;
    -webkit-transition: background-color 400ms ease-in 150ms, color 550ms ease-out, box-shadow 400ms ease-in 150ms;
    -moz-transition: background-color 400ms ease-in 150ms, color 550ms ease-out, box-shadow 400ms ease-in 150ms;
    -o-transition: background-color 400ms ease-in 150ms, color 550ms ease-out, box-shadow 400ms ease-in 150ms;
}
.wiring_editor .labelDiv {
    padding: 0.34em 0.5em;
    display: inline-block;
    font-weight: normal;
    margin-top: 0.09em;
	margin-bottom: 0.09em;
}

.wiring_editor .labelDiv span{
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

.wiring_editor .sources .labelDiv {
    margin-right: -0.5em;
}

.wiring_editor .targets .labelDiv {
    margin-left: -0.5em;
}

/* reduced Interface Operators */
.wiring_editor .grid .reducedInt.ioperator {
    padding-bottom: 0.2em;
    background: rgba(158, 221, 218, 0.8);
    border-radius: 3px;
}

.wiring_editor .grid .specialIcon{
    display: none;
    position: absolute;
}

.wiring_editor .grid .reducedInt.ioperator .specialIcon{
    display: inline;
    font-size: 3ex;
    color: rgb(93, 93, 172);
    left: 15px;
    top: 1px;
}

.wiring_editor .grid .reducedInt.ioperator .specialIcon:hover {
    color: rgb(202, 44, 44);
    cursor: pointer;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .header {
    display: none;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .labelDiv{
    width: 10px;
    height: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px 5px;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .labelDiv span{
    display: none;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .targets {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .sources {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.wiring_editor .grid .reducedInt.ioperator .geContainer .anchorDiv {
    height: 20px;
}

/* anchorTree */
.wiring_editor .grid .anchorTree {
	background: transparent;
    display: none;
    opacity: 0.9;
    border-radius: 25px 4px 25px 25px;
    margin: 0px 2px;
}

.wiring_editor .grid .iwidget .anchorTree {
    box-shadow: inset 0 0 9em rgba(112, 113, 133, 0.26);
}

.wiring_editor .grid .ioperator .anchorTree {
    box-shadow: inset 0 0 9em rgba(96, 211, 96, 0.26);
}

.wiring_editor .grid .tree {
	position: relative;
}

.wiring_editor .grid .anchorTree.activated {
	display: block;
    position: relative;
    pointer-events: auto;
    opacity: 1;
}

.wiring_editor .grid .anchorTree .subTree {
    display: inline-block;
    border-right: 2px solid black;
    border-radius: 12px;
}

.wiring_editor .grid .anchorTree .labelsFrame {
    display: inline-block;
    text-align: right;
    position: relative;
}

.wiring_editor .grid .anchorTree .dataTree {
    padding: 2px;
    position: relative;
    border-radius: 15px;
    font-weight: normal;
    margin: 0;
}

.wiring_editor .grid .anchorTree .dataTree .labelTree {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    z-index: 3;
}

.wiring_editor .grid .anchorTree .dataTree .subAnchor {
    display: inline-block;
    margin: 2px;
    position: relative;
    width: 12px;
    height: 12px;
    font-size: 1.4em;
    background: transparent;
    color: rgb(22, 85, 248);
    right: 0;
}

.wiring_editor .grid .anchorTree .dataTree.leaf {
    display: block;
}

.wiring_editor .grid .anchorTree .hideTreeButton {
    color: rgb(22, 85, 248);
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 1.3em;
    z-index: 3;
}

.wiring_editor .grid .anchorTree .labelActionLayer {
    z-index: 3;
    position: absolute;
}

/* menubar entities */
.wiring_editor .menubar .ioperator .header, .wiring_editor .menubar .iwidget .header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 5px;
    padding: 8px;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
}

.wiring_editor .menubar .ioperator, .wiring_editor .menubar .iwidget {
    position: relative;
    padding-bottom: 0em;
    margin: 1em 1em;
    vertical-align: middle;
    line-height: 1em;
    z-index: 10;
    border: 1px solid #B4B4B4;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
    pointer-events: auto;
}

/* edit mode */
.wiring_editor .ioperator.editing .header, .wiring_editor .iwidget.editing .header {
    cursor: default;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    border-radius: 1.25em;
    color: #1D1D2F;
    text-overflow: ellipsis;
}

.wiring_editor .ioperator.editing {
    background: rgba(206,220,180,0.8);
}

.wiring_editor .iwidget.editing {
    background: rgba(206,220,231,0.8);
}

.wiring_editor .sources.editing .labelDiv {
    color: black;
    cursor: move;
    box-shadow: inset 0 0 6px #000000;
}

.wiring_editor .targets.editing .labelDiv {
    color: black;
    cursor: move;
    box-shadow: inset 0 0 6px #000000;
}

.wiring_editor .sources .moving .labelDiv {
    box-shadow: inset 0 0 10px hsla(240, 94%, 50%, 0.5);
    color: blue;
}

.wiring_editor .targets .moving .labelDiv {
    box-shadow: inset 0 0 10px hsla(20, 100%, 50%, 0.5);
    color: #FF5500;;
}

/* clone slots and events during editing Drag&Drop */
.wiring_editor .border_layout .source_clon {
    position: absolute;
    margin-top: 2px;
}

.wiring_editor .border_layout .target_clon {
    position: absolute;
    margin-top: 2px;
}

.wiring_editor .border_layout .source_clon .labelDiv{
    display: inline-block;
    float: right;
    margin-right: 14px;
    margin-top: 6px;
    background: rgba(0, 168, 151, 0.6);
    color: blue;
    border-radius: 15px;
    opacity: 0.5;
    cursor: move;
    white-space: nowrap;
}

.wiring_editor .border_layout .target_clon .labelDiv{
    display: inline-block;
    float: left;
    margin-left: 14px;
    margin-top: 6px;
    background: rgba(255, 151, 82, 0.6);
    color: #FF5500;
    border-radius: 15px;
    opacity: 0.5;
    cursor: move;
    white-space: nowrap;
}

.wiring_editor .border_layout .source_clon .labelDiv .anchor {
    visibility: hidden;
}

.wiring_editor .border_layout .target_clon .labelDiv .anchor {
    visibility: hidden;
}

/* clone mini widget for Drag&Drop from menubar to grid */
.wiring_editor .border_layout .ioperator.clon, .wiring_editor .border_layout .iwidget.clon {
    position: absolute;
    font-size: 0.95em;
    z-index: 20;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
    overflow: hidden;
    font-weight: bold;
    color: #1D1D2F;
    cursor: move;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.wiring_editor .border_layout .ioperator.clon .header, .wiring_editor .border_layout .iwidget.clon .header {
    padding-top: 4px;
}

.wiring_editor .border_layout .ioperator.clon .header .status, .wiring_editor .border_layout .iwidget.clon .header .status {
    display: none;
}

/* SELECTED OBJECTS */
.wiring_editor .grid .ioperator.selected {
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 180);
}

 .wiring_editor .grid .iwidget.selected {
    background-color: #DF7A62;
    z-index: 15;
    box-shadow: 0 0 20px #000000;
    background: rgb(206, 220, 231);
}

/* highlight normal events and slots by friendcode */
.wiring_editor .sources .highlight, .wiring_editor .targets .highlight, .wiring_editor .sources .highlight_main, .wiring_editor .targets .highlight_main {
    background: green;
    color: white;
    border-radius: 15px;
}

.wiring_editor .sources .highlight span, .wiring_editor .targets .highlight span, .wiring_editor .targets .highlight_main span, .wiring_editor .sources .highlight_main span {
    pointer-events: none;
    overflow: hidden;
}

.wiring_editor .sources .highlight span.customized, .wiring_editor .targets .highlight span.customized, .wiring_editor .targets .highlight_main span.customized, .wiring_editor .sources .highlight_main span.customized {
    overflow: visible;
}

/* highlight subdata events and slots by friendcode */
.wiring_editor .sources .dataTree.highlight, .wiring_editor .sources .dataTree.highlight_main {
    background: rgba(0, 138, 0, 0.73);
    color: white;
    border-radius: 15px;
}

/* Highlight events and slots by semantic */
/* ColorCodes = {'EQUIVALENT': 'green', 'SUBSUMED':'green', 'SUBSUMES':'orange', 'DISJOINT':'red', 'OVERLAP':'grey', 'NONE':'grey'} */
.wiring_editor .highlight.equivalent {
    background: green;
    color: white;
}

.wiring_editor .highlight.subsumed {
    background: green;
    color: white;
}

.wiring_editor .highlight.subsumes {
    background: orange;
    color: black;
}

.wiring_editor .highlight.haspart {
    background: orange;
    color: black;
}

.wiring_editor .highlight.disjoint {
    background: red;
    color: white;
}

.wiring_editor .highlight.overlap {
    background: grey;
    color: white;
}

.wiring_editor .highlight.none {
    background: grey;
    color: white;
}
