.wiring_editor .grid .multiconnector {
    position: absolute;
    border-radius: 1em;
    border: 1px solid;
    border-color: gray;
    pointer-events: auto;
}

.wiring_editor .grid .multiconnector.source {
    background: rgb(122, 152, 192);
    background: -webkit-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
    background: -moz-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
    background: -o-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
}

.wiring_editor .grid .multiconnector.target {
    background: -webkit-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
    background: -moz-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
    background: -o-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
}

.wiring_editor .grid .multiconnector .dragZone {
    font-family: FontAwesome;
    position: absolute;
    left: 0.25em;
    font-size: 0.9em;
    color: #535386;
}

.wiring_editor .grid .multiconnector .dragZone:hover {
    color: rgb(170, 27, 0);
}

.wiring_editor .grid .multiconnector.target .anchor.main {
    background: transparent;
    right: -0.5em;
    pointer-events: none;
    visibility: hidden;
    font-size: 0.9em;
}

.wiring_editor .grid .multiconnector.source .anchor.main {
    background: transparent;
    left: -0.5em;
    pointer-events: none;
    visibility: hidden;
    font-size: 0.9em;
}

.wiring_editor .grid .multiconnector.source.selected {
    background: rgb(122, 152, 192);
}

.wiring_editor .grid .multiconnector.target.selected {
    background: rgba(239, 130, 6, 0.7);
}

.wiring_editor .grid .multiconnector.disabled {
    opacity: 1;
}

.wiring_editor .grid .multiconnector.pointed .dragZone{
    pointer-events: none;
}
