@import 'wiring/defaults';
@import 'utils';
@import "compass/css3/user-interface";
@import "variables";

// ============================================================================
// WIRING-VIEW - DIAGRAM
// ============================================================================

.wiring-view .wiring-diagram {
    background-color: $wiring-diagram-bg-color;
    border: solid 1px $panel-default-border-color;
    box-shadow: $panel-box-shadow-inset;

    .alert {
        width: 500px;
    }

    .wiring-connections {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// ============================================================================
// WIRING SIDEBAR - PANEL
// ============================================================================

.we-panel-components {

    .se-text-field {
        margin: $margin-vertical-base 0;
        width: 100%;
    }

    .widget_wallet_list {
        position: relative;

        .alert {
            margin: 0 0 $margin-vertical-base;
        }
    }
}

.we-panel-behaviours {

    .panel-heading .btn-group {
        margin-top: $margin-vertical-base;
    }

    &.disabled {
        opacity: 1;
    }
}

// ============================================================================
// WIRING-VIEW - FOOTER
// ============================================================================

.wiring-view .wiring-footer {
    background-color: $panel-default-heading-bg;
    border: solid 1px $panel-default-border-color;
    @include positioned-border-radius(bottom);
    box-shadow: $panel-box-shadow;
    color: $panel-default-heading-text-color;
    text-shadow: $text-shadow-conf-base rgba(contrast-color($panel-default-heading-bg, #FFF, #000, $text-color-threshold), 0.8);
    @include user-select(none);
    padding: 0 $panel-padding-horizontal;

    .se-horizontal-layout {
        height: 100%;
        align-items: center;
    }
}

// ============================================================================
// WIRING LEGEND - LABELS
// ============================================================================

.label-connection {
    color: $text-color-dark;
    background-color: $connection-bg;
}

.label-operator {
    color: $text-color-dark;
    background-color: $component-operator-bg;
}

.label-widget {
    color: $text-color-dark;
    background-color: $component-widget-bg;
}
