@import 'wiring/defaults';
@import 'utils';


// ============================================================================
// WIRING-VIEW - DIAGRAM
// ============================================================================

.wiring-view .wiring-diagram {
    background-color: $wiring-diagram-bg-color;
    border: solid 1px $panel-default-border-color;
    box-shadow: $panel-box-shadow-inset;

    .alert {
        width: 500px;
    }

    .wiring-connections {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// ============================================================================
// WIRING SIDEBAR - PANEL
// ============================================================================

.wiring-sidebar > .panel {
    @include positioned-element(0, 0, 0, 0);
    margin-bottom: 0px;
    background-color: $panel-default-heading-bg;
    border-radius: 0px;
    padding: $panel-padding-vertical $panel-padding-horizontal;
    box-shadow: $panel-box-shadow;

    & > .panel-heading {
        padding: 0px 0px $panel-padding-vertical;
        border-radius: 0px;
    }

    & > .panel-body {
        @include positioned-element(40px, $panel-padding-horizontal, $panel-padding-vertical, $panel-padding-horizontal);
        border: solid 1px $panel-default-border-color;
        box-shadow: $panel-box-shadow-inset;
        background-color: $panel-bg;
        overflow-y: scroll;

        .section {
            position: relative;
            display: block;
        }
    }
}

.wiring-sidebar > .panel-behaviours {

    & > .panel-heading .panel-title {
        float: left;
        width: 90%;
    }

    &.disabled {
        opacity: 1;
    }
}

.wiring-sidebar > .panel-components {

    & > .panel-body {
        top: 80px;
    }
}

.wiring-sidebar > .panel-behaviours:not(.disabled) {

    & > .panel-body {
        top: 80px;
    }
}

// ============================================================================
// WIRING-VIEW - FOOTER
// ============================================================================

.wiring-view .wiring-footer {
    background-color: $panel-default-heading-bg;
    border: solid 1px $panel-default-border-color;
    @include positioned-border-radius(bottom);
    box-shadow: $panel-box-shadow;
    color: $panel-default-heading-text-color;
    text-shadow: $text-shadow-conf-base rgba(contrast-color($panel-default-heading-bg, #FFF, #000, $text-color-threshold), 0.8);

    .wiring-logger {
        @include positioned-element($top: 0, $bottom: 0, $left: 0);
        height: 20px;
        margin: auto $panel-padding-horizontal;

        span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            max-width: 250px;
        }
    }

    .wiring-legend {
        @include positioned-element($top: 0, $bottom: 0, $right: 0);
        height: 20px;
        margin: auto $panel-padding-horizontal;
    }
}

// ============================================================================
// WIRING-FOOTER - LEGEND ELEMENTS
// ============================================================================

.wiring-footer .wiring-element {
    display: inline-block;
    font-weight: "bold";
    vertical-align: middle;
    margin: 0px ($panel-padding-horizontal * 2) 0px 0px;

    &:last-child {
        margin-right: 0px;
    }

    .color {
        padding: 0px $panel-padding-horizontal;
        color: rgb(255, 255, 255);
        border: solid 1px transparent;
        border-radius: $panel-border-radius;
        box-sizing: border-box;
        text-shadow: none;
    }

    .title {
        margin-left: ($panel-padding-horizontal / 2);
    }
}

// ============================================================================
// WIRING-FOOTER - LEGEND CONNECTIONS
// ============================================================================

.wiring-footer .element-connection {

    .color {
        background-color: $connection-bg;
        border-color: $connection-bg;
    }
}

// ============================================================================
// WIRING-FOOTER - LEGEND OPERATORS
// ============================================================================

.wiring-footer .element-operator {

    .color {
        background-color: $component-operator-bg;
        border-color: $component-operator-border-color;
    }
}

// ============================================================================
// WIRING-FOOTER - LEGEND WIDGETS
// ============================================================================

.wiring-footer .element-widget {

    .color {
        background-color: $component-widget-bg;
        border-color: $component-widget-border-color;
    }
}
