@import 'wiring/defaults';
@import 'compass/css3/user-interface';
@import "utils";


// ======================================================================================
// WIRING - BEHAVIOUR
// ======================================================================================

.behaviour {
    cursor: pointer;
    @include user-select(none);

    .behaviour-title {
        width: $behaviour-title-width;
    }

    .behaviour-description {
        max-height: $behaviour-description-maxheight;
        margin-bottom: 0px;
        @include font($type: "h6");
        color: $behaviour-description-font-color;
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}
