@import 'compass/css3/user-interface';
@import 'compass/css3/transform';
@import 'wiring/defaults';
@import "utils";


// ============================================================================
// WIRING ViEW - CONNECTION
// ============================================================================

.connection {
    @include user-select(none);

    .connection-body {
        cursor: pointer;
        fill: none;
        stroke: $connection-bg;
        stroke-width: $connection-width;
    }

    .connection-border {
        cursor: pointer;
        fill: none;
        stroke: $connection-border-color;
        stroke-width: $connection-border-width;
    }
}

.connection-options {
    position: absolute;
    @include transform(translate(-50%, -50%));
}

// ============================================================================
// WIRING VIEW - CONNECTION - BACKGROUND
// ============================================================================

.connection.background {

    .connection-body {
        stroke: $connection-background-bg;
    }

    .connection-border {
        stroke: $connection-background-border-color;
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - MISSING
// ============================================================================

.connection.missing,
.connection.has-error {

    .connection-body {
        stroke: $connection-missing-bg;
    }

    .connection-border {
        stroke: $connection-missing-border-color;
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - ACTIVE
// ============================================================================

.connection.active,
.connection.editable,
.connection.missing.active,
.connection.has-error.active,
.connection.background.active {

    .connection-body {
        stroke: $connection-active-bg;
    }

    .connection-border {
        stroke: $connection-active-border-color;
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - TEMPORAL
// ============================================================================

.connection.temporal,
.connection.background.temporal {

    .connection-body {
        stroke: $connection-temporal-bg;
    }

    .connection-border {
        stroke: $connection-temporal-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-temporal-bg;
            stroke: $connection-temporal-border-color;
        }

        .btn-svg-plain {
            fill: $connection-temporal-text-color;
            text-shadow: $connection-temporal-text-shadow;
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - EDITABLE
// ============================================================================

.connection.editable {

    .connection-border {
        stroke-dasharray: $connection-editable-border-dasharray;
    }
}

.wiring-view .connection.hidden {
    display: none !important;
}

// ============================================================================
// WIRING VIEW - CONNECTION - HANDLE
// ============================================================================

.connection-handle {

    .handle-line {
        cursor: default;
        fill: none;
    }

    .handle-ball {
        cursor: pointer;
        fill: $connection-active-bg;
    }

    .handle-line,
    .handle-ball {
        stroke: $connection-active-border-color;
        stroke-width: $connection-handle-width;
    }
}

.connection-handle.auto {

    .handle-line,
    .handle-ball {
        stroke-dasharray: $connection-handle-border-dasharray;
    }
}

.connection-handle,
.connection-handle.auto {

    .handle-ball {

        &:hover,
        &.active {
            fill: $connection-active-text-hover-color;
            stroke: $connection-active-border-color;
            stroke-dasharray: initial;
        }
    }
}
