@import 'wiring/defaults';
@import 'compass/css3/user-interface';
@import 'utils';
@import 'styledelements/panel_mixins';


// ============================================================================
// WIRING SIDEBAR - COMPONENT
// ============================================================================

.wiring-sidebar .component-group {
    margin: 0 0 10px;

    .component-meta {
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .panel-title {
            width: 85%;
        }

        .component-version-list {
            margin: 0 0 5px;

            .component-version {
                width: 80px;
            }
        }

        .component-vendor {
            font-weight: 700;
            @include font-truncate();
        }

        .component-description {
            max-height: 40px;
            font-size: 12px;
            color: rgb(100, 100, 100);
            overflow: hidden;
        }
    }

    .component {
        border-radius: 0;
        margin: 0;
        @include user-select(none);

        .panel-heading {
            padding: 5px 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .panel-title {
            width: 85%;
        }

        &:not(:last-child) .panel-heading {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .component-version {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .component {
        margin-top: -1px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    > :last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT
// ============================================================================

@mixin component-variant(
    $component-variant-bg,
    $component-variant-border-color
) {

    border-color: $component-variant-border-color;

    .panel-heading {
        background-color: $component-variant-bg;

        .panel-title,
        .panel-subtitle,
        .panel-options .se-btn {
            color: $component-text-color;
            text-shadow: $component-text-shadow;
        }
    }

}

.component-operator {
    @include component-variant(
        $component-operator-bg,
        $component-operator-border-color
    );
}

.component-widget {
    @include component-variant(
        $component-widget-bg,
        $component-widget-border-color
    );
}

.wiring-sidebar .component-operator:hover {
    border-color: $component-operator-hover-border-color;

    .panel-heading {
        background-color: $component-operator-hover-bg;
    }
}

.wiring-sidebar .component-widget:hover {
    border-color: $component-widget-hover-border-color;

    .panel-heading {
        background-color: $component-widget-hover-bg;
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT-ITEM - DISABLED
// ============================================================================

.wiring-sidebar .component {

    &.disabled,
    &:hover.disabled,
    &:focus.disabled {
        cursor: default;
        opacity: 1;
        @include panel-variant(
            $panel-default-border-color,
            $panel-default-heading-bg,
            $panel-default-heading-text-color,
            $panel-default-heading-text-shadow,
            $panel-default-btn-hover-text-color
        );

        .panel-heading {

            .panel-subtitle {
                color: $panel-default-heading-text-color;
                text-shadow: $panel-default-heading-text-shadow;
            }

            .panel-options .se-btn {

                &:hover,
                &:focus {
                    text-shadow: $panel-btn-hover-text-shadow;
                }
            }

            .badge {
                position: absolute;
                bottom: 5px;
                right: 10px;
                padding: 0;
                line-height: 14px;
                font-size: 10px;
                border-radius: 3px;
                padding: 0px 5px;
                margin: 0;
                text-shadow: initial;
            }
        }
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT DRAGGABLE
// ============================================================================

.component-draggable {
    position: absolute;
    margin: 0;
    background-color: transparent;
    @include user-select(none);
    cursor: pointer;
    z-index: $component-z-index;

    .panel-heading {
        display: table;
        width: 100%;
        white-space: nowrap;

        .panel-title,
        .panel-options {
            display: table-cell;
            float: inherit;
            vertical-align: middle;
        }

        .panel-title span {
            display: block;
            @include font-truncate();
            max-width: $component-title-max-width;
        }

        .panel-options {
            padding-left: $component-options-padding-horizontal;
            float: right;
        }
    }

    .panel-body {
        display: table;
        width: 100%;
        padding: 0;
        background-color: $component-body-bg;
    }

    &.dragging {
        cursor: move;
    }
}

// ============================================================================
// WIRING VIEW - ENDPOINTS
// ============================================================================

@mixin endpoints-variant(
    $endpoint-float,
    $endpoint-border-radius,
    $endpoint-anchor-bg
) {

    .endpoint {
        float: $endpoint-float;
        @include positioned-border-radius($endpoint-border-radius);

        .endpoint-anchor {
            #{$endpoint-float}: $endpoint-anchor-offsetwidth;
            background-color: $endpoint-anchor-bg;
            @include positioned-border-radius($endpoint-float);
        }
    }

    .endpoint:hover,
    .endpoint.active {

        .endpoint-anchor {
            border-left: solid 1px $endpoint-active-bg;
        }
    }

}

.endpoints {
    position: relative;
    display: table-cell;
    vertical-align: middle;

    .endpoint {
        position: relative;
        cursor: pointer;
        clear: both;
        margin: 0 0 $endpoint-margin-vertical;

        .endpoint-title {
            color: $endpoint-text-color;
        }

        .endpoint-anchor {
            position: absolute;
            top: 0;
            padding: ($endpoint-text-height / 2) ($endpoint-anchor-width / 2);
        }

        &:first-child {
            margin-top: $endpoint-margin-vertical;
        }
    }

    &.source-endpoints {
        @include endpoints-variant(
            right,
            left,
            $source-endpoint-anchor-bg
        );
    }

    &.target-endpoints {
        @include endpoints-variant(
            left,
            right,
            $target-endpoint-anchor-bg
        );
    }

    .endpoint:hover,
    .endpoint.active {
        background-color: $endpoint-active-bg;

        .endpoint-title {
            color: $endpoint-active-text-color;
        }

        .endpoint-anchor {
            background-color: $endpoint-active-bg;
        }
    }

    .endpoint.missing .endpoint-anchor {
        background-color: $endpoint-missing-bg;
    }
}

.endpoint {
    max-width: $endpoint-max-width;
    @include user-select(none);

    .endpoint-title {
        position: relative;
        display: block;
        padding: 0 $endpoint-padding-horizontal;
        font-size: $endpoint-text-size;
        line-height: $endpoint-text-height;
        @include font-truncate();
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - BACKGROUND
// ============================================================================

.component-draggable.background {
    z-index: $component-background-z-index;

    .panel-heading .panel-title,
    .panel-heading .panel-options .se-btn {
        color: $component-background-text-color;
        text-shadow: initial;
    }

    .panel-body {
        background-color: $component-background-body-bg;
    }

    &.component-operator {
        border-color: $component-background-operator-border-color;

        .panel-heading {
            background-color: $component-background-operator-bg;
        }
    }

    &.component-widget {
        border-color: $component-background-widget-border-color;

        .panel-heading {
            background-color: $component-background-widget-bg;
        }
    }

    .endpoints {

        .endpoint .endpoint-title {
            color: $endpoint-background-text-color;
        }

        &.source-endpoints .endpoint-anchor {
            background-color: $source-endpoint-background-anchor-bg;
        }

        &.target-endpoints .endpoint-anchor {
            background-color: $target-endpoint-background-anchor-bg;
        }

        .endpoint:hover,
        .endpoint.active {
            background-color: $endpoint-active-bg;

            .endpoint-title {
                color: $endpoint-active-text-color;
            }

            .endpoint-anchor {
                background-color: $endpoint-active-bg;
            }
        }

        .endpoint.missing .endpoint-anchor {
            background-color: $endpoint-missing-background-bg;
        }
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - OPTIONS
// ============================================================================

.component-operator .panel-heading {

    .panel-options .se-btn:hover,
    .panel-options .se-btn:focus {
        color: $component-operator-text-color;
        text-shadow: $component-text-hover-shadow;
    }
}

.component-widget .panel-heading {

    .panel-options .se-btn:hover,
    .panel-options .se-btn:focus {
        color: $component-widget-text-color;
        text-shadow: $component-text-hover-shadow;
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - ACTIVE
// ============================================================================

.component-draggable.active,
.component-draggable.background.active {
    border-color: $component-active-border-color;
    z-index: $component-active-z-index;

    .panel-heading {
        background-color: $component-active-bg;

        .panel-title,
        .panel-options .se-btn {
            color: $component-active-text-color;
            text-shadow: $component-active-text-shadow;
        }

        .panel-options .se-btn:hover,
        .panel-options .se-btn:focus {
            color: $component-active-text-hover-color;
            text-shadow: $component-text-hover-shadow;
        }
    }

    .panel-body {
        background-color: $component-body-bg;
    }

    .endpoints {

        .endpoint .endpoint-title {
            color: $endpoint-text-color;
        }

        &.source-endpoints {

            .endpoint .endpoint-anchor {
                background-color: $source-endpoint-anchor-bg;
            }

            .endpoint:hover,
            .endpoint.active {

                .endpoint-anchor {
                    border-left: solid 1px $component-active-text-hover-color;
                }
            }
        }

        &.target-endpoints {

            .endpoint .endpoint-anchor {
                background-color: $target-endpoint-anchor-bg;
            }

            .endpoint:hover,
            .endpoint.active {

                .endpoint-anchor {
                    border-right: solid 1px $component-active-text-hover-color;
                }
            }
        }

        .endpoint:hover,
        .endpoint.active {
            background-color: $component-active-text-hover-color;

            .endpoint-title {
                color: $endpoint-active-text-color;
            }

            .endpoint-anchor {
                background-color: $component-active-text-hover-color;
            }
        }

        .endpoint.missing .endpoint-anchor {
            background-color: $endpoint-missing-bg;
        }
    }
}

.component-draggable .endpoints,
.component-draggable.active .endpoints {

    .endpoint.missing {

        &:hover,
        &.active {
            background-color: $endpoint-missing-active-bg;

            .endpoint-anchor {
                background-color: $endpoint-missing-active-bg;
            }
        }
    }

    &.source-endpoints .endpoint.missing {

        &:hover,
        &.active {

            .endpoint-anchor {
                border-left: solid 1px $endpoint-missing-active-bg;
            }
        }
    }

    &.target-endpoints .endpoint.missing {

        &:hover,
        &.active {

            .endpoint-anchor {
                border-left: solid 1px $endpoint-missing-active-bg;
            }
        }
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - COLLAPSED
// ============================================================================

.wiring-view .component-draggable.collapsed {

    .endpoints {
        position: absolute;
        top: 10px;

        > .endpoint {
            position: absolute;
            cursor: default;
            margin: 0;

            .endpoint-title {
                display: none;
            }

            .endpoint-anchor {
                pointer-events: none;
            }
        }
    }

    .target-endpoints {
        left: 0;
    }

    .source-endpoints {
        right: 0;
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - SORTABLE ENDPOINTS
// ============================================================================

.component-draggable .endpoints.sortable {

    .endpoint {
        box-shadow: $endpoint-sortable-box-shadow;
    }

    .endpoint.dragging {
        background-color: $endpoint-sortable-active-bg;
        box-shadow: $endpoint-sortable-active-box-shadow;

        .endpoint-title {
            color: $endpoint-sortable-active-text-color;
        }
    }
}

.endpoint.cloned {
    position: absolute;
    background-color: $component-active-text-hover-color;
    box-shadow: $endpoint-sortable-box-shadow;
    cursor: move;
    z-index: $endpoint-cloned-z-index;

    .endpoint-title {
        color: $endpoint-active-text-color;
    }

    .endpoint-anchor {
        display: none;
    }

    &.source-endpoint {
        @include positioned-border-radius(left);
    }

    &.target-endpoint {
        @include positioned-border-radius(right);
    }
}

// ============================================================================
// WIRING VIEW - COMPONENT - NOTICES
// ============================================================================

.component-draggable .component-notice {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    text-align: center;

    .label {
        font-size: 12px;
        line-height: 20px;
        padding: 0px 8px;
        margin: 0;
    }
}

.component-draggable.background .component-notice .label {
    background-color: transparentize(lighten($brand-danger, 15%), 0.3);
}

.component-draggable.active,
.component-draggable.active.background {

    .component-notice .label {
        background-color: $brand-danger;
    }
}

.component-draggable,
.component-draggable.background {

    .component-notice .label:hover {
        background-color: darken($brand-danger, 10%);
    }
}
