@import 'compass/css3/user-interface';
@import 'wiring/defaults';
@import "utils";


// ============================================================================
// WIRING ViEW - CONNECTION
// ============================================================================

.connection {
    @include user-select(none);

    .connection-body {
        cursor: pointer;
        fill: none;
        stroke: $connection-bg;
        stroke-width: $connection-width;
    }

    .connection-border {
        cursor: pointer;
        fill: none;
        stroke: $connection-border-color;
        stroke-width: $connection-border-width;
    }

    .connection-options {
        font-family: "FontAwesome";
        font-size: $font-size-base;

        .btn-svg-group {
            fill: $connection-options-bg;
            stroke: $connection-options-border-color;
        }

        .btn-svg-plain {
            cursor: pointer;
            fill: $connection-text-color;
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - BACKGROUND
// ============================================================================

.connection.background {

    .connection-body {
        stroke: $connection-background-bg;
    }

    .connection-border {
        stroke: $connection-background-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-background-options-bg;
            stroke: $connection-background-options-border-color;
        }

        .btn-svg-plain {
            fill: $connection-background-text-color;
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - ACTIVE
// ============================================================================

.connection.active,
.connection.editable,
.connection.background.active {

    .connection-body {
        stroke: $connection-active-bg;
    }

    .connection-border {
        stroke: $connection-active-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-active-options-bg;
            stroke: $connection-active-options-border-color;
        }

        .btn-svg-plain {
            fill: $connection-active-text-color;
            text-shadow: $connection-active-text-shadow;
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - EDITABLE
// ============================================================================

.connection.editable {

    .connection-border {
        stroke-dasharray: $connection-editable-border-dasharray;
    }
}

.connection .connection-options .btn-svg-plain {

    &:hover,
    &.active {
        fill: $connection-active-text-hover-color;
        text-shadow: $connection-text-hover-shadow;
    }
}

.wiring-view .connection.hidden {
    display: none !important;
}

// ============================================================================
// WIRING VIEW - CONNECTION - HANDLE
// ============================================================================

.connection-handle {

    .handle-line {
        cursor: default;
        fill: none;
    }

    .handle-ball {
        cursor: pointer;
        fill: $connection-active-bg;
    }

    .handle-line,
    .handle-ball {
        stroke: $connection-active-border-color;
        stroke-width: $connection-handle-width;
    }
}

.connection-handle.auto {

    .handle-line,
    .handle-ball {
        stroke-dasharray: $connection-handle-border-dasharray;
    }
}

.connection-handle,
.connection-handle.auto {

    .handle-ball {

        &:hover,
        &.active {
            fill: $connection-active-text-hover-color;
            stroke: $connection-active-border-color;
            stroke-dasharray: initial;
        }
    }
}
