@import 'compass/css3/user-interface';
@import 'wiring/defaults';
@import "utils";


// ============================================================================
// WIRING ViEW - CONNECTION
// ============================================================================

.connection {
    @include user-select(none);

    .connection-body {
        cursor: pointer;
        fill: none;
        stroke: $connection-bg;
        stroke-width: $connection-width;
    }

    .connection-border {
        cursor: pointer;
        fill: none;
        stroke: $connection-border-color;
        stroke-width: $connection-border-width;
    }

    .connection-options {
        font-family: "FontAwesome";
        font-size: $font-size-base;

        .btn-svg-group {
            fill: $connection-options-bg;
            stroke: $connection-options-border-color;
        }

        .btn-svg-plain {
            cursor: pointer;
            fill: $connection-text-color;

            &:hover,
            &.active {
                fill: $connection-active-text-hover-color;
                text-shadow: $connection-text-hover-shadow;
            }
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - BACKGROUND
// ============================================================================

.connection.background {

    .connection-body {
        stroke: $connection-background-bg;
    }

    .connection-border {
        stroke: $connection-background-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-background-options-bg;
            stroke: $connection-background-options-border-color;
        }

        .btn-svg-plain {
            fill: $connection-background-text-color;
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - MISSING
// ============================================================================

.connection.missing {

    .connection-body {
        stroke: $connection-missing-bg;
    }

    .connection-border {
        stroke: $connection-missing-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-missing-options-bg;
            stroke: $connection-missing-options-border-color;
        }

        .btn-svg-plain {
            fill: $connection-missing-text-color;

            &:hover,
            &.active {
                fill: $connection-missing-text-hover-color;
            }
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - ACTIVE
// ============================================================================

.connection.active,
.connection.editable,
.connection.missing.active,
.connection.background.active {

    .connection-body {
        stroke: $connection-active-bg;
    }

    .connection-border {
        stroke: $connection-active-border-color;
    }

    .connection-options {

        .btn-svg-group {
            fill: $connection-active-options-bg;
            stroke: $connection-active-options-border-color;
        }

        .btn-svg-plain {
            fill: $connection-active-text-color;
            text-shadow: $connection-active-text-shadow;

            &:hover,
            &.active {
                fill: $connection-active-text-hover-color;
                text-shadow: $connection-text-hover-shadow;
            }
        }
    }
}

// ============================================================================
// WIRING VIEW - CONNECTION - EDITABLE
// ============================================================================

.connection.editable {

    .connection-border {
        stroke-dasharray: $connection-editable-border-dasharray;
    }
}

.wiring-view .connection.hidden {
    display: none !important;
}

// ============================================================================
// WIRING VIEW - CONNECTION - HANDLE
// ============================================================================

.connection-handle {

    .handle-line {
        cursor: default;
        fill: none;
    }

    .handle-ball {
        cursor: pointer;
        fill: $connection-active-bg;
    }

    .handle-line,
    .handle-ball {
        stroke: $connection-active-border-color;
        stroke-width: $connection-handle-width;
    }
}

.connection-handle.auto {

    .handle-line,
    .handle-ball {
        stroke-dasharray: $connection-handle-border-dasharray;
    }
}

.connection-handle,
.connection-handle.auto {

    .handle-ball {

        &:hover,
        &.active {
            fill: $connection-active-text-hover-color;
            stroke: $connection-active-border-color;
            stroke-dasharray: initial;
        }
    }
}
