@import 'wiring/defaults';


// ============================================================================
// WIRING SIDEBAR - PANEL
// ============================================================================

.wiring-sidebar > .panel {
    @include position-absolute(0, 0, 0, 0);
    margin-bottom: 0px;
    background-color: $panel-default-heading-bg;
    border-radius: 0px;
    padding: $panel-padding-vertical $panel-padding-horizontal;
    box-shadow: $panel-box-shadow;

    & > .panel-heading {
        padding: 0px 0px $panel-padding-vertical;
        border-radius: 0px;

        .panel-title {
            width: $wiring-panel-title-width;
        }
    }

    & > .panel-body {
        @include position-absolute($panel-padding-h, 40px, $panel-padding-h, $panel-padding-v);
        border: solid 1px $panel-default-border-color;
        box-shadow: $panel-box-shadow-inset;
        background-color: $panel-bg;
        overflow-y: auto;

        .section {
            position: relative;
            display: block;
        }
    }
}

.wiring-sidebar > .panel-behaviors.disabled {
    opacity: 1;
}

.wiring-sidebar > .panel-components {

    .panel-body {
        top: 80px;
    }
}
