@import 'wiring/defaults';
@import 'compass/css3/user-interface';
@import "utils";


// ======================================================================================
// WIRING - BEHAVIOR
// ======================================================================================

.behavior {
    cursor: pointer;
    @include user-select(none);

    .behavior-title {
        width: $behavior-title-width;
    }

    .behavior-description {
        height: $behavior-description-height;
        margin-bottom: 0px;
        @include font($type: "h6");
        color: $behavior-description-font-color;
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}
