@import 'wiring/defaults';
@import 'compass/css3/user-interface';
@import "utils";


// ======================================================================================
// WIRING - BEHAVIOUR
// ======================================================================================

.behaviour {
    cursor: pointer;
    @include user-select(none);

    .behaviour-title {
        width: $behaviour-title-width;
    }

    .behaviour-description {
        max-height: $behaviour-description-maxheight;
        margin-bottom: 0px;
        font-size: $font-size-h6;
        line-height: $line-height-base;
        color: $behaviour-description-font-color;
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.behaviour.temporal {
    visibility: hidden;
}

.behaviour.dragging {
    position: absolute;
    cursor: move;
    top: 0;
    left: 0;
    z-index: 10;
}
