@import 'wiring/defaults';


// ============================================================================
// WIRING-VIEW - DIAGRAM
// ============================================================================

.wiring-view .wiring-diagram {
    background-color: $wiring-diagram-bg-color;
    border: solid 1px $panel-default-border-color;
    box-shadow: $panel-box-shadow-i;

    .alert {
        width: 500px;
    }

    .wiring-connections {
        @include position-absolute(0, 0);
        width: 100%;
        height: 100%;
    }
}

// ============================================================================
// WIRING-VIEW - FOOTER
// ============================================================================

.wiring-view .wiring-footer {
    background-color: $panel-default-heading-bg-color;
    border: solid 1px $panel-default-border-color;
    border-radius: $border-radius-bottom;
    box-shadow: $panel-box-shadow-o;

    .wiring-logger {
        @include position-absolute($top: 0, $bottom: 0, $left: 0);
        height: 20px;
        margin: auto $panel-padding-h;
        color: $panel-heading-font-color;

        span {
            display: block;
            @include font-truncate();
            max-width: 200px;
        }
    }

    .wiring-legend {
        @include position-absolute($top: 0, $bottom: 0, $right: 0);
        height: 20px;
        margin: auto $panel-padding-h;
    }
}
