@mixin input-root-style() {
    font-size: $font-size-base;
    color: $input-color;
    position: relative;
    line-height: $line-height-base;
}

@mixin input-box() {
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
    background-color: $input-bg;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

@mixin input-base() {
    @include input-root-style();
    @include input-box();

    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width:   10em;
    margin: 1px 4px 9px 4px;

    &:focus {
        outline: 0;
        z-index: 2;
        border-color: $input-border-color-focus;
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
    }

    &.error {
        color: #b94a48;
        border-color: #b94a48;
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    }

    &.error:focus {
        border-color: #953b39;
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392);
    }
}
