@import 'compass/css3/images';
@import 'compass/utilities/color/contrast';

@mixin panel-variant($border-color, $background-color, $text-color, $text-hover-color) {

    border-color: $border-color;

    & > .panel-heading {
        background-color: $background-color;

        &, & > .panel-title, & > .panel-subtitle, & > .panel-options > .se-btn {
            color: $text-color;
            text-shadow: $text-shadow-conf-base rgba(contrast-color($background-color, #FFF, #000, $text-color-threshold), 0.8);
        }

        & > .panel-options > .se-btn {
            &:hover,
            &:focus {
                color: $text-hover-color;
            }
        }

        .text-truncate:after {
            @include background-image(linear-gradient(to right, rgba($background-color, 0), $background-color));
        }
    }
}

@mixin panel-selectable($border-color, $background-color) {

    &.panel-selectable:hover {
        border-color: darken($border-color, 6%);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($border-color, 0.6);

        & > .panel-heading {
            background-color: darken($background-color, 6%);

            .text-truncate:after {
                @include background-image(linear-gradient(to right, rgba(darken($background-color, 6%), 0), darken($background-color, 6%)));
            }
        }
    }
}
