@import 'variables';

@mixin alert-variant($color, $background, $border) {
    color: $color;
    background: $background;
    border-color: $border;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    border-radius: 4px;
    @include alert-variant($state-warning-text, $state-warning-bg, $state-warning-border);

    h4 {
        margin: 0;
        color: inherit;
    }

    .close {
        position: relative;
        top: -2px;
        right: -21px;
        line-height: $line-height-base;
    }
}

.alert-success {
    @include alert-variant($state-success-text, $state-success-bg, $state-success-border);
}

.alert-danger,
.alert-error {
    @include alert-variant($state-danger-text, $state-danger-bg, $state-danger-border);
}

.alert-info {
    @include alert-variant($state-info-text, $state-info-bg, $state-info-border);
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert > .icon-remove {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 20px;
    opacity: 0.2;
    line-height: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.alert > .icon-remove:hover, .alert > .icon-remove:focus {
    opacity: 0.4;
}
