@import 'variables';
@import 'compass/css3';

.add-on {
    display: inline-block;
    width: auto;
    height: $input-height-base;
    min-width: 16px;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: $line-height-base;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: $gray-lighter;
    border: 1px solid #ccc;
    vertical-align: middle;
    box-sizing: border-box;
    @include border-radius(0);
    box-shadow: $input-external-shadow;
}

.input-prepend > .west_container > .add-on:first-child {
    border-radius: $border-radius-base 0 0 $border-radius-base;
}

.input-prepend > .west_container > .add-on:last-child {
    margin: 0 -1px 0 0;
}

.input-append > .east_container > .add-on:first-child {
    margin: 0 0 0 -1px;
}

.input-append > .east_container > .add-on:last-child {
    @include border-radius(0 $border-radius-base $border-radius-base 0);
}
