.pagination {
    display: inline-block;
    font-size: 13px;
    margin: 5px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination > .styled_button, .pagination > .box {
    font-size: 13px;
    background-color: white;
    padding: 4px 12px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid #dddddd;
    border-left-width: 0;
    margin: 0px;
    vertical-align: middle;
}

.pagination > .styled_button {
    color: #0088cc;
}

.pagination > .box {
    color: rgb(153, 153, 153);
}

.pagination .icon-first-page:before { content: "\f048"; }
.pagination .icon-last-page:before  { content: "\f051"; }
.pagination .icon-prev-page:before  { content: "\f0d9"; }
.pagination .icon-next-page:before  { content: "\f0da"; }

.pagination > .styled_button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
}

.pagination > .styled_button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > .styled_button.disabled {
    opacity: 1;
    color: rgb(153, 153, 153);
    background-color: rgb(245, 245, 245);
}

/* pagination-large, pagination-small and mini */

.pagination.pagination-large > .styled_button, .pagination.pagination-large > .box {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination.pagination-large > .styled_button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination.pagination-large > .styled_button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination.pagination-small > .styled_button, .pagination.pagination-small > .box {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination.pagination-mini > .styled_button, .pagination.pagination-mini > .box {
    padding: 0 6px;
    font-size: 10.5px;
}

.pagination.pagination-small > .styled_button:first-child, .pagination.pagination-mini > .styled_button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination.pagination-small > .styled_button:last-child, .pagination.pagination-mini > .styled_button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
