.horizontal_layout {
    position: relative;
    width: auto;
    overflow: hidden;
}

.horizontal_layout > .west_container {
    position: absolute;
    left: 0;
    display: inline-block;
}

.horizontal_layout > .center_container {
    position: absolute;
    overflow: auto;
}

.horizontal_layout > .east_container {
    position: absolute;
    display: inline-block;
}

.horizontal_layout.input {
    margin: 3px;
    overflow: visible;
}

.horizontal_layout.input > .west_container, .horizontal_layout.input > .center_container, .horizontal_layout.input > .east_container {
    overflow: visible;
}
