@import 'variables';
@import 'compass/utilities/color/contrast';

.se-pills {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.se-pill {
    display: inline-block;
    padding: $nav-link-padding-vertical $nav-link-padding-horizontal;
    box-sizing: border-box;
    border-radius: $border-radius-base;
    cursor: pointer;
    color: $brand-primary;
    margin-left: 2px;

    &:hover {
        background-color: $nav-link-hover-bg;
    }

    &.disabled {
        color: $nav-disabled-link-color;
    }

    &.disabled:hover {
        color: $nav-disabled-link-hover-color;
    }

    &.active {
        color: contrast-color($brand-primary, $text-color-light, $text-color-dark, $text-color-threshold);
        background-color: $brand-primary;
        cursor: default;
    }
}
