@import 'variables';
@import 'compass/utilities/color/contrast';

@if ($context == 'widget') {
    $body-bg: $widget-bg;
}

.model_table {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.model_table > .headrow {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.model_table > .headrow > .cell, .model_table > .tbody > .row > .cell {
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.model_table > .center_container {
    overflow: hidden;
}

.model_table > .center_container > .tbody {
    overflow: auto;
}

.model_table > .headrow > .cell.sortable {
    cursor: pointer;
}

.model_table > .headrow > .cell.ascending, .model_table > .headrow > .cell.descending {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.model_table > .headrow > .cell.ascending:before {
    float: right;
    content: "\f0d8";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.model_table > .headrow > .cell.descending:before {
    float: right;
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.model_table > .container.tbody {
    overflow-y: auto;
    color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
}

.model_table > .tbody > .row {
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.model_table > .tbody > .row.highlight {
    background-color: #08C;
    color: contrast-color(#08C, $text-color-light, $text-color-dark, $text-color-threshold);
}

.model_table > .tbody > .row:hover {
    background-color: #f5f5f5;
    color: contrast-color(#f5f5f5, $text-color-light, $text-color-dark, $text-color-threshold);
}

.model_table > .tbody > .row.highlight:hover {
    background-color: #08C;
}

.model_table > .tbody > .row:last-child {
    border-bottom: 0 none;
}

.table-striped > .tbody > .row:nth-child(odd) {
    background-color: #F9F9F9;
}

.tab.container > .model_table:first-child > .headrow {
    padding-top: 3px;
}
