div.styled_text_area {
    height: 5em;
    position: relative;
}

div.styled_text_area > div {
    display: block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    position: absolute;
    top: 1px;
    right: 4px;
    bottom: 0px;
    left: 4px;
    overflow: hidden;
}

div.styled_text_area > div > textarea {
    background: transparent;
    border: 0px;
    background: inherit; /* transparent fails in IE8 */
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    overflow: auto;
    resize: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

div.styled_text_area > div > textarea:focus {
    outline: 0 none;
}

div.styled_text_area.focus > div {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

div.styled_text_area.error.focus > div {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
