@import 'variables';
@import 'compass/utilities/color/contrast';

.popup_menu {
    position: absolute;
    z-index: 111112;
    margin: 0;
    white-space: nowrap;
    padding: 5px 0;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: contrast-color(#FFFFFF, $text-color-light, $text-color-dark, $text-color-threshold);
    font-size: $font-size-base;
    font-family: arial, sans-serif;
    border-radius: $border-radius-base;
}

.popup_menu > .menu_item {
    padding: 3px 20px;
    cursor: pointer;
}

.popup_menu > .submenu:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 3px;
    margin-right: -5px;
}

.popup_menu > .menu_item.hovered {
    color: contrast-color($brand-primary, $text-color-light, $text-color-dark, $text-color-threshold);
    background: $brand-primary;
}

.popup_menu > hr {
    height: 1px;
    background-color: #BEBEBE;
    outline: none;
    border: none;
    margin: (floor($line-height-base / 2) - 1) 0;
}
