.se-horizontal-layout {
    position: relative;
    width: auto;
    overflow: hidden;
}

.se-hl-west-container {
    position: absolute;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
}

.se-hl-center-container {
    position: absolute;
    overflow: auto;
    box-sizing: border-box;
}

.se-hl-east-container {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}

.se-horizontal-layout.input {
    margin: 3px;
    overflow: visible;
}

.input > .se-hl-west-container, .input > .se-hl-center-container, .input > .se-hl-east-container {
    overflow: visible;
}
