@import 'variables';
@import 'compass/utilities/color/contrast';

@if ($context == 'widget') {
    $body-bg: $widget-bg;
}

.se-model-table {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.se-model-table-headrow {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.se-model-table-cell {
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.se-model-table-headrow > .se-model-table-cell.sortable {
    cursor: pointer;
}

.se-model-table-headrow > .se-model-table-cell.ascending, .se-model-table-headrow > .se-model-table-cell.descending {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.se-model-table-headrow > .se-model-table-cell.ascending:before {
    float: right;
    content: "\f0d8";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.se-model-table-headrow > .se-model-table-cell.descending:before {
    float: right;
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.se-model-table-body {
    overflow-y: auto;
    color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
}

.se-model-table-row {
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.se-model-table-row.highlight {
    background-color: #08C;
    color: contrast-color(#08C, $text-color-light, $text-color-dark, $text-color-threshold);
}

.se-model-table-row:hover {
    background-color: #f5f5f5;
    color: contrast-color(#f5f5f5, $text-color-light, $text-color-dark, $text-color-threshold);
}

.se-model-table-row.highlight:hover {
    background-color: #08C;
}

.se-model-table-row:last-child {
    border-bottom: 0 none;
}

.table-striped .se-model-table-row:nth-child(odd) {
    background-color: #F9F9F9;
}

.se-notebook-tab-content.se-container > .se-model-table:first-child > .se-model-table-headrow {
    padding-top: 3px;
}
