.tooltip {
    position: absolute;
    z-index: 121112;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    visibility: visible;
    opacity: 0;
    pointer-events: none;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

.tooltip.in {
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgb(0, 0, 0);
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgb(0, 0, 0);
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: rgb(0, 0, 0);
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: rgb(0, 0, 0);
}
