@import 'variables';

.label,
.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    margin: 0 2px;

    @if ($button-gradients) {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
}

.label {
    border-radius: 3px;
}

.badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 9px;
}

.label.hidden,
.badge.hidden {
    display: none;
}

.label-important, .label-danger,
.badge-important, .badge-danger {
    background-color: $brand-danger;
}

.label-info,
.badge-info {
    background-color: $brand-info;
}

.label-warning,
.badge-warning {
    background-color: $brand-warning;
}

.label-success,
.badge-success {
    background-color: $brand-success;
}

.label-inverse,
.badge-inverse {
    background-color: #333333;
}
