@import 'variables';
@import 'compass/utilities/color/contrast';

@if ($context == 'widget') {
    $body-bg: $widget-bg;
}

@mixin table-row-variant($state, $background-color, $text-color) {

    .se-model-table-row-$state {

        background-color: $background-color;
        color: $text-color;

        &:hover {
            background-color: darken($background-color, 12%);
        }

        &.highlight, &.highlight:hover {
            background-color: mix($background-color, #08C, 80%);
        }
    }

    .table-striped .se-model-table-row-$state:nth-child(odd) {
        background-color: darken($background-color, 7%);

        &:hover {
            background-color: darken($background-color, 12%);
        }

        &.highlight, &.highlight:hover {
            background-color: mix(darken($background-color, 12%), #08C, 80%);
        }
    }
}

.se-model-table {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.se-model-table-headrow {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
    display: flex;
}

.se-model-table-cell {
    padding: 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    flex-grow: 1;
    width: 0;
}

.se-model-table-headrow > .se-model-table-cell.sortable {
    cursor: pointer;
}

.se-model-table-headrow > .se-model-table-cell.ascending, .se-model-table-headrow > .se-model-table-cell.descending {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.se-model-table-headrow > .se-model-table-cell.ascending:before {
    float: right;
    content: "\f0d8";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.se-model-table-headrow > .se-model-table-cell.descending:before {
    float: right;
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.se-model-table-body {
    overflow-y: auto;
    color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
}

.se-model-table-msg {
    text-align: center;
    margin: $padding-vertical-base $padding-horizontal-base;
}

.se-model-table-row {
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
    display: flex;
    &:hover {
        background-color: darken($body-bg, 12%);
    }
}

.se-model-table-row.highlight {
    background-color: #08C;
    color: contrast-color(#08C, $text-color-light, $text-color-dark, $text-color-threshold);
}

.se-model-table-row.highlight:hover {
    background-color: #08C;
}

.se-model-table-row:last-child {
    border-bottom: 0 none;
}

.table-striped .se-model-table-row:nth-child(odd) {
    background-color: darken($body-bg, 7%);

    &:hover {
        background-color: darken($body-bg, 12%);
    }
}

.se-notebook-tab-content.se-container > .se-model-table:first-child > .se-model-table-headrow {
    padding-top: 3px;
}

@include table-row-variant(success, $state-success-bg, $state-success-text);
@include table-row-variant(warning, $state-warning-bg, $state-warning-text);
@include table-row-variant(danger, $state-danger-bg, $state-danger-text);
@include table-row-variant(info, $state-info-bg, $state-info-text);
