@import 'variables';
@import 'styledelements/input_mixins';
@import 'compass/css3';

.se-text-field {
    @include input-base();
}

.input-prepend > .se-hl-center-container > .se-text-field {
    margin-left: 0px;
}

.input-append > .se-hl-center-container > .se-text-field {
    margin-right: 0px;
}

.input-prepend > .se-hl-center-container > .se-text-field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-append > .se-hl-center-container > .se-text-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .se-text-field {
    margin: 0;
}

.btn-group > .se-text-field:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
