@import "compass/css3/transform";
@import "variables";

.se-thumbnail {
    position: relative;
    display: block;
    height: $thumbnail-height-base;
    line-height: $thumbnail-height-base;
    margin: 0 0 $margin-vertical-base;
    text-align: center;
    border: 1px solid $state-default-border;
    border-radius: $border-radius-base;

    img {
        position: relative;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        border-radius: ($border-radius-base - 1);
        top: 50%;
        vertical-align: baseline;
        @include transform(translateY(-50%));
    }
}

.se-thumbnail-sm {
    height: $thumbnail-height-small;
    line-height: $thumbnail-height-small;
}

.se-thumbnail-missing {
    color: $brand-info;
    font-weight: bold;

    img {
        display: none;
    }
}
