.styled_button {
    border: 0px;
    padding: 0px;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
    margin: 3px;
    position: relative;
    vertical-align: middle;
}

.styled_button.open {
    z-index: 111113;
}

.styled_button.plain {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
}

.styled_button > div, .styled_button > button, .styled_button.plain {
    cursor: pointer;
}

.styled_button.disabled > div, .styled_button.disabled > button, .styled_button.plain.disabled {
    cursor: default;
}

.styled_button > span {
    display: inline-block;
}

.styled_button > button {
    border: 0px;
    padding: 0px;
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
}

.styled_button > div, .styled_button > button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    color: rgb(51, 51, 51);
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgb(230, 230, 230)));
    background-image: -webkit-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: -o-linear-gradient(top, white, rgb(230, 230, 230));
    background-image: linear-gradient(to bottom, white, rgb(230, 230, 230));
    background-image: -moz-linear-gradient(top, white, rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-radius: 5px;
    padding: 4px 14px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.styled_button > div > span {
    margin: 0px 3px 1px 3px;
}

.styled_button > div:active, .styled_button > button:active {
    background-color: rgb(230, 230, 230);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.styled_button > div:hover, .styled_button > button:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.styled_button img.icon {
    margin: 3px;
    vertical-align: middle;
}

.styled_button > div:focus, .styled_button > button:focus, .styled_button.plain:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.styled_button.btn-large {
    font-size: 17.5px;
}

.styled_button.btn-large > div, .styled_button.btn-large > button {
    padding: 11px 19px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.styled_button.btn-small {
    font-size: 11.9px;
}

.styled_button.btn-small > div, .styled_button.btn-small > button {
    padding: 2px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.styled_button.btn-mini {
    font-size: 10.5px;
}

.styled_button.btn-mini > div, .styled_button.btn-mini > button {
    padding: 0px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Grouped buttons */

.input-prepend > .west_container > .styled_button {
    margin: 0 -1px 0 0;
}

.input-prepend > .west_container > .styled_button > div, .input-prepend > .west_container > .styled_button > button {
    border-radius: 0px;
}

.input-prepend > .west_container > .styled_button:first-child > div, .input-prepend > .west_container > .styled_button:first-child > button {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-append > .east_container > .styled_button {
    margin: 0 0 0 -1px;
}

.input-append > .east_container > .styled_button > div, .input-append > .east_container > .styled_button > button {
    border-radius: 0px;
}

.input-append > .east_container > .styled_button:last-child > div, .input-append > .east_container > .styled_button:last-child > button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Primary button */

.styled_button.btn-primary > div, .styled_button.btn-primary > button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.styled_button.btn-primary > div:hover, .styled_button.btn-primary > button:hover,
.styled_button.btn-primary > div:active, .styled_button.btn-primary > button:active {
    color: white;
    background-color: rgb(0, 68, 204);
}

/* Success button */

.styled_button.btn-success > div, .styled_button.btn-success > button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.styled_button.btn-success > div:hover, .styled_button.btn-success > button:hover,
.styled_button.btn-success > div:active, .styled_button.btn-success > button:active {
    color: white;
    background-color: rgb(81, 163, 81);
}

/* Warning button */

.styled_button.btn-warning > div, .styled_button.btn-warning > button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.styled_button.btn-warning > div:hover, .styled_button.btn-warning > button:hover,
.styled_button.btn-warning > div:active, .styled_button.btn-warning > button:active {
    color: white;
    background-color: rgb(248, 148, 6);
}

/* Danger button */

.styled_button.btn-danger > div, .styled_button.btn-danger > button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.styled_button.btn-danger > div:hover, .styled_button.btn-danger > button:hover,
.styled_button.btn-danger > div:active, .styled_button.btn-danger > button:active {
    color: white;
    background-color: rgb(189, 54, 47);
}
