@import 'variables';
@import 'compass/utilities/color/contrast';
@import 'compass/css3';

.add-on, .box {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: $input-height-base;
    padding: $padding-vertical-base $padding-horizontal-base;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: $line-height-base;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    border: 1px solid $input-border;
    vertical-align: middle;
    box-sizing: border-box;
    @include border-radius(0);

    @if ($button-gradients) {
        box-shadow: $input-external-shadow;
    }
}

.add-on {
    color: contrast-color($addon-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background-color: $addon-bg;
}

.box {
    color: contrast-color($box-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background-color: $box-bg;
}

.input-prepend > .west_container > .add-on:first-child {
    border-radius: $border-radius-base 0 0 $border-radius-base;
}

.input-prepend > .west_container > .add-on:last-child {
    margin: 0 -1px 0 0;
}

.input-append > .east_container > .add-on:first-child {
    margin: 0 0 0 -1px;
}

.input-append > .east_container > .add-on:last-child {
    @include border-radius(0 $border-radius-base $border-radius-base 0);
}

.btn-group .add-on:not(:first-child), .btn-group .box:not(:first-child),
.pagination .add-on:not(:first-child), .pagination .box:not(:first-child) {
    margin-left: -1px;
}

.btn-group-lg .add-on, .btn-group-lg .box {
    height:  $input-height-large;
    padding: $padding-vertical-large $padding-horizontal-large;
}
