@import 'variables';
@import 'compass/utilities/color/contrast';


// ======================================================================================
// COMPONENT - PANEL
// ======================================================================================

.panel {
    position: relative;
    display: block;
    margin: 0px 0px $panel-margin-v;
    background-color: $panel-bg-color;
    border: solid 1px transparent;
    border-radius: $panel-border-radius;

    .panel-heading,
    .panel-body,
    .panel-footer {
        position: relative;
        display: block;
        margin: 0px;
        padding: $panel-padding-v $panel-padding-h;
        background-color: transparent;
        box-sizing: border-box;

        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }

    .panel-heading {
        border-top-left-radius: ($panel-border-radius - 1);
        border-top-right-radius: ($panel-border-radius - 1);
    }

    .panel-title,
    .panel-options {
        position: relative;
        display: block;
    }

    .panel-title {
        @include font($weight: "bold");
        @include font-truncate();
        color: $panel-heading-font-color;
        text-shadow: $panel-heading-font-shadow;
        float: left;
    }

    .panel-options {
        float: right;

        .se-btn {
            position: relative;
            display: inline-block;
            width: $panel-option-width;
            margin: 0px $panel-option-margin-h 0px 0px;
            padding: 0px;
            color: $panel-heading-font-color;
            text-shadow: $panel-heading-font-shadow;
            background: transparent;
            border: none;
            box-shadow: none;
            vertical-align: baseline;
            text-align: center;

            &:hover,
            &:focus {
                text-shadow: $panel-option-hover-font-shadow;
                box-shadow: none;
            }

            &.disabled {
                text-shadow: none;
                box-shadow: none;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .panel-footer {
        border-bottom-left-radius: ($panel-border-radius - 1);
        border-bottom-right-radius: ($panel-border-radius - 1);
    }
}

// ======================================================================================
// COMPONENT - PANEL DEFAULT
// ======================================================================================

.panel-default {
    border-color: $panel-default-border-color;

    .panel-heading {
        background-color: $panel-default-heading-bg-color;
    }

    .panel-title {
        color: $panel-default-heading-font-color;
    }

    .panel-options .se-btn {
        color: $panel-default-heading-font-color;

        &:hover,
        &:focus {
            color: $panel-default-option-hover-font-color;
        }
    }
}

// ======================================================================================
// COMPONENT - PANEL PRIMARY
// ======================================================================================

.panel-primary {
    border-color: $panel-primary-border-color;

    .panel-heading {
        background-color: $panel-primary-heading-bg-color;
    }

    .panel-title {
        color: $panel-primary-heading-font-color;
        text-shadow: $panel-primary-heading-font-shadow;
    }

    .panel-options .se-btn {
        color: $panel-primary-heading-font-color;
        text-shadow: $panel-primary-heading-font-shadow;

        &:hover,
        &:focus {
            color: $panel-primary-option-hover-font-color;
            text-shadow: $panel-option-hover-font-shadow;
        }
    }
}
