TEST_HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'wirecloud.commons.haystack_backends.elasticsearch2_backend.Elasticsearch2SearchEngine',
        'URL': os.environ['INDEX_URI'],
        'INDEX_NAME': 'wirecloud_testing',
    },
}
