DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': os.environ.get('DB_NAME', 'wirecloud'),
        'USER': os.environ.get('DB_USER', 'postgres'),
        'PASSWORD': '',
        'HOST': os.environ.get('DB_HOST', 'localhost'),
        'PORT': os.environ.get('DB_PORT', '5432'),
        'TEST': {
            'NAME': os.environ.get('DB_NAME', 'wirecloud'),
        },
    }
}
