HAYSTACK_CONNECTIONS = TEST_HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'wirecloud.commons.haystack_backends.solr_backend.SolrEngine',
        'URL': 'http://localhost:8983/solr/tester',
        'ADMIN_URL': 'http://localhost:8983/solr/admin/cores',
    },
}
