{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% trans "EzWeb Platform" %}</title>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<!-- Base css -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/ezweb.css" />

{% block extra_stylecss %}
<!-- Theme css -->
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/ezweb.css" />
{% endblock %}

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />

</head>

<body>

<!-- HEADER -->
<div id="header">
<div id="logo"></div>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

</div>

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">
  <div class="form-row">
  	<table>
  		<tr><td>
    		<label for="id_username">{% trans 'Username:' %}</label> 
    	</td><td>
    		<input type="text" name="username" id="id_username" />
    	</td></tr>
    	<tr><td>
    		<label for="id_password">{% trans 'Password:' %}</label> 
    	</td><td>	
    		<input type="password" name="password" id="id_password" />
    	</td></tr>
    </table>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="post_data" value="{{ post_data }}" /> {#<span class="help">{% trans 'Have you <a href="/password_reset/">forgotten your password</a>?' %}</span>#}
    <input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>
{% if AUTHENTICATION_SERVER_URL %}
<div class="registration"><a href="{{AUTHENTICATION_SERVER_URL}}/api/register?next=http://{{request.get_host}}/accounts/login/?next=/">{% trans 'Create a new account' %}</a></div>
{% endif %}

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

</body>

</html>

