<html>
<head>

<style>
#header{
	padding: 3px 0;
}

#header div{
	font-size: 75%;
	display:inline;
	margin: 0 5px;
}

#header #source label{
	color: #274463;
}

#header a, #header .link{
	color: #2D6F9C;
	cursor: pointer;
	text-decoration: underline;
}

#header #source a {

}
#header div.param{
	margin: 0 5px 0 0;
	white-space: nowrap;
	float:left;
	padding: 1px;
}

.param input{
	font-size:85%;
}
.param label{
	display: inline;
	font-size:90%;
	font-weight:bold;
	margin-right: 4px;
}
#header div.event{
	background: #DEDEDE;
}
button{
	vertical-align:bottom;
	float:left;
}
form, body {
	margin: 0;
}
form{
	display: inline;
	margin: 0 5px;
}

#video{
	clear:both;
}

</style>

<script language="javascript" src="/ezweb/js/EzWebAPI/EzWebAPI.js"></script>

<script>
var languages = {"en":{
					"home":"Home",
					"refresh":"Refresh",
					"show_link":"Show variables",
					"hide_link":"Hide variables"
				},
				"es":{
					"home":"Inicio",
					"refresh":"Actualizar",
					"show_link":"Mostrar parámetros",
					"hide_link":"Ocultar parámetros"
				}};

var _ = function(key) {
	if (document.getElementById(key)){
		element = document.getElementById(key);
		element.innerHTML= "";

		if (languages[language.get()] && languages[language.get()][key]){
			element.appendChild(document.createTextNode(languages[language.get()][key]));
		}
		else {
			element.appendChild(document.createTextNode(key));
		}
	}
};

var language = EzWebAPI.createRGadgetVariable("language", function(){
	_("refresh");
	_("home");
	_("show_link");
	_("hide_link");
	});


var agent=navigator.userAgent;
var is_iphone = (agent.indexOf('iPhone')!=-1);

function URLDecode( url )
{
   // Replace + with ' '
   // Replace %xx with equivalent character
   // Put [ERROR] in output if %xx is invalid.
   var HEXCHARS = "0123456789ABCDEFabcdef"; 
   var encoded = url;
   var plaintext = "";
   var i = 0;
   while (i < encoded.length) {
       var ch = encoded.charAt(i);
        if (ch == "+") {
	    plaintext += " ";
	         i++;
		 } else if (ch == "%") {
		        if (i < (encoded.length-2) 
			       && HEXCHARS.indexOf(encoded.charAt(i+1)) != -1 
			              && HEXCHARS.indexOf(encoded.charAt(i+2)) != -1 ) {
				                plaintext += unescape( encoded.substr(i,3) );
						          i += 3;
							         } else {
								           alert( 'Bad escape combination near ...' + encoded.substr(i) );
									             plaintext += "%[ERROR]";
										               i++;
											              }
												      } else {
												                plaintext += ch;
														  i++;
														  }
   } // while
   
   return plaintext;
}

function parseURL(url) {
	var a =  document.createElement('a');
	a.href = url;
	return {
	    source: url,
	    protocol: a.protocol.replace(':',''),
	    host: a.hostname,
	    port: a.port,
	    query: a.search,
	    params: (function(){
	        var ret = {},
	            seg = a.search.replace(/^\?/,'').split('&'),
	            len = seg.length, i = 0, s;
	        for (;i<len;i++) {
	            if (!seg[i]) { continue; }
	            s = seg[i].split('=');
	            ret[s[0]] = s[1];
	        }
	        return ret;
	    })(),
	    file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
	    hash: a.hash.replace('#',''),
	    path: a.pathname.replace(/^([^\/])/,'/$1'),
	    relative: (a.href.match(/tp:\/\/[^\/]+(.+)/) || [,''])[1],
	    segments: a.pathname.replace(/^\//,'').split('/')
	};
}

// CONTEXT
var height = EzWebAPI.createRGadgetVariable("height", repaint);
//PREFERENCES
var urlPref = EzWebAPI.createRGadgetVariable("urlPref", setURL);
var homeUrl = EzWebAPI.createRGadgetVariable("homeUrl", setHomeURL);
var refreshingTime = EzWebAPI.createRGadgetVariable("refreshingTime", setRefreshingTime);
var httpVerb = EzWebAPI.createRGadgetVariable("htmlVerb", setHttpVerb);

//WIRING
{% if params %}
var params = EzWebAPI.createRGadgetVariable("parameters", setParams);
{% endif %}
//PROPERTIES
var source = EzWebAPI.createRWGadgetVariable("source");
var sourceUrl = EzWebAPI.createRWGadgetVariable("sourceUrl");

//AUTHOMATIC EVENTS, SLOTS AND PREFERENCES OF THE URL
var slotValuesArray = new Array();
{% for param in params %}
slotValuesArray[{{forloop.counter0}}] = {
	'name': '{{ param }}',
	'value': null,
	'withValue': false
};
var {{ param }}_event = EzWebAPI.createRWGadgetVariable("{{ param }}_event");
var {{ param }}_slot = EzWebAPI.createRGadgetVariable("{{ param }}_slot",{{ param }}_slot_handler);
var {{ param }}_pref = EzWebAPI.createRGadgetVariable("{{ param }}_pref",{{ param }}_pref_handler);

function {{ param }}_pref_handler (value){
	document.getElementById("{{ param }}_event").value=value;
}

function {{ param }}_slot_handler (value){
	// form value = slot value
	document.getElementById("{{ param }}_event").value=value;
	// Update slot values array counter
	slotValuesArray[{{forloop.counter0}}].value = value;
	slotValuesArray[{{forloop.counter0}}].withValue = true;
	checkSlotValues();
}
{% endfor %}

//AUTHOMATIC EVENTS
{% for event in events %}
var {{ event }} = EzWebAPI.createRWGadgetVariable("{{ event }}");
{% endfor %}

//GLOBAL
var real_url;
var idInterval;

function repaint(){
	var heightHeader = document.getElementById("header").offsetHeight;
	if(height.get() > (heightHeader))
		document.getElementById("video").style.height = (height.get() - heightHeader) + 'px';
}

function init(){

	//the url comes from the urlPref or homeUrl preferences
	var home_url = homeUrl.get();
	real_url = urlPref.get();
	
	//print the preference values
	{% for param in params %}
		if ({{ param }}_pref.get() && {{ param }}_pref.get()!=""){
			document.getElementById("{{ param }}_event").value={{ param }}_pref.get()
		}
	{% endfor %}
	
	{% if params %}
	if (!params.get() || params.get()==""){
	{% endif %}
		// there is no params -> show the home if it exists
		if (home_url && home_url!=""){
			loadURL(home_url);
		}
		else{
			//no more options -> show the url base
			loadURL(real_url);
		}
	{% if params %}	
	}
	{% endif %}

	if (home_url=="")
		document.getElementById("home").style.display="none";
	//else -> wait the wiring propagation
	//show source
	if(source.get() && source.get()!=""){
		var sourceDiv = document.getElementById('source');
		//if we have an URL, create a link
		if(sourceUrl.get() && sourceUrl.get()!=""){
			var link = document.createElement('a');
			link.href = sourceUrl.get();
			link.target = "_blank";
			link.innerHTML = source.get();
			sourceDiv.appendChild(link);
		}else{
			var span = document.createElement('span');
			span.innerHTML = source.get();
			sourceDiv.appendChild(span);
		}

		sourceDiv.style.display="inline";
	}
	if(refreshingTime.get() > 0)
		idInterval = setInterval("refresh()",parseInt(refreshingTime.get()) * 60000);
	
}
function loadURL(url_){
	if (url_ && url_!="" && url_!="http://") {
		url_ = URLDecode(url_);
		loadURLForm(url_.replace(/^\s*|\s*$/g,""));
		
	}
}
function setURL(value){
	if (value.indexOf('http')!=0)
		real_url = 'http://'+value;
	else
		real_url = value;
	loadURL(real_url + params.get());
}

function setHomeURL(value){
	if (value && value!="")
		document.getElementById("home").style.display="inline";
	else
		document.getElementById("home").style.display="none";
}

{% if params %}
function setParams(value){
	loadURL(real_url + value);
	if (value !="")
		//print the parameters in the input fields
		var parameters = value.split('&');
		for (i in parameters){
			var param = parameters[i].split("=");
			if (param[0]!=parameters[i]){
				if (document.getElementById(param[0]))
					document.getElementById(param[0]).value=param[1]
			}
		} 
}
{% endif %}

function refresh(){
	loadURL(real_url);
}

function setHttpVerb(value) {
	refresh();
}


function setRefreshingTime(value){
	if(parseInt(value) > 0){
		clearInterval(idInterval);
		idInterval = setInterval("refresh()",parseInt(value) * 60000);
	}
}

function goHome(){
	loadURL(homeUrl.get());
}

function sendParameters(){
	var elements = document.getElementById('parameters').elements;
	// Send form values through the events variables
	for (index=0;index<elements.length;index++){
		var field = elements[index]
		if (field.nodeName.toLowerCase()=="input"){
			if (field.value!=""){
				eval(field.id).set(field.value);
			}else{
				eval(field.id).set(null);
			}
		}		
	}
	loadURL(real_url);

}

function checkSlotValues(){

	for (var i = 0; i<slotValuesArray.length; i++) {
		if (!slotValuesArray[i].withValue) {
			// If we've found some 'false' element, do nothing
			return; 
		}
	}
	// If we get here, all the elements of the slotWithValueArray are 'true'. 
	// Reset the array and make the request
	for (var i = 0; i<slotValuesArray.length; i++) {
		slotValuesArray[i].withValue = false;
	}
	loadURL(real_url);
}

function loadURLForm(value) {

	if (!value) return;
	var frm = document.getElementById('parameters');
	var url = parseURL(value);

	//add the fixed params as hidden inputs	
	var fixed_params_div = document.getElementById('fixed_params');
	for (var k in url.params) {
		var prm = document.createElement('input');
		prm.setAttribute('type', 'hidden');
		prm.setAttribute('name', k);
		prm.setAttribute('value', url.params[k]);
		fixed_params_div.appendChild(prm);
	}

	var current_url = url.protocol+'://'+url.host+(url.protocol = '' ? ':'+url.protocol : '')+url.path;
	frm.setAttribute('action', current_url);
	frm.setAttribute('method', httpVerb.get());
	frm.setAttribute('target', 'browser');
	frm.submit();
	
	//remove the fixed params in case the URLpref changes
	fixed_params_div.innerHTML = "";
}


function showVariables(){
	document.getElementById("show_link").style.display="none";
	document.getElementById("hide_link").style.display="inline";	
	document.getElementById("parameters").style.display="block";
	repaint();
}

function hideVariables(){
	document.getElementById("hide_link").style.display="none";
	document.getElementById("show_link").style.display="inline";	
	document.getElementById("parameters").style.display="none";
	repaint();
}

</script>

</head>

<body onload="init()">
<div id="header">
	<div id="source" style="display:none"><label>source: </label></div>
	<div id="home" onclick="goHome()" class="link">home</div>
	<div id="refresh" onclick="refresh()" class="link">refresh</div>
	{% if params or events %}
	<div id="show_link" onclick="showVariables()" class="link">show variables</div>
	<div id="hide_link" onclick="hideVariables()" style="display:none" class="link">hide variables</div>
	{% endif %}
	<form id="parameters" name="parameters" style="display:none" method="get" target="browser">
	<div id="fixed_params" style="display:none"></div>
	{% for param in params %}
		<div class="param"><label>{{ param }}</label><input size="9" type="text" name="{{ param }}" id="{{ param }}_event" /></div>
	{% endfor %}
	{% for event in events %}
		<div class="param event"><label>{{ event }}</label><input size="9" type="text" name="{{ event }}" id="{{ event }}" /></div>
	{% endfor %}
	{% if params or events %}
		<button id="send" type="button"  onclick="sendParameters()">send</button>
	{% endif %}
	</form>
</div>
<div id="video">
<iframe id="browser" name="browser" frameborder="0" width="100%" height="100%"></iframe>
</div>
</body>
</html>