.catalogue #menu_options .simple_search #simple_search_text {
	background: #e6f3ff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.catalogue .resource_list .header_resource, .catalogue #resource_details .back_to_resource_list {
	border-color: #DDDDDD;
}

.catalogue button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.window_menu button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.resource_details img {
    background: white;
}

.catalogue .resource .resource_name {
    font-weight: bold;
}

.catalogue .bold {
    font-weight: bold;
}

.catalogue .link:hover {
  text-decoration: underline
}
