#showcase {
  overflow:hidden;
}

#showcase #catalogue_content {
  border-left-width: 1px;
  border-left-style: solid;
}

#catalogue #tag_categories ul {
	list-style-type:none;
	padding-left: 10px;
	margin: 0;
}

#fi-ware_catalogue #tag_categories ul {
	list-style-type:none;
	padding-left: 10px;
	margin: 0;
}

#catalogue #tag_categories li {
	padding: 5px 0;
	cursor: pointer;
}

#fi-ware_catalogue #tag_categories li {
	padding: 5px 0;
	cursor: pointer;
}


#catalogue .resource_list .popularity.no_float, .no_float {
  float: none;
}

#fi-ware_catalogue .resource_list .popularity.no_float, .no_float {
  float: none;
}

#catalogue .tagging_area {
  float: left;
}

#fi-ware_catalogue .tagging_area {
  float: left;
}

#catalogue .inline {
  display: inline;
}

#fi-ware_catalogue .inline {
  display: inline;
}

#catalogue .submit_tag_link {
  margin-left: 15px;
}

#fi-ware_catalogue .submit_tag_link {
  margin-left: 15px;
}

#catalogue .tag_links a, #catalogue .my_tags_area a {
  margin-right: 5px;
  float: left;
}

#fi-ware_catalogue .tag_links a, #catalogue .my_tags_area a {
  margin-right: 5px;
  float: left;
}

#catalogue .tag_input {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	height:14px;
	width:120px;
	margin-left: 5px;
}

#fi-ware_catalogue .tag_input {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #DDDDDD;
	height:14px;
	width:120px;
	margin-left: 5px;
}

#catalogue .resource_details .tagging_area .operation_area {
  float: none;
  overflow: hidden;
}

#fi-ware_catalogue .resource_details .tagging_area .operation_area {
  float: none;
  overflow: hidden;
}

#catalogue .resource_details .available_version {
  float: left;
  margin-right: 15px;
}

#fi-ware_catalogue .resource_details .available_version {
  float: left;
  margin-right: 15px;
}

#catalogue .resource_details .operation_area {
  border: 1px solid #DDDDDD;
  width:400px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  float: left;
  margin-left: 20px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

#fi-ware_catalogue .resource_details .operation_area {
  border: 1px solid #DDDDDD;
  width:400px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  float: left;
  margin-left: 20px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

#catalogue .resource_details .operation_area>div {
  margin-left: 10px;
}

#fi-ware_catalogue .resource_details .operation_area>div {
  margin-left: 10px;
}

#catalogue .resource_details .operation_area .operation_content {
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#fi-ware_catalogue .resource_details .operation_area .operation_content {
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#catalogue .resource_details .message {
  float: left;
  padding-left: 15px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#fi-ware_catalogue .resource_details .message {
  float: left;
  padding-left: 15px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#catalogue select {
  height: 20px;
  font-size: 8pt;
}

#fi-ware_catalogue select {
  height: 20px;
  font-size: 8pt;
}

.showcase {
  border-color:#C2CBD2;
}

#catalogue .paginate a.text,  #catalogue .paginate a.text:visited {
  cursor: default;
  text-decoration: none;
  color: black;
}

#fi-ware_catalogue .paginate a.text,  #catalogue .paginate a.text:visited {
  cursor: default;
  text-decoration: none;
  color: black;
}

#catalogue .margin_top {
  margin-top: 10px;
}

#fi-ware_catalogue .margin_top {
  margin-top: 10px;
}

#catalogue .link:hover  {
  text-decoration: underline;
}

#fi-ware_catalogue .link:hover  {
  text-decoration: underline;
}
#catalogue .link {
  cursor: pointer;
  color: darkBlue;
}

#catalogue .developer_image {
    width: 200px;
    height: 120px;
    margin: 1ex 2ex 2ex 0;
    float: left;
}

#catalogue .developer_title {
  font-size:18px;
}

#catalogue .developer_block {
  clear:both;
  float:left;
  margin-bottom:25px;
  padding-left:15px;
  width: 100%;
}

#catalogue .developer_description {
  padding-left: 15px;
  padding-top: 8px;
  max-width: 700px;
}

#catalogue .developer_block button, #catalogue #template_uri, #catalogue #gadget_uri {
  margin-left:15px;
  margin-top:10px;
}

#catalogue .float_left {
  float: left;
}

#catalogue #left_bar {
	float:left;
	display:inline;
	position:relative;
	width: 13%;
	padding: 7px 10px 0 10px;
	margin: 0;
	height: 1000px;
}

#catalogue #left_bar a:hover {
   text-decoration:none;
}

#catalogue #left_bar .bar_widget {
	margin: 0 0 20px 0;
}

#catalogue #left_bar .widget_title {
	font-size: 105%;
	margin: 10px 0;
}

#catalogue #left_bar .widget_content {
	overflow-x: auto;
	margin-top: 10px;
}

#catalogue .simple_search {
	float: left;
	position: relative;
	left: 10px;
}

#catalogue .simple_search #simple_search_text {
    margin: 0px;
    padding: 0px;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#E6F3FF none repeat scroll 0 0;
}

#catalogue #catalogue_content {
	float:left;
    padding-left:10px;
    position:relative;
    width:84%;
    padding-top: 7px;
}

#catalogue #catalogue_resources_header{
	float: left;
	clear: both;
	width: 100%;
}

#catalogue .paginate_show {
    display: inline;
    float:right;
    margin-right: 10px;
}

#catalogue .orderby {
	display:inline;
	float:right;
	margin-right: 10px;
}

#catalogue .paginate {
	padding-top:2px;
	padding-bottom:7px;
	float:right;
	margin-right: 10px;
}

#catalogue .resource_list .resource {
    clear: both;
    margin-right: 10px;
    position: relative;
}

#catalogue .resource_list .header_resource {
	border-top: 1px solid;
}

#catalogue .section_ie_compatibility .warning {
    background-color: #FFFFA8;
    border: black solid 1px;
    padding: 3px;
    margin-top: 2px;
}

#catalogue .section_ie_compatibility .hidden {
    display: none;
}

#fi-ware_catalogue .link {
  cursor: pointer;
  color: darkBlue;
}

#fi-ware_catalogue .developer_image {
    width: 200px;
    height: 120px;
    margin: 1ex 2ex 2ex 0;
    float: left;
}

#fi-ware_catalogue .developer_title {
  font-size:18px;
}

#fi-ware_catalogue .developer_block {
  clear:both;
  float:left;
  margin-bottom:25px;
  padding-left:15px;
  width: 100%;
}

#fi-ware_catalogue .developer_description {
  padding-left: 15px;
  padding-top: 8px;
  max-width: 700px;
}

#fi-ware_catalogue .developer_block button, #catalogue #template_uri, #catalogue #gadget_uri {
  margin-left:15px;
  margin-top:10px;
}

#fi-ware_catalogue .float_left {
  float: left;
}

#fi-ware_catalogue #left_bar {
	float:left;
	display:inline;
	position:relative;
	width: 13%;
	padding: 7px 10px 0 10px;
	margin: 0;
	height: 1000px;
}

#fi-ware_catalogue #left_bar a:hover {
   text-decoration:none;
}

#fi-ware_catalogue #left_bar .bar_widget {
	margin: 0 0 20px 0;
}

#fi-ware_catalogue #left_bar .widget_title {
	font-size: 105%;
	margin: 10px 0;
}

#fi-ware_catalogue #left_bar .widget_content {
	overflow-x: auto;
	margin-top: 10px;
}

#fi-ware_catalogue .simple_search {
	float: left;
	position: relative;
	left: 10px;
}

#fi-ware_catalogue .simple_search #simple_search_text {
    margin: 0px;
    padding: 0px;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#E6F3FF none repeat scroll 0 0;
}

#fi-ware_catalogue #catalogue_content {
	float:left;
    padding-left:10px;
    position:relative;
    width:84%;
    padding-top: 7px;
}

#fi-ware_catalogue #catalogue_resources_header{
	float: left;
	clear: both;
	width: 100%;
}

#fi-ware_catalogue .paginate_show {
    display: inline;
    float:right;
    margin-right: 10px;
}

#fi-ware_catalogue .orderby {
	display:inline;
	float:right;
	margin-right: 10px;
}

#fi-ware_catalogue .paginate {
	padding-top:2px;
	padding-bottom:7px;
	float:right;
	margin-right: 10px;
}

#fi-ware_catalogue .resource_list .resource {
    clear: both;
    margin-right: 10px;
    position: relative;
}

#fi-ware_catalogue .resource_list .header_resource {
	border-top: 1px solid;
}

#fi-ware_catalogue .section_ie_compatibility .warning {
    background-color: #FFFFA8;
    border: black solid 1px;
    padding: 3px;
    margin-top: 2px;
}

#fi-ware_catalogue .section_ie_compatibility .hidden {
    display: none;
}

/*
///////////
Resource
///////////
*/

#catalogue .resource_list > .resource .resource_name {
    padding-bottom: 8px;
    max-width: 350px;
    font-size: 20px;
    cursor: pointer;
}

#catalogue .resource h2 {
    display: inline-block;
}

#catalogue .resource h3 {
    margin: 0.5ex 0 1ex 0;
}

#catalogue .resource .image {
    width: 170px;
    height: 80px;
    border: 1px solid;
    border-color: #BBBBBB;
    background: white;
    display: block;
}

#fi-ware_catalogue .resource_list > .resource .resource_name {
    padding-bottom: 8px;
    max-width: 350px;
    font-size: 20px;
    cursor: pointer;
}

#fi-ware_catalogue .resource h2 {
    display: inline-block;
    color: #900;
}

#fi-ware_catalogue .resource h3 {
    margin: 0.5ex 0 1ex 0;
    color: #063;
}
#fi-ware_catalogue div.second_level {
    padding-left: 25px;
}
#fi-ware_catalogue .legal_resource h3 {
    margin: 0.5ex 0 1ex 0;
    color: #063;
    padding-left: 50px;
    padding-top: 25px;
}

#fi-ware_catalogue .legal_resource h4{
    color: #E8A150;
    padding-left: 75px;
}

#fi-ware_catalogue .legal_resource div.tab_info {
    padding-left: 75px;
}

#fi-ware_catalogue .sla_resource h3 {
    margin: 0.5ex 0 1ex 0;
    color: #063;
    padding-left: 50px;
	padding-top: 25px;
}

#fi-ware_catalogue .sla_resource h4{
    color: #E8A150;
    padding-left: 75px;
}

#fi-ware_catalogue .sla_resource h4.second_level{
    padding-left: 25px;
}

#fi-ware_catalogue .sla_resource div.tab_info {
    padding-left: 75px;
}

#fi-ware_catalogue .pricing_resource h3 {
    margin: 0.5ex 0 1ex 0;
    color: #063;
    padding-left: 50px;
	padding-top: 25px;
}

#fi-ware_catalogue .pricing_resource h4{
    color: #E8A150;
    padding-left: 75px;
}

#fi-ware_catalogue .pricing_resource div.tab_info {
    padding-left: 75px;
}

#fi-ware_catalogue .part_resource h3 {
    margin: 0.5ex 0 1ex 0;
    color: #063;
    padding-left: 50px;
	padding-top: 25px;
}

#fi-ware_catalogue .part_resource h4 {
    color: #E8A150;
    padding-left: 75px;
}

#fi-ware_catalogue .part_resource div.tab_info {
    padding-left: 75px;
}

#fi-ware_catalogue .resource .image {
    width: 170px;
    height: 80px;
    border: 1px solid;
    border-color: #BBBBBB;
    background: white;
    display: block;
}
.resource .popularity {
    display: inline-block;
    margin-left: 15px;
}

#catalogue .resource_list .resource_details .voting_label {
  float: left;
  margin: 5px;
}

#fi-ware_catalogue .resource_list .resource_details .voting_label {
  float: left;
  margin: 5px;
}

.resource .popularity > .off {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background-image: url(../images/icons-sprite.png);
    background-position: 0px -168px;
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: default;
}

.resource .popularity > .on {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: default;
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -168px;
}

.resource .popularity > .md {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    display: inline-block;
    height: 15px;
    width:15px;
    cursor: default;
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -144px;
}

#catalogue .padding_left {
  padding-left: 5px;
}

#catalogue .padding_right {
  padding-right: 5px;
}

#catalogue .section_title {
  clear:both;
  font-size:13pt;
  padding-bottom:5px;
  padding-top:10px;
}

#catalogue .resource_list .resource .desc, #catalogue .resource_list .resource_details .desc {
  clear: both;
  max-width: 650px;
}

#catalogue .resource_list .resource .tags, #catalogue .resource_list .resource_details .tags {
  float: left;
  padding-top: 10px;
}

#catalogue .resource_list .resource .tags .tags_label, #catalogue .resource_list .resource_details .tags {
  float: left;
  margin-right:10px;
}

#catalogue .resource_list .resource .footer_resource {
  height: 10px;
  clear: both;
  bottom: 0px;
  float: left;
}

#catalogue .resource .left_column_resource {
  float: left;
  width: 25%;
  text-align: center;
}

#catalogue .resource > .left_column_resource > img {
    display: inline;
}

#catalogue .resource .right_column_resource {
  float: left;
  width: 75%;
}

#catalogue .resource_list .header_resource, #catalogue .resource_list .header_resource {
  height: 10px;
  clear: both;
  top: 0px;
}



#fi-ware_catalogue .padding_left {
  padding-left: 5px;
}

#fi-ware_catalogue .padding_right {
  padding-right: 5px;
}

#fi-ware_catalogue .section_title {
  clear:both;
  font-size:13pt;
  padding-bottom:5px;
  padding-top:10px;
}

#fi-ware_catalogue .resource_list .resource .desc, #catalogue .resource_list .resource_details .desc {
  clear: both;
  max-width: 650px;
}

#fi-ware_catalogue .resource_list .resource .tags, #catalogue .resource_list .resource_details .tags {
  float: left;
  padding-top: 10px;
}

#fi-ware_catalogue .resource_list .resource .tags .tags_label, #catalogue .resource_list .resource_details .tags {
  float: left;
  margin-right:10px;
}

#fi-ware_catalogue .resource_list .resource .footer_resource {
  height: 10px;
  clear: both;
  bottom: 0px;
  float: left;
}

#fi-ware_catalogue .resource .left_column_resource {
  float: left;
  width: 25%;
  text-align: center;
}

#fi-ware_catalogue .resource > .left_column_resource > img {
    display: inline;
}

#fi-ware_catalogue .resource .right_column_resource {
  float: left;
  width: 75%;
}

#fi-ware_catalogue .resource_list .header_resource, #catalogue .resource_list .header_resource {
  height: 10px;
  clear: both;
  top: 0px;
}
/* /////////////// */

.purchase_window_table td.app_name {
	color: darkBlue;
}

.purchase_window_table tr.total_row td {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.purchase_window_table tr.total_row {
	cursor: default;
}

.tags .tag_links {
  float:left;
  overflow:hidden;
  width:500px;
}

#catalogue #toolbar {
  width: 100%;
}

#catalogue .toolbar_option {
  float: left;
}

#fi-ware_catalogue #toolbar {
  width: 100%;
}

#fi-ware_catalogue .toolbar_option {
  float: left;
}

#gadgetToAppWindow .app_image {
  position:absolute;
  right:8px;
  top:30px;
  width:140px;
  height: 65px;
}

#gadgetToAppWindow .app_info {
  width: 525px;
}

#gadgetToAppWindow .app_desc, #gadgetToAppWindow .app_gadgets {
  clear: both;
}

.show_external_link {
  padding-bottom: 10px;
}

#gadgetToAppWindow b {
  clear: both;
  float: left;
  padding-right: 5px;
}



#close_info_resource {
	position:absolute;
	z-index:2;
	right:10px;
	top:10px;
}

.purchase_window_text {
	max-width: 500px;
}

.purchase_window_table {
	margin-top:10px;
	width: 100%;
}

.purchase_window_table th {
	border-bottom:1px solid;
	padding-left: 6px;
	text-align: left;
}

.purchase_window_table th.app_name {
	width: 60%;
}

.purchase_window_table th.app_signup_price,  .purchase_window_table th.app_monthly_price {
	width: 20%;
}

.purchase_window_table td {
	border-left:1px solid;
	padding-left: 6px;
	text-align: left;
	padding: 6px;
	margin: 0px;
}

.purchase_window_table tr {
	cursor: pointer;
	cursor: hand;
}

#purchase_window_table .right_border {
  border-right: 1px solid;
}

.help_text_enabled {
	display: block;
	position: absolute;
	z-index: 5;
	max-width: 450px;
}

.help_text_disabled {
	display: none;
	position: absolute;
}

#app_image {
	width: 150px;
	height: 70px;
	border: none;
	clear: both;
	float: right;
}

#app_name {
	clear: both;
	font-size: 16px;
	float: left;
	padding-bottom: 10px;
	min-width: 400px;
}

#app_desc, #app_gadget_list {
	clear: both;
}

#app_vendor, #app_signup_fee, #app_monthly_fee {
	padding-left: 6px;
	float: left;
}

#app_close{
	position: absolute;
	top: 5px;
	right: 5px;
}

.floating_left {
	float: left;
	clear: left;
}

.clearing_both {
	clear: both;
	font-weight: bold;
}

#colorpicker301{
	position: fixed;
}

