div.gadget_window {
  -moz-border-radius-topleft:  6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  /*border-color: #C2CBD2;*/
  background: white;
}

div.gadget_window_transparent {
  background: transparent;
}

div.gadget_menu {
  -moz-border-radius-topleft:  4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  background: #FFFFFF;
  font-size: 12px;
}

/********************************************/

div.dragboard.fixed {
  background: transparent;
}

div.gadget_window div.gadget_menu input[type="button"].closebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -480px;
}

div.gadget_window div.gadget_menu input[type="button"].closebutton:hover {
  background-position: 0px -480px;
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -432px;
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton:hover {
  background-position: 0px -432px;
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -336px;
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton:hover {
  background-position: 0px -336px;
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -456px;
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton:hover {
  background-position: 0px -456px;
}

div.gadget_window div.gadget_menu input[type="button"].settings2button {
  background: url(../images/igadget/settings2.png);
}

div.gadget_window div.gadget_menu input[type="button"].settings2button:hover {
  background: url(../images/igadget/settings2-highlighted.png);
}

div.gadget_window div.gadget_menu input[type="button"].errorbutton {
  background-image: url(../images/icons-sprite.png);
  background-position: -24px -528px;
  background-color: transparent;
}

div.gadget_window div.gadget_menu input[type="button"].versionbutton {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -216px;
    background-color: transparent;
}

div.color_button {
  border-color: #888;
  -moz-border-radius: 4px;
}

div.gadget_window div.snapButton {
  /* This icon represents that the iGadget is outside the grid */
  background: url(../images/icons-sprite.png);
  background-position: -48px -72px;
}

div.gadget_window .dragboardwiki {
  background: url(../images/icons-sprite.png);
  background-position: -24px -360px;
}

div.gadget_window .dragboardwiki:hover {
  background-position: 0px -360px;
}

div.gadget_window div.extractButton {
  background: url(../images/icons-sprite.png);
  background-position: -48px -360px;
}

div.gadget_window div.leftResizeHandle {
  /* Can not use sprite image cause the handle grows to 100%x100% when resizing */
  background: transparent url(../images/resize-handle-bottom-left.png) no-repeat left bottom;
}

div.gadget_window div.rightResizeHandle {
  /* Can not use sprite image cause the handle grows to 100%x100% when resizing */
  background: transparent url(../images/resize-handle-bottom-right.png) no-repeat right bottom;
}

.gadget_menu .igadget_name {
  font-size:   12px;
  /*color:       #4C5054;
  font-weight: bold;*/
  background:transparent none repeat scroll 0%;
}

div.gadget_window_locked {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: transparent;
}

/*****
 * config_interface
 */
 
div.gadget_window div.config_interface,
div.gadget_window_locked div.config_interface {
  background: #DDD;
  border-bottom-color: #4c5054;
}

div.config_interface input, div.config_interface select {
  border-color: #4c5054;
}

div.config_interface label.invalid {
  color: red;
}

div.config_interface label.invalid input {
  border-color: red;
}

table.shared_prefs td{
	border-bottom-color: #CCCCCC;
}

/***
 *
 */

#dragboardcursor {
  border-color: #97A0A8;
  background: #F2F9FF;
  -moz-border-radius-topleft:  6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
