body {
	color:#000;
    font-size:80%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:darkBlue;
}

.window_link{
	color:darkBlue;
	text-decoration:underline;
	cursor: pointer;
}

#loading-background {
    background: white;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

#loading-indicator {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-message {
    font-size: 10pt;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

/* header ------------------------------------------------------------------------------------------ */


.go_back{
	text-decoration: underline;
}

.form-row input[type="submit"] {
	background: transparent url(../images/header_deg.gif) repeat;
	color: white;
}

#content-main .registration a{
	color:#2D6F9C;
}

#greeting .languages a{
	text-decoration:none;
}

#left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

#ws_operations_link {
  background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.global_header .toolbar_menu > div.selected_section {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkitborder-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}

.global_header .toolbar_menu .first_toolbar_button {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}

.global_header .last_toolbar_button {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius:5px;
}

#ws_banner .toolbar_menu > div.disabled_button:hover {
  text-decoration:none;
  background:#002440;
  color:#CCC;
}

#ws_banner .toolbar_menu > div.disabled_button {
  cursor:default;
  background:#002440;
  color:#CCC;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	border-radius: 4px;
}

.application_selector {
  background: url(../images/icons-sprite.png);
  background-position: -24px -456px;
 }

#left_slider{
  background: url(../images/icons-sprite.png);
  background-position: 0px -288px;
}

#right_slider{
  background: url(../images/icons-sprite.png);
  background-position: -24px -288px;
}

#tab_marker{
  background: url(../images/icons-sprite.png);
  background-position: 0px -240px;
}

#tab_space{
	-moz-opacity: 0.2;
	filter: alpha(opacity=20);
    opacity: 0.2;
}

#logs_header {
  text-align: left;
}

#logs_header .title {
  display: inline-block;
  font-size: 18pt;
  font-weight: bold;
  margin: 1ex 3ex;
}

#logs_link {
  background-image: url(../images/icons-sprite.png);
  background-position: -48px -504px;
}

#logs_link.highlighted {
  background: transparent url(../images/info_highlighted.png) no-repeat;
}

#logs_console .entry {
    margin: 0.2ex;
}

#logs_console .igadget_info {
    cursor:  pointer;
    height:  16px;
    margin:  1.1ex 10px 0;
    vertical-align:bottom;
    padding-left: 16px;
    /* can't use sprite here because of the padding, which is necessary for the content of the span */
    background: transparent url(../images/maximize.png) no-repeat scroll 0 0;
}

.message_section{
	background: lightyellow;
	border-color: red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}

#add_tab_link {
	font-size: 10px;
}

.tab_section .tab {
  font-size: 12px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

.tab .tab_name {
  font-size: 8pt;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

.disabled_background {
  background-color: #6699cc;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.sidebar{
  background: #FFFFFF;
  opacity: 0.95;
}

.sidebar #add_workspace{
	text-decoration: underline;
	cursor: pointer;
	background: transparent url(../images/add.png) no-repeat scroll 0 0;
	padding-left:16px;
}

.sidebar_title{
	font-style:italic;
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.drop_down_menu {
  border-color: #AAAAAA;
}

.drop_down_menu .border_bottom{
	border-color: #2D6F9C;
}

.drop_down_menu div .help_button {
  background: url(../images/icons-sprite.png);
  background-position: 0px -312px;
}

.underlined {
  border-color: #AAAAAA;
}

.window_menu, .help_text_enabled {
  border-color: #2D6F9C;
}

.window_menu .window_title, .help_text_enabled #app_name {
  color: #2D6F9C;
}

.window_menu .window_content .section_name{
	background: transparent url(../images/section.png) no-repeat scroll 0 0;
	text-decoration: underline;
	font-weight: bold;
}

.window_menu .window_content tr:hover {
  background: #C4D2DD;
}

.window_menu .window_content td input {
  vertical-align: sub;
}

.window_menu .window_content td.label {
  font-weight: bold;
}

.window_menu .explanation{
	font-size: 8pt;
	color: dimGray;
}

.window_menu .error {
  color: red;
  font-weight: bold;
}

.window_menu .warning{
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding: 10px;
}

.color_input{
	background-image:url(../images/colorpicker.png);
	background-position:right center;
	background-repeat:no-repeat;
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  background: url(../images/icons-sprite.png);
  background-position: -24px -264px;
}

.tab_dragger{
  background: url(../images/icons-sprite.png);
  background-position: 0px -264px;
}

.closebutton {
  background: url(../images/icons-sprite.png);
  background-position: -48px -312px;
}

button {
  background: transparent url(../images/button.gif) repeat;
  color: white;
}

.readOnlyIcon, .visibilityIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px;
    vertical-align: bottom;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.readOnlyIcon {
    background-image: url(../images/unlock.png);
}

.readOnlyIcon.readOnly {
    background-image: url(../images/lock.png);
}

.visibilityIcon {
    background-image: none;
}

.visibilityIcon.visible {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -384px;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border-color: #C5D7EF;
	border-top-color: #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom-color: #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom-color: #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom-color:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border-color:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

.container {
  background-color:#E0E0E0 url(../images/init.dat) no-repeat scroll bottom center;
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: transparent;
}

/* logs -------------------------------------------------------------------------------------------- */

.global_header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    color:darkBlue;
    text-decoration:underline;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
  background: url(../images/icons-sprite.png);
  background-position: 0px -312px;
	display:block;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
}

/* Popup menu */

.popup_menu {
  padding: 0;
  background: #FFFFFF;
  border: 1px solid #888888;
}

.popup_menu .menu_item {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0.4ex;
  padding: 0.3ex;
}

.popup_menu .submenu {
  padding-right: 2.5ex;
  background-image: url(/static/js/EzWebAPI_ext/images/styledElements/submenu-mark.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.popup_menu .menu_item.hovered {
  background-color: #FCD18E;
}

.popup_menu hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #888888;
  margin: 0;
}

