.catalogue .notebook .tab_area .tab.selected {
    background: white;
    z-index: 2;
}

.catalogue .notebook .tab_area .tab {
    background: #DF7A62;
}

.catalogue.fiware .resource_details .operation_area {
  border: 1px solid #DDDDDD;
  width:400px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  float: left;
  margin-left: 20px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.catalogue.fiware .resource_details .operation_area>div {
  margin-left: 10px;
}


