/*BODY*/
body {

}
/*HEADER*/

/*BANNER*/
#logo {
	background: url(../images/Open_Ez_Logo.png) no-repeat;
}

#toolbar_section{
	*margin-left: 10px;
}

.toolbar_marked, .toolbar_unmarked {
	padding-left: 4px;
	padding-right: 4px;
}

* html .toolbar_unmarked {
	background-image: none;
	background-color: #7c9ab1;
}

* html .toolbar_marked{
	background-image: none;
	background-color: #c4d4de;
}

#workspace_link_container{
	text-align:center;
}

* html #workspace_link_container{
	width: 150px;
}

#dragboard_link{
	float:none;
}

#dragboard_link span{
	top: 2px;
}

* html #dragboard_link{
	overflow: hidden;
}

* html .ws_name, * html #dragboard_link span, * html #dragboard_link{
	width: 130px !important;
}

#workspace_menu_link{
	clear:none;
	*margin: 0px;
	padding-top: 0px;
}

* html #ws_operations_link{
	background: url(../images/ie/menu-arrow-selected-trans.png) no-repeat;
}

* html #logs_link {
	background: url(../images/ie/info-trans.png) no-repeat;
}

* html #logs_link.highlighted{
	background: url(../images/ie/info_highlighted-trans.png) no-repeat;
}

* html #tab_section .tab {
	background-image: none;
}

* html #add_tab_link{
	background-image: none;
	background-color: #d5d9da;
}

* html .tabOps_launcher {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -332px; 
}

/*DRAGBOARD*/
/*igadget*/
div.gadget_window div.gadget_menu input[type="button"].closebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -480px;
}

div.gadget_window div.gadget_menu input[type="button"].closebutton:hover {
  background-position: 0px -480px;
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -432px;
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton:hover {
  background-position: 0px -432px;
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -336px;
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton:hover {
  background-position: 0px -336px;
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton {
  background: url(../images/icons-sprite.png);
  background-position: -24px -456px;
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton:hover {
  background-position: 0px -456px;
}

div.gadget_window div.gadget_menu input[type="button"].settings2button {
  background: url(../images/igadget/settings2.png);
}

div.gadget_window div.gadget_menu input[type="button"].settings2button:hover {
  background: url(../images/igadget/settings2-highlighted.png);
}

html div.gadget_window div.rightResizeHandle{
/* Can not use sprite image cause the handle grows to 100%x100% when resizing */
	background: url(../images/resize-handle-bottom-right.png) no-repeat;
}

html div.gadget_window div.rightResizeHandle{
	right: 0;
	bottom: 0;
}

html div.gadget_window div.leftResizeHandle {
/* Can not use sprite image cause the handle grows to 100%x100% when resizing */
	background: url(../images/resize-handle-bottom-left.png) no-repeat;
}

html div.gadget_window div.leftResizeHandle {
	left: 0;
	bottom: 0;
}

html div.gadget_window div.extractButton {
  background: url(../images/icons-sprite.png);
  background-position: -48px -360px;
}

html div.gadget_window div.snapButton {
  background: url(../images/icons-sprite.png);
  background-position: -48px -72px;
}

/*MENU_LAYER*/
#menu_layer{
/*ie hack to show a clickable transparent layer*/
  opacity: .0;
  moz-opacity: .0;
  filter: alpha(opacity=0);
  background-color:red;
}

#menu_layer.disabled_background {
  background-color: #6699cc;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

/*CATALOGUE*/
#catalogue .resource .toolbar button {
	padding: 2px;
}

#catalogue .center .resources .resource .top {
	background: url(../images/ie/resource-left-top.png) no-repeat top left;
}

#catalogue .resource .toolbar {
	background: url(../images/ie/resource-left-header.png) no-repeat top left;
}

#catalogue .resource > .bottom {
	background: url(../images/ie/resource-left-bottom.gif) no-repeat top left;
}

#catalogue .resource:hover > .bottom {
	background-image: url(../images/ie/resource-left-bottom-select.png);
}


#catalogue .resource.selected > .bottom {
	background-image: url(../images/ie/resource-left-bottom-tagmode.png);
}

/*WIRING*/

/* Filter params */
#wiring #channels_list .channel.selected .channelContent .paramName, #wiring .newChannel.selected .channelContent .paramName {
	white-space: normal;
}