.ezweb_container {
    width: 100%;
}

body {
    background: #E0E0E0;
    margin: 0;
    font-family: Helvetica;
    -webkit-text-size-adjust: none;
    color: #E0E0E0;
    font-size: 11pt;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: #E0E0E0;
    /*color: #4C566C;*/
}

img {
    border: none;
}

/**** GENERAL STYLES ***/

.block {
    display: block;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: small;
}

.x-small {
    font-size: x-small;
}

/**** HEADER SECTION ****/

#header {
    display: none;
}

/**** MAIN SECTION ****/
.ezweb_wrapper {
    position: relative;
}

/* TOOLBAR */

.toolbar {
    /* total height: 40px */
    position: relative;
    padding: 10px 30px;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    background: url(../images/iphone/iPhoneToolbar.png) #8191AA repeat-x;
    color: #fcfcfc;
    font-family: Helvetica;
    text-align: center;
    font-size: 10pt;
    width: auto;
}

.ezweb_tab > .toolbar, .dragboard .toolbar {
    padding: 10px 35px 10px 75px;
}

.toolbar a {
    color: #fcfcfc;
}

.toolbar > .back_button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: url(../images/iphone/backButton.png);
    width: 65px;
    height: 30px;
}

.toolbar > .next_button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../images/iphone/nextButton.png);
    width: 65px;
    height: 30px;
}

.toolbar .menu_text {
    position: relative;
    top: 6px;
    font-size: 9pt;
}

.toolbar > h1 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: #3F4E63 0px -1px 1px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar .logout{
    font-size: 11pt;
    position: absolute;
    right: 10px;
    top: 5px;
}

/* WORKSPACE MENU */
.workspace_menu {
    width: 100%;
}

#workspace_list {
    color: black;
    background: #fff;
    border: 1px solid rgb(180,180,180);
    font: bold 17px Helvetica;
    font-weight: bold;
    padding: 0;
    margin: 10px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0.2ex 0.2ex 1ex rgba(0,0,0,0.8);
}

#workspace_list > li {
    color: rgb(50,79,133);
    list-style-type: none;
    border-top: 1px solid rgb(180,180,180);
    padding: 10px 10px 14px 10px;
    position: relative;
}

/* controls the radius bordes */

#workspace_list > li:first-child {
    border-top: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

#workspace_list > li:last-child {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#workspace_list > li:hover {
    background: rgb(51,102,204);
}

#workspace_list > li {
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    display: block;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#workspace_list > li {
    background-image: url(../images/iphone/arrow.png);
    background-repeat: no-repeat;
    background-position: right 15px;
}

#workspace_list > li.selected {
    background-image: none;
    background: #8fc3f1;
}

/* IGADGETS MENU */

.anchorTop {
    top: 0;
}
.tabs_container {
    display: block;
    width: 100%;
    overflow: auto;
}

.ezweb_tab {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.tab_content {
    position: relative;
    text-align: left;
    padding: 0 5px;
    overflow: hidden;
}

.iwidget_item {
    color: #4C5054;
    width: 75px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 0.5ex;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: bold;
    overflow: hidden;
}

.iwidget_icon {
    display: inline-block;
    width: 59px;
    height: 60px;
    margin: 0;
    border: 0;
    padding: 3px 3px 0px 3px;
}

.navbar {
    position: relative;
    text-align: center;
    height: 18px;
    vertical-align: top;
}

.navbar div {
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 0px 2px;
    background: url('../images/iphone/greyball.png') no-repeat;
}

.navbar .current {
    background: url('../images/iphone/whiteball.png') no-repeat;
}

/* MASHUP CATALOGUE */
.mashup {
    display: none;
}
.mashup_tab {
    position: absolute;
    top: 0px;
}

.mashup_tab .tab_content a, #mashup_info .mashup_content{
    color: black;
}

.mashup_content{
    margin: 0 5px;
}

.mashup_content  h2{
    text-align: center;
    margin: 0;
}

.mashup_content div{
    margin: 5px 0;
}

.mashup_content #resource_img{
    width: 125px;
    height: 125px;
    float: right;
    margin-right:10px;
}

.mashup_content #resource_popularity img{
    vertical-align: top;
}

.mashup_content .title_info_resource {
    font-weight: bold;
    color: black;
}
.mashup_content #resource_tags{
    color:#2D6F9C;
}

.mashup_content #add_resource{
    text-align: center;
}

.mashup_content #add_resource a {
    color: #fff;
    font: bold 20px/46px Helvetica;
    text-decoration: none;
    text-align: center;
    text-shadow: #000 0 1px 0;
    border-width: 0px 14px 0px 14px;
    padding: 7px;
    margin: 3px 0;
    color: #000;
    text-shadow: #fff 0px 1px 0;
    -webkit-border-image: url(../images/iphone/whiteButton.png) 0 14 0 14;
}

.mashup_content #add_resource a:hover{
    color: #fff !important;
    text-shadow: #000 0px 1px 0;
    -webkit-border-image: url(../images/iphone/blueButton.png) 0 14 0 14;
}

/* DRAGBOARD SECTION */

.dragboard {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: #E0E0E0;
    color:#4C5054;
    z-index: 0;
}

/**** Bar Section ****/
#mymw-nav {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 24px;
    left: 1px;
    z-index: 2;
}
body.landscape #mymw-nav {
    left: 3px;
}
#mymw-nav li {
    padding: 2px 4px;
    border: 2px solid #4C5054;
    border-bottom: none;
    background: #4C5054;
    display: inline;
    color: white;
    margin: 0 6px 0 0px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

#mymw-nav li a {
    color: white;
    text-decoration: none;
    font-size: 10pt;
}

#mymw-nav li.mymw-selected {
    background: white;
}

#mymw-nav li.mymw-selected a {
    color: #4C5054;
}

#mymw-nav li.mymw-highlight {
    background: #ebabab;
}

#mymw-nav li.mymw-highlight a {
    color: #4C5054;
}

#mymw-nav li.mymw-inactive {
    visibility: hidden;
}

.bar{
    position: relative;
    width: 100%;
    height: 35px;
    padding-top: 7px;
}
.tab_name{
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 10pt;
}
.menu_link{
    font-size: 12pt;
    position: absolute;
    top: 0;
    right: 5px;
}
/**** iWidget Section ****/

.iwidget_section {
    border-top: 2px solid #4C5054;
    margin: auto;
    display: block;
    width: auto;
    position: relative;
    background: #fcfcfc;
}

.iwidget_section > div {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.iwidget_section div.mymw-inactive {
    height: 0;
    width: 0;
    /*visibility: hidden;*/
    z-index: -1;
}

.widget_content {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}

.iwidget_section div.mymw-inactive .related_widgets{
    height: 0;
    width: 0;
}

.iwidget_section div.mymw-inactive .widget_object{
    height: 0;
    width: 0;
}
.widget_object{
    width: 100%;
    height: 100%;
}

/**** Related Widget Section ****/
.iwidget_section div.mymw-inactive .related_widgets{
    height: 0;
    width: 0;
}

.related_widgets{
    border: 1px solid #E0E0E0;
    width: 95%;
    height: 36px;
    padding: 0px;
    margin: 2px auto;
    text-align: center;
    display: block;
    padding: 2px 0;
}
.related_widget_div{
    display: inline;
    position: relative;
}

.related_widget{
    margin: 0 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.related_widgets .active{
    border: 2px solid #ebabab;
}


/*** OTHER SECTIONS ***/
.menu_icon{
    padding: 0px 3px 0px 5px;
}
