.hidden {
    visibility: hidden;
    height: 0;
}

.disabled {
    background: #E0E0E0;
    opacity: 0.4;
}

/*****************************************************************************/
/*                              StyledElements                               */
/*****************************************************************************/

/* Styled container */

div.container {
  background: transparent;
}

div.container .disable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: #E0E0E0;
  opacity: 0.4;
  z-index: 1111111;
}

/* Styled Select */

div.styled_select {
    display: inline-block;
    width: 10em;
}

div.styled_select > div {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
}

/* Styled List */

div.styled_list {
  height:   20em;
  position: relative;
  margin:   3px;
  white-space: nowrap;
  width:    10em;
  overflow: hidden;
}

div.styled_list > div {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.styled_list.full {
  width:  100%;
  height: 100%;
  margin: 0px;
}

div.styled_list.full > div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

div.styled_list div.row {
  white-space: nowrap;
  overflow:    hidden;
  width:       auto;
  cursor:      pointer;
}

div.styled_list div.row.selected {
  padding:    1px 0;
  background: #A1BDE1
}

/* Styled Text Field */

div.styled_text_field {
    padding: 0;
    width:   10em;
}

div.styled_text_field > div {
    width:   auto;
}

div.styled_text_field > div > input {
    background: inherit; /* transparent fails in IE8 */
    color: inherit;
    display: inline-block;
    width: 100%;
}

div.styled_text_field > div > input:focus {
    outline: 0 none;
}

/* Styled Text Area */

div.styled_text_area {
    overflow: hidden;
    height: 5em;
    position: relative;
}

div.styled_text_area > div {
  overflow: hidden;
  position: absolute;
}

div.styled_text_area > div > textarea {
  overflow: auto;
  resize: none;
  height: 100%;
  width: 100%;
}

/* Styled Password Field */

div.styled_password_field {
    padding: 0;
    width:   10em;
}

div.styled_password_field > div {
    width:   auto;
}

div.styled_password_field > div > input {
    background: inherit; /* transparent fails in IE8 */
    color: inherit;
    display: inline-block;
    width: 100%;
}

div.styled_password_field > div > input {
    outline: 0 none;
}

/* Styled Hidden Field */
div.styled_hidden_field {
  display: none;
  visibility: hidden;
}

/* Styled Date Field */

div.styled_date_field {
  padding: 0;
  width:   10em;
  font-size: 13px;
}

div.styled_date_field div {
  border:  0px none;
  margin:  1px 4px 0px 4px;
  padding: 0px;
  width:   auto;
}

div.styled_date_field div input {
  background: inherit; /* transparent fails in IE8 */
  border: 0 none;
  color: black;
  display: block;
  height: 18px;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.styled_date_field div input:focus {
  outline: 0 none;
}

/* Styled Numeric Field */

div.styled_numeric_field {
  height:   20px;
  margin:   3px;
  padding:  0px;
  position: relative;
  width:    7em;
  font-size: 13px;
}

div.styled_numeric_field div {
  border:  0px none;
  margin:  2px 29px 0px 4px;
  padding: 0px;
  width:   auto;
}

div.styled_numeric_field div input {
  background: inherit; /* transparent fails in IE8 */
  border: 0 none;
  color: black;
  display: block;
  height: 17px;
  padding: 0;
  margin: 0;
  width: 100%;
}

div.styled_numeric_field div.numeric_top_button {
  position:absolute;
  z-index:2;
  padding: 0;
  margin: 0;
}

div.styled_numeric_field div.numeric_bottom_button {
  position:   absolute;
  z-index:    2;
  margin: 0;
  padding: 0;
}

/* Styled Button */

.styled_button {
    display: inline-block;
    margin: 3px;
    position: relative;
}

.styled_button.open {
    z-index: 111113;
}

.styled_button.plain {
    font-size: inherit;
}

.styled_button > div, .styled_button > button, .styled_button.plain {
    cursor: pointer;
}

.styled_button.disabled > div, .styled_button.disabled > button, .styled_button.plain.disabled {
    cursor: default;
}

.styled_button > span {
    display: inline-block;
}

/* Styled HPaned */

.hpaned {
  width: 100%;
  height: 100%;
  min-width: 5px;
  position: relative;
}

.hpaned .leftpanel {
  position: absolute;
  left: 0;
  height:100%;
  overflow: auto;
}

.hpaned .rightpanel {
  right: 0;
  position: absolute;
  height:100%;
  overflow: auto;
}

.hpaned .handler {
  position: absolute;
  width: 5px;
  height: 100%;
  background: transparent url("../images/styledElements/vhandler.png") no-repeat scroll 0 center;
  cursor: col-resize;
  float:left;
}

/* Styled Notebook */

.notebook {
  min-width: 5em;
  min-height: 5em;
  position: relative;
  margin: 3px;
  padding: 0px;
  overflow: hidden;
}

.notebook.full {
  width: 100%;
  height: 100%;
  margin: 0;
}

.notebook.full > div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

.notebook .tab_wrapper > .tab_area_msg {
  z-index: 3;
  left: auto;
  position: absolute;
  top: 1px;
  display: none;
}

.notebook .tab_wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.notebook > div > .tab_wrapper > .tab_area {
    overflow: hidden;
    white-space: nowrap;
}

.notebook .tab_area .tab {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.notebook .tab_area .tab.hidden {
    height: 0px;
    overflow: hidden;
}

.notebook > div > .wrapper {
  position: absolute;
  overflow: hidden;
  padding: 0;
}

.notebook > div > .wrapper > div {
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  visibility: visible;
}

.hidden .notebook > div > .wrapper > div,
.notebook > div > .wrapper > div.hidden {
  visibility: hidden;
  height: 0px;
}

.notebook .disable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: #E0E0E0;
  opacity: 0.4;
  z-index: 1111111;
}

/* Styled Alternatives */

.alternatives {
  min-width: 5em;
  min-height: 5em;
  position: relative;
  margin: 3px;
  padding: 0px;
  overflow: hidden;
}

.alternatives > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.alternatives.full {
  width: 100%;
  height: 100%;
  margin: 0;
}

.alternatives > .wrapper > div {
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  visibility: inherit;
}

.hidden > .alternatives > .wrapper > div,
.alternatives > .wrapper > div.hidden {
  visibility: hidden;
  height: 0;
}

/* Styled alert */

.styled_alert {
  position: fixed;
  top:      0;
  right:    0;
  z-index:  1111111;
}

/* Border Layout */

.border_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.border_layout > .north_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.border_layout > .west_container {
    position: absolute;
    left: 0;
    display: inline-block;
}

.border_layout > .center_container {
    position: absolute;
    overflow: auto;
}

.border_layout > .east_container {
    position: absolute;
    display: inline-block;
}

.border_layout > .south_container {
    position: absolute;
    left: 0;
    right: 0;
}

/* Popup menu */

.popup_menu {
  position: absolute;
  z-index: 111112;
  margin: 0;
  white-space: nowrap;
}

.popup_menu .menu_item {
    cursor: pointer;
}

.disable-layer {
  position: absolute;
  z-index: 111111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.model_table .headrow .cell, .model_table .tbody .cell {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.model_table > .center_container {
    overflow: hidden;
}

.model_table > .center_container > .tbody {
    overflow: auto;
}

/*****************************************************************************
 *                              Tema por defecto                             *
 *****************************************************************************/

/* Styled List */

div.styled_list > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border:      1px solid #888888;
  background: white;
}

div.styled_list div.row {
  padding:    1px 0;
}

div.styled_list div.row.selected {
  background: #A1BDE1;
  color:      #FAFAFA;
}

/* Styled Text Area */

div.styled_text_area > div {
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid #888888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

div.styled_text_area > div > textarea {
  background: transparent;
  border: 0px;
}

/* Styled Numeric Field */

div.styled_numeric_field {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border:     1px solid #888888;
  background: white none repeat scroll 0 0;
}

div.styled_numeric_field div.numeric_top_button {
  -moz-border-radius: 0px 4px 0px 0px;
  -webkit-border-radius: 0px 4px 0px 0px;
  border-radius: 0px 4px 0px 0px;
  background:transparent url("../images/styledElements/top_button.png") no-repeat scroll 0px -2px;
  height: 11px;
  right:-3px;
  top:-1px;
  width:25px;
  border: 1px solid #888888;
}

div.styled_numeric_field div.numeric_bottom_button {
  -moz-border-radius: 0px 0px 4px 0px;
  -webkit-border-radius: 0px 0px 4px 0px;
  border-radius: 0px 0px 4px 0px;
  background: transparent url("../images/styledElements/bottom_button.png") no-repeat scroll 0px -1px;
  height:     10px;
  right:      -3px;
  top:        9px;
  width:      25px;
  border: 1px solid #888888;
}

/* Styled alert */

.styled_alert .background{
	width:100%;
	height:100%;
	position:absolute;
	background-color:white;
	opacity: 0.6;
}

.styled_alert .message {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-style:solid;
  border-width:2px 4px 4px 2px;
  background: url("../images/styledElements/alert_gradient.png") no-repeat scroll 0 0;
  position:absolute;
  margin:0px;
  padding:0px;
}


.styled_alert.error .message{
  border-color:#890000;
	background-color:#FFACAC;
}

.styled_alert.info .message{
	border-color:#3B7614;
	background-color:#B6F48E;
}

.styled_alert.warning .message{
	border-color:#AB8105;
	background-color:#FFEFBF;
}

.styled_alert .message .header > table{
	margin-top:5px;
	width:100%;
}

.styled_alert .message .header{
	position:relative;
	top:0px;
	right:0px;
	left:0px;
	padding:5px 0px 5px 5px
}

.styled_alert .message .header .title{
  font-family:Sans-serif,Arial,Verdana;
  font-size:20px;
  font-style:italic;
  font-weight:bold;
  text-align:left;
  text-shadow:2px 2px 3px #999999;
}

.styled_alert .message .header .title img{
  height:24px;
  width:24px;
  margin-right:0.5em;
  vertical-align:-4px;
}

.styled_alert.warning .message .header .title{
	color:#AB8105;
}

.styled_alert.error .message .header .title{
  color:darkRed;
}

.styled_alert.info .message .header .title{
	color:#3B7614;
}

.styled_alert .message .close_button {
  background:transparent url("../images/dialog/dialog-cancel-error.png") no-repeat scroll 0 5px;
	cursor:pointer;
	width:22px;
}

.styled_alert.warning .message .close_button {
  background:transparent url("../images/dialog/dialog-cancel-warning.png") no-repeat scroll 0 5px;
}

.styled_alert.info .message .close_button {
  background:transparent url("../images/dialog/dialog-cancel-info.png") no-repeat scroll 0 5px;
}

.styled_alert .message .content {
  margin:0px 5px 5px 5px;
	position:relative;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}

/* Pagination Interface */
.pagination .styled_button {
  vertical-align: middle;
}

/* Popup menu */

.popup_menu {
    padding: 1ex 0;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 10pt;
    font-family: arial,sans-serif;
}

.popup_menu .menu_item {
    margin: 0.4ex 0;
    padding: 0.3ex 0.7ex;
}

.popup_menu .menu_item.hovered {
    background: #FEF9DB;
}

.popup_menu hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #BEBEBE;
  margin: 0.9ex 0;
}

/* Forms */
.styled_form .buttons {
    margin: 2em 0 0.5em;
    text-align: center;
}

.error_desc .action_desc {
  font-weight: bold;
}

.error_desc .cause_desc {
  margin-left: 1em;
}

.styled_expander {
    margin: 3px;
    overflow: hidden;
}

.styled_expander .title {
    padding: 1ex;
    font-size: 16px;
    display: inline-block;
}

.styled_expander .contents {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.icon-expand.checked:before {
    content: "\f0d7";
}

.icon-expand:before {
    content: "\f0da";
}

.styled_expander.expanded .contents {
    width: auto;
    height: auto;
    padding: 1ex;
    overflow: auto;
}
