body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#wirecloud_header {
    font-family: "Courier New", courier;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5ex;
}

.breadcrum_wrapper img {
    margin: 0 1ex 0 0;
    vertical-align: bottom;
    background: #E4E6E2;
    padding: 0 1ex 1ex;
    vertical-align: -1.3ex;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 600px;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#wirecloud_header .menu {
    text-align: right;
    background: #E4E6E2;
    font-family: "Arial";
    font-size: 9pt;
    font-weight: normal;
    color: #990000;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#wirecloud_header .styled_button {
    margin: 0;
}

#wirecloud_header .styled_button > span {
    color: #990000;
    font-size: 9pt;
    margin: 0;
    padding: 0.5ex 0.75ex;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: transparent;
}

#wirecloud_header .styled_button.open > span {
    background: white;
    border-color: #BEBEBE;
}

#wirecloud_header > .menu > span {
    background: #E4E6E2;
    padding: 0.5ex 0.75ex;
    cursor: pointer;
}

#wirecloud_header > .menu > .user_menu_wrapper {
    display: inline-block;
    width: 30ex;
    margin: 0 1ex;
}

#wirecloud_header > .menu > .selected {
    color: #FFFFFF;
    cursor: default;
}

#wirecloud_header > .menu > .workspace.selected {
    background: #006633;
}

#wirecloud_header > .menu > .wiring.selected {
    background: #E8A150;
}

#wirecloud_header > .menu > .marketplace.selected {
    background: #990000;
}

#wirecloud_header > .submenu {
    color: #990000;
    font-weight: normal;
    font-size: 10px;
    font-family: "Arial";
    display: 'inline-block';
    position: absolute;
    height: 14px;
    line-height: 14px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#wirecloud_header > .submenu > .mark {
    width: 14px;
    height: 14px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#wirecloud_header > .submenu > span {
    height: 9px;
    padding: 0 1ex;
    cursor: pointer;
    vertical-align: top;
}

#wirecloud_header > .submenu.wiring > .mark {
    background-image: url(../images/icons-sprite.png);
    background-position: 0px -528px;
}

#wirecloud_header > .submenu.wiring {
    background: #EBE6B1;
}

#wirecloud_header > .submenu.workspace > .mark {
    background-image: url(../images/icons-sprite.png);
    background-position: 0px -504px;
}

#wirecloud_header > .submenu.workspace {
    background: #C6EBBE;
}

#wirecloud_header > .submenu.marketplace > .mark {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -504px;
}

#wirecloud_header > .submenu.marketplace {
    background: #FDC;
}

#wirecloud_breadcrum > span {
    padding: 0px 1ex;
}

#wirecloud_breadcrum > .first_level {
    color: #990000;
}

#wirecloud_breadcrum > .second_level {
    color: #006633;
}

#wirecloud_breadcrum > .third_level {
    color: #E8A150;
}

/* window_menu */

.disabled_background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101111;
    background-color: #4C5054;
    moz-opacity: .8;
    opacity: .8;
    filter: alpha(opacity=80);
}

.window_menu {
    background: #E4E6E2;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    position: absolute;
    text-align: left;
    z-index: 101112;
    overflow: hidden;
    padding: 1em 2em;
    color: #4C5054;
    font-weight: bold;
    font-family: Arial;
    font-size: 80%;
}

.window_menu > .window_top {
    font-size: 150%;
    font-family: "Courier New", courier;
    color: #990000;
}

.window_menu > .window_top > .closebutton {
    float: right;
}

.window_menu > .window_content {
    margin-top: 2ex;
    clear: both;
    overflow: auto;
}

.window_menu > .window_bottom {
    margin: 2em 0 0.5em;
    text-align: center;
}

/* Loading window */

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-window.disabled {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    height: 10ex;
    z-index: 4;
    margin: 4ex;
    height: 8ex;
}

#loading-message .window_content {
    margin-top: 1ex;
}

#loading-subtask-title {
    margin: 0;
}

.closebutton {
    border: 0px none;
    cursor: pointer;
    padding: 0px;
    width: 16px;
    height: 16px;
    background: url(../images/icons-sprite.png);
    background-position: -48px -312px;
}

.help_button {
    margin-left: 0px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
}
