.wiring_editor .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px #000000;
}

.wiring_editor {
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size:12px;
    font-family: "Courier New", courier;
}

.wiring_editor .menubar {
    white-space: nowrap;
    font-size: 0.6em;
    width: 180px;
    vertical-align: middle;
    overflow-x: visible;
    overflow-y: auto;
}

.wiring_editor .menubar .disabled {
    pointer-events: none;
}

.wiring_editor .grid {
    font-size: 1em;
    background: url('../images/wiring/transp-grid-gray.png');
}

.wiring_editor .ioperator {
    background: -webkit-linear-gradient(white, rgba(206,220,231,0.8));
    background: -moz-linear-gradient(white, rgba(206,220,231,0.8));
    background: -o-linear-gradient(white, rgba(206,220,231,0.8));
}

.wiring_editor .igadget {
    background: -webkit-linear-gradient(white, rgba(206,220,231,0.8));
    background: -moz-linear-gradient(white, rgba(206,220,231,0.8));
    background: -o-linear-gradient(white, rgba(206,220,231,0.8));
}

.wiring_editor .ioperator, .wiring_editor .igadget {
    line-height: 2.2em;
    padding-bottom: 2px;
    border: 1px solid;
    padding-bottom: 8px;
    border-radius: 1.25ex 1.25ex 1.25ex 1.25ex;
    box-shadow: 4px 4px 4px gray;
    font-family: "Courier New", courier;
    pointer-events: auto;
}

.wiring_editor .ioperator .header, .wiring_editor .igadget .header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    cursor: move;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #1D1D2F;
}

.wiring_editor .grid .ioperator .header span, .wiring_editor .grid .igadget .header span {
    padding-left:1em;
}

.wiring_editor .grid .header .closebutton {
    top: -0.9em;
    float: right;
}

.wiring_editor .grid .generalHighlight_button {
    float: right;
    background: url('../images/wiring/big_eye1.png');
    width: 20px;
    height: 20px;
    z-index: 100;
}

.wiring_editor .grid .generalHighlight_button.activated {
    background: url('../images/wiring/big_eye2.png');
}

.wiring_editor .grid .header .highlight_button {
    float: left;
    background: url('../images/wiring/eye1.png');
    top: -0.9em;
    width: 16px;
    height: 16px;
}

.wiring_editor .grid .header .highlight_button.activated {
    background: url('../images/wiring/eye2.png');
}

.wiring_editor .grid .ioperator, .wiring_editor .grid .igadget {
    position: absolute;
}

.wiring_editor .menubar .ioperator, .wiring_editor .menubar .igadget {
    position: relative;
    padding-bottom: 0em;
    margin: 1em 1em;
    font-size: 1.2em;
    vertical-align: middle;
    z-index: 10;
    border-radius: 0.25ex 4.7ex 0.25ex 0.25ex;
}

.wiring_editor .targets {
    float: left;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.wiring_editor .sources {
    float: right;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

.wiring_editor .sources > div, .wiring_editor .targets > div {
    border-radius: 15px;
    -webkit-transition: background-color 500ms ease-in 250ms, color 750ms ease-out;
    -moz-transition: background-color 500ms ease-in 250ms, color 750ms ease-out;
    -o-transition: background-color 500ms ease-in 250ms, color 750ms ease-out;
}

/* clone mini widget for drag and drop */
.wiring_editor .border_layout .ioperator.clon, .wiring_editor .border_layout .igadget.clon {
    position: absolute;
    font-size: 0.6em;
    z-index: 20;
}

/* SELECTED OBJECTS 
.wiring_editor .grid .ioperator.selected {
    background-color: #DF7A62;
    z-index: 15;
    background: -webkit-linear-gradient(top, white, #47A06B);
    background: -moz-linear-gradient(top, white, #47A06B);
    background: -o-linear-gradient(top, white, #47A06B);  
    border-width: 0.4em;
    border-color: orange;  
}

 .wiring_editor .grid .igadget.selected {
    background-color: #DF7A62;
    z-index: 15;
    background: -webkit-linear-gradient(top, white, #DF7A62);
    background: -moz-linear-gradient(top, white, #DF7A62);
    background: -o-linear-gradient(top, white, #DF7A62);
    border-width: 0.4em;
    border-color: orange;
}
*/


/*ANCHORS*/
.wiring_editor .anchor {
    background: rgb(122, 152, 192);
    position: absolute;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 2px;

}

.wiring_editor .grid .anchor {
    cursor: pointer;
}
.wiring_editor .sources .anchor {
    background: url('../images/wiring/blue_ball.png');
    right: -1em;
}

.wiring_editor .targets .anchor {
    background: url('../images/wiring/orange_ball.png');
    left: -1em;
}

.wiring_editor .menubar .sources .anchor {
    width: 1em;
    height: 1em;

}

.wiring_editor .menubar .targets .anchor {
    width: 1em;
    height: 1em;

}

.wiring_editor .sources .anchor.disabled {
    opacity: 0.7;
    cursor: no-drop;
}

.wiring_editor .targets .anchor.disabled {
    opacity: 0.7;
    cursor: no-drop;
}

.wiring_editor .sources .highlight, .wiring_editor .targets .highlight_main {
    background: #FF9854;
    color: white;
}

.wiring_editor .targets .highlight, .wiring_editor .sources .highlight_main {
    background: #0A9;
    color: white;
}

.wiring_editor .sources .highlight span, .wiring_editor .targets .highlight_main span {
    pointer-events: none;
}

.wiring_editor .targets .highlight span, .wiring_editor .sources .highlight_main span {
    pointer-events: none;
}

/*ARROWS*/
.wiring_editor .canvas .arrow {
    stroke: rgba(138, 131, 226, 0.9);
    fill:   none;
    stroke-width: 5;
}

.wiring_editor .canvas .arrow .arrowbody {
    stroke: hsl(0, 0%, 84%);
    fill:   none;
    stroke-width: 5;
}

.wiring_editor .canvas .arrowborder {
    stroke: hsl(0, 0%, 43%);
    fill:   none;
    stroke-width: 8;
}

.wiring_editor .canvas .pullerBall {
    stroke: black;
    fill:   rgba(138, 131, 226, 0.9);
    stroke-width: 1;
    display: none;
}

.wiring_editor .canvas .closer {
    stroke: black;
    fill:   red;
    fill-opacity:1;
    stroke-width: 1;
    display: none;
}

.wiring_editor .canvas .selected .arrow {
    stroke: rgba(138, 131, 226, 0.9);
    fill:   none;
    stroke-width: 5;
}

.wiring_editor .canvas .selected .arrowborder {
    stroke: orange;
    fill:   none;
    stroke-width: 10;
}

.wiring_editor .canvas .selected .closer {
    display: inline;
}

.wiring_editor .canvas .selected .pullerBall {
    display: inline;
}

.wiring_editor .canvas .highlighted .arrow {
    stroke: rgba(10, 131, 226, 1);
    fill:   none;
    stroke-width: 5;
}

.wiring_editor .canvas .highlighted .arrowborder {
    stroke: #DF7A62;
    fill:   none;
    stroke-width: 11;
}


.wiring_editor .menubar .styled_expander {
    margin: 3px;
    border: none;
}

.wiring_editor .menubar .styled_expander .widgetsIcon{
    background: url('../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}

.wiring_editor .menubar .styled_expander .operatorsIcon{
    background: url('../images/wiring/blue_arrow_right.png');
    position: absolute;
    left: 5px;
    height: 12px;
    width: 6px;
}

.wiring_editor .menubar .styled_expander.expanded .widgetsIcon{
    background: url('../images/wiring/blue_arrow_down.png');
    position: absolute;
    left: 5px;
    height: 6px;
    width: 12px;
    top: 9px;
}

.wiring_editor .menubar .styled_expander.expanded .operatorsIcon{
    background: url('../images/wiring/blue_arrow_down.png');
    position: absolute;
    left: 5px;
    height: 6px;
    width: 12px;
    top: 35px;
}

.wiring_editor .menubar .styled_expander .title {
    background: transparent;
    padding: 0.1em;
    font-size: 1.8em;
    font-style: normal;
    text-shadow: none;
    margin-left: 14px;
}

.wiring_editor .menubar .styled_expander.expanded .title {
    background: transparent;
}

.wiring_editor .menubar .styled_expander .contents {
    width: 0;
    height: 0;
    overflow: visible;
    padding: 0;
}

.wiring_editor .menubar .styled_expander.expanded .contents {
    width: auto;
    height: auto;
    padding: 1ex;
}


.wiring_editor .menubar .styled_expander .igadget, .wiring_editor .menubar .styled_expander .ioperator{
    visibility: hidden;
}

.wiring_editor .menubar .styled_expander.expanded .igadget, .wiring_editor .menubar .styled_expander.expanded .ioperator{
    visibility: inherit;
}

/* multiconnector */

.wiring_editor .grid .multiconnector {
    position: absolute;
    border-radius: 15px;
    border: 1px solid;
    border-color: gray;
    pointer-events: auto;
}

.wiring_editor .grid .multiconnector.source {
    background: rgb(122, 152, 192);
    background: -webkit-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
    background: -moz-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
    background: -o-radial-gradient(center, white, rgba(122, 152, 192, 0.7));
}

.wiring_editor .grid .multiconnector.target {
    background: -webkit-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
    background: -moz-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
    background: -o-radial-gradient(center, white, rgba(239, 130, 6, 0.7));
}

.wiring_editor .grid .multiconnector .dragZone {
    background: url('../images/wiring/flechasMov.png');
    position: absolute;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    left: 7px;
}

.wiring_editor .grid .multiconnector.target .anchor.main {
    background: transparent;
    right: -0.98em;
    pointer-events: none;
}

.wiring_editor .grid .multiconnector.source .anchor.main {
    background: transparent;
    left: -0.98em;
    pointer-events: none;
}

.wiring_editor .grid .multiconnector_icon {
    background: rgb(122, 152, 192);
    position: absolute;
    display: inline;
    width: 9px;
    height: 9px;
    margin: 2px;
}

.wiring_editor .grid .multiconnector_icon{
    cursor: pointer;
}
.wiring_editor .grid .sources .multiconnector_icon {
    background: url('../images/wiring/multiconnector_button.png');
    float: right;
    right: -10px;
    position: relative;
}

.wiring_editor .grid .targets .multiconnector_icon {
    background: url('../images/wiring/multiconnector_button.png');
    float: left;
    left: -11px;
    position: relative;
}

.wiring_editor .grid .multiconnector.source .closebutton {
    top: 14px;
    right: 12px;
    z-index: 30;
}

.wiring_editor .grid .multiconnector.target .closebutton {
    top:14px;
    left: 20px;
    z-index: 30;
}
