.r-corners{
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;

}

#wiring .icon-channel-settings {
  float: right;
}

#wiring .borderLeftCell {
  border-color: 1px solid #AAA;
}

.form-row input[type="submit"] {
  background-image: url(../images/kgpg.png);
  background-repeat: no-repeat;
}

#wiring .igadget {
  background: #F7F7F7;
  font-weight: bold;
  color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#wiring .event_column .igadget .anchor {
    background-image: url(../images/icons-sprite.png); background-position: 0px -71px;
}

#wiring .slot_column .igadget .anchor {
    background-image: url(../images/icons-sprite.png); background-position: 0px -47px;
}

#wiring .event_column .igadget .anchor.checked, #wiring .channels_list .channel .outAnchor.checked {
    background-image: url(../images/icons-sprite.png); background-position: 0px -24px;
}

/* Selected channel */
#wiring .channels_list .channel.selected .outAnchor, #wiring .channels_list .channel.selected .inAnchor {
    background: none;
}

#wiring .channels_list .channel.selected .outAnchor.checked {
    background-image: url(../images/icons-sprite.png); background-position: 0px -409px;
}

/* Unselected channel */
#wiring .channels_list .channel .inAnchor {
    background-image: url(../images/icons-sprite.png); background-position: 0px -47px;
}

#wiring .channels_list .channel .outAnchor {
    background-image: url(../images/icons-sprite.png); background-position: 0px -71px;
}

#wiring .slot_column .igadget .anchor.checked, #wiring .channels_list .channel .inAnchor.checked {
    background-image: url(../images/icons-sprite.png); background-position: 0px 0px;
}

#wiring .channels_list .channel.selected .inAnchor.checked {
    background-image: url(../images/icons-sprite.png); background-position: 0px -382px;
}

#wiring .tab {
  background: #97A0A8 url(../images/degradado.png) no-repeat scroll left top;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:4px;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  border-color: #000000;
}

#wiring .tab > .content {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}

#wiring .header_section .header_icon {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -313px;
    display: inline-block;
    margin: 0px;
}

#wiring .event_column .tab > .header_section .header_icon {
    float: left;
}

#wiring .slot_column .tab > .header_section .header_icon {
    float: right;
}

#wiring .tab > .header_section {
  color:       white;
  font-weight: bold;
}

#wiring .tab.empty > .header_section {
  background: none;
}

#wiring .igadget > .header_section .header_icon {
    background-position: 0px -94px;
    width: 19px;
    height: 16px;
    position: relative;
    left: -2px;
}

#wiring .igadget.folded > .header_section .header_icon {
    background-position: -24px -94px;
}

#wiring .igadget.unfoldable > .header_section .header_icon {
    background-position: 0px -118px;
}

#wiring .newChannel, #wiring #unfold_all_link {
  color: #2D6F9C;
  text-decoration: underline;
}

#wiring #wiring_options {
  color:     #2D6F9C;
  font-size: 90%;
}

#wiring .channelPipe {
  border-color: #2D6F9C;
  background: #97A0A8 url(../images/pipe.png);
  padding: 0 8px;
}

.channelPipe * {
  vertical-align: middle;
}

#wiring .channels_list .channel.selected .channelPipe {
  background-color: #2D6F9C;
  padding: 0 8px;
}

.channel_window .filter_menu_button {
    background-image: url(../images/icons-sprite.png);
    background-position: 0px -216px;
    background-color: transparent;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#wiring #wiring_messages {
  border-color: orange;
  background: lightyellow;
}

#wiring #newChannelForm .linkSubmit {
   color: blue;
   background-color:#E0E0E0;
   border-style:none;
   border-color:#FFFFFF;
   text-decoration: underline;
}

#wiring .newChannelInput {
   border-color: #4C5054;
}

#wiring .channelNameInput {
   background: transparent;
   color: #000;
   
}

#wiring .selected .channelNameInput {
	background: transparent;
	font-weight: bold;
}
.canvas .arrow {
  stroke: #2D6F9C;
  fill:   none;
  stroke-width: 2;
}

.canvas .inFromChannel {
  stroke: green;
  fill:   none;
  stroke-width: 2;
}

.canvas .outToChannel {
  stroke: #F00000;
  fill:   none;
  stroke-width: 2;
}

.helpwiringheader {
  border-color: #AAA;
  -moz-border-radius:6px;
  background:white;
  font-size:80%;
}
