body {
	background: none repeat scroll left top transparent;
}

#header {
	background-attachment: scroll !important;
	background-color: transparent !important;
	background-image: url("../images/mnu-bar-CENTRO.png") !important;
	background-position: 0 2px !important;
	background-repeat: repeat-x;
	height: 25px !important;
	margin-left: 5px;
}

#lite_toolbar_section {
	margin-top:0;
	position: relative;
	float:left;
}

#lite_toolbar_section .toolbar_unmarked {
	display: none !important;
	top: 2px;
	font-size: 10px;
	color: #333333;
}

#lite_toolbar_section .toolbar_marked{
	background: none repeat scroll left top transparent;
	top: 2px;
	font-size: 10px;
	color: #333333;
}

#ws_operations_link{
	height: auto !important;
	background: transparent url(../images/tabops16px.png) no-repeat scroll 0 0 !important;
}

#workspace_menu_link{
	float:left;
	clear:none;
	margin: auto 0 0 0;
}

#tab_section {
	top:2px;
	width: auto;
}

#bar{
	bottom: auto !important;
}

#logs_link {
	top: 10px !important;
	right: 0 !important;
	display: none !important;
}

#menu_2 {
	left: 0 !important;
	top: 12px !important;
}

#dragboard_link span {
	top: 5px !important;	
}

#floating_gadgets_launcher  {
	margin-top: 3px !important;
}