#catalogue .developer_title {
  color: #666666;
  font-weight:bold;
}

button.contratable {
  background:transparent url(/ezweb/images/contratable.gif) repeat scroll 0 0;
}

#catalogue .toolbar {
  border-color: 1px solid #C2CBD2;
}

#catalogue .last_toolbar_button {
  border-color: #C2CBD2;
}

#catalogue .toolbar_menu .selected_section {
	background: #C7C7C7;
	color:#404040;
}

#catalogue .toolbar_menu div {
  color: #666666;
  font-weight: bold;
  cursor: pointer;
  background: #e9e9e9;
  border-color: #C2CBD2;
}

#catalogue #left_bar {
	border-color: #C2CBD2;
}

#catalogue .toolbar_menu div:hover {
  color: red;
}

#catalogue a {
  text-decoration:none;
  cursor:pointer;
}

#catalogue a:active {
  outline: none;
}

#catalogue a:focus {
  outline: none;
}

#catalogue .paginate img {
  border-style:none;
}

#catalogue #left_bar .widget_title {
	font-weight: bold;
}

#catalogue #menu_options .simple_search #simple_search_text {
	background: #e6f3ff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#catalogue .center .resources .header_resource, #catalogue .center #resource_details .back_to_resource_list {
	border-color: #DDDDDD;
}

.purchase_window_table tr.total_row td {
	border-top-color: #cccccc;
	border-bottom-color: #000000;
}

#catalogue button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.window_menu button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#catalogue .center .resources .resource .resource_name {
	font-weight: bold;
}

#catalogue .center .resources .resource .image {
  border-color: #BBBBBB;
}

#catalogue .center .resources .resource .tags .tags_label {
  font-weight: bold;
}

.purchase_window_table th {
	border-color: #000000;
}

#purchase_window_table .center_text {
  text-align: center;
}

#purchase_window_table .right_border {
  border-color: #cccccc;
}

.purchase_window_table td.total_name {
	font-weight: bold;
}

.purchase_window_table td {
	border-color:#CCCCCC;
}

#app_name {
	font-weight: bold;
}
