div.gadget_window {
  -moz-border-radius-topleft:  6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border: 1px solid #4c5054;
  background: white;
}

div.gadget_window_transparent {
  background: transparent;
}

div.gadget_menu {
  padding: 1px 3px 1px 7px;
  -moz-border-radius-topleft:  4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  height: 16px;
  font-weight: bold;
  background: #FFFFFF;
  font-size: 12px;
}

div.dragboard.fixed div.gadget_menu {
}

div.dragboard.fixed {
  background: #ffffff;
}

div.gadget_window div.gadget_menu input[type="button"].closebutton {
  background: url("../images/igadget/close.png");
}

div.gadget_window div.gadget_menu input[type="button"].closebutton:hover {
  background: url("../images/igadget/close-highlighted.png");
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton {
  background: url("../images/igadget/minimize.png");
}

div.gadget_window div.gadget_menu input[type="button"].minimizebutton:hover {
  background: url("../images/igadget/minimize-highlighted.png");
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton {
  background: url("../images/igadget/maximize.png");
}

div.gadget_window div.gadget_menu input[type="button"].maximizebutton:hover {
  background: url("../images/igadget/maximize-highlighted.png");
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton {
  background: url("../images/igadget/settings.png");
}

div.gadget_window div.gadget_menu input[type="button"].settingsbutton:hover {
  background: url("../images/igadget/settings-highlighted.png");
}

div.gadget_window div.gadget_menu input[type="button"].settings2button {
  background: url("../images/igadget/settings2.png");
}

div.gadget_window div.gadget_menu input[type="button"].settings2button:hover {
  background: url("../images/igadget/settings2-highlighted.png");
}

div.gadget_window div.gadget_menu input[type="button"].errorbutton {
  background: url("../images/igadget/warning.png");
}

div.color_button {
  border: 1px solid #888;
  -moz-border-radius: 4px;
}

div.gadget_window_locked div.gadget_wrapper {
  border: none;
}

div.gadget_window div.snapButton {
  /* This icon represents that the iGadget is outside the grid */
  background: transparent url("../images/igadget/extract.png") no-repeat left bottom;
}

div.gadget_window .dragboardwiki {
  background: transparent url("../images/wiki.png") no-repeat left bottom;
}

div.gadget_window .dragboardwiki:hover {
  background: transparent url("../images/wiki-highlighted.png") no-repeat left bottom;
}

div.gadget_window div.extractButton {
  background: transparent url("../images/igadget/snap.png") no-repeat left bottom;
}

div.gadget_window div.leftResizeHandle {
  background: transparent url("../images/igadget/resize-handle-bottom-left.png") no-repeat left bottom;
}

div.gadget_window div.rightResizeHandle {
  background: transparent url("../images/igadget/resize-handle-bottom-right.png") no-repeat right bottom;
}

.gadget_menu .igadget_name {
  color:       #4C5054;
  border:      0px;
  font-size:   12px;
  font-weight: bold;
}

div.gadget_window div.statusBar {
  height: 16px;
  padding: 0 32px;
}

div.gadget_window div.statusBar .button {
  margin-top: 0;
  margin-bottom: 0;
}

div.gadget_window_locked div.statusBar {
  padding: 0 4px;
}

/*****
 * config_interface
 */
 
div.gadget_window div.config_interface,
div.gadget_window_locked div.config_interface {
  background: #DDD;
  border-bottom: 1px solid #4c5054;
}

div.config_interface input, div.config_interface select {
  border: 1px solid #4c5054;
}

div.config_interface label.invalid {
  color: red;
}

div.config_interface label.invalid input {
  border: 1px solid red;
}

/***
 *
 */

#dragboardcursor {
  border: 2px dashed #97A0A8;
  background: #F2F9FF;
  -moz-border-radius-topleft:  6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
