body {
	color:#000;
	/*background: url("../images/fond.gif") top left;*/
    font-size:80%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:darkBlue;
}

.window_link{
	color:darkBlue;
	text-decoration:underline;
	cursor: pointer;
}

#loading-background {
    background: white;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

#loading-indicator {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-message {
    font-size: 10pt;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

/* header ------------------------------------------------------------------------------------------ */
/*#header {
	background: url("../images/header_deg.gif") repeat-x top left;
	color:white;
}*/

.go_back{
	text-decoration: underline;
}

.form-row input[type="submit"] {
	background: transparent url(../images/header_deg.gif) repeat;
	color: white;
}

#content-main .registration a{
	color:#2D6F9C;
}

/*
#greeting a, #greeting a:visited{
	color:white;
}
*/

#greeting .languages a{
	text-decoration:none;
}

#left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
/*
#workspace_name {
  color:#2D6F9C;
}
*/
#ws_operations_link {
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	/*color: #2D6F9C;*/
}

/*.toolbar_marked {
	font-weight: bold;
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}*/

/*
.toolbar_unmarked {
	background: transparent url(../images/button.png) repeat-x scroll left top;
}
*/

#left_slider{
 background: transparent url(../images/leftSlider.png) no-repeat scroll 0 0;
}

#right_slider{
 background: transparent url(../images/rightSlider.png) no-repeat scroll 0 0;
}

#tab_marker{
	background: transparent url(../images/tab_marker.png) no-repeat scroll 0 0;
}

#tab_space{
	-moz-opacity: 0.2;
	filter: alpha(opacity=20);
    opacity: 0.2;
}

#logs_link {
  background: transparent url(../images/info.png) no-repeat;
}

#logs_link.highlighted {
  background: transparent url(../images/info_highlighted.png) no-repeat;
}

.message_section{
	background: lightyellow;
	border-color: red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}

#add_tab_link {
	/*background: transparent;*/
	font-size: 10px;
}

#tab_section .tab {
  font-size: 12px;
  /*border-color: #C2CBD2;
  font-weight:normal;
  color: black;
  background: #DDDDDD url(../images/degradado.png) no-repeat scroll left top;*/
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

/*
#tab_section .current {
  color: #4c5054;
  background: url("../images/fond.gif") repeat scroll left top transparent;
  border-color: #C2CBD2;
  font-weight:bold;
}*/

.tab .tab_name {
  font-size: 8pt;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

.disabled_background {
  background-color: #6699cc;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.drop_down_menu {
  border-color: #AAAAAA;
}

.drop_down_menu .border_bottom{
	border-color: #2D6F9C;
}

.drop_down_menu div .help_button {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
}

.underlined {
  border-color: #AAAAAA;
}

.window_menu, .help_text_enabled {
  border-color: #2D6F9C;
}

.window_menu .window_title, .help_text_enabled #app_name {
  color: #2D6F9C;
}

.window_menu .window_content .section_name{
	background: transparent url(../images/section.png) no-repeat scroll 0 0;
	text-decoration: underline;
	font-weight: bold;
}

.window_menu .window_content tr:hover {
  background: #C4D2DD;
}

.window_menu .window_content td input {
  vertical-align: sub;
}

.window_menu .window_content td.label {
  font-weight: bold;
}

.window_menu .explanation{
	font-size: 8pt;
	color: dimGray;
}

.window_menu .error {
  color: red;
  font-weight: bold;
}

.window_menu .warning{
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding: 10px;
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  background: transparent url(../images/tabops16px.png) no-repeat;
}

.tab_dragger{
	background: transparent url(../images/separator.gif) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
}

button {
  background: transparent url(../images/button.gif) repeat;
  color: white;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border-color: #C5D7EF;
	border-top-color: #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom-color: #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom-color: #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom-color:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border-color:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

.container {
  background-color:#E0E0E0 url(../images/init.dat) no-repeat scroll bottom center;
  /*border-color:#C2CBD2;*/
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: transparent;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    color:darkBlue;
    text-decoration:underline;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	display:block;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
}
