body {
	color:#000;
	background: url("../images/fond.gif") top left;
    margin:0;
    padding:0;
    font-size:80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#loading-indicator {
    background: white;
    -moz-opacity: 0.6;
    opacity: 0.6;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.hidden {
    display: none !important;
}

div.floatclearer {
  clear: both;
}

/* header ------------------------------------------------------------------------------------------ */
#header {
	background: url("../images/header_deg.gif") repeat-x top left;
	color:white;
	height: 74px;
}

.form-row input[type="submit"] {
	background: transparent url(../images/header_deg.gif) repeat;
	color: white;
}

#content-main .registration a{
	color:#2D6F9C;
}



#greeting a, #greeting a:visited{
	color:white;
}

#greeting .languages a{
	text-decoration:none;
}

#logo {
	padding-top:5px;
}

#tab_section {
 top: 10px;
}


.toolbar_section input[type=button], #add_tab_link, #left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
}

.ws_name{
  border: 0px none;
  height: 15px;
}

#workspace_name {
  top: -1px;
  color:#2D6F9C;
}

#workspace_menu_link{
	margin: 0 auto;
	width: 19px;
	height: 8px;
	padding-top: 5px;
}

#ws_operations_link {
	width: 19px;
	height: 8px;
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	color: #2D6F9C;
	border-color:#2D6F9C !important;
	border-style:solid !important;
	-moz-border-radius: 4px;
	padding: 0px 0px 0px 16px;
	height: 21px !important;
}

.toolbar_marked {
	background-color:#DDDEDF !important;
	border-width:2px 1px 1px 3px !important;
}
.toolbar_unmarked {
	border-width:1px 3px 2px 1px !important;
	background-color: #f0f0f0;
}

#left_slider{
 background: transparent url(../images/leftSlider.png) no-repeat scroll 2px 0;
}

#right_slider{
 background: transparent url(../images/rightSlider.png) no-repeat scroll 2px 0;
}



#catalogue_link {
  background: #ffffff url(../images/catalogue.png) no-repeat scroll 1px 1px;
}

#wiring_link {
  background: #ffffff url(../images/wiring.png) no-repeat scroll 1px 1px;
}

#dragboard_link {
  background: #ffffff url(../images/dragboard.png) no-repeat scroll 1px 1px;
}

#logs_link {
  background: none;
  color:red;
}

.message_section{
	background: lightyellow;
	border: 1px solid red;
}

.message_box{
	color: #000000;
}

#add_tab_link {
  background: #FFFFFF url(../images/addTab16px.png) no-repeat scroll 1px 1px;
  
}

#dragboard_link {
  height: 18px !important;
}

#tab_section .tab {
  border: 1px solid #4c5054;
  color: #FFF;
  background: #97A0A8 url(../images/degradado.png) no-repeat scroll left top;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 4px;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  color: #4c5054;
  background: #E0E0E0;
  border-bottom: 0px none;
}

.tab span{
  margin-right:5px;
}

.current .tab_name {
  margin-right: 5px;
}

.tab .tab_name {
  background: #97A0A8;
  border: 0px;
}

.current .tab_name {
  background: #E0E0E0;
}

#menu_layer{
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.disabled_background {
  background-color: #6699cc;
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.drop_down_menu {
  border: solid 1px #AAAAAA;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #2D6F9C;
}

.drop_down_menu div .help_buttom {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
}

.underlined {
  border-bottom: solid 1px #AAAAAA;
}

.window_menu {
  border: 2px solid #2D6F9C;
}

.window_menu .window_title {
  color: #2D6F9C;
}

.window_menu .window_content {
  margin-top: 2em;
}

.window_menu .window_content .msg {
  text-align: justify;
}

.window_msg_error{
  color: red;
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  width: 16px;
  height: 16px;
  background: transparent url(../images/tabops16px.png) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
}

button {
  background: transparent url(../images/button.gif) repeat;
  border: medium none;
  color: white;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  border: 1px solid #4c5054;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.container {
  background-color:#E0E0E0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: #FFF;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    color:darkBlue;
    text-decoration:underline;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	border: none;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
}
