div.styled_text_field {
    font-size: 13px;
    color: #555555;
    margin-bottom: 9px;
    position: relative;
}

div.styled_text_field > div {
    display: block;
    height: 19px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 19px;
    color: #555555;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    margin: 1px 4px 0px 4px;
}

div.styled_text_field > div > input {
    border: 0 none;
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}

div.styled_text_field > div > input:focus {
    outline: 0 none;
}

div.styled_text_field.focus {
    z-index: 2;
}

div.styled_text_field.focus > div {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

div.styled_text_field.error.focus > div {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.horizontal_layout > .center_container > .styled_text_field {
    width: 100%;
}

.horizontal_layout > .center_container > .styled_text_field > div {
    margin: 0;
}

.input-prepend > .center_container > .styled_text_field > div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-append > .center_container > .styled_text_field > div {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
