.styled_button {
    border: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgb(137, 137, 137);
    background: white;
    border-radius: 5px;
    padding: 3px 20px 2px;
    box-sizing: border-box;
}

.styled_button:focus,
.styled_button:hover {
    z-index: 2;
}

.styled_button.open {
    z-index: 111113;
}

.styled_button.plain {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: baseline;
    background: transparent;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0px;
}

.styled_button.disabled {
    text-decoration: none;
    cursor: default;
    opacity: 0.65;
}

.styled_button > span {
    margin: 0px 3px 1px 3px;
}

.styled_button:not(.plain):hover,
.styled_button.disabled:not(.plain) {
    border-color: rgb(204, 204, 204);
    background-color: rgb(252, 253, 252);
}

.styled_button img.icon {
    margin: 3px;
    vertical-align: middle;
}

.styled_button.btn-large {
    font-size: 15px;
    line-height: 17px;
    padding: 9px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.styled_button.btn-small {
    font-size: 10px;
    line-height: 11px;
    padding: 5px 9px;
}

.styled_button.btn-mini {
    font-size: 10px;
    line-height: 11px;
    padding: 2px 6px;
}

/* Grouped buttons */

.btn-group {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-group > .styled_button {
    margin: 0px;
}

.btn-group > .styled_button:not(:first-child) {
    margin-left: -1px;
}

.input-prepend > .west_container > .styled_button {
    margin: 0 -1px 0 0;
}

.input-prepend > .west_container > .styled_button,
.btn-group > .styled_button {
    border-radius: 0px;
}

.input-prepend > .west_container > .styled_button:first-child,
.btn-group > .styled_button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-append > .east_container > .styled_button {
    margin: 0 0 0 -1px;
    border-radius: 0px;
}

.input-append > .east_container > .styled_button:last-child,
.btn-group > .styled_button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Primary button */

.styled_button.btn-primary {
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
    border: 1px solid #50BCBC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #56CCCC #56CCCC #50BCBC;
    border-bottom-color: #4BB2B2;
    background-color:#0093C6;
}

.styled_button.btn-primary:hover,
.styled_button.btn-primary:active
{
    border-color: rgb(0, 204, 219);
    background-color: rgb(4, 137, 183);
}

.styled_button.btn-primary.disabled {
    background-color: #3E80AD;
    border: 1px solid #50BCBC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #56CCCC #56CCCC #50BCBC;
    border-bottom-color: #4BB2B2;
    background-color:#0093C6;
    color: #fff;
}

/* Success button */

.styled_button.btn-success {
    color: #FFF;
    background-color: rgb(91, 183, 91);
    border-color: rgb(91, 183, 91);
}

.styled_button.btn-success:hover,
.styled_button.btn-success:active,
.styled_button.btn-success.disabled
{
    background-color: rgb(81, 163, 81);
    border-color: rgb(81, 163, 81);
}

/* Warning button */

.styled_button.btn-warning {
    color: #FFF;
    background-color: rgb(250, 167, 50);
    border-color: rgb(250, 167, 50);
}

.styled_button.btn-warning:hover,
.styled_button.btn-warning:active,
.styled_button.btn-warning.disabled
{
    background-color: rgb(248, 148, 6);
    border-color: rgb(248, 148, 6);
}

/* Danger button */

.styled_button.btn-danger {
    color: #FFF;
    background-color: rgb(218, 79, 73);
    border-color: rgb(218, 79, 73);
}

.styled_button.btn-danger:hover,
.styled_button.btn-danger:active,
.styled_button.btn-danger.disabled
{
    background-color: rgb(189, 54, 47);
    border-color: rgb(189, 54, 47);
}
