
#wiring .title , #wiring #eventColumn .title, #slotColumn .title{
  color:white;
}

#wiring .borderLeftCell {
  border-color: 1px solid #AAA;
}

.form-row input[type="submit"] {
  background-image: url("../images/kgpg.png");
  background-repeat: no-repeat;
}

#wiring .igadget {
  background: #F7F7F7;
  font-weight: bold;
  color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#wiring .eventColumn .igadget .anchor {
  background: url("../images/wiring/inAnchor.png");
}

#wiring .slotColumn .igadget .anchor {
  background: url("../images/wiring/outAnchor.png");
}

#wiring .eventColumn .igadget .anchor.checked, #wiring #channels_list .channel .outAnchor.checked {
  background: url("../images/wiring/inAnchorInEnabled.png");
}

#wiring #channels_list .channel.selected .outAnchor, #wiring #channels_list .channel.selected .inAnchor{
  background: none;
}

#wiring #channels_list .channel.selected .outAnchor.checked {
  background: url("../images/wiring/inAnchorOutEnabled.png");
}

#wiring .slotColumn .igadget .anchor.checked, #wiring #channels_list .channel .inAnchor.checked {
  background: url("../images/wiring/outAnchorOutEnabled.png");
}

#wiring #channels_list .channel.selected .inAnchor.checked {
  background: url("../images/wiring/outAnchorInEnabled.png");
}

#wiring #channels_list .channel .inAnchor {
  background: url("../images/wiring/outAnchorChannel.png");
}

#wiring #channels_list .channel .outAnchor {
  background: url("../images/wiring/inAnchorChannel.png");
}

#wiring .tab {
  background: transparent url(../images/tab.png) repeat-x scroll left top;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  border-color: transparent;
}

#wiring .tab > .content {
  background: #4B7793;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
}

#wiring .eventColumn .tab > .header_section {
  background: transparent url("../images/wiring/tree.gif") no-repeat scroll 2px 5px;
}

#wiring .slotColumn .tab > .header_section {
  background: transparent url("../images/wiring/tree.gif") no-repeat scroll 99% 5px;
}

#wiring .tab > .header_section {
  color:       white;
  font-weight: bold;
}

#wiring .tab.empty > .header_section {
  background: none;
}

#wiring .tab > .header_section > .anchor {
  background: url("../images/wiring/outAnchor.png");
}

#wiring .tab > .header_section > .anchor.checked {
  background: url("../images/wiring/outAnchorOutEnabled.png");
}

#wiring .igadget > .header_section {
  background: url("../images/wiring/Lminus.png") no-repeat scroll left top;
}

#wiring .igadget.folded > .header_section {
  background: url("../images/wiring/Lplus.png") no-repeat scroll left top;
}

#wiring .igadget.unfoldable > .header_section {
  background: url("../images/wiring/LminusDisabled.png") no-repeat scroll left top;
}

#wiring #newChannelForm .addSubmit {
  background: url("../images/wiring/add.png");
}

#wiring .newChannel, #wiring #unfold_all_link {
  color: #2D6F9C;
  text-decoration: underline;
}

#wiring #wiring_options {
  color:     #2D6F9C;
  font-size: 90%;
}

#wiring #unfold_chkItem{
  background: url("../images/wiring/unchecked14px.png") no-repeat right bottom;
 }

#wiring #unfold_chkItem.chkItem{
  background: url("../images/wiring/checked14px.png") no-repeat right bottom;
}

#wiring #channels_list .channel .channelPipe {
  border-color: #2D6F9C;
  background: #97A0A8 url("../images/wiring/pipe.png");
  -moz-border-radius:5%;
  -webkit-border-radius: 5%;
}

#wiring #channels_list .channel .channelContent {
  border-style: solid;
  border-color: #525248;
  background: #F7F7F7;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px
}

#wiring #channels_list .channel.selected .channelPipe {
  background-color: #2D6F9C;
}

#wiring #channels_list .channel.selected .channelContent .filterMenuLauncher, #wiring .newChannel.selected .channelContent .filterMenuLauncher {
	background: transparent url("../images/menu-arrow-selected.png") no-repeat scroll 0 5px;
}

#wiring #channels_list .channel.selected .channelContent label, #wiring .newChannel.selected .channelContent label {
	font-size: 95%;
	color: #000000;
}

#wiring #channels_list .channel.selected .channelContent .filterValue, #wiring .newChannel.selected .channelContent .filterValue {
	font-size: 90%;
}

#wiring #channels_list .channel.selected .channelContent .paramValueInput, #wiring .newChannel.selected .channelContent .paramValueInput {
  background: #E0E0E0;
  font-size: 90%;
}

#wiring #wiring_messages {
  border-color: orange;
  background: lightyellow;
}

#wiring #newChannelForm .linkSubmit {
   color: blue;
   background-color:#E0E0E0;
   border-style:none;
   border-color:#FFFFFF;
   text-decoration: underline;
}

#wiring .newChannelInput {
   border-color: #4C5054;
}

#wiring .channelNameInput {
   background: transparent;
}

#wiring .selected .channelNameInput {
	background: transparent url("../images/fond.gif") repeat;
}

.canvas .arrow {
  stroke: #2D6F9C;
  fill:   none;
  stroke-width: 2;
}

.canvas .inFromChannel {
  stroke: green;
  fill:   none;
  stroke-width: 2;
}

.canvas .outToChannel {
  stroke: #F00000;
  fill:   none;
  stroke-width: 2;
}

.helpwiringheader {
  border-color: #AAA;
  -moz-border-radius:6px;
  background:white;
  font-size:80%;
}

#wiring .option_link {
  color: #2D6F9C;
  font-size: 10px;
}

#wiring .selected_option_link {
  font-weight: bold;
  font-size: 11px;
}