{% load i18n %}
<div id="wrapper">
	
	<!-- DRAGBOARD LAYERS -->
	{% include "dragboard.html" %}
	<!-- DRAGBOARD LAYERS -->
	<!-- WIRING LAYER -->
	{% include "wiring.html" %}
	<!-- WIRING LAYER -->

			
	
	<!-- CATALOGUE LAYER -->
	<div id="catalogue_views">

	  <!-- SPECIFIC LIST_VIEW CATALOGUE SECTIONS -->
	  
	  <script id="list_view_catalogue_structure" type="html/template">
	    {% include "catalogue/views/list/list_view_template.html" %}
	  </script>
	        
	  <script id="list_view_resource_structure_template" type="html/template">
	    {% include "catalogue/views/list/list_view_resource.html" %}
	   </script>
	
	  <script id="list_view_developer_info_structure" type="html/template">
		{% include "catalogue/views/list/list_view_developers.html" %}
	  </script>
	  
	  <script id="list_view_resource_details_structure_template" type="html/template">
		{% include "catalogue/views/list/list_view_resource_details.html" %}
	  </script>
	      
	  <!-- COMMON CATALOGUE SECTIONS -->
	  
	  <script id="pagination_structure" type="html/template">
		{% include "catalogue/pagination_template.html" %}
	  </script>
  
	</div>

	<div id="showcase" class="container showcase">
	</div>
	
	<!-- LOGS LAYER -->
	{% include "logs.html" %}
	<!-- LOGS LAYER -->
</div>