{% load i18n %}
<div id="header">
	<div id="bar">
		<div id="ws_banner" class="lite_banner">
			<div id="lite_toolbar_section" class="toolbar_section">
				<input type="button" id="catalogue_link" title="{% trans 'Add gadgets to your workspace' %}" class="toolbar_unmarked" value="{% trans 'Add Gadgets' %}"/>
				<input type="button" id="wiring_link" title="{% trans 'Connect gadgets to another gadgets' %}" class="toolbar_unmarked" value="{% trans 'Connect Gadgets' %}"/>
				<div id="workspace_link_container" >
					<div id="dragboard_link" class="toolbar_unmarked">
						<div id="workspace_name"></div>
					</div>
					<div id="workspace_menu_link"> 
						<input type="button" id="ws_operations_link" title="{% trans 'Workspace operations' %}"/>
					</div>
				</div>
		
			</div>
		</div>
		
		<div id="wiring_banner" class="lite_banner" style="display:none">
			<div class="toolbar_section">
				<input type="button" title="{% trans 'Connect gadgets to another gadgets' %}" class="toolbar_marked wiring_link" disabled="true" value="{% trans 'Connect Gadgets' %}"/>
				<input type="button" id="wiring_dragboard_link" title="{% trans 'Go back to your active workspace' %}" class="toolbar_unmarked" value="{% trans 'Go back' %}"/>
			</div>
		</div>
	
		<div id="catalogue_banner" class="lite_banner" style="display:none">
			<div class="toolbar_section">
				<input type="button" title="{% trans 'Add gadgets to your workspace' %}" class="toolbar_marked catalogue_link" disabled="true" value="{% trans 'Add Gadgets' %}"/>
				<input type="button" id="catalogue_dragboard_link" title="{% trans 'Go back to your active workspace' %}" class="toolbar_unmarked" value="{% trans 'Go back' %}"/>
			</div>
		</div>
		
		<div id="tab_section" class="tab_section">
			<input type="button" id="add_tab_link" title="{% trans 'Add more tabs' %}" class="toolbar_unmarked" onclick="$('add_tab_link').blur();OpManagerFactory.getInstance().activeWorkSpace.addTab();" value="{% trans 'Add Tab' %}"/>
			<input type="button" id="right_slider" title="go left" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goLeft()" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().leftTimeOut)"/>
			<div id="fixed_bar"><div id="scroll_bar"><div id="tab_marker" style="display:none"></div></div></div>
			<input type="button" id="left_slider" title="go right" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goRight();" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().rightTimeOut)"/>
	
		</div>
		<!-- LOGS LINK -->
		<input id="logs_link" title="{% trans 'Show errors console' %}" onclick="OpManagerFactory.getInstance().showLogs();"/>
	</div>
	<div id="message_section" class="message_section"><span id="message_box" class="message_box"></span></div>
</div>