{% extends "index.html"%}
{% load i18n %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ezweb_lite.css" />
	
	<style>
	   #toolbar_section, #banner, #add_tab_link {
	     display: none;
	   }
	</style>
{% endblock %}

{% block ezweb_logo %}

	<img style="float: left" id="logo_viewer" src="{{ MEDIA_URL }}init.dat" alt="EzWeb Logo" />

{% endblock %}

{% block includes %}

    {% if only_one_js_file %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/ezweb.js"></script>
    {% else %}
       {% include "js_viewer_includes.js" %}
    {% endif %}

    <script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>

    {% if AUTHENTICATION_SERVER_URL %}
    <script type="text/javascript" src="{{ AUTHENTICATION_SERVER_URL }}/ezweb/js/js_library.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/EzSteroidsAPI/EzSteroidsAPI.js"></script>
    {% endif %}

{% endblock %}
