{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% trans "EzWeb Platform" %}</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<!-- Base css -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/ezweb.css" />

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/catalogue.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dragboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/wiring.css" />

{% block extra_stylecss %}
<!-- Theme css -->
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/ezweb.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/catalogue.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/dragboard.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/wiring.css" />
{% endblock %}

<!-- CSS for different header -->
{% block css %}{% endblock %}

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />

<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css" />
<![endif]-->

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.improvements.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/scriptaculous/scriptaculous.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/catalogue/301a.js"></script>

<script type="text/javascript">
_URIConstants = function(){}
_URIConstants.prototype.EZSTEROIDS_API = '{{ AUTHENTICATION_SERVER_URL }}/api';
_URIConstants.prototype.USER = '/user/{{ user.username }}';
_URIConstants.prototype.GET_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}');
_URIConstants.prototype.GET_IGADGETS = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/');
_URIConstants.prototype.GET_GADGET = new Template ('/user/{{ user.username }}/gadgets/#{vendor}/#{name}/#{version}');
_URIConstants.prototype.GET_GADGETS = '/user/{{ user.username }}/gadgets';
_URIConstants.prototype.GET_CONTEXT = '/user/{{ user.username }}/context';
_URIConstants.prototype.GET_CONTEXT_VALUE = new Template ('/user/{{ user.username }}/context/#{concept}/value');
_URIConstants.prototype.GET_POST_RESOURCES = '/user/{{ user.username }}/catalogue/resource';
_URIConstants.prototype.GET_RESOURCES_SIMPLE_SEARCH = '/user/{{ user.username }}/catalogue/search';
_URIConstants.prototype.GET_RESOURCES_GLOBAL_SEARCH = '/user/{{ user.username }}/catalogue/globalsearch';
_URIConstants.prototype.DELETE_TAG = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.POST_RESOURCE_TAGS = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.POST_RESOURCE_VOTES = '/user/{{ user.username }}/catalogue/voting';
_URIConstants.prototype.POST_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets');
_URIConstants.prototype.PROXY = '/proxy';
_URIConstants.prototype.GET_IGADGET_VARIABLES = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables');
_URIConstants.prototype.GET_POST_GADGET_VARIABLE = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables/#{varName}');
_URIConstants.prototype.PUT_VARIABLES = new Template ('/workspace/#{workspaceId}/variables');
_URIConstants.prototype.GET_POST_WORKSPACES = '/workspaces';
_URIConstants.prototype.GET_POST_WIRING = new Template ('/workspaces/#{id}/wiring');
_URIConstants.prototype.GET_POST_WORKSPACE = new Template ('/workspaces/#{id}');
_URIConstants.prototype.GET_POST_TABS = new Template('/workspace/#{workspace_id}/tabs');
_URIConstants.prototype.TAB = new Template('/workspace/#{workspace_id}/tab/#{tab_id}');
_URIConstants.prototype.POST_PUBLISH_WORKSPACE = new Template('/workspace/#{workspace_id}/publish');
_URIConstants.prototype.GET_ADD_WORKSPACE = new Template('/workspace/#{workspace_id}/add');
_URIConstants.prototype.GET_MERGE_WORKSPACE = new Template('/workspace/#{from_ws_id}/merge/#{to_ws_id}');
_URIConstants.prototype.PUT_SHARE_WORKSPACE = new Template('/workspace/#{workspace_id}/share/#{share_boolean}');
_URIConstants.prototype.GADGET_TEMPLATE_GENERATOR = new Template('{{GADGET_GENERATOR_URL}}/gadgetGenerator/template/#{gadget_type}');

{% if home_gateway_dispatcher_url %}
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_URL = '{{ home_gateway_dispatcher_url }}serviceGadgets?user={{ user.username }}';
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_UNSUBSCRIBE_URL = '{{ home_gateway_dispatcher_url }}unsubscribeServices';
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_CANCEL_URL = '{{ home_gateway_dispatcher_url }}cancelServices';
{% else %}
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_URL = null;
{% endif%}


var URIs = new _URIConstants();

var ezweb_user_name = '{{ user.username }}'
var tag_categories = '{{ tag_categories|safe }}'

var public_workspace = '{{ active_workspace }}';

</script>

{% block includes %}

    {% if only_one_js_file %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/ezweb.js"></script>
    {% else %}
       {% include "js_includes.js" %}
    {% endif %}
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/wiring/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>
    
    {% if AUTHENTICATION_SERVER_URL %}
    <script type="text/javascript" src="{{ AUTHENTICATION_SERVER_URL }}/ezweb/js/js_library.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/EzSteroidsAPI/EzSteroidsAPI.js"></script>
    {% endif %}


{% endblock %}

<!-- Initialization code -->
<script type="text/javascript">
	function setLanguage(language) {
		var onSuccess = function() {
			window.location.reload();
		}
		
		var onError = function() {}
		
		var persistenceEngine = PersistenceEngineFactory.getInstance();
		var params = {language: language};
		persistenceEngine.send_post("/i18n/setlang/", params, this, onSuccess, onError);
		return false;
	}

	var opManager = OpManagerFactory.getInstance();
</script>


</head>
<body onload="OpManagerFactory.getInstance().loadEnviroment()">

<!-- Loading indicator -->
<div id="loading-indicator"></div>

<!-- HIDDEN MENUS -->
<div id="menu_layer" style="display:none">
</div>
<!--<div id="workspace_menu" class="drop_down_menu" style="display:none;">
	<div class="option underlined" onclick="OpManagerFactory.getInstance().activeWorkSpace.fillWithInput(); LayoutManagerFactory.getInstance().hideCover();"><img src="/ezweb/images/rename.gif"/><span>{% trans "Rename"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/package.jpg"/><span>{% trans "Package"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/move.gif"/><span>{% trans "Mezclar con Workspace"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/pencil.png"/><span>{% trans "Preferences"%}</span></div> 
	<div class="option underlined" onclick="OpManagerFactory.getInstance().activeWorkSpace.deleteWorkSpace();"><img src="/ezweb/images/cross.png"/><span>{% trans "Remove"%}</span></div>
	<div class="option" onclick="LayoutManagerFactory.getInstance().showWindowMenu('createWorkSpace');"><img src="/ezweb/images/list-add.png"/><span>{% trans "New workspace"%}</span></div>
	<div id="changeWorkspace_menu" class="submenu"></div> 
</div>
<div id="tab_menu" class="drop_down_menu" style="display:none;">
	<div class="option underlined" onclick="OpManagerFactory.getInstance().activeWorkSpace.getVisibleTab().fillWithInput(); LayoutManagerFactory.getInstance().hideCover();"><img src="/ezweb/images/rename.gif"/><span>{%trans "Rename"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/package.jpg"/><span>{% trans "Package"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/move.gif"/><span>{% trans "Copy to Workspace"%}</span></div>
	<div class="option underlined"><img src="/ezweb/images/move.gif"/><span>{% trans "Move to Workspace"%}</span></div>
	<div class="option" onclick="OpManagerFactory.getInstance().activeWorkSpace.getVisibleTab().deleteTab();"><img src="/ezweb/images/cross.png" /><span>{% trans "Remove"%}</span></div>
</div>
<div id="rename_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="rename_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<label>{% trans "New name"%}: </label><input id="rename_new_name" type="text" value = ""/>
		<div id="rename_window_msg" class="window_msg_error"></div>
	</div>
	<div class="window_bottom">
		<button id ="alert_btn1">{% trans "Yes"%}</button> 
		<button id = "alert_btn2">{% trans "No"%}</button>
	</div>
</div> -->
<div id="create_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="create_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<label>{% trans "Name"%}: </label><input id="create_name" type="text" value = ""/>
		<div id="create_window_msg" class="window_msg_error"></div>
	</div>
	<div class="window_bottom">
		<button id ="create_btn">{% trans "Create"%}</button>
		<button onclick="LayoutManagerFactory.getInstance().hideCover();">{% trans "Cancel"%}</button>
	</div>
</div>
<div id="alert_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="alert_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<img src="{{ MEDIA_URL }}images/warning.png" alt="alert" />
		<div id="alert_window_msg" class="window_msg"></div>
	</div>
	<div class="window_bottom">
		<button id="alert_btn1">{% trans "Accept"%}</button>
		<button id="alert_btn2" onclick="LayoutManagerFactory.getInstance().hideCover();">{% trans "Cancel"%}</button>
	</div>
</div>
<div id="message_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="message_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<img src="{{ MEDIA_URL }}images/warning.png" alt="alert" />
		<div id="message_window_msg" class="window_msg"></div>
	</div>
	<div class="window_bottom">
		<button id = "message_btn1" onclick="LayoutManagerFactory.getInstance().hideCover();">{% trans "Don't bother me anymore with this question"%}</button>
	</div>
</div>
<div id="info_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="info_window_title" class="window_title"></label>
		<input id="info_window_button" type="button" class="closebutton button" />
	</div>
	<div class="window_content">
		<img src="{{ MEDIA_URL }}images/info.png" alt="Help" />
		<div id="info_window_msg" class="window_msg"></div>
	</div>
	<div class="window_bottom">
		<input type="checkbox" id="info_window_checkbox">{% trans "Don't show me anymore"%}</input>
	</div>
</div>
<div id="publish_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="publish_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<table>
		<tr><td><label>{% trans "Mashup Name"%}</label> <span class="required_mark">*</span></td><td><input id="publish_name" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Vendor"%}</label> <span class="required_mark">*</span></td><td><input id="publish_vendor" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Version"%}</label> <span class="required_mark">*</span></td><td><input id="publish_version" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Author"%}</label></td><td><input id="publish_author" type="text" value = "{{ user.username }}"/></td></tr>
		<tr><td><label>{% trans "Email"%}</label> <span class="required_mark">*</span></td><td><input id="publish_email" type="text" value = "{{ user.email }}"/></td></tr>
		<tr><td><label>{% trans "Organization"%}</label></td><td><input id="publish_organization" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Description"%}</label></td><td><textarea id="publish_description" rows="5" cols="50" ></textarea></td></tr>
		<tr><td><label>{% trans "Image URL"%}</label></td><td><input id="publish_imageURI" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Wiki URL"%}</label></td><td><input id="publish_wikiURI" type="text" value = ""/></td></tr>
		</table>
		<div style="display:block;"><span class="required_mark">*</span> <span class="required_text">required</span></div>
		<div id="publish_window_msg" class="window_msg_error"></div>
	</div>
	<div class="window_bottom">
		<button id = "publish_btn1">{% trans "Accept"%}</button>
		<button id = "publish_btn2" onclick="LayoutManagerFactory.getInstance().hideCover();">{% trans "Cancel"%}</button>
	</div>
</div>
<div id="add_feed_menu" class="window_menu" style="display:none">
	<div class="window_top">
		<label id="add_feed_window_title" class="window_title"></label>
		<input type="button" class="closebutton button" onclick="LayoutManagerFactory.getInstance().hideCover();" />
	</div>
	<div class="window_content">
		<!-- Color Picker -->
		<div id="colorpicker301" class="colorpicker301"></div>
		<table>
		<tr><td><label>{% trans "Name" %}</label> <span class="required_mark">*</span></td><td><input id="feed_name" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "URL"%}</label> <span class="required_mark">*</span></td><td><input id="feed_URL" class="url" type="text" value = ""/></td></tr>
		<tr id="parse_parameters_opt" style="display:none"><td><label>{% trans "Parse URL Parameters"%}</label></td><td><input id="parse_parameters" type="checkbox" name="1"/></td></tr>
		<tr><td colspan="2"><hr /></td></tr>
		<tr id="events_opt" style="display:none"><td><label>{% trans "Events"%}</label></td><td><input id="events" type="text" value = ""/></td></tr>
		<tr id="home_URL_opt" style="display:none"><td><label>{% trans "Home URL"%}</label></td><td><input id="site_home_URL" class="url" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "Image URL" %}</label></td><td><input id="feed_image_URL" class="url" type="text" value = ""/></td></tr>
		<tr><td><label>{% trans "iPhone image URL" %}</label></td><td><input id="feed_iphone_URL" class="url" type="text" value = ""/></td></tr>
		<tr id="color_pref_opt" style="display:none"><td><label>{% trans "Template color"%}</label></td><td>
			<select id="feed_color" name="feed_color">
				<option value="blue">blue</option>
				<option value="orange">orange</option>
				<option value="red">red</option>
				<option value="green">green</option>
			</select>
		</td></tr>
		<tr><td><label>{% trans "Menu Color (Hex.)" %}</label></td><td><input id="feed_menu_color" type="text" maxlength="6" style="width:72px;" value = ""/>&nbsp;<img src="{{ MEDIA_URL }}images/colorPicker25px.png" onclick="showColorGrid3('feed_menu_color','color_sample');" style="cursor:pointer;width:23px;" alt="select color" title="Click to select a color"/>&nbsp;<input type="text" id="color_sample" size="1" value=""/></td></tr>
		<tr><td><label>{% trans "Organization" %}</label></td><td><input id="feed_organization" type="text" value = ""/></td></tr>
		<tr id="source_opt" style="display:none"><td><label>{% trans "Source" %}</label></td><td><input id="site_source" type="text" value = ""/></td></tr>
		<tr id="source_URL_opt" style="display:none"><td><label>{% trans "Source URL" %}</label></td><td><input id="site_source_URL" class="url" type="text" value = ""/></td></tr>		
		</table>
		<div style="display:block;"><span class="required_mark">*</span> <span class="required_text">required</span></div>
		<div id="add_feed_window_msg" class="window_msg_error"></div>
	</div>
	<div class="window_bottom">
		<button id = "add_feed_btn1">{% trans "Accept"%}</button>
		<button id = "add_feed_btn2" onclick="LayoutManagerFactory.getInstance().hideCover();">{% trans "Cancel"%}</button>
	</div>
</div>
<!-- <div id="changeWorkspace_menu" class="drop_down_menu" style="display:none;">
</div> -->


<!-- HEADER -->
{% block header %}
<div id="header">
<div id="banner">
	<div id="greeting">
		<span id="user_section">
		  {% if is_anonymous %}{% trans "anonymous" %}</span> | <span id="help_section"><a href="http://forge.morfeo-project.org/wiki/index.php/FAQ" class="help_button"></a></span> | <a href="/accounts/login/?next=/">{% trans "Sign in" %}</a>
		  {% else %} {% trans "Welcome" %}, {{ user.username }} | {%if AUTHENTICATION_SERVER_URL%}<a href="{{AUTHENTICATION_SERVER_URL}}">{% trans "profile" %}</a> |{%endif%} <span id="help_section"><a href="http://forge.morfeo-project.org/wiki/index.php/FAQ" class="help_button"></a></span>  | <a href="/logout">{% trans "Exit" %}</a></span>
		  {% endif %}
		<div class="languages">
		  {% for lang in LANGUAGES %} <a href="/" onclick="UIUtils.sendPendingTags();return setLanguage('{{ lang.0 }}')" ><img title="{{lang.1}}" alt="{{lang.1}}" src="{{ MEDIA_URL }}images/{{ lang.0 }}.png"/></a>{% endfor %}
		</div>
	</div>
	<img id="logo" src="{{ MEDIA_URL }}images/logo.gif" alt="EzWeb Logo" />
</div>	
<div id="bar">
<div id="tab_section" class="tab_section">
	<input type="button" id="right_slider" title="go left" style="display:none" onmousedown="LayoutManagerFactory.getInstance().goLeft()" onmouseup="clearTimeout(LayoutManagerFactory.getInstance().leftTimeOut)"/>
	<div id="fixed_bar"><div id="scroll_bar"></div></div>
	<input type="button" id="left_slider" title="go right" style="display:none" onmousedown="LayoutManagerFactory.getInstance().goRight();" onmouseup="clearTimeout(LayoutManagerFactory.getInstance().rightTimeOut)"/>
	<input type="button" id="add_tab_link" title="{% trans 'Add more tabs' %}" class="toolbar_unmarked" onclick="$('add_tab_link').blur();OpManagerFactory.getInstance().activeWorkSpace.addTab();" value="{% trans 'Add Tab' %}"/>

</div>
<div id="toolbar_section" class="toolbar_section">
		<input type="button" id="catalogue_link" title="{% trans 'Add gadgets to your workspace' %}" class="toolbar_unmarked" value="{% trans 'Add Gadgets' %}"/>
		<input type="button" id="wiring_link" title="{% trans 'Connect gadgets to another gadgets' %}" class="toolbar_unmarked" value="{% trans 'Connect Gadgets' %}"/>
		<div id="dragboard_link" class="toolbar_unmarked">
			<div id="workspace_name"></div> 
			<input type="button" id="ws_operations_link" title="{% trans 'Workspace operations' %}"/>
		</div>
		<div id="logs_link" style="display:none" title="{% trans 'Show errors console' %}" class="toolbar_unmarked" onclick="OpManagerFactory.getInstance().showLogs();"></div>
</div>

{% block ezweb_logo %}
{% endblock %}

<div id="message_section" class="message_section"><span id="message_box" class="message_box"></span></div>
</div>
</div>
{% endblock %}
<div id="wrapper">
	<!-- DRAGBOARD LAYERS -->
		<!-- Initially empty -->
	<!-- DRAGBOARD LAYERS -->

	<!-- WIRING LAYER -->
	<div id="wiring" class="container">
	{% include "wiring.html" %}
	</div>
	<!-- WIRING LAYER -->

	<!-- SHOWCASE LAYER -->
	<div id="showcase_container" class="container">
	{% include "showcase.html" %}
	</div>
	<!-- SHOWCASE LAYER -->

	<!-- LOGS LAYER -->
	<div id="logs_container" class="container">
		<div id="logs_header" style="" title="{% trans 'Clear' %}" class=""><a href="#" onclick="OpManagerFactory.getInstance().clearLogs();">{% trans 'Clear' %}</a></div>
		<div id="logs_console" class="container_content">
		 </div>
	</div>
	<!-- LOGS LAYER -->
</div>
</body>
</html>
