{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% trans "EzWeb Platform" %}</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
<![endif]-->

<!-- Base css -->
{% if only_one_css_file %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ezweb_{{ ezweb_release }}.css"/>
{% else %}
<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/ezweb.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/catalogue.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dragboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/wiring.css" />
{% endif %}
{% block extra_stylecss %}
<!-- Theme css --> 
{% if only_one_css_file %}
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/ezweb_theme_{{ ezweb_release }}.css"/>
{% else %}
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/ezweb.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/catalogue.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/dragboard.css" />
<link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/wiring.css" />
{% endif %}
{% endblock %}

<!-- CSS for different header -->
{% block css %}{% endblock %}

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />

<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css" />
  <link rel="stylesheet" type="text/css" href="{{ THEME_URL }}/css/ie.css" /> 
<![endif]-->

</head>
<body>

<!-- Menu layer -->
<div id="menu_layer" style="display:none">
</div>

<!-- Loading indicator -->
<div id="loading-window">
  <div id="loading-background"></div>
  <div id="loading-message" class="window_menu">
    <div class="window_top">
      <div id="loading-task-title" class="window_title">{% trans "Loading EzWeb Platform" %} 0%</div>
    </div>
    <div class="window_content">
      <div id="loading-indicator"></div>
      <div id="loading-subtask-title" class="msg">{% trans "Retreiving EzWeb code" %}: 0%</div>
    </div>
  </div>
</div>

<!-- HEADER -->
{% block header %}
<div id="header">
<div id="banner">
	<div id="logo"></div>
	<div id="toolbar_section" class="toolbar_section">
		<input type="button" id="catalogue_link" title="{% trans 'Add gadgets to your workspace' %}" class="toolbar_unmarked" value="{% trans 'Add Gadgets' %}"/>
		<input type="button" id="wiring_link" title="{% trans 'Connect gadgets to another gadgets' %}" class="toolbar_unmarked" value="{% trans 'Connect Gadgets' %}"/>
		<div id="workspace_link_container" >
			<div id="dragboard_link" class="toolbar_unmarked">
				<div id="workspace_name"></div>
			</div>
			<div id="workspace_menu_link">
				<input type="button" id="ws_operations_link" title="{% trans 'Workspace operations' %}"/>
			</div>
		</div>
	</div>
	<div id="greeting">
		<div class="languages">
		  {% for lang in LANGUAGES %} <a href="/" onclick="UIUtils.sendPendingTags();return setLanguage('{{ lang.0 }}')" ><img title="{{lang.1}}" alt="{{lang.1}}" src="{{ MEDIA_URL }}images/{{ lang.0 }}.png"/></a>{% endfor %}
		</div>
		<!-- LOGS LINK -->
		<input type="button" id="logs_link" title="{% trans 'Show errors console' %}" onclick="OpManagerFactory.getInstance().showLogs();"/>
		<input type="button" id="preferences_link" title="{% trans 'Preferences' %}" onclick="OpManagerFactory.getInstance().showPlatformPreferences();"/>
		<span> | </span>
		{% if is_anonymous %}
			<a href="/accounts/login/?next=/">{% trans "Sign in" %}</a>
			<span> | </span>
			<span id="help_section"><a href="http://forge.morfeo-project.org/wiki/index.php/FAQ" class="help_button" target="_blank"></a></span>
			<span> | </span>
			<span id="user_section">{% trans "anonymous" %}</span>
		{% else %}
			<a href="javascript:OpManagerFactory.getInstance().logout()">{% trans "Exit" %}</a>
			<span>  | </span>
			<span id="help_section"><a href="http://forge.morfeo-project.org/wiki/index.php/FAQ" class="help_button"  target="_blank"></a></span>
			{%if AUTHENTICATION_SERVER_URL%}
				<span> | </span>
				<a href="{{AUTHENTICATION_SERVER_URL}}">{% trans "profile" %}</a>
			{%endif%}
			<span> | </span>
			<span id="user_section"> {% trans "Welcome" %}, {{ user.username }}</span>
		{% endif %}
	</div>
</div>
<div id="bar">
<div id="tab_section" class="tab_section">
    <input id="floating_gadgets_launcher" type="button" title="{% trans 'Show floating gadgets' %}" class="tabOps_launcher"/>
	<input type="button" id="add_tab_link" title="{% trans 'Add more tabs' %}" class="toolbar_unmarked" onclick="$('add_tab_link').blur();OpManagerFactory.getInstance().activeWorkSpace.addTab();" value="{% trans 'Add Tab' %}"/>
	<input type="button" id="right_slider" title="go left" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goLeft()" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().leftTimeOut)"/>
	<div id="fixed_bar"><div id="scroll_bar"><div id="tab_marker" style="display:none"></div></div></div>
	<input type="button" id="left_slider" title="go right" style="display:none" onmouseover="LayoutManagerFactory.getInstance().goRight();" onmouseout="clearTimeout(LayoutManagerFactory.getInstance().rightTimeOut)"/>
</div>

{% block ezweb_logo %}
{% endblock %}

<div id="message_section" class="message_section"><span id="message_box" class="message_box"></span></div>
</div>
</div>
{% endblock %}
<div id="wrapper">
	<!-- DRAGBOARD LAYERS -->
		<!-- Initially empty -->
	<!-- DRAGBOARD LAYERS -->

	<!-- WIRING LAYER -->
	<div id="wiring" class="container">
	{% include "wiring.html" %}
	</div>
	<!-- WIRING LAYER -->

	<!-- SHOWCASE LAYER -->
	<div id="showcase_container" class="container">
	{% include "showcase.html" %}
	</div>
	<!-- SHOWCASE LAYER -->

	<!-- LOGS LAYER -->
	<div id="logs_container" class="container">
		<div id="logs_header" style="" title="{% trans 'Clear' %}" class=""><a href="#" onclick="OpManagerFactory.getInstance().clearLogs();">{% trans 'Clear' %}</a></div>
		<div id="logs_console" class="container_content">
		 </div>
	</div>
	<!-- LOGS LAYER -->
</div>
</body>

<!-- JavaScript code -->

<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/scriptaculous/scriptaculous.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/catalogue/301a.js"></script>

<script type="text/javascript">
_URIConstants = function(){}
_URIConstants.prototype.EZSTEROIDS_API = '{{ AUTHENTICATION_SERVER_URL }}/api';
_URIConstants.prototype.USER = '/user/{{ user.username }}';
_URIConstants.prototype.GET_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}');
_URIConstants.prototype.GET_IGADGETS = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/');
_URIConstants.prototype.GET_GADGET = new Template ('/user/{{ user.username }}/gadgets/#{vendor}/#{name}/#{version}');
_URIConstants.prototype.GET_GADGETS = '/user/{{ user.username }}/gadgets';
_URIConstants.prototype.GET_CONTEXT = '/user/{{ user.username }}/context';
_URIConstants.prototype.GET_CONTEXT_VALUE = new Template ('/user/{{ user.username }}/context/#{concept}/value');
_URIConstants.prototype.PLATFORM_PREFERENCES = '/user/{{ user.username }}/preferences/platform';
_URIConstants.prototype.WORKSPACE_PREFERENCES = new Template ('/user/{{ user.username }}/preferences/workspace/#{workspace_id}');
_URIConstants.prototype.TAB_PREFERENCES = new Template ('/user/{{ user.username }}/preferences/tab/#{workspace_id}/#{tab_id}');
_URIConstants.prototype.GET_POST_RESOURCES = '/user/{{ user.username }}/catalogue/resource';
_URIConstants.prototype.GET_RESOURCES_SIMPLE_SEARCH = '/user/{{ user.username }}/catalogue/search';
_URIConstants.prototype.GET_RESOURCES_GLOBAL_SEARCH = '/user/{{ user.username }}/catalogue/globalsearch';
_URIConstants.prototype.DELETE_TAG = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.POST_RESOURCE_TAGS = '/user/{{ user.username }}/catalogue/tag';
_URIConstants.prototype.POST_RESOURCE_VOTES = '/user/{{ user.username }}/catalogue/voting';
_URIConstants.prototype.POST_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets');
_URIConstants.prototype.PROXY = '/proxy';
_URIConstants.prototype.GET_IGADGET_VARIABLES = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables');
_URIConstants.prototype.GET_POST_GADGET_VARIABLE = new Template ('/user/{{ user.username }}/igadgets/#{iGadgetId}/variables/#{varName}');
_URIConstants.prototype.PUT_VARIABLES = new Template ('/workspace/#{workspaceId}/variables');
_URIConstants.prototype.GET_POST_WORKSPACES = '/workspaces';
_URIConstants.prototype.GET_POST_WIRING = new Template ('/workspaces/#{id}/wiring');
_URIConstants.prototype.GET_POST_WORKSPACE = new Template ('/workspaces/#{id}/last_user/#{last_user}');
_URIConstants.prototype.GET_POST_TABS = new Template('/workspace/#{workspace_id}/tabs');
_URIConstants.prototype.TAB = new Template('/workspace/#{workspace_id}/tab/#{tab_id}');
_URIConstants.prototype.POST_PUBLISH_WORKSPACE = new Template('/workspace/#{workspace_id}/publish');
_URIConstants.prototype.GET_ADD_WORKSPACE = new Template('/workspace/#{workspace_id}/add');
_URIConstants.prototype.GET_MERGE_WORKSPACE = new Template('/workspace/#{from_ws_id}/merge/#{to_ws_id}');
_URIConstants.prototype.PUT_SHARE_WORKSPACE = new Template('/workspace/#{workspace_id}/share/#{share_boolean}');
_URIConstants.prototype.GET_SHARE_GROUPS = new Template('/workspace/#{workspace_id}/share/groups');
_URIConstants.prototype.GADGET_TEMPLATE_GENERATOR = new Template('{{GADGET_GENERATOR_URL}}/gadgetGenerator/template/#{gadget_type}');
_URIConstants.prototype.GET_MERGE_PUBLISHED_WORKSPACE = new Template('/workspace/published_workspace/#{published_ws}/merge/#{to_ws}');
_URIConstants.prototype.POST_CREATE_EXTERNAL_CHANNEL = '/channel/external';
_URIConstants.prototype.GET_SUBSCRIBE_USER_TO_REMOTE_CHANNELS = '/notifier/channels/register';
_URIConstants.prototype.POST_PUBLISH_REMOTE_CHANNELS = new Template('/notifier/channels/notify?channels=#{channels}');
_URIConstants.prototype.POST_CHECK_VERSIONS = '/user/{{ user.username }}/catalogue/versions';


{% if home_gateway_dispatcher_url %}
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_URL = '{{ home_gateway_dispatcher_url }}serviceGadgets?user={{ user.username }}';
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_UNSUBSCRIBE_URL = '{{ home_gateway_dispatcher_url }}unsubscribeServices';
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_CANCEL_URL = '{{ home_gateway_dispatcher_url }}cancelServices';
{% else %}
    _URIConstants.prototype.HOME_GATEWAY_DISPATCHER_URL = null;
{% endif%}


var URIs = new _URIConstants();

var ezweb_user_name = '{{ user.username }}'
var tag_categories = '{{ tag_categories|safe }}'
var _currentTheme = null;

var public_workspace = '{{ active_workspace }}';
var last_logged_user = '{{ last_user }}';
var post_load_script = '{{ post_load_script|safe }}';

var _THEMES = {% autoescape off %} {{ THEMES }} {% endautoescape %};
var _DEFAULT_THEME = '{{ DEFAULT_THEME }}';
var _INITIAL_THEME = '{{ INITIAL_THEME }}';
var _ONLY_ONE_CSS_FILE = '{{ only_one_css_file }}' == 'True';
var _EzWeb_RELEASE = '{{ ezweb_release }}';

var installed_apps = {{ installed_apps|safe }};

</script>

{% block includes %}

    {% if AUTHENTICATION_SERVER_URL %}
    <script type="text/javascript" src="{{ AUTHENTICATION_SERVER_URL }}/ezweb/js/js_library.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/EzSteroidsAPI/EzSteroidsAPI.js"></script>
    {% endif %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.improvements.js"></script>

    {% if only_one_js_file %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/ezweb_{{ ezweb_release }}.js"></script>
    {% else %}
       {% include "js_includes.js" %}
    {% endif %}

    <script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>

{% endblock %}



<!-- Initialization code -->
<script type="text/javascript">
	function setLanguage(language) {
		var onSuccess = function() {
			window.location.reload();
		}
		
		var onError = function() {}
		
		var persistenceEngine = PersistenceEngineFactory.getInstance();
		var params = {language: language};
		persistenceEngine.send_post("/i18n/setlang/", params, this, onSuccess, onError);
		return false;
	}

	var opManager = OpManagerFactory.getInstance();
	opManager.loadEnviroment();
</script>


</html>