{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>{% trans "EzWeb Platform" %}</title>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}css/iphone.css" />
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}css/favicon.ico" />

</head>

<body onload="initialLoad();"  onorientationchange="updateLayout();">

<!-- HEADER -->
<div id="header">
	<div id="banner">
	  <img id="logo" src="{{ MEDIA_URL }}images/logo.gif" alt="EzWeb Logo">
	</div>
</div>

<!-- MAIN SECTION -->
<div id="wrapper">

	<!-- WORKSPACES MENU -->
    <div id="workspace_menu" class="workspace_menu">
    	<div class="toolbar anchorTop">
    		<h1>Workspaces</h1>
    		<a href="javascript:OpManagerFactory.getInstance().showGadgetsMenuFromWorskspaceMenu()" class="next_button"><span class="menu_text">Gadgets</span></a>
    	</div>
    	<div id="workspace_list"></div>
    </div>

	<!-- CATALOGUE -->
	<div id="mashup_catalogue" class="mashup tabs_container">
		<div class="container mashup_tab" id="mashup_container">
			<div class="toolbar anchorTop">
				<a href="javascript:CatalogueFactory.getInstance().hide()" class="back_button"><span class="menu_text">Menu</span></a>
				<h1>Catalogue</h1>
			</div>
			<div id="mashup_catalogue_content" class="tab_content"></div>
		</div>
	</div>
	<div id="mashup_info" class="mashup tabs_container">
		<div class="container mashup_tab" id="mashup_container">
			<div class="toolbar anchorTop">
				<a href="javascript:CatalogueFactory.getInstance().show()" class="back_button"><span class="menu_text">Catalogue</span></a>
				<h1>Mashup Info</h1>
			</div>
			<div id="mashup_info_content" class="mashup_content"></div>
		</div>
	</div>
	
	<!-- IGADGETS MENU -->
    <div id="tabs_container" class="tabs_container"></div>
    
    
	<!-- IGADGET SECTION --> 
	<div id="dragboard" class="container dragboard">
		<!-- TABS BAR -->
		<div id="bar" class="bar">
			<ul id="mymw-nav" class="igadget_tab_section">
			</ul>
			<span id="tab_name" class="tab_name">
			</span>
			<a class="menu_link" href="javascript:OpManagerFactory.getInstance().sendBufferedVars();OpManagerFactory.getInstance().showGadgetsMenu();"><img src="{{ MEDIA_URL }}images/iphone/gadgets_menu.png" class="menu_icon" /><span>Gadgets List</span></a>
		</div>
	  	<!-- DRAGBOARD -->
	  	<div id="mymw-content" class="igadget_section">
	    </div>
	    
	</div>
</div>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
{% if only_one_js_file %}
      <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}iphone/ezweb_iphone_{{ ezweb_release }}.js"></script>
{% else %}
      {% include "js_iphone_includes.js" %}
{% endif %}

<script type="text/javascript" src="/jsi18n/?language={{ LANGUAGE_CODE }}"></script>

<script type="text/javascript" language="javascript">
_URIConstants = function(){}
_URIConstants.prototype.GET_GADGETS = '/user/{{ user.username }}/gadgets';
_URIConstants.prototype.GET_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/#{iGadgetId}');
_URIConstants.prototype.GET_IGADGETS = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets/');
_URIConstants.prototype.POST_IGADGET = new Template ('/workspace/#{workspaceId}/tab/#{tabId}/igadgets');
_URIConstants.prototype.PROXY = '/proxy';
_URIConstants.prototype.PUT_VARIABLES = new Template ('/workspace/#{workspaceId}/variables');
_URIConstants.prototype.GET_POST_WORKSPACES = '/workspaces';
_URIConstants.prototype.GET_POST_WIRING = new Template ('/workspaces/#{id}/wiring');
_URIConstants.prototype.GET_POST_WORKSPACE = new Template ('/workspaces/#{id}/last_user/#{last_user}');
_URIConstants.prototype.GET_POST_TABS = new Template('/workspace/#{workspace_id}/tabs');
_URIConstants.prototype.TAB = new Template('/workspace/#{workspace_id}/tab/#{tab_id}');
_URIConstants.prototype.GET_RESOURCES_SIMPLE_SEARCH = '/user/{{ user.username }}/catalogue/search';
_URIConstants.prototype.GET_ADD_WORKSPACE = new Template('/workspace/#{workspace_id}/add');

var URIs = new _URIConstants();
</script>

<!-- Initialization code -->
<script language="JavaScript">
    
    function initialLoad(){
    	this.showcaseModule = ShowcaseFactory.getInstance();
    	this.showcaseModule.init();
    	checkInterval = setInterval(checkTab, 400);
    	updateInterval = setInterval(updateLayout, 300);
    }
    
    var loaded = false;
    var updateInterval;
    var checkInterval;
	var tabview; //TO REMOVE EARLY
	var isAnonymousUser = {% if is_anonymous %}true;{% else %}false;{% endif %} 
	var opManager = OpManagerFactory.getInstance();
    var _currentWidth = 0;
    
    var last_logged_user = '{{ last_user }}';
    var installed_apps = {{ installed_apps|safe }};
	var remote_channels_enabled = '{{ remote_channels_enabled }}' == 'True';
	
	var public_workspace = '{{ active_workspace }}';
	var last_logged_user = '{{ last_user }}';
	var post_load_script = '{{ post_load_script|safe }}';
    
</script>
</body>
</html>