{% load i18n %}

<div id="catalogue" class="container_content">
	<div id="left_bar">
		<div id="menu_options" class="bar_widget">
			<div class = "widget_content">
				<div id="simple_search" class="simple_search">
					<input type="text" id="simple_search_text" name="simple_search_text" value="{% trans "Search"%}" onkeyup="if(this.value.length&lt;20){;}else if (this.value.length >= 16 &amp;&amp; this.value.length &lt; 30){this.size=this.value.length + 2;}" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'simple_or');"/>
					<span class="link" onclick="UIUtils.viewAll(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'simple_or')">{% trans  "View All" %}</span>
					<span id="advanced_search_toggle" class="link" onclick="UIUtils.SlideAdvanced('advanced_search','head');">{% trans  "Advanced Search" %}</span>
				</div>
				<div id="advanced_options" class="advanced_options">
					<span id="advanced_tag_toggle" class="link" onclick="UIUtils.SlideAdvanced('advanced_tag','head');">{% trans  "Advanced Tagging" %}</span>
					<span id="advanced_develop_toggle" class="link" onclick="UIUtils.SlideAdvanced('advanced_develop','head');">{% trans  "Development Options" %}</span>
				</div>
			</div>
		</div>
		<div id="tag_categories" class="bar_widget">
			<span class="widget_title">{% trans 'Search by category:' %}</span>
			<div class="widget_content"></div>
		</div> 
		<div id="new_gadget_options" class="bar_widget">
			<span class="widget_title">{% trans 'Add your custom Gadget:' %}</span>
			<div class="widget_content">
				<span id="add_feed_link" class="link">{% trans "Add new feed" %}</span>
				<span id="add_site_link" class="link">{% trans "Add new site" %}</span>
			</div>
		</div>
		
	</div>
	<div id="catalogue_content">
	<div id="head" class="head">
		<div id="header_always" class="header_always">
			<div id="header_always_error" class="message_error"></div>
		</div>
		<div id="advanced_develop" class="advanced_develop" style="display:none">
			<label for="template_uri">{% trans "Template URL:" %}</label>
			<input id="template_uri" name="template_uri" type="text" onclick="select();"/>
			<a id="submit_link" class="submit_link" href="#" >{% trans "Create resource" %}</a>
		</div>

		<div id="advanced_search" class="advanced_search" style="display:none;">
			<div id="advanced_search_left" class="advanced_search_left">
				<table>
					<tr>
						<td><label for="advanced_search_text_tag">{% trans  "Search by tags:" %}</label></td>
						<td><input type="text" id="advanced_search_text_tag" name="advanced_search_text_tag" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'tag');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'tag');">{% trans  "Search" %}</a></td>
					</tr>
					<tr>
 						<td><label for="advanced_search_text_event">{% trans  "Search by events:" %}</label></td>
						<td><input type="text" id="advanced_search_text_event" name="advanced_search_text_event" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'event');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'event');">{% trans  "Search" %}</a></td>
					</tr>
					<tr>
 						<td><label for="advanced_search_text_slot">{% trans  "Search by slots:" %}</label></td>
						<td><input type="text" id="advanced_search_text_slot" name="advanced_search_text_slot" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'slot');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'slot');">{% trans "Search" %}</a></td>
					</tr>
				</table>
			</div>	
			<div id="advanced_search_right" class="advanced_search_right">
				<table>
					<tr>
						<td><label for="advanced_search_text_and">{% trans  "All of these words:" %}</label></td>
						<td><input type="text" id="advanced_search_text_and" name="advanced_search_text_and" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'and');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'and');">{% trans  "Search" %}</a></td>
					</tr>
					<tr>
						<td><label for="advanced_search_text_or">{% trans  "Any of these words:" %}</label></td>
						<td><input type="text" id="advanced_search_text_or" name="advanced_search_text_or" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'or');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'or');">{% trans  "Search" %}</a></td>
					</tr>
					<tr>
						<td><label for="advanced_search_text_not">{% trans  "None of these words:" %}</label></td>
						<td><input type="text" id="advanced_search_text_not" name="advanced_search_text_not" class="text" onkeypress="UIUtils.onReturn(event,UIUtils.simpleSearch,URIs.GET_RESOURCES_SIMPLE_SEARCH, 'not');"/></td>
						<td><a href="#" class="submit_link" onclick="UIUtils.simpleSearch(URIs.GET_RESOURCES_SIMPLE_SEARCH, 'not');">{% trans  "Search" %}</a></td>
					</tr>
				</table>
			</div>
			<div id="global_search_links">
				<a href="#" class="submit_link" id="global_search_link" title="{% trans  'Search by all the fields of the formulary' %}" onclick="UIUtils.globalSearch(URIs.GET_RESOURCES_GLOBAL_SEARCH);">{% trans  "Global Search" %}</a>
				<select name="global_search_boolean" id="global_search_boolean">
					<option value="AND">{% trans  "AND" %}</option>
					<option value="OR">{% trans  "OR" %}</option>
				</select>
				<a href="#" class="submit_link" id="clear_search_formulary_link"  onclick="UIUtils.clearSearchForm();">{% trans  "Clear Search Form" %}</a>
			</div>
		</div>
		<div id="advanced_tag" class="advanced_tag" style="display:none;">
			<div id="advanced_tag_left" class="advanced_tag_left">
				<div class="tagcloud">
					<div class="title">{% trans "Tagcloud" %} </div>
					<div id="view_global_tags_links" class="link">
						<span>{% trans "All common tags" %}  </span>
						<a href="javascript:CatalogueFactory.getInstance().changeGlobalTagcloud('mytags');">{% trans "My common tags" %} </a>
						<a href="javascript:CatalogueFactory.getInstance().changeGlobalTagcloud('others');">{% trans "Others common tags" %}</a>
					</div>
					<div id="global_tagcloud" class="tags"></div>
				</div>
			</div>	
			<div id="advanced_tag_right" class="advanced_tag_right">
				<div id="add_global_tags_panel" class="new_tags">
					<div class="title">{% trans "New tags:" %}</div>
					<div id="my_global_tags" class="my_tags">
						<div id="new_global_tag_text" class="new_tag_text">
							<input id="new_global_tag_text_input" type="text" size="5" maxlength="20" onkeyup="UIUtils.enlargeInput(this);" onkeypress="UIUtils.onReturn(event,UIUtils.addGlobalTag,this);" />
					</div></div>
					<div id="global_tag_alert" class="global_tag_alert"></div>
					<div class="buttons">
						<a href="#" class="submit_link" onclick="javascript:UIUtils.sendGlobalTags();">{% trans "Tag" %}</a>
						<a href="#" class="submit_link" onclick="javascript:UIUtils.removeAllGlobalTags();">{% trans "Cancel" %}</a>
					</div>
				</div>
			</div>		
		</div>
	</div>
	
	<div id="center" class="center">
		<div id="resources_header" class="resources_header">
			<div id="paginate_show" class="paginate_show"></div>
			<div id="orderby" class="orderby"></div>
			<div id="paginate" class="paginate"></div>
		</div>
		<div id="resources" class="resources"></div>
	</div>
	<div id="resources_container" style='display:none'>
		<div id="info_resource" class="info_resource" style="display:none;"><div>
		<button id='close_info_resource' class='closebutton' onclick='UIUtils.sendPendingTags();UIUtils.closeInfoResource();' title="{% trans 'Hide resource details' %}">
		</button>
		<div id="info_resource_content" class="content"></div>
		</div></div>
<!--			<div id="tab_info_resource" class="tab_info_resource">
				<a id="tab_info_resource_close" title="{% trans  'Hide resource details' %}" href="javascript:UIUtils.sendPendingTags();UIUtils.closeInfoResource();" onmouseover="UIUtils.changeImage('tab_info_resource_close_img', '{{ MEDIA_URL }}images/info_resource_close_selected.png');" onmouseout="UIUtils.changeImage('tab_info_resource_close_img', '{{ MEDIA_URL }}images/info_resource_close.png');" style="display:none;">
				<img id="tab_info_resource_close_img" src="{{ MEDIA_URL }}images/info_resource_close.png" alt="Close" />
				</a>
			</div>-->
	</div>
	</div> <!--catalogue_content -->
</div>
