{% load i18n %}
{% if not only_one_css_file %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ layout.wiring }}" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ theme.wiring }}" />
{% endif %}
<div id="wiring" class="container">
	<div id="wiring_wrapper">
		<div id="wiring_options">
			<div id="unfold_all_link">{% trans 'Unfold all' %}</div> | 
			<div id="unfold_chkItem"><label>{% trans 'Unfold on starting' %}</label></div>
		</div>
		<div id="wiring_table">
			<div id="eventColumn" class="eventColumn">
				<div class="title folded">{% trans "EVENTS" %}
					<input name='event' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
				</div>
				<div id="events_list"></div>
			</div>

			<div class="inoutColumn">
				<div class="title">{% trans "CHANNELS" %}
					<input name='channels' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this, event);"/>
				</div>
				<div class="newChannel" id="newChannel">
					{% trans "new channel" %}
				</div>
				<div id="channels_list"></div>
			</div>

			<div id="slotColumn" class="slotColumn">
				<div class="title folded">{% trans "SLOTS" %}
					<input name='slot' class='help_button' type='button' onclick="WiringInterface.prototype._displayHelpWiringHeader(this,event);"/>
				</div>
				<div id="slots_list"></div>
			</div>
			<div class="floatclearer"></div>
		</div>
	</div>
</div>