div.token_panels {
display:none;
}

div.panels_dispatched{
display:none;
}

div.layout_template{
display:none;
}
div.content_type{
display:none;
}
div.tokens
{
display:none;
}
img#XXXXX
{
display:block;
border:1px solid;
float:left;
}
div#qwe
{
float:left;
position:absolute;
}

div#changelist {
   padding-right: 160px;
   width: auto;
}

div#changelist table {
   width: 100% !important;
}

.change-list .filtered table, 
.change-list .filtered .paginator, 
.filtered #toolbar, 
.filtered div.xfull {
   margin-right: 0px !important;
}
