@import 'variables';
@import 'compass/css3';
@import 'compass/utilities/color/contrast';

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  src: local('Comfortaa'), local('Comfortaa-Regular'),
       url("../fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_regular-webfont.woff") format("woff"),
       url("../fonts/comfortaa_regular-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url("../fonts/comfortaa_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_bold-webfont.woff") format("woff"),
       url("../fonts/comfortaa_bold-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_bold-webfont.svg#ComfortaaBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont.woff") format("woff"),
       url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSansBold'),
       url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bold-webfont.woff") format("woff"),
       url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
       url("../fonts/opensans-bold-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'NeoTech';
  font-style: normal;
  font-weight: normal;
  src: local("Neo Tech"), local("NeoTech"),
       url("../fonts/neotech-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/neotech-regular-webfont.woff") format("woff"),
       url("../fonts/neotech-regular-webfont.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $body-bg;
    color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    text-rendering: optimizeLegibility;
}

a:hover {
    color: #60C1CF;
}

/* OIL Header */

.container-fluid {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fiware-header {
    background-color: #f1f1f2;
    padding: 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
    margin-bottom: 18px;
    height: 43px;
}

.fiware-header .container-fluid {
    max-width: 1200px;
}

.logo-fl-header {
    float: left;
}

.logo-fl-header, .logo-fl-header > a {
    display: inline-block;
}

.logo-fl-header > .brand {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 23px;
    font-weight: 200;
    color: #60c1cf;
    text-shadow: 0 1px 0 #fff;
    vertical-align: top;
    line-height: 21px;
    font-family: "NeoTech";
}

.logo-fl-header > .brand:hover {
    text-decoration: none;
}

.logo-fl-header > .brand.unofficial {
    margin: 12px 0px 0px;
}

.logo-fl-header .fiware-logo {
    border: 0px none;
    display: block;
    height: 40px;
    padding-top: 2px;
}

.logo-fl-header > .brand > .fiware-logo {
    width: 150px;
    margin-top: 4px;
}

.fiware-symbol {
    width: 38px;
    display: none;
    margin-top: 6px;
    margin-left: -2px;
}

.logo-fl-header > .brand > span {
    color: #002d67;
}

/*
.fiware-header .collapse {
    display: none;
}
*/

.fiware-header ul.nav {
    height: 36px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
    font-family: "NeoTech";
}

.fiware-header ul.nav > li {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 0px;
}

.fiware-header ul.nav > li:hover {
    background-color: rgba(152, 152, 152, 0.1);
}

.fiware-header ul.nav > li.active {
    background: #fcfcfc;
}

.fiware-header ul.nav > li > a {
    padding: 14px 15px 8px;
    color: #777;
    float: none;
    display: block;
    text-decoration: none;
}

.fiware-header ul.nav > li.active:hover > a, .fiware-header ul.nav > li.active > a {
    color: #002d67;
}

.fiware-header .nav {
    list-style: none;
}

.fiware-header .pull-right {
    float: right;
}

.fiware-header .nav > li {
    float: left;
    line-height: 20px;
}

.fiware-header .user-menu {
    margin-top: 10px;
}

.fiware-header .user-menu > a > img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.fiware-header .user-menu > a:hover, .fiware-header .user-menu > a:focus {
    text-decoration: none;
}

.fiware-header .user-menu .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 13px;
    font-family: "Verdana", sans-serif;
    vertical-align: middle;
    margin-top: -1px;
}

.fiware-header .user-menu .arrow-down-settings {
    font-size: 13px;
    margin: 0px 0px 0px 4px;
    color: #002B67;
    opacity: 1;
    vertical-align: -1px;
}

.fiware-header .user-menu .arrow-down-settings:hover {
    color: #48b9c9;
}


footer {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    line-height: 17px;
    padding: 0px;
    border-top: 1px solid #48b9c9;
}

footer:before {
    content: "";
    display: block;
    height: 0px;
    border-top: 1px solid #F2E826;
}

footer .container-fluid {
    border-top: 1px solid #193B6B;
}

footer .container-fluid .footer-content .cred {
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

@media (max-width: 480px) {
    .logo-fl-header .fiware-logo {
        display: none;
    }

    .logo-fl-header .fiware-symbol {
        display: block;
    }
}

/*
@media (min-width: 768px) {
    .fiware-header .collapse {
        display: block;
    }
}
*/

/* END OIL Header */

.wirecloud_app_bar {
    margin: 0 0 6px 0;
    white-space: nowrap;
}

.wirecloud_header_nav {
    margin: 0 0 0 5px;
}

#wirecloud_header > .breadcrum_wrapper {
    font-family: "Courier New", courier;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5ex;
    line-height: 41px;
    position: relative;
}

.wc-toolbar {
    overflow: visible;
    margin: 0 5px;
}

.wc-toolbar .se-btn {
    width: 21px;
    box-sizing: content-box;
    text-align: center;
}

.breadcrum {
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    width: 500px;
    transition: width 0.30s ease-in;
}

@media (min-width: 1024px) {
    .breadcrum {
        width: 700px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .breadcrum {
        width: 800px;
        font-size: 20px;
    }
}

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 600px;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#wirecloud_header .menu_wrapper {
    right: 0px;
    text-align: right;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    color: #990000;
}

#wirecloud_header .menu_wrapper > .menu {
    display: inline-block;
    padding: 0 0 0 1ex;
    vertical-align: top;
}

#wirecloud_header > .menu_wrapper > .menu > span {
    padding: 0.5ex 0.75ex;
    cursor: pointer;
    color: #002B67;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#wirecloud_header > .menu_wrapper > .menu > span.wiring.error:before {
    content: "\f071";
    vertical-align: baseline;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    color: #f89406;
    margin-right: 3px;
}

#wirecloud_header > .menu_wrapper > .menu > span:hover {
    text-decoration: none;
    background-color: #FDFFFF;
    color: #60C1CF;
}

#wirecloud_header > .menu_wrapper > .menu > .user_menu_wrapper {
    display: inline-block;
    margin: 0 1ex;
}

#wirecloud_header > .menu_wrapper > .menu > span.selected {
    cursor: default;
    background-color: #002B67;
    color: white;
}

#wirecloud_header > .menu_wrapper > .menu .mark {
    display: none;
}

#wirecloud_header > .menu_wrapper > .menu > .selected > .mark {
    height: 2ex;
}

#wirecloud_header > .submenu {
    display: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#wirecloud_breadcrum {
    vertical-align: middle;
}

#wirecloud_breadcrum > span {
    padding: 0 5px;
}

/* Loading window */

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-window.disabled {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    z-index: 4;
    margin-bottom: 4ex;
    margin-right: 4ex;
}

#loading-subtask-title {
    margin: 0;
}

.window_menu .styled_form .notebook {
    height: 400px;
}

.parametrizable_input > * {
    display: inline-block;
}

.clearfloats {
    clear: both;
}

.powered-by-wirecloud {
    vertical-align: middle;
}

.powered-by-wirecloud:before {
    content: 'Powered by ';
    vertical-align: middle;
}

.powered-by-wirecloud:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 20px;
    background: url("../images/logos/wc1-mini.png");
    background-size: 33px 20px;
}

/* Cookies banner */

#cookie-law {
    background: rgba(44,44,44,0.9);
    position: fixed;
    font-family: Arial;
    z-index: 10000;
    bottom: 0;
    left: 0;
}

#cookie-law p {
    color: white;
    padding: 10px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
}

#cookie-law a {
    color: white;
    font-weight: bold;
}

#close-cookie-banner {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    margin: 0;
    line-height: 20px;
}
