#workspace {
    overflow: hidden;
}

.workspace.fullscreen {
    background: white;
}

#workspace > .alert {
    margin: 2ex 5ex;
}

/********************************************/

div.dragboard.fixed {
  background: transparent;
}

div.iwidget div.widget_menu > .errorbutton {
    opacity: 0.4;
}

div.iwidget div.widget_menu > .errorbutton.disabled {
    opacity: 0;
}

/***
 *
 */

div.iwidget.highlighted {
    box-shadow: 0px 0px 3px 3px rgba(250, 0, 0, 0.7);
}
