@import 'variables';
@import 'compass/css3';
@import 'compass/css3/images';
@import 'compass/utilities/color/contrast';

.resource {
    position: relative;
    @if ($resource-border) {
        border: 1px solid $resource-border;
    }
    padding: 0;
    border-radius: 6px;
    display: inline-block;
    margin: 6px;
    vertical-align: middle;
    height: 152px;
    width: 318px;
    text-align: left;
    overflow: hidden;
    @include transition(border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s);
    @include box-shadow(0 0 8px rgba(50, 50, 50, 0.1));
    color: contrast-color($resource-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background: $resource-bg;
    cursor: pointer;
    box-sizing: border-box;
}

.resource:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    border-color: rgba(82, 168, 236, 0.8);
}

.resource .txt-gradient {
    position: absolute;
    bottom: 0px;
    width: 38px;
    right: 0px;
}

.resource > .header {
    padding: $padding-vertical-base 8px;
    color: contrast-color($resource-header-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background: $resource-header-bg;
}

.resource > .header > h2 > .txt-gradient {
    @if ($resource-header-bg) {
        @include background-image(linear-gradient(to right, rgba($resource-header-bg, 0), $resource-header-bg));
    } @else {
        @include background-image(linear-gradient(to right, rgba($resource-bg, 0), $resource-bg));
    }
    height: 26px;
}

.resource > .description > .txt-gradient {
    @include background-image(linear-gradient(to right, rgba($resource-bg, 0), $resource-bg));
    height: 18px;
    width: 70px;
}

.wc-resource-img-container {
    width: 170px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
    border-radius: 0 4px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    line-height: 80px;
}

.wc-resource-img {
    max-width: 170px;
    max-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.resource > .header > .rating {
    position: absolute;
    top: 2px;
    right: 8px;
    line-height: 26px;
}

.resource > .header > .rating.disabled {
    opacity: 0.1;
}

.resource > .header > .rating > .star {
    margin: 0px 1px 0px;
}

.resource > .header > .vendor {
    font-size: 13px;
}

.resource > .description {
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    height: 72px;
    overflow: hidden;
    top: 70px;
    left: 178px;
    right: 8px;
}

.resource > .header > .resource_name {
    white-space: nowrap;
    font-size: 20px;
    line-height: 26px;
}

.resource > .header > .label {
    margin-left: 0px;
}

.resource > .header > h2 {
    margin: 0px;
    font-size: 24px;
    overflow: hidden;
    position: relative;
    width: 192px;
}

.resource .mainbutton {
    clear: both;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
}
