@import 'variables';
@import 'compass/utilities/color/contrast';

.resource_details img {
    width: 170px;
    height: 80px;
    border: 1px solid;
    border-color: #CDCED1;
    border-radius: 4px;
    background: white;
    display: inline-block;
}

.resource_details .north_container {
    padding: 0 3ex;
}

.resource_details .panel {
    color: contrast-color($panel-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background-color: $panel-bg;
    border: 1px solid rgb(205, 206, 209);
    border-radius: $panel-border-radius;
    text-align: center;
    margin: 0 3ex;
    padding: 1ex;
    width: 200px;
}

.resource_details .panel .summary {
    text-align: left;
}

.resource_details .rating {
    margin-left: 0;
    display: block;
    margin-top: 0.5ex;
}

.resource_details .attr_title {
    font-weight: bold;
    color: rgb(0, 43, 103);
}

.resource_details .versions {
    margin: 0px 3px;
}

.resource_details .markdown-body {
    margin-left: 2ex;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6
{
    color: rgb(85, 85, 85);
}
