@import 'variables';
@import 'compass/utilities/color/contrast';

.resource_details .wc-resource-img-container {
    position: static;
    border: 1px solid #CDCED1;
    border-radius: 4px;
}

.resource_details .north_container {
    padding: 0 3ex;
}

.resource_details .panel {
    text-align: center;
    margin: 0 3ex;
    width: 200px;
}

.resource_details .panel .summary {
    text-align: left;
    margin-bottom: 0;
}

.resource_details .rating {
    margin-left: 0;
    display: block;
    margin-top: 0.5ex;
}

.resource_details .versions {
    margin: 0px 3px;
}

.resource_details .markdown-body {
    margin-left: 2ex;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6
{
    color: rgb(85, 85, 85);
}
