.resource_details img {
    width: 170px;
    height: 80px;
    border: 1px solid;
    border-color: #CDCED1;
    border-radius: 4px;
    background: white;
    display: inline-block;
}

.resource_details .north_container {
    padding: 0 3ex;
}

.resource_details .panel {
    background-color: rgb(246, 246, 244);
    border: 1px solid rgb(205, 206, 209);
    border-radius: 6px 6px 6px 6px;
    text-align: center;
    margin: 0 3ex;
    padding: 1ex;
    width: 200px;
}

.resource_details .panel .summary {
    text-align: left;
}

.resource_details .rating {
    margin-left: 0;
    display: block;
    margin-top: 0.5ex;
}

.resource_details .attr_title {
    font-weight: bold;
    color: rgb(0, 43, 103);
}

.resource_details .versions {
    margin: 3px;
}
