/* Navigation */

.wy-menu-vertical li.current a.toctree-l4 {
    padding-left: 3.236em;
}

.wy-menu-vertical .subnav a {
    padding: 0.4045em 1.618em;
}

.wy-menu-vertical .subnav li.toctree-l1 {
    padding-left: 14px;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

h1, h2, h3 {
    margin-top: 24px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.rst-content .section img {
    display: block;
    margin: 0 auto 12px auto;
    border-radius: 2px;
    border: 1px solid rgb(227, 227, 227);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

pre, code, tt {
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Lucida Console', FreeMono, Courier, monospace;
}

code {
    padding: 4px 4px 2px;
    font-size: 90%;
    color: #C7254E;
    background-color: #F9F2F4;
    border-radius: 4px;
    border: none;
    white-space: inherit;
    word-wrap: inherit;
}

/* Override word-wrap from theme_extra.css */
p code {
    word-wrap: inherit;
}

a:hover code {
    text-decoration: underline;
}


pre > code {
  background: none;
}

pre, .gist .gist-file .gist-data {
  background-color: rgb(35, 36, 31);
  border: 1px solid #cccccc;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  color: rgb(248, 248, 242);
  font-size: 14px;
  padding: 6px 12px;
  overflow: auto;
  margin: 0 0 12px;
}

.rst-content .section ul, .rst-content .section ol {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    line-height: 1.5;
}

ul ul, ol ul, ol ol, ul ol {
    margin-bottom: 0;
}

.rst-content p {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.rst-content h3 + blockquote {
    margin-top: -12px;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 0px;
}

.rst-content blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid rgb(238, 238, 238);
}

.rst-content blockquote ol:last-child, .rst-content blockquote p:last-child, .rst-content blockquote ul:last-child {
    margin-bottom: 0px;
}

/* FIWARE CSS disables bolds, revert it */
strong, b {
    font-weight: bold !important;
}
