@import "variables";


#workspace {
    overflow: hidden;
}

#workspace.fullscreen {
    width: 100%;
    height: 100%;
    background: white;
}

.wc-workspace-tab-content {
    padding-left: $margin-horizontal-small;
    padding-right: $margin-horizontal-small;
    overflow-x: hidden;
    overflow-y: auto;

    &.dragging {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
    }
}

.wc-workspace-tab .disabled {
    display: none;
}

.wc-sidebar-left-handle {
    position: absolute;
    color: $button-text-color-light;
    top: 55px;
    left: 492px;
    background: rgb(255, 255, 255);
    padding: 15px 7px 15px 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: $button-border-default;
    cursor: pointer;
}

.wc-sidebar-left-handle:hover {
    background-color: darken(white, 10%);
    padding-left: 10px;
    padding-right: 8px;
}

.wc-sidebar-right-handle {
    position: absolute;
    color: $button-text-color-light;
    top: 55px;
    right: 492px;
    background: rgb(255, 255, 255);
    padding: 15px 5px 15px 7px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: $button-border-default;
    cursor: pointer;
}

.wc-sidebar-right-handle:hover {
    background-color: darken(white, 10%);
    padding-left: 8px;
    padding-right: 10px;
}

.wc-sidebar-bottom-handle {
    position: absolute;
    color: $button-text-color-light;
    bottom: 495px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(255, 255, 255);
    padding: 1px 20px 0px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: $button-border-default;
    cursor: pointer;
}

.wc-sidebar-bottom-handle:hover {
    background-color: darken(white, 10%);
    padding-top: 3px;
    padding-bottom: 2px;
}

.wc-sidebar-top-handle {
    position: absolute;
    color: $button-text-color-light;
    top: 495px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(255, 255, 255);
    padding: 0px 20px 1px 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: $button-border-default;
    cursor: pointer;
}

.wc-sidebar-top-handle:hover {
    background-color: darken(white, 10%);
    padding-top: 2px;
    padding-bottom: 3px;
}
