.iwidget {
    position: absolute;
    -moz-transition: opacity 0.35s ease-in, top 0.2s ease-in, left 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
    -webkit-transition: opacity 0.35s ease-in, top 0.2s ease-in, left 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
    transition: opacity 0.35s ease-in, top 0.2s ease-in, left 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
    background: white;
    border-color: #C2CBD2;
    overflow: visible;
}

.iwidget.draganddrop {
    -moz-transition: opacity 0.35s ease-in;
    -webkit-transition: opacity 0.35s ease-in;
    transition: opacity 0.35s ease-in;
}

.iwidget > .widget_menu {
    background: transparent;
    color: #4C5054;
    font-size: 24px;
    cursor: move;
    line-height: 30px;
    position: relative;
}

.iwidget > .widget_menu > span {
    font-family: Comfortaa;
    display: inline-block;
}

.iwidget > .widget_menu > .buttons {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 38px, rgb(255, 255, 255));
    border-radius: 4px;
    padding: 0px 3px 0px 38px;
    opacity: 0;
    white-space: nowrap;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    transition-property: opacity;
    transition-duration: 1s;
    line-height: 28px;
}

.iwidget > .widget_menu:hover > .buttons {
    opacity: 1;
}

.iwidget > .widget_menu .styled_button {
    font-size: 75%;
    color: rgba(136, 136, 136, 0.6);
    -moz-transition-property: color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -o-transition-property: color;
    -o-transition-duration: 1s;
    transition-property: color;
    transition-duration: 1s;
}

.iwidget > .widget_menu .styled_button:focus, .iwidget > .widget_menu .styled_button:hover {
    color: rgba(136, 136, 136, 1);
}

.iwidget > .widget_menu > .infobuttons {
    padding: 0px 38px 0px 3px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255) 38px, rgb(255, 255, 255));
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    line-height: 28px;
}

.iwidget > .widget_menu .errorbutton.disabled {
    display: none;
}

.iwidget > .widget_shadow {
    -moz-transition: box-shadow 0.7s ease-in;
    -webkit-transition: box-shadow 0.7s ease-in;
    transition: box-shadow 0.7s ease-in;
    border-radius: 4px 4px 0px 0px;
}

.iwidget > .widget_shadow > .widget_wrapper {
    clear: both;
    overflow: hidden;
    width: auto;
    border-width: 1px 1px 0px 1px;
    border-radius: 4px 4px 0px 0px;
    border-style: solid;
    border-color: #DDD;
}

.iwidget > .widget_shadow > .widget_wrapper > iframe {
    width: 100%;
    border: none;
}

.iwidget > .widget_shadow > .statusBar {
    border: 1px solid #DDD;
    height: 16px;
    padding: 0 32px;
}

.iwidget .bottomResizeHandle {
    position: absolute;
    height: 24px;
    bottom: -6px;
    left: 34px;
    right: 34px;
    cursor: s-resize;
}

.iwidget .leftResizeHandleIcon {
    background: transparent url(../../images/resize-handle-bottom-left.png) no-repeat left bottom;
    position: absolute;
    width: 32px;
    height: 16px;
    bottom: 0px;
    left: 0px;
}

.iwidget .leftResizeHandle {
    position: absolute;
    width: 40px;
    height: 24px;
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;
}

.iwidget .rightResizeHandleIcon {
    background: transparent url(../../images/resize-handle-bottom-right.png) no-repeat right bottom;
    position: absolute;
    width: 32px;
    height: 16px;
    bottom: 0px;
    right: 0px;
}

.iwidget .rightResizeHandle {
    position: absolute;
    width: 40px;
    height: 24px;
    bottom: -6px;
    right: -6px;
    cursor: se-resize;
}

.iwidget .inUse {
    width: 200%;
    height: 200%;
}

.iwidget .leftResizeHandle.inUse {
    right: 0px;
    top: 0px;
    bottom: auto;
    left: auto;
}

.iwidget .rightResizeHandle.inUse {
    left: 0px;
    top: 0px;
    bottom: auto;
    right: auto;
}

/*div.dragboard.fixed*/
div.fixed .iwidget .leftResizeHandle,
  div.fixed .iwidget .rightResizeHandle,
{
  display: none;
}

.iwidget.highlighted > .widget_shadow {
    -webkit-animation: highlight_iwidget 2s infinite linear;
    -moz-animation: highlight_iwidget 2s infinite linear;
    -o-animation: highlight_iwidget 2s infinite linear;
    animation: highlight_iwidget 2s infinite linear;
}

@-webkit-keyframes highlight_iwidget {
    0% {
        box-shadow: 0 0 8px 0px rgba(82, 168, 236, 0.6);
    }
    50% {
        box-shadow: 0 0 8px 4px rgba(82, 168, 236, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 0px rgba(82, 168, 236, 0.6);
    }
}
