@import 'variables';

.widget_wallet {
    position: absolute;
    margin: 0 5px 10px 5px;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0px;
    z-index: 1010;
    padding: 1px;
    background-color: rgba(238, 238, 238, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    overflow: hidden;
    transition: width 0.2s ease-in;
}

.widget_wallet.in {
    width: 328px;
}

.widget_wallet_header {
    display: block;
    width: auto;
    margin: 6px;
    white-space: nowrap;
}

.widget_wallet_header .icon-remove {
    float: right;
    margin: $nav-link-padding-vertical 5px 0px 0px;
}

.widget_wallet_header > .se-text-field {
    margin: 6px 0 0 0;
    width: 100%;
}

.widget_wallet_list {
    position: absolute;
    top: ($input-height-base + (2 * $nav-link-padding-vertical) + $line-height-base + (3 * 6));
    bottom: ((2 * $padding-vertical-base) + $line-height-base + 14);
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.widget_wallet_list > .alert {
    margin: 6px;
}

.widget_wallet_addmore {
    position: absolute;
    bottom: 0px;
    left: 1px;
    right: 1px;
    text-align: right;
    white-space: nowrap;
}

.widget_wallet_addmore > .styled_button {
    margin: 6px;
}

.widget_wallet_list > .resource > .header > .resource_name {
    width: 251px;
}

.widget_wallet_list > .resource .mainbutton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
}

.widget_wallet_list > .resource .mainbutton {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
