@import 'variables';
@import 'compass/css3';
@import 'compass/css3/animation';
@import 'compass/css3/images';
@import 'compass/utilities/color/contrast';
@import 'base/z-depth_mixins';

.wc-widget {
    position: absolute;
    transition: opacity 0.35s ease-in, top 0.2s ease-in, left 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in, box-shadow 0.7s ease-in;
    overflow: visible;
    @include z-depth(1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;

    &.dragging {
        transition: opacity 0.35s ease-in;
        @include z-depth(3);

        & > .wc-widget-heading {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
        }
    }
}

.wc-widget-heading {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    position: relative;
    flex-grow: 0;

    & > span {
        display: inline-block;
    }

    & .se-btn {
        font-size: 75%;
        color: rgb(136, 136, 136);
        transition: color 1s ease-in;
    }
}

.wc-widget-buttons {
    display: block;
    position: absolute;
    top: $panel-padding-vertical;
    right: 0px;
    @include background-image(linear-gradient(to right, rgba($panel-default-heading-bg, 0), $panel-default-heading-bg 38px, $panel-default-heading-bg));
    padding: 0px $panel-padding-horizontal 0px 38px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 1s ease-in;
    font-size: $font-size-h4;
    line-height: $headings-line-height;

    .wc-widget-heading:hover > & {
        opacity: 1;
    }
}

.wc-widget-infobuttons {
    padding: 0px 38px 0px $panel-padding-horizontal;
    @include background-image(linear-gradient(to left, rgba($panel-default-heading-bg, 0), $panel-default-heading-bg 38px, $panel-default-heading-bg));
    position: absolute;
    top: $panel-padding-vertical;
    left: 0px;
    margin: 0px;
    font-size: $font-size-h4;
    line-height: $headings-line-height;
}

.wc-widget-heading .errorbutton.disabled {
    display: none;
}

.wc-widget-body {
    background: $widget-bg;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    & > iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0px none;
    }
}

.wc-widget-footer {
    height: 3px;
    padding: 0 32px;
    position: static;
    flex-grow: 0;

    @if ($widget-footer-bg == 'transparent') {
        color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    } @else {
        color: contrast-color($widget-footer-bg, $text-color-light, $text-color-dark, $text-color-threshold);
        background: $widget-footer-bg;
    }
}

.wc-widget .wc-bottom-resize-handle {
    position: absolute;
    height: 12px;
    bottom: -6px;
    left: 34px;
    right: 34px;
    cursor: s-resize;
}

.wc-widget .wc-bottom-left-resize-handle {
    position: absolute;
    width: 40px;
    height: 12px;
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;

    &.inUse {
        right: 0px;
        top: 0px;
        bottom: auto;
        left: auto;
    }
}

.wc-widget .wc-bottom-right-resize-handle {
    position: absolute;
    width: 40px;
    height: 12px;
    bottom: -6px;
    right: -6px;
    cursor: se-resize;

    &.inUse {
        left: 0px;
        top: 0px;
        bottom: auto;
        right: auto;
    }
}

.wc-widget .inUse {
    width: 200%;
    height: 200%;
}

.wc-widget-fulldragboard {

    position: fixed;
    border: 0px none;

    & > .wc-widget-footer {
        display: none;
    }

    & > .wc-widget-heading {
        cursor: default;
        & > .fa-minus {
            display: none;
        }
    }

}

/*div.dragboard.fixed*/
.fixed .wc-widget {

    & > .wc-widget-heading {
        cursor: default;
    }

    .wc-bottom-left-resize-handle, .wc-bottom-right-resize-handle, .wc-bottom-resize-handle {
        display: none;
    }
}


@include keyframes(highlight_iwidget) {
    0% { }
    15% { @include z-depth(0, $color: $state-success-border); }
    35% { @include z-depth(3, $color: $state-success-border); }
    50% { @include z-depth(0, $color: $state-success-border); }
    65% { @include z-depth(3, $color: $state-success-border); }
    100% { @include z-depth(2, $color: $state-success-border); }
}

.wc-widget-highlight {
    @include z-depth(2, $color: $state-success-border);
    @include animation(highlight_iwidget 5s linear);

    & .wc-widget-buttons {
        @include background-image(linear-gradient(to right, rgba($panel-success-heading-bg, 0), $panel-success-heading-bg 38px, $panel-success-heading-bg));
    }

    & .wc-widget-infobuttons{
        @include background-image(linear-gradient(to left, rgba($panel-success-heading-bg, 0), $panel-success-heading-bg 38px, $panel-success-heading-bg));
    }
}

.wc-minimized-widget {
    .wc-widget-heading {
        border-bottom-left-radius: ($panel-border-radius - 1);
        border-bottom-right-radius: ($panel-border-radius - 1);
    }

    .wc-widget-body {
        visibility: hidden;
        height: 0px;
    }

    .wc-widget-footer {
        display: none;
    }
}

.wc-missing-widget {
    @include z-depth(0);
}

.wc-floating-widget {
    @include z-depth(2);

    &.wc-missing-widget {
        @include z-depth(2, $color: $state-danger-border);
    }
}
