@import "variables";


.wc-workspace-tab-content {
    background-color: $wiring-content-bg;
    border: solid 1px $panel-default-border-color;
    border-radius: $border-radius-base;

    &.dragging {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
    }

    .wc-initial-message {
        width: $initial-message-width;
    }
}
