{% extends "admin/change_list.html" %}

{% load adminmedia admin_list i18n %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}clms/css/admin_project.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}clms/css/admin_clms.css" />
{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<div id="changelist-filter">
{% for spec in cl.filter_specs %}
   <div>
   {% admin_list_filter cl spec %}
   </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}