{% load i18n %}

<div class="back_to_resource_list">« {% trans 'Go back to list' %}</div>
<div class="resource margin_top">
<div class="left_column_resource">
 <div><img src="#{image_url}" class="image"></div>
 <button class="#{type}">#{button_text}</button>
</div>
<div class="right_column_resource">
 <div>
  <div class="resource_name">#{name}</div>
  <div class="popularity"></div>
 </div>
 <div class="desc">#{description}</div>
 <div class="tags">
  <div class="tags_label">{% trans 'Tags:' %}</div>
  <div class="tag_links"></div>
 </div>
 <div class="footer_resource"></div>
</div>
</div>