{% load i18n %}

<div class="back_to_resource_list link">« {% trans 'Go back to list' %}</div>
<div class="resource_details margin_top">
<div class="left_column_resource">
 <div><img src="#{image_url}" class="image"></div>
 <button class="#{type}">#{button_text}</button>
</div>
<div class="right_column_resource">
 <div>
  <div class="resource_name">#{name}</div>
  <div class="popularity">#{average_popularity}</a></div>
 </div>
 <div class="desc padding_left">#{description}</div>
 <div class="tags">
  <div class="bold floating_left padding_left">{% trans 'Tags:' %}</div>
  <div class="tag_links padding_left link"></div>
 </div>
 
 <div class="section_title bold">{% trans 'Detailed data' %}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'Vendor:' %}</div>
 <div>#{vendor}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'Name:' %}</div>
 <div>#{name}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'Version:' %}</div>
 <div>#{version}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'Creator:' %}</div>
 <div>#{creator}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'Available versions:' %}</div>
 <div>#{versions}</div>
 <div class="bold padding_left floating_left padding_right">{% trans 'More info at:' %}</div>
 <div class="link"><a target="_blank" href="#{wiki}">#{wiki}</a></div>
 
 <div class="section_title bold">{% trans 'Advanced operations' %}</div>
 
 <div class="link padding_left floating_left padding_right">{% trans 'Tag gadget' %}</div>
 <div class="operation_area hidden"></div>
 <div class="message">#{tagging_result}</div>
 
 <div class="link padding_left floating_left padding_right voting_resource">{% trans 'Vote gadget' %}</div>
 <div class="operation_area hidden">
   <div class="operation_title">{% trans 'Rank the resource using stars:' %}</div>
   <div class="popularity">
     <a class="off"></a><a class="off"></a><a class="off"></a><a class="off"></a><a class="off"></a>
   </div>
 </div>
 <div class="message">#{voting_result}</div>
 
 <div class="link padding_left floating_left padding_right change_version_resource">{% trans 'Change version' %}</div>
 <div class="operation_area hidden">
   <div class="operation_title">{% trans 'Select desired version:' %}</div>
   <div class="operation_content"></div>
 </div>
 <div class="message">#{change_version_result}</div>
 
 <div class="link padding_left floating_left padding_right">
   <a href="#{template_url}" target="_blank">{% trans 'View template' %}</a>
 </div>
 
 <div class="link padding_left floating_left padding_right delete_resource">{% trans 'Delete gadget' %} </div>
 <div class="message">#{delete_result}</div>
 
 <div class="link padding_left floating_left padding_right update_resource">{% trans 'Update gadget' %} </div>
 <div class="message">#{update_result}</div>
</div>
</div>
<div class="footer_resource"></div>
</div>