{% load compress i18n wirecloudtags %}{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "WireCloud Platform" %}{% endblock %}</title>

    {% block meta %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="google" value="notranslate" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />
    {% endblock %}

    {% block basecss %}
        {% compress css %}
        {% platform_css 'classic' %}
        {% endcompress %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block basejs %}
        <script type="text/javascript" src="{% url "wirecloud.javascript_translation_catalogue" %}?language={{ LANGUAGE_CODE }}&amp;v={{ WIRECLOUD_VERSION_HASH }}"></script>
        {% compress js %}
        <script type="text/javascript" src="{% static "js/lib/moment-with-locales.min.js" %}"></script>
        {% wirecloud_bootstrap "classic" %}
        {% extra_javascripts "classic" %}
        {% endcompress %}
    {% endblock %}

    {% block js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Wirecloud.init({
                preventDefault: true
            });
        }, true);
    </script>
    {% endblock %}
</head>

<body>
    <header id="wirecloud_header">
        {% include "wirecloud/views/header_common.html" %}
        <div class="wirecloud_app_bar"><div class="se-input-group se-input-group-lg wirecloud_header_nav"><span id="wirecloud_breadcrum" class="breadcrum se-add-on">{% block path %}{% endblock %}</span></div></div>
    </header>
    <div class="plain_content">
    {% block content %}
    {% endblock %}
    </div>
    {% include "wirecloud/views/footer.html" %}
</body>
</html>
