{% if FIWARE_OFFICIAL_PORTAL %}
<footer>
    <div class="container-fluid">
        <div class="footer-content">
            <div class="cred">2017 © <a href="http://fiware.org/" target="_blank">FIWARE</a>. The use of FIWARE Lab services is subject to the acceptance of the <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions" target="_blank">Terms and Conditions</a>, <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_Privacy_Policy" target="_blank">Privacy Policy</a> and <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE" target="_blank">Cookies Policy</a>.</div>
        </div>
    </div>
</footer>
{% endif %}
