<header class="navbar fiware-header">
    <div class="container-fluid">
        <div class="logo-fl-header">
            {% if FIWARE_OFFICIAL_PORTAL %}
            <a href="{{ FIWARE_HOME }}" class="brand">
                {% ifequal FIWARE_IDM_SERVER "https://account.lab.fiware.org" %}
                <img alt="FIWARE Lab" class="fiware-logo" src="{{ STATIC_URL }}images/fiwarelab.png" />
                {% else %}
                <img alt="FIWARE Testbed" class="fiware-logo" src="{{ STATIC_URL }}images/fiwaretestbed.png" />
                {% endifequal %}
                <img alt="FIWARE Lab" class="fiware-symbol" src="{{ STATIC_URL }}images/fiware-symbol.png" />
            </a>
            {% else %}
            <a href="{{ FIWARE_HOME }}">
                <img alt="FIWARE" class="fiware-logo" src="{{ STATIC_URL }}images/header-logo.png" />
            </a>
            <a href="{{ FIWARE_HOME }}" class="brand unofficial">
                <span>FI</span>WARE
            </a>
            {% endif %}
        </div><nav class="collapse">
            <ul class="nav navbar-nav">
                {% for portal in FIWARE_PORTALS %}<li {% if portal.active %}class="active"{% endif %}>
                <a href="{{ portal.url }}">{{ portal.name }}</a>
                </li>{% endfor %}
            </ul>
        </nav>
    </div>
</header>
