{% load wirecloudtags %}
<header class="navbar fiware-header">
<div class="container-fluid">
<div class="logo-fl-header">
            {% if FIWARE_OFFICIAL_PORTAL %}
            <a class="brand" href="{{ FIWARE_HOME }}">
                {% ifequal FIWARE_IDM_SERVER "https://account.lab.fiware.org" %}
                <img %}"="" alt="Image can not be loaded." class="fiware-logo" fiwarelab.png"="" images="" src="{% theme_static "/>
                {% else %}
                <img %}"="" alt="Image can not be loaded." class="fiware-logo" fiwaretestbed.png"="" images="" src="{% theme_static "/>
                {% endifequal %}
                <img %}"="" alt="Image can not be loaded." class="fiware-symbol" fiware-symbol.png"="" images="" src="{% theme_static "/>
</a>
            {% else %}
            <a href="{{ FIWARE_HOME }}">
<img %}"="" alt="Image can not be loaded." class="fiware-logo" header.png"="" images="" logos="" src="{% theme_static "/>
</a>
            {% endif %}
        </div><nav class="collapse">
<div class="user-menu nav pull-right" id="wc-user-menu"></div>
<ul class="nav navbar-nav">
                {% for portal in FIWARE_PORTALS %}{% if portal.display != False %}<li %}="" %}class="active" endifinternalurl="" ifinternalurl="" portal.url="" {%="">
<a href="{{ portal.url }}">{{ portal.name }}</a>
</li>{% endif %}{% endfor %}
            </ul>
</nav>
</div>
</header>
