{% load wirecloudtags %}
<header class="navbar fiware-header">
    <div class="container-fluid">
        <div class="logo-fl-header">
            {% if FIWARE_OFFICIAL_PORTAL %}
            <a href="{{ FIWARE_HOME }}" class="brand">
                {% ifequal FIWARE_IDM_SERVER "https://account.lab.fiware.org" %}
                <img alt="FIWARE Lab" class="fiware-logo" src="{% theme_static "images/fiwarelab.png" %}" />
                {% else %}
                <img alt="FIWARE Testbed" class="fiware-logo" src="{% theme_static "images/fiwaretestbed.png" %}" />
                {% endifequal %}
                <img alt="FIWARE Lab" class="fiware-symbol" src="{% theme_static "images/fiware-symbol.png" %}" />
            </a>
            {% else %}
            <a href="{{ FIWARE_HOME }}">
                <img alt="FIWARE" class="fiware-logo" src="{% theme_static "images/logos/header.png" %}" />
            </a>
            {% endif %}
        </div><nav class="collapse">
            <div id="wc-user-menu" class="user-menu nav pull-right"></div>
            <ul class="nav navbar-nav">
                {% for portal in FIWARE_PORTALS %}{% if portal.display != False %}<li {% ifinternalurl portal.url %}class="active"{% endifinternalurl %}>
                <a href="{{ portal.url }}">{{ portal.name }}</a>
                </li>{% endif %}{% endfor %}
            </ul>
        </nav>
    </div>
</header>
