{% extends "layout_catalogue_view.html" %}

{% load i18n paginator favourite default_layout %}

{% block breadcrumbs %}
    <div id="favourites" class="favourites">
        <b>{% trans "Favourites" %}</b>
    </div>
{% endblock %}



{% block content %}
    {% if not layout_list %}
        <span id='no_layouts'>{% trans "No favourite layouts founds" %}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block favourite %}
    {% favourite user layout 'favourite' %}
    {% default_layout user layout 'normal' %}
{% endblock %}

{% block buttom %}
    <button onClick="window.location='{% url clms.views.favourite_layout_detail layout.id %}'">
        {% trans "Watch Layout" %}
    </button>
{% endblock %}