{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}

{% block extrahead %}

{{ block.super }}
<script src="/media/js/core.js"> </script>
<script id="js18n" src="/jsi18n/" type="text/javascript"></script>
<script id="SelectBox_js" src="/ezweb/js/cmsutils/widgets/SelectBox.js" type="text/javascript"></script>
<script id="SelectFilter2_js" src="/ezweb/js/cmsutils/widgets/SelectFilter2.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>

<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}clms/css/content_popup.css" />


<script src="/ezweb/js/popup_list.js"> </script>
<script >

var asig_text= "";
var token_id;
var actual_page = {{ page_num }};
var last_page = {{ page_numbers|length }};
var number_contents = {{ number_contents }};
var last_content_selected;

function save_popup()
{

    //Borro lo que he guardado de ese token (token_id)
    var new_token_panels_list=[];
    var token_panels_input = window.opener.document.getElementById("id_token_panels");
    var token_panels_list = token_panels_input.value.split(",")
    for (i=0;i<token_panels_list.length;i++)
    {
        if(token_panels_list[i].substring(0, token_id.length+1)!=token_id+"~")
        {
            new_token_panels_list[new_token_panels_list.length] = token_panels_list[i];
        }
    }
    new_token_panels_str = new_token_panels_list.join(",");
    //Asigno el nuevo valor
    var trs_save = document.getElementsByClassName("save");
    var separator = "";
    var default_value = "";
    new_token_description = "";
    for (i=0; i< trs_save.length; i++)
    {
        if(new_token_panels_str)
            separator = ",";
        var input_default = document.getElementById("id_content_"+trs_save[i].id+"_default");
        if (input_default.checked){
            default_value="d";
        }
        else{
            default_value="";
        }
        new_token_panels_str+=separator+token_id+"~"+trs_save[i].id+"*"+default_value;
        separator = ",";
        th_content = document.getElementById("th_"+trs_save[i].id);
        new_token_description+="<p id='"+token_id+"~"+trs_save[i].id+"*"+default_value+"' class='content_"+token_id+"'> Content:<strong>"+th_content.innerHTML+" </strong> Language: <strong>"+get_key_select("id_content_lang",trs_save[i].id.split("&")[1])+"</strong> Category: <strong>"+get_key_select("id_content_category",trs_save[i].id.split("#")[1].split("&")[0])+"</strong> <a onclick='javascript:{delete_content(this);}' href='#select_content'>Delete </a>";
    }
    token_panels_input.value = new_token_panels_str;
    window.opener.document.getElementById("div_"+token_id).innerHTML = new_token_description;
    window.opener.document.getElementById("id_select_layout").value = "<div id='select_layout_div'>"+window.opener.document.getElementById("select_layout_div").innerHTML+"</div>";


    window.close();
}

function get_key_select(select_id, option_value)
{
    var select_input = document.getElementById(select_id);
    var find = false;
    var i = 0;
    while(!find && i < select_input.options.length)
    {
        if(select_input.options[i].value==option_value)
        {
            return select_input.options[i].innerHTML;
        }
        i++;
    }
    return "";
}


function gup( name ){
    var regexS = "[\\?&]"+name+"=([^&#]*)";
    var regex = new RegExp ( regexS );
    var tmpURL = window.location.href;
    var results = regex.exec( tmpURL );
    if( results == null )
        return"";
    else
        return results[1];
}

function load_content_list()
{
    token_id = gup('token_id');
}

function modify(input_button)
{
    var pk = input_button.id.split("_")[2];
    document.getElementById("id_content_"+pk+"_category").disabled=false;
    document.getElementById("id_content_"+pk+"_lang").disabled=false;
    document.getElementById("id_content_"+pk+"_button_asign").style.display="block";
    document.getElementById("id_content_"+pk+"_button_modify").style.display="none";
    document.getElementById("id_content_"+pk+"_default").disabled = "disabled";
    document.getElementById(pk).removeClassName("class", "save");

}

function assign(input_button)
{
    var pk = input_button.id.split("_")[2];
    var error = false;

    if (pk=="new")
    {
        var new_lang = document.getElementById("id_content_new_lang");
        var new_category = document.getElementById("id_content_new_category");
        var new_button_modify = document.getElementById("id_content_new_button_modify");
        var new_button_asign = document.getElementById("id_content_new_button_asign");
        var new_button = document.getElementById("id_content_new_button");
        var new_default = document.getElementById("id_content_new_default");
        var new_th = document.getElementById("id_content_new_th");

        var new_lang_value = new_lang.options[new_lang.selectedIndex].value;
        var new_category_value = new_category.options[new_category.selectedIndex].value;
        error = select_category_and_content(new_lang_value,new_category_value);
        if(!error){
            pk = last_content_selected+"#"+new_category_value+"&"+new_lang_value;
            new_lang.id = "id_content_"+pk+"_lang";
            new_category.id = "id_content_"+pk+"_category";
            new_button_modify.id = "id_content_"+pk+"_button_modify";
            new_button.id = "id_content_"+pk+"_button";
            new_button_asign.id = "id_content_"+pk+"_button_asign";
            new_default.id = "id_content_"+pk+"_default";
            new_default.name = "default";
            new_button_asign.parentNode.parentNode.id=pk;
            new_th.id = "th_"+new_th.parentNode.id;
        }
    }
    else{
        var new_lang = document.getElementById("id_content_"+pk+"_lang");
        var new_category = document.getElementById("id_content_"+pk+"_category");

        var new_lang_value = new_lang.options[new_lang.selectedIndex].value;
        var new_category_value = new_category.options[new_category.selectedIndex].value;
        error = select_category_and_content(new_lang_value,new_category_value);

        if(!error){
            var pk_new = pk.split("#")[0]+"#"+new_category_value+"&"+new_lang_value;
            document.getElementById("id_content_"+pk+"_category").id = "id_content_"+pk_new+"_category";
            document.getElementById("id_content_"+pk+"_lang").id = "id_content_"+pk_new+"_lang";
            document.getElementById("id_content_"+pk+"_button_asign").id = "id_content_"+pk_new+"_button_asign";
            document.getElementById("id_content_"+pk+"_button").id = "id_content_"+pk_new+"_button";
            document.getElementById("id_content_"+pk+"_button_modify").id = "id_content_"+pk_new+"_button_modify";
            document.getElementById("id_content_"+pk+"_default").id = "id_content_"+pk_new+"_default";
            document.getElementById("th_"+pk).id = "th_"+pk_new;
            new_category.parentNode.parentNode.id =pk_new;
            pk = pk_new;
        }

    }

    if(!error)
    {

        $(pk).addClassName("save");

        document.getElementById("id_content_"+pk+"_category").disabled="disabled";
        document.getElementById("id_content_"+pk+"_lang").disabled="disabled";
        document.getElementById("id_content_"+pk+"_button_asign").style.display="none";
        document.getElementById("id_content_"+pk+"_button_modify").style.display="block";
        document.getElementById("link_add_other").style.display = "block";
        document.getElementById("id_content_"+pk+"_default").disabled = "";
        set_for_default(pk);
        document.getElementById("error").style.display="none";
    }

}
function select_category_and_content(new_lang_value, new_category_value){

    if (new_lang_value=="default" || new_category_value=="default")
    {
        document.getElementById("error").style.display="block";
        return true;

    }
    return false;

}

function set_for_default(pk)
{
    var defaults = document.getElementsByName("default");
    var i = 0;
    var find = false;
    while(i < defaults.length && !find)
    {
        if(defaults[i].checked){
            find = true;
        }
        i++;
    }
    if (!find)
    {
        document.getElementById("id_content_"+pk+"_default").checked = "checked";
    }

}

function select_this_content(input_button)
{

    var result_new = document.getElementById("result_new");

    var result_new_clone = result_new.cloneNode(true);
    var pk = input_button.id.split("_")[2];
    last_content_selected = pk;
    var content_name = document.getElementById("id_content_"+pk+"_name");

    result_new_clone.id = pk;
    change_id(result_new_clone,"id_content_","id_content_new_");

    result_new.parentNode.appendChild(result_new_clone);
    result_new_clone.style.display = "";

    $("id_content_new_default").addClassName("default");
    document.getElementById("id_content_new_th").innerHTML = content_name.innerHTML;
    document.getElementById("results_div").style.display = "none";
}

function change_id(tag, old_id, new_id)
{

    for (var i=0; i< tag.childNodes.length; i++)
    {
        if (tag.childNodes[i].id )
            tag.childNodes[i].id = tag.childNodes[i].id.replace(old_id, new_id);
        change_id(tag.childNodes[i], old_id, new_id);
    }
}

function remove_row(input_button)
{
    var default_input = document.getElementById(input_button.id.replace('_button','_default'));
    if(default_input.checked)
    {
        var defaults = document.getElementsByClassName("default");

        if (defaults)
        {
            if (defaults[0]== default_input && defaults.length>1)
                defaults[1].checked = "checked";
            else
                defaults[0].checked = "checked";
        }
    }
    input_button.parentNode.parentNode.parentNode.removeChild(input_button.parentNode.parentNode);
}

function go_first_page()
{
    if (actual_page!=1)
    recharge(1);
}

function before_page()
{
    if (actual_page>1)
        recharge(actual_page-1);
}

function next_page()
{
    if (actual_page< last_page)
        recharge(actual_page+1);
}

function go_last_page()
{
    if (actual_page!=last_page)
    recharge(last_page);
}

function recharge(page) {
    var search_for = document.getElementById("searchbar").value;
    var pages = document.getElementsByClassName("pages");
    var j = 0;

    new Ajax.Request('{% url clms.admin_view.contents_filter %}'+"?name__icontains="+search_for+"&page="+page, {

        onSuccess: function(transport) {

            var responseJSON = eval("("+transport.responseText+")");

            var results = document.getElementsByClassName("results");
            var results_length = results.length;
            if (results.length > responseJSON.query.length)
            {
                loop_length = results.length -1 ;
            }
            else{
                loop_length = responseJSON.query.length -1 ;
            }
            var rows= "";
            responseJSON.query = responseJSON.query.reverse();
            for (i=loop_length; i>=0 ; i--)
            {
                if(i<results_length)
                 results[i].remove();
                if(i<responseJSON.query.length)
                    rows+="<tr class='results'> <td id='id_content_"+responseJSON.query[i][0]+"_name'>"+responseJSON.query[i][1]+"</td> <td><input id='id_content_"+responseJSON.query[i][0]+"_button' class='default' type='button' onClick='javascript:{select_this_content(this);}' name='_save' value='Select'/></td></tr>"

            }
            document.getElementById("results_body").innerHTML = rows;

            for (i=0; i<pages.length; i++)
            {

                if(i<responseJSON.page_numbers)
                {

                    pages[i].style.display="block";
                    if (actual_page-1 == i )
                    {

                        pages[i].removeClassName("actual");
                    }
                    if(page-1==i)
                    {
                        pages[i].addClassName("actual");
                    }
                }
                else{
                    pages[i].style.display="none";
                }

            }

            actual_page = page;
            document.getElementById("page_num").innerHTML = page;
            document.getElementById("content_number").innerHTML = responseJSON.content_number;
            var initial = (number_contents * (page -1)) +1 ;
            var final = (number_contents * (page)) ;
            if (final > responseJSON.content_number)
                final = responseJSON.content_number ;
            document.getElementById("page_range").innerHTML = initial + " to "+ final;


            if(page==1)
            {
                document.getElementById("page_first").addClassName("actual");
                document.getElementById("page_prev").addClassName("actual");
            }
            else{
                document.getElementById("page_first").removeClassName("actual");
                document.getElementById("page_prev").removeClassName("actual");

            }

            if(page==last_page)
            {
                document.getElementById("page_next").addClassName("actual");
                document.getElementById("page_last").addClassName("actual");
            }
            else{
                document.getElementById("page_next").removeClassName("actual");
                document.getElementById("page_last").removeClassName("actual");
            }

        }
    });

}

function select_content()
{
    document.getElementById("results_div").style.display = "block";
    document.getElementById("link_add_other").style.display= "none";
}

addEvent(window, 'load', load_content_list);
</script>

{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block coltype %}flex{% endblock %}



{% block content %}
<div id="content-main">

<div id="results">

</div>
<div id="error" name="error" style="display:none">
{% trans "You would select a lang and a category for this content "%}
</div>

<div id="error_already" name="error" style="display:none">
{% trans "Already Assigned"%}
</div>

<div  class="module" id="changelist">
    <!--  Tabla que mostrara los elementos seleccionados -->
    <table cellspacing="0">
        <thead>
            <tr>
                <th>
                    {% trans "Contents" %}
                </th>
                <th>
                    {% trans "Languages" %}
                </th>
                <th>
                    {% trans "Categories" %}
                </th>
                <th>
                    {% trans "Modify" %}
                </th>
                <th>
                    {% trans "Delete" %}
                </th>
                <th>
                    {% trans "Default" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {{ panels_db }}
            <!--  Tr que voy a copiar  -->
            <tr id="result_new" style="display:none">
                <th id="id_content_th">
                    <a onclick="javascript:{select_content()};"> XXX </a>
                </th>
                <td><select id="id_content_lang">
                    <option value="default">--------</option>
                    <option value="">{% trans "All Languages" %}</option>
                    {% for lang in langs %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                    {% endfor %}
                </select></td>
                <td><select id="id_content_category" >
                    <option value="default">--------</option>
                    <option value="">{% trans "All users" %}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"> {{ category.name }}</option>
                    {% endfor %}
                </select></td>
                <td>
                    <input id="id_content_button_modify" type="button" value="{% trans "Modify" %}" name="_save" onclick="javascript:{modify(this);}" style="display:none"/>
                    <input id="id_content_button_asign"  type="button" value="{% trans "Assign" %}" name="_save" onclick="javascript:{assign(this);}" />
                </td>
                <td>
                    <input id="id_content_button" type="button" value="{% trans "Delete" %}" name="_save" onclick="javascript:{remove_row(this);}"/>
                </td>
                <td>
                    <input id="id_content_default" type="radio" value="{% trans "Default" %}" name="" disabled="disabled" />
                </td>
            </tr>
        </tbody>
    </table>

    <a id="link_add_other" href="#" onclick="{javascript:select_content()}" > {% trans "Add Other "%} </a>

    <div id="results_div" style="display:none;">
        <!--         Buscador -->
        <label for="searchbar"><img alt="Search" src="/media/img/admin/icon_searchbox.png"/></label>
        <input type="text" id="searchbar" value="" name="q" size="40"/>
        <input type="button" onClick="javascript:{recharge(1);}" value="{% trans "Search" %}"/>
        <!--         Segunda tabla en la que aparecen los contenidos -->
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>
                        {% trans "Contents" %}
                    </th>
                    <th>
                        {% trans "Select" %}
                    </th>
                </tr>
            </thead>
            <tbody id="results_body">
                {% for content in contents %}
                    <tr class="results">
                        <td id="id_content_{{content.pk}}_name">{{ content }}</td>
                        <td><input id="id_content_{{content.pk}}_button" class="default" type="button" onClick="javascript:{select_this_content(this);}" name="_save" value="{% trans "Select" %}"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    <div class="pageNavigationLayout" >
        <div class="detailedinfo">
            <span class="intro">{% trans "Results" %}: <span id="page_range"> 1 to {{ number_contents }} </span> of <span id="content_number"> {{ content_number }} </span> | {% trans "Current Page"%}: <span id="page_num">{{ page_num }}</span></span>
        </div>
        <ul >
            <li id="page_first" class="image actual">
                <a href="#" onclick="{javascript:go_first_page()}"><img src="{{MEDIA_URL}}images/paginatorfirst.png" alt="{% trans "First Page " %}"></a>
            </li>
            <li id="page_prev" class="image actual">
                <a href="#" onclick="{javascript:before_page()}"><img src="{{MEDIA_URL}}images/paginatorprev.png" alt="{% trans "Before Page " %}"></a>
            </li>

            {% for page in page_numbers %}
            <li id="page{{ page }}" name="pages" class="{% ifequal page_num page %}actual{% endifequal %} pages" >
                <a href="#" onclick="{javascript:recharge({{ page }})}">{{ page }}</a>
            </li>
            {% endfor %}
            <li class="image" id="page_next">
                <a href="#" onclick="{javascript:next_page()}"><img src="{{MEDIA_URL}}images/paginatornext.png" alt="{% trans "Next Page " %}"></a>
            </li>
            <li class="image" id="page_last">
                <a href="#" onclick="{javascript:go_last_page()}"><img src="{{MEDIA_URL}}images/paginatorlast.png" alt="{% trans "Last Page " %}"></a>
            </li>
        </ul>

    </div>
    </div>


    <p class="paginator"> 
     <input class="default" type="submit" onClick="javascript:{save_popup();}" name="_save" value="{% trans "Save" %}"/>
    </p>


</div>
{% endblock %}