div.horizontal_layout.styled_file_field {
    font-size: 13px;
    color: #555555;
    margin: 3px 4px 9px 4px;
    position: relative;
    padding: 0;
    width:   10em;
    box-sizing: border-box;
    overflow: visible;
    border-radius: 3px 6px 6px 3px;
}

div.styled_file_field > .west_container > div.preview {
    display: block;
    height: 20px;
    width:  20px;
    margin-right: 2px;
}

div.styled_file_field > .center_container > div.filename {
    display: block;
    height: 19px;
    width:   auto;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 19px;
    color: #555555;
    border-radius: 3px 0 0 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.styled_file_field > .input_wrapper {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

div.styled_file_field > .input_wrapper > input {
    position: absolute;
    top: -100px;
    left: -100px;
    display: block;
    bottom: -2px;
    right: -2px;
    opacity: 0;
    cursor: pointer;
}

div.styled_file_field.focus {
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

div.styled_file_field.focus > .center_container > div.filename {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.styled_file_field.focus > .east_container > .styled_button > div {
    border-color: rgba(82, 168, 236, 0.8);
}
