{% load compress i18n wirecloudtags %}{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
<title>{{ title }}</title>
<meta content="{{ title }}" property="og:title"/>
<meta content="website" property="og:type"/>
<meta content="{{ description }}" property="og:description"/>
<meta content="{{ request.build_absolute_uri }}" property="og:url"/>

    {% block meta %}
    <meta content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="application/xhtml+xml; charset=utf-8" http-equiv="content-type"/>
<meta name="google" value="notranslate"/>
<link %}"="" favicon.ico"|theme_path:theme_active="" href="{% static " images="" rel="shortcut icon" type="image/x-icon"/>
    {% endblock %}

    <!-- Theme css -->
    {% block css %}
    {% compress css %}
    {% platform_css VIEW_MODE %}
    {% endcompress %}
    {% endblock %}

</head>
<body>
<!-- Loading indicator -->
<div class="fade in" id="loading-window">
<div id="loading-background"></div>
<div class="window_menu" id="loading-message">
<div class="window_top">
<h3 class="window_title" id="loading-task-title">{% trans "Loading WireCloud" %} 0%</h3>
</div>
<div class="window_content">
<div id="loading-indicator"></div>
<div class="msg" id="loading-subtask-title">{% trans "Retrieving WireCloud code" %}: 0%</div>
</div>
</div>
</div>
<div class="alert alert-error" id="unsupported-browser-msg" style="display: none; text-align: left;">
<h4>{% trans "Your browser seems to lack some required features" %}</h4>
<p>{% blocktrans %}We recommend you to upgrade your browser to the newest version of either <a href="https://www.mozilla.org/firefox">Firefox</a> or <a href="https://www.google.com/chrome">Google Chrome</a> as these are the browsers currently supported by WireCloud.{% endblocktrans %}</p>
</div>
<div class="se-vertical-layout">
<div class="se-container se-vl-north-container">
{% block header %}
{% include "wirecloud/views/header.html" %}
{% endblock %}
    </div>
<div class="se-container se-vl-center-container" id="wc-body">
</div>
<div class="se-container se-vl-south-container">
{% block footer %}
{% include "wirecloud/views/footer.html" %}
{% endblock %}
    </div>
</div>
<!-- JavaScript code -->

{% compress js %}
<script %}"="" js="" lib="" moment-with-locales.min.js"="" src="{% static " type="text/javascript"></script>
<script %}"="" js="" lib="" moment-timezone-with-data.min.js"="" src="{% static " type="text/javascript"></script>
<script %}"="" js="" lib="" src="{% static " type="text/javascript" urlify.js"=""></script>
{% endcompress %}

<script %}?language="{{" language_code="" src="{% url " type="text/javascript" wirecloud.javascript_translation_catalogue"="" wirecloud_version_hash="" }}"="" }}&amp;v="{{"></script>

{% compress js %}
{% block core_scripts %}
{% wirecloud_bootstrap "classic" %}
{% extra_javascripts "classic" %}
{% endblock %}
{% endcompress %}

{% block extra_scripts %}{% endblock %}

<!-- Initialization code -->
<script type="text/javascript">

    var unsupported_browser_msg = document.getElementById('unsupported-browser-msg');
    try {
        Wirecloud.check_basic_requirements();
    } catch (e) {
        document.getElementById('loading-window').style.display = "none";
        unsupported_browser_msg.style.display = "";
        throw e;
    }
    unsupported_browser_msg.parentNode.removeChild(unsupported_browser_msg);

    Wirecloud.init();
</script>
</body>
</html>
