{% load compress i18n wirecloudtags %}{% load static from staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />

    {% block meta %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="google" value="notranslate" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"|theme_path:THEME_ACTIVE %}" />
    {% endblock %}

    <!-- Theme css -->
    {% block css %}
    {% compress css %}
    {% platform_css VIEW_MODE %}
    {% endcompress %}
    {% endblock %}

</head>

<body>

<!-- Loading indicator -->
<div id="loading-window">
  <div id="loading-background"></div>
  <div id="loading-message" class="window_menu">
    <div class="window_top">
      <h3 id="loading-task-title" class="window_title">{% trans "Loading WireCloud" %} 0%</h3>
    </div>
    <div class="window_content">
      <div id="loading-indicator"></div>
      <div id="loading-subtask-title" class="msg">{% trans "Retrieving WireCloud code" %}: 0%</div>
    </div>
  </div>
</div>

<div id="unsupported-browser-msg" class="alert alert-error" style="display: none; text-align: left;">
    <h4>{% trans "Your browser seems to lack some required features" %}</h4>
    <p>{% blocktrans %}We recommend you to upgrade your browser to the newest version of either <a href="https://www.mozilla.org/firefox">Firefox</a> or <a href="www.google.com/chrome">Google Chrome</a> as these are the browsers currently supported by WireCloud.{% endblocktrans %}</p>
</div>

<div class="se-vertical-layout">

    <div class="se-container se-vl-north-container">
{% block header %}
{% include "wirecloud/views/header.html" %}
{% endblock %}
    </div>

    <div class="se-container se-vl-center-container" id="wc-body">
    </div>

    <div class="se-container se-vl-south-container">
{% block footer %}
{% include "wirecloud/views/footer.html" %}
{% endblock %}
    </div>

</div>

<!-- JavaScript code -->

{% compress js %}
<script type="text/javascript" src="{% static "js/lib/moment-with-locales.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/urlify.js" %}"></script>
{% endcompress %}

<script type="text/javascript" src="{% url "wirecloud.javascript_translation_catalogue" %}?language={{ LANGUAGE_CODE }}&amp;v={{ WIRECLOUD_VERSION_HASH }}"></script>

{% compress js %}
{% block core_scripts %}
{% wirecloud_bootstrap "classic" %}
{% extra_javascripts "classic" %}
{% endblock %}
{% endcompress %}

{% block extra_scripts %}{% endblock %}

<!-- Initialization code -->
<script type="text/javascript">

    var unsupported_browser_msg = document.getElementById('unsupported-browser-msg');
    try {
        Wirecloud.check_basic_requirements();
    } catch (e) {
        document.getElementById('loading-window').style.display = "none";
        unsupported_browser_msg.style.display = "";
        throw e;
    }
    unsupported_browser_msg.parentNode.removeChild(unsupported_browser_msg);

    Wirecloud.init();
</script>
</body>
</html>
