{% load compress i18n wirecloudtags %}{% load url from future %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "Wirecloud Platform" %}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />

    {% compress css %}
    {% platform_css VIEW_MODE %}
    {% endcompress %}
</head>

<body>

<!-- MAIN SECTION -->
<div class="wirecloud_wrapper" style="display: none;">

    <!-- WORKSPACES MENU -->
    <div id="workspace_menu" class="workspace_menu">
    	<div class="toolbar anchorTop">
    		<h1>Workspaces</h1>
    	</div>
        <div>
            <ul id="workspace_list">
            </ul>
        </div>
    </div>

    <!-- CATALOGUE -->
    <div id="mashup_catalogue" class="mashup tabs_container">
        <div class="wirecloud_container mashup_tab" id="mashup_container">
            <div class="toolbar anchorTop">
                <a href="javascript:CatalogueFactory.getInstance().hide()" class="back_button"><span class="menu_text">Menu</span></a>
                <h1>{% trans "Catalogue" %}</h1>
            </div>
            <div id="mashup_catalogue_content" class="tab_content"></div>
        </div>
    </div>
    <div id="mashup_info" class="mashup tabs_container">
        <div class="wirecloud_container mashup_tab" id="mashup_container">
            <div class="toolbar anchorTop">
                <a href="javascript:CatalogueFactory.getInstance().show()" class="back_button"><span class="menu_text">Catalogue</span></a>
                <h1>{% trans "Mashup Info" %}</h1>
            </div>
            <div id="mashup_info_content" class="mashup_content"></div>
        </div>
    </div>

</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/lib/strftime.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/strftime-locales.js"></script>
<script type="text/javascript" src="{% url "wirecloud.javascript_translation_catalogue" %}?language={{ LANGUAGE_CODE }}"></script>
{% compress js %}
    {% wirecloud_bootstrap "smartphone" %}
    {% include "wirecloud/views/js_smartphone_includes.js" %}
    {% extra_javascripts "smartphone" %}
{% endcompress %}
<!-- <script src="http://perseo.ls.fi.upm.es:8484/target/target-script-min.js"></script> -->

<!-- Initialization code -->
<script type="text/javascript">

    setTimeout(function () {
        window.addEventListener('resize', updateLayout, true);
        window.addEventListener('orientationchange', updateLayout, true);
        updateLayout();
    }, 0);

	var opManager = OpManagerFactory.getInstance();
    Wirecloud.init();

</script>
</body>
</html>
