<head>

	<title>Plataforma EzWeb</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
	<![endif]-->

	<!-- Base and Theme css -->
	
	<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}{{ layout.general }}">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ theme.general }}">
	
	
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ layout.ie }}" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ theme.ie }}" /> 
	<![endif]-->


	
	<link rel="shortcut icon" type="image/x-icon" href="/ezweb/css/favicon.ico">
	

</head><body class="dragboard_view">

<!-- HEADER -->

<div id="ws_header" class="global_header">
	<div class="banner" id="ws_banner">
	   <div class="logo_placeholder">
		  <img class="logo_layout logo clickable" id="logo" src="/ezweb/themes/default/images/Open_Ez_Logo.png">
	   </div>
		<div class="toolbar_section" id="toolbar_section">
			<div class="toolbar_menu" id="toolbar_menu">
				<div class="first_toolbar_button" id="go_to_link">Inactive Option</div>
				<div id="conf_link" class="selected_section">Active Option</div>
				<div id="sharing_link">Inactive Option</div>
				<div class="last_toolbar_button" id="edit_link">Inactive Option</div>
			</div>
			<div class="toolbar_menu_small visible" id="config_menu_1">
				<div class="first_toolbar_button" id="op_config_menu_1_0">Suboption</div>
				<div class="" id="op_config_menu_1_1">Suboption</div>
				<div class="last_toolbar_button " id="op_config_menu_1_2">Suboption</div>
			</div>
		</div>
		<div id="greeting">
			<!-- LOGS LINK -->
			<a title="about EzWeb" target="_blank" href="http://forge.morfeo-project.org/wiki/index.php/FAQ">about EzWeb</a>
			<span> | </span>
			<a title="Edit settings" href="javascript:OpManagerFactory.getInstance().showPlatformPreferences();" id="preferences_link">settings</a>
			<span> | </span>		
			<a title="Log out" href="javascript:OpManagerFactory.getInstance().logout()">exit</a>				
			<span> | </span>
			<span id="user_section">username</span>	
		</div>
	</div>	

	<div id="bar" class="bar">
		<div id="ws_section_identifier" class="section_identifier">
			<div class="area_name">Application </div>
			<div id="dragboard_link">
				<div id="workspace_name">"Application Name"</div>
		 	</div>
		</div>
		<div class="tab_section" id="tab_section">
			<input type="button" value="Add Tab Button" class="toolbar_unmarked" title="Añadir más pestañas" id="add_tab_link">
			<input type="button"  style="display: none;" title="go left" id="right_slider">
			<div id="fixed_bar" style="width: 263px; visibility: visible;">
				<div id="scroll_bar" style="right: 0px; width: 263px;">
					<div id="tab_1_2" class="tab" style="display: block;">
						<div class="tab_dragger" id="tab_1_2_dragger" style="display: none;"></div>
						<span>Inactive Tab</span>
						<input type="button" class="tabOps_launcher tabOps_launcher_show" title="Opciones" id="tab_1_2_launcher" style="display: none;">
					</div>
					<div id="tab_1_1" class="tab current" style="display: block;">
						<div class="tab_dragger" id="tab_1_1_dragger" style="display: inline;"></div>
						<span>Active Tab</span>
						<input type="button" class="tabOps_launcher tabOps_launcher_show" title="Opciones" id="tab_1_1_launcher" style="display: inline;">
					</div>
					<div style="display: none;" id="tab_marker"></div>
				</div>
			</div>
			<input type="button" style="display: none;" title="go right" id="left_slider">
		</div>
	</div>
</div>


<div style="height: 1204px;" id="wrapper">
	<div style="height: 1204px; z-index: 2; display: block; visibility: visible;" id="dragboard_1_1" class="container dragboard">
		<div style="z-index: 1; left: 127px; top: 1px; visibility: visible; width: 432.2px;" class="gadget_window">
			<div style="background-color: rgb(255, 255, 255);" class="gadget_menu">
				<input class="button errorbutton disabled" type="button">
				<span>Gadget title</span>
				<input alt="Cerrar" title="Cerrar" class="closebutton" type="button">
				<input alt="Menú" title="Menú" id="settingsbutton" class="settingsbutton" type="button">
				<input class="minimizebutton" alt="Minimizar" title="Minimizar" type="button">
			</div>
			<div style="height: 321px;" class="gadget_wrapper">
				<div class="config_interface"></div>
				<object style="height: 321px;" data="http://ezweb.tid.es/gadgets/Morfeo/Notepad/1.5/xhtml?id=1" standby="Loading..." type="text/html" class="gadget_object"></object>
			</div>
			<div class="statusBar">
				<div title="Este iGadget está alineado a la rejilla." class="button extractButton"></div>
				<a title="Acceder a la información" target="_blank" class="dragboardwiki button"></a>
				<div class="leftResizeHandle"></div>
				<div class="rightResizeHandle"></div>
			</div>
		</div>
		<div style="z-index: 1; left: 0px; top: -1px;" class="floating_gadget_icon">
			<img src="http://demo.ezweb.morfeo-project.org/repository/youtube_player/tuberep.png" class="floating_gadget_img">
			<a class="floating_gadget_title">Gadget 1</a>
		</div>
		
		<div style="z-index: 2; left: 628px; top: 1px; visibility: visible; width: 369.6px;" class="gadget_window">
			<div style="background-color: rgb(255, 255, 255);" class="gadget_menu">
				<input class="button errorbutton disabled" type="button">
				<span>Gadget title</span>
				<input alt="Cerrar" title="Cerrar" class="closebutton" type="button">
				<input alt="Menú" title="Menú" id="settingsbutton" class="settingsbutton" type="button">
				<input class="minimizebutton" alt="Minimizar" title="Minimizar" type="button">
			</div>
			<div style="height: 321px;" class="gadget_wrapper">
				<div class="config_interface"></div>
				<object style="height: 321px;" data="http://ezweb.tid.es/gadgets/Morfeo/Map Viewer/1.7/xhtml?id=2" standby="Loading..." type="text/html" class="gadget_object"></object>
			</div>
			<div class="statusBar">
				<div title="Este iGadget está alineado a la rejilla." class="button extractButton"></div>
				<a title="Acceder a la información" target="_blank" class="dragboardwiki button"></a>
				<div class="leftResizeHandle"></div>
				<div class="rightResizeHandle"></div>
			</div>
		</div>
		<div style="z-index: 2; left: 0px; top: -1px;" class="floating_gadget_icon">
			<img src="http://demo.ezweb.morfeo-project.org/repository/youtube_search/tubesearch.png" class="floating_gadget_img">
			<a class="floating_gadget_title">Gadget 2</a>
		</div>
	</div>
	
	<!-- DRAGBOARD LAYERS -->
	
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ layout.dragboard }}">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{ theme.dragboard }}">

</div>

<style>
	{% include "skinTemplates/skin_ws.css" %}
</style>

</body>
</html>