$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%)   !default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #EEE

$brand-default:         #FFFFFF !default;
$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #E9C12F !default;
$brand-danger:          #D8544F !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$font-size-base:           14px !default;
$font-size-large:          ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:          ceil($font-size-base * 0.85) !default; // ~12px
$font-size-xs:             ceil($font-size-base * 0.75) !default; // ~11px

$line-height-factor-base:  1.42857143 !default;
$line-height-base:         floor($font-size-base * $line-height-factor-base) !default; // 20px

$padding-vertical-base:     4px !default;
$padding-horizontal-base:  12px !default;

$padding-vertical-large:   11px !default;
$padding-horizontal-large: 19px !default;

$padding-vertical-small:    2px !default;
$padding-horizontal-small: 10px !default;

$padding-vertical-xs:       0px !default;
$padding-horizontal-xs:     6px !default;

/* Global settings */

$body-bg:                   #FFF !default;
$text-color-light:          $gray-dark !default;
$text-color-dark:           #FFF !default;
$text-color-threshold:      (((lightness($text-color-light) + lightness($text-color-dark)) / 2) + 3) !default;

$font-family-base:          "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace;

$headings-font-family:      inherit !default;
$headings-font-weight:      bold !default;
$headings-line-height:      1.1 !default;
$headings-color:            inherit !default;
$font-size-h1:              floor($font-size-base * 2.75) !default; // 38px
$font-size-h2:              floor($font-size-base * 2.25) !default; // 32px
$font-size-h3:              floor($font-size-base * 1.75) !default; // 24px
$font-size-h4:              floor($font-size-base * 1.25) !default; // 18px
$font-size-h5:              $font-size-base !default;
$font-size-h6:              floor($font-size-base * 0.85) !default;

/* States */

$state-success-text:        darken($brand-success, 20%) !default;
$state-success-bg:          lighten($brand-success, 35%) !default;
$state-success-border:      darken(spin($state-success-bg, -10), 5%) !default;

$state-info-text:           darken($brand-info, 20%) !default;
$state-info-bg:             lighten($brand-info, 35%) !default;
$state-info-border:         darken(spin($state-info-bg, -10), 5%) !default;

$state-warning-text:        darken($brand-warning, 20%) !default;
$state-warning-bg:          lighten($brand-warning, 35%) !default;
$state-warning-border:      darken(spin($state-warning-bg, -10), 5%) !default;

$state-danger-text:         darken($brand-danger, 20%) !default;
$state-danger-bg:           lighten($brand-danger, 35%) !default;
$state-danger-border:       darken(spin($state-danger-bg, -10), 5%) !default;

/* Code */

$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;

/* Buttons */

$button-text-color-light:     $text-color-light !default;
$button-text-color-dark:      $text-color-dark !default;
$button-text-color-threshold: (((lightness($button-text-color-light) + lightness($button-text-color-dark)) / 2) + 3) !default;

$button-gradients:          true !default;
$button-border-radius:      $border-radius-base !default;

$button-background-default: $brand-default !default;
$button-border-default:     darken($brand-default, 10%) !default;

$button-background-primary: $brand-primary !default;
$button-border-primary:     darken($brand-primary, 10%) !default;

$button-background-success: $brand-success !default;
$button-border-success:     darken($brand-success, 10%) !default;

$button-background-info:    $brand-info !default;
$button-border-info:        darken($brand-info, 10%) !default;

$button-background-warning: $brand-warning !default;
$button-border-warning:     darken($brand-warning, 10%) !default;

$button-background-danger:  $brand-danger !default;
$button-border-danger:      darken($brand-danger, 10%) !default;

/* Inputs */

$addon-bg:                 $gray-lighter !default;
$box-bg:                   white !default;
$input-border:             #CCC !default;
$input-border-color-focus: rgba(82, 168, 236, 0.8) !default;
$input-border-radius-base: $border-radius-base !default;
$input-color:              $gray !default;
$input-bg:                 #FFF !default;

$input-height-base:        ($line-height-base + ($padding-vertical-base * 2) + 2) !default;
$input-height-large:       ($line-height-base + ($padding-vertical-large * 2) + 2) !default;
$input-height-small:       ($line-height-base + ($padding-vertical-small * 2) + 2) !default;
$input-height-xs:          ($line-height-base + ($padding-vertical-xs * 2) + 2) !default;

$input-external-shadow:    0 1px 2px rgba(0, 0, 0, 0.05) !default;
$input-padding-horizontal: 6px !default;
$input-padding-vertical:   $padding-vertical-base !default;

/* Navigation */

$nav-tabs-border-color:       #DDD !default;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-active-link-hover-bg: $nav-tabs-border-color !default;

$nav-link-padding-vertical:   10px !default;
$nav-link-padding-horizontal: 15px !default;
$nav-link-hover-bg:             $gray-lighter !default;

$nav-disabled-link-color:       $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;

/* Panels */

$panel-bg:                 $body-bg !default;
$panel-border-radius:      $border-radius-base !default;
$panel-footer-bg:          darken($panel-bg, 3%) !default;

$panel-body-padding:       15px !default;
$panel-heading-padding:    10px 15px !default;
$panel-footer-padding:     $panel-heading-padding !default;
$panel-default-heading-bg: $panel-footer-bg !default;

/* Popovers */

$popover-bg:               #FFF !default;
$popover-title-bg:         darken($popover-bg, 3%) !default;

/* Modals */

$modal-bg:                 $panel-bg !default;
$modal-header-bg:          $panel-bg !default;
$modal-footer-bg:          $panel-footer-bg !default;

$modal-content-border-color: rgba(0,0,0,.2);
$modal-header-border-color: #DDD !default;
$modal-footer-border-color: $modal-header-border-color !default;

$modal-inner-padding:      15px !default;

/* Rating */

$rating-on-color:          $brand-primary !default;
$rating-middle-color:      $rating-on-color !default;

/* Widgets */

$widget-bg:                $panel-bg !default;
$widget-menu-bg:           rgba(white, 0) !default;
$widget-footer-bg:         $panel-footer-bg !default;

$widget-menu-padding:      $padding-vertical-base 0 !default;

$widget-borders:           true !default;

/* Catalogue */

$resource-bg:              $panel-bg !default;
$resource-header-bg:       $panel-default-heading-bg !default;
$resource-border:          #CDCED1 !default;
