$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%)   !default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #EEE

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #b94a48 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$font-size-base:           14px !default;
$font-size-large:          ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:          ceil($font-size-base * 0.85) !default; // ~12px
$font-size-xs:             ceil($font-size-base * 0.75) !default; // ~11px

$line-height-factor-base:  1.42857143 !default;
$line-height-base:         floor($font-size-base * $line-height-factor-base) !default; // 20px

$padding-vertical-base:     4px !default;
$padding-horizontal-base:  12px !default;

$padding-vertical-large:   11px !default;
$padding-horizontal-large: 19px !default;

$padding-vertical-small:    2px !default;
$padding-horizontal-small: 10px !default;

$padding-vertical-xs:       0px !default;
$padding-horizontal-xs:     6px !default;

/* Global settings */

$body-bg:                   #FFF !default;
$text-color:                $gray-dark !default;
$text-color-light:          $gray-dark !default;
$text-color-dark:           #FFF !default;
$text-color-threshold:      (lightness($text-color-light) + lightness($text-color-dark) / 2) !default;

$font-family-base:          "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$headings-font-family:      inherit !default;
$headings-font-weight:      bold !default;
$headings-line-height:      1.1 !default;
$font-size-h1:              floor($font-size-base * 2.75) !default; // 38px
$font-size-h2:              floor($font-size-base * 2.25) !default; // 32px
$font-size-h3:              floor($font-size-base * 1.75) !default; // 24px
$font-size-h4:              floor($font-size-base * 1.25) !default; // 18px
$font-size-h5:              $font-size-base !default;
$font-size-h6:              floor($font-size-base * 0.85) !default;

/* Buttons */
$button-gradients:          true !default;
$button-border-radius:      $border-radius-base !default;

$button-background-default: #FFF !default;
$button-border-default:     #CCC !default;

$button-background-primary: #006DCC !default;
$button-border-primary:     #0044CC !default;

$button-background-success: #5BB75B !default;
$button-border-success:     #51A351 !default;

$button-background-info:    #49AFCD !default;
$button-border-info:        #2F96B4 !default;

$button-background-warning: #FAA732 !default;
$button-border-warning:     #F89406 !default;

$button-background-danger:  #DA4F49 !default;
$button-border-danger:      #BD362F !default;

/* Inputs */
$addon-bg:                 $gray-lighter !default;
$box-bg:                   white !default;
$input-border:             #CCC !default;
$input-border-color-focus: rgba(82, 168, 236, 0.8) !default;
$input-border-radius-base: $border-radius-base !default;
$input-color:              $gray !default;
$input-bg:                 #FFF !default;

$input-height-base:        ($line-height-base + ($padding-vertical-base * 2) + 2) !default;
$input-height-large:       ($line-height-base + ($padding-vertical-large * 2) + 2) !default;
$input-height-small:       ($line-height-base + ($padding-vertical-small * 2) + 2) !default;
$input-height-xs:          ($line-height-base + ($padding-vertical-xs * 2) + 2) !default;

$input-external-shadow:    0 1px 2px rgba(0, 0, 0, 0.05) !default;
$input-padding-horizontal: 6px !default;
$input-padding-vertical:   $padding-vertical-base !default;

/* Modals */

$modal-bg:                 $body-bg !default;
$modal-header-bg:          $body-bg !default;
$modal-footer-bg:          #F5F5F5 !default;

$modal-header-border-color: #DDD !default;
$modal-footer-border-color: $modal-header-border-color !default;

$modal-inner-padding:      15px !default;

/* Widgets */

$widget-bg:                $body-bg !default;
$widget-menu-bg:           rgba(white, 0) !default;
$widget-footer-bg:         white !default;

$widget-menu-padding:      $padding-vertical-base 0 !default;

$widget-borders:           true !default;

/* Catalogue */

$resource-bg:              $body-bg !default;
$resource-header-bg:       false !default;
