.catalogue .resource_list .header_resource, .catalogue #resource_details .back_to_resource_list {
	border-color: #DDDDDD;
}

.resource_details img {
    background: white;
}

.catalogue .link:hover {
  text-decoration: underline
}
