div.dragboard {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

div.fulldragboard {
  position: fixed;
}

/*div.dragboard.fixed -> LOCK OR SHARED STATUS*/
div.fixed div.widget_menu {
  cursor: default;
}

div.iwidget div.widget_wrapper {
  width: auto;
}

div.row {
  white-space: nowrap;
}

.widget_menu span {
  cursor: pointer;
}

div.fixed .widget_menu span {
	cursor: default;
}

.widget_menu .iwidget_name {
  float:left;
  display:inline;
  border: 0px;
}

.widget_menu_locked .hide_on_lock, .widget_menu_fulldragboard .hide_on_fulldragboard, .widget_menu_minimized .hide_on_minimize {
  display: none;
}

/********************************************/
div.fulldragboard div.statusBar {
  display: none;
}

div.fulldragboard {
  border: 0px none;
}

div.fulldragboard div.widget_menu .icon-minus {
  display: none;
}

div.fulldragboard div.widget_menu {
  cursor: default;
}

/******************************
 * Locked Dragboard
 ******************************/

/***
 *
 */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.floating_widget_icon{
	position: absolute;
	width: 75px;
	text-align: center;
	display: none;
}

.floating_widget_icon img{
	width: 60px;
	height: 60px;
	display: block;
	padding: 0 5px 2px 5px;
}

.floating_widget_icon .floating_widget_title{
	display: block;
	cursor: default;
	font-size:85%;
}

