.notebook.workspace .wrapper {
    border: 0px none;
    border-radius: 0px;
}

#workspace {
    overflow: hidden;
}

#workspace.fullscreen {
    width: 100%;
    height: 100%;
    background: white;
}

#workspace > .alert {
    margin: 2ex 5ex;
}

/********************************************/

div.dragboard.fixed {
  background: transparent;
}

/***
 *
 */

.notebook.full.workspace > div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.notebook.workspace .tab_wrapper {
    background: #800D00;
    top: auto;
    bottom: 0;
    border-top: 1px solid #600000;
    border-bottom: 0px none;
    height: 25px;
    line-height: 25px;
    z-index: 2;
}

.notebook.workspace .tab_wrapper .move_left {
    margin: 0px 5px;
}

.notebook.workspace .tab_wrapper .move_right {
    margin: 0px 5px;
}

.notebook.workspace .tab_wrapper {
    color: rgb(85, 85, 85);
}

.notebook.workspace .tab_wrapper .icon-add-tab:hover {
    color: black;
}

.notebook.workspace .tab_wrapper .icon-add-tab:before {
    content: "\f055";
}

.notebook.workspace .wrapper {
    top: 0;
    bottom: 26px;
}

.notebook.workspace .tab_area {
    height: 26px;
    top: -1px;
}

.notebook.workspace .tab_area .tab {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #E4E6E2;
    color: #900;
    height: 15px;
    line-height: 16px;
    border: 1px solid #600000;
    vertical-align: top;
    padding: 1px 19px 2px 1ex;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 8px 3px;
    -webkit-transition: box-shadow 0.7s ease-in;
    -moz-transition: box-shadow 0.7s ease-in;
    transition: box-shadow 0.7s ease-in;
}

.notebook.workspace .tab_area .tab > span {
    vertical-align: middle;
}

.notebook.workspace .tab_area .tab.selected {
    background: #FFFFFF;
    color: #990000;
    border-top: 0px none;
    border-bottom: 1px solid #600000;
    height: 16px;
}

.notebook.workspace .tab_area > .tab.highlight {
    -webkit-animation: highlight_tab 2s infinite linear;
    -moz-animation: highlight_tab 2s infinite linear;
    -o-animation: highlight_tab 2s infinite linear;
    animation: highlight_tab 2s infinite linear;
}

@-webkit-keyframes highlight_tab {
    0% {
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
    }
}
