@import 'variables';
@import 'compass/utilities/color/contrast';

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'),
       url("../fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_regular-webfont.woff") format("woff"),
       url("../fonts/comfortaa_regular-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url("../fonts/comfortaa_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_bold-webfont.woff") format("woff"),
       url("../fonts/comfortaa_bold-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_bold-webfont.svg#ComfortaaBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont.woff") format("woff"),
       url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bold-webfont.woff") format("woff"),
       url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
       url("../fonts/opensans-bold-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: contrast-color($widget-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    font-family: "Open Sans";
}

.warning  table {
    background: transparent;
}

.warning  table td {
    border: none;
}
