@import 'variables';
@import 'utils';

#wirecloud_header {
    margin-bottom: 0.5ex;
}

.wirecloud_app_bar {
    margin: -5px 0 0 0;
    padding: 0 0 5px 0;
    white-space: nowrap;
}

.wirecloud_header_nav {
    margin: 0 0 0 5px;
}

.wirecloud_app_bar img {
    vertical-align: bottom;
    margin: 0 5px;
    width: adapt-image-size(image-width('theme/' + $theme + '/images/logos/header.png'));
    height: adapt-image-size(image-height('theme/' + $theme + '/images/logos/header.png'));
}

#wirecloud_header .menu_wrapper {
    text-align: right;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    color: #990000;
}

#wirecloud_header .menu_wrapper > .menu {
    display: inline-block;
    background: #E4E6E2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 1ex;
    vertical-align: top;
}

#wc-user-menu {
    display: inline-block;
    width: 30ex;
    height: 30px;
    line-height: 30px;
    margin: 0 1ex;

    & > * {
        vertical-align: middle;
    }

    & > .avatar {
        border-radius: 2px;
    }

    & > span {
        margin: 0px 3px;
    }
}

#wirecloud_header > .menu_wrapper > .menu > span {
    background: #E4E6E2;
    padding: 0.5ex 0.75ex;
    cursor: pointer;
    color: #444;
    display: inline-block;
    position: relative;
}

#wirecloud_header > .menu_wrapper > .menu > .selected {
    cursor: default;
}

#wirecloud_header > .menu_wrapper > .menu .mark {
    transition: height 0.15s ease-in;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    left: 0;
    background-color: inherit;
    height: 0;
}

.wc-toolbar {
    overflow: visible;
    margin: 0 5px;
}

#wirecloud_breadcrum {
    text-align: center;
    font-family: "Courier New", courier;
    font-weight: bold;
    width: 320px;
    transition: width 0.30s ease-in;
}

#wirecloud_breadcrum > .first_level {
    color: #990000;
}

#wirecloud_breadcrum > .second_level {
    color: #006633;
}

#wirecloud_breadcrum > .third_level {
    color: #E8A150;
}

@media (min-width: 1024px) {
    #wirecloud_breadcrum {
        width: 500px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    #wirecloud_breadcrum {
        width: 600px;
        font-size: 20px;
    }
}

