.icon {
    background-repeat: no-repeat;
    background-position: left center;
}

.icon-size {
    width: 16px;
    height: 16px;
}

.window-icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    float: left;
}

.window_menu .window_content .msg.clear {
    clear: both;
    margin-top: 15px;
}

.window_menu .window_content .msg p {
    margin-top: 0px;
}

span.icon {
    width: 20px;
}

.versionbutton, .errorbutton {
    display: none;
}

.styled_button.icon-menu {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

.styled_button.icon-menu.open {
    background-color: white;
    border-color: #BEBEBE;
}

.styled_button.icon-tab-menu {
    display: none;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    margin: 0px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    text-align: center;
}

.styled_button.icon-tab-menu.open {
    border-color: #BEBEBE;
}

.tab.selected .icon-tab-menu {
    display: inline-block;
}

.icon-doc:before        { content: "\f02d"; }
.icon-first-page:before { content: "\f048"; }
.icon-last-page:before  { content: "\f051"; }
.icon-prev-page:before  { content: "\f0d9"; }
.icon-next-page:before  { content: "\f0da"; }
.icon-menu:before       { content: "\f0d7"; }
.icon-tab-menu:before   { content: "\f0d8"; }

.icon-info{ background-image: url(../images/icons-sprite.png); background-position: -48px -504px; }
.icon-warning{ background-image: url(../images/icons-sprite.png); background-position: -24px -528px; }
.icon-error { background-image: url(../images/icons-sprite.png); background-position: 0px -552px; }
.icon-back { background-image: url(../images/icons-sprite.png); background-position: 0px -192px; display: block; }
