.plain_content {
    padding: 0px 15px;
}

.module {
    position: relative;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    margin: 10px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    height: 420px;
    padding: 20px;
    background: rgb(255, 255, 255);
}

.module > .img {
    margin-top: 0px;
    height: 104px;
    text-align: center;
}

.module > .img > img {
    width: 100px;
    height: 100px;
}

.width25 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
}

@media (max-width: 959px) {
   .width25 {
       width: 50%;
   }
}

section {
   margin: 0px -10px;
   display: block;
}

::selection {
   background: rgb(51, 153, 255);
   color: rgb(255, 255, 255);
}

.grid-box {
   transition: width 1s linear;
   float: left;
}
