.se-layout-field > .west_container > .se-select {
    width: 100px;
}

.se-layout-field > .center_container > .add-on {
    display: block;
    width:   auto;
}

.se-layout-field.focus {
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.se-layout-field.focus > .center_container > .add-on {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.se-layout-field.focus > .east_container > .styled_button,
.se-layout-field.focus > .west_container > .styled_button
{
    border-color: rgba(82, 168, 236, 0.8);
}

/* TODO */

.complexTable td.label-cell {
    text-align: left;
}

.complexTable .inheritCell {
    width: 160px;
}
