.macsearch_header > .se-text-field {
    width: 100%;
    margin: 0px;
}

.macsearch > .widget_wallet_list {
    position: static;
    padding-top: 9px;
    margin: 0 0 0 -6px;
}

.macsearch > .widget_wallet_list > .alert {
    margin: 0 0 6px 6px;
}

.macsearch > .widget_wallet_list > .resource {
    margin: 0 0 6px 6px;
}
