.hidden {
    visibility: hidden;
    height: 0;
}

.disabled {
    opacity: 0.4;
}

/*****************************************************************************/
/*                              StyledElements                               */
/*****************************************************************************/

/* Styled container */

div.container {
    background: transparent;
}

div.container.loading.disabled {
    opacity: 1;
}

div.container > .disable-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 100111;
    background: transparent;
}

div.container.loading > .disable-layer {
    background: rgba(255, 255, 255, 0.40);
    text-align: center;
}

div.container > .disable-layer > i {
    display: none;
    font-size: 40pt;
    color: #002d67;
    text-shadow: 0px 0px 3px #60c1cf;
}

div.container.loading > .disable-layer > i {
    display: inline-block;
}

/* Styled Select */

div.styled_select {
    display: inline-block;
    width: 10em;
}

div.styled_select > div {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
}

/* Styled List */

div.styled_list {
  height:   20em;
  position: relative;
  margin:   3px;
  white-space: nowrap;
  width:    10em;
  overflow: hidden;
}

div.styled_list > div {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.styled_list.full {
  width:  100%;
  height: 100%;
  margin: 0px;
}

div.styled_list.full > div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

div.styled_list div.row {
  white-space: nowrap;
  overflow:    hidden;
  width:       auto;
  cursor:      pointer;
}

div.styled_list div.row.selected {
  padding:    1px 0;
  background: #A1BDE1
}

/* Styled Hidden Field */
div.styled_hidden_field {
  display: none;
  visibility: hidden;
}

/* Styled HPaned */

.hpaned {
  width: 100%;
  height: 100%;
  min-width: 5px;
  position: relative;
}

.hpaned .leftpanel {
  position: absolute;
  left: 0;
  height:100%;
  overflow: auto;
}

.hpaned .rightpanel {
  right: 0;
  position: absolute;
  height:100%;
  overflow: auto;
}

.hpaned .handler {
  position: absolute;
  width: 5px;
  height: 100%;
  background: transparent url("../images/styledElements/vhandler.png") no-repeat scroll 0 center;
  cursor: col-resize;
  float:left;
}

/* Popup menu */

.model_table .headrow .cell, .model_table .tbody .cell {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.model_table > .center_container {
    overflow: hidden;
}

.model_table > .center_container > .tbody {
    overflow: auto;
}

/*****************************************************************************
 *                              Tema por defecto                             *
 *****************************************************************************/

/* Styled List */

div.styled_list > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border:      1px solid #888888;
  background: white;
}

div.styled_list div.row {
  padding:    1px 0;
}

div.styled_list div.row.selected {
  background: #A1BDE1;
  color:      #FAFAFA;
}

/* Pagination Interface */

.styled_expander {
    margin: 3px;
    overflow: hidden;
}

.styled_expander .title {
    font-size: inherit;
    vertical-align: middle;
    display: inline-block;
}

.styled_expander > .contents {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.styled_expander > div > .icon-expand {
    width: 1em;
    text-align: center;
    display: inline-block;
}

.styled_expander > div > .icon-expand.checked:before {
    content: "\f0d7";
}

.styled_expander > div > .icon-expand:before {
    content: "\f0da";
}

.styled_expander.expanded .contents {
    width: auto;
    height: auto;
    padding: 1ex;
    overflow: auto;
}
