.controlLayerUp, .controlLayerDown, .controlLayerLeft, .controlLayerRight {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200000;
    opacity: 0.4;
    background: #808080;
    transition: left 0.5s ease-in, top 0.5s ease-in, height 0.5s ease-in, width 0.5s ease-in, opacity 0.5s ease-in;
}

.controlLayerCenter {
    position: absolute;
    z-index: 200000;
    background: transparent;
    transition: left 0.5s ease-in, top 0.5s ease-in, height 0.5s ease-in, width 0.5s ease-in, opacity 0.5s ease-in;
}

.controlLayer.transparent > div {
    opacity: 0;
}

.controlLayer {
    top: 0;
	left: 0;
}

.msgLayer {

}

.empty {
    display: none;
}

.simpleDescription {
    display: none;
}

.simpleDescription.activeStep{
    display: inherit;
    z-index: 200100;
    min-width: 180px;
}

/* UserAction */
.popup {
    max-width: 500px;
    position: absolute;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    z-index: 200100;
    display: inherit;
    margin-right: 2ex;
}

.popup .popUpArrowDiv.icon-hand-up {
    position: absolute;
    opacity: 0.9;
    z-index: 200101;
    pointer-events: none;
    font-size: 2.4em;
    color: #47A06B;
}

.popup .popUpArrowDiv.icon-hand-up:before {
    pointer-events: none;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
}

/* Arrows */
.popup .popUpArrowDiv.downLeft {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup .popUpArrowDiv.downRight {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup .popUpArrowDiv.topLeft {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.popup .popUpArrowDiv.topRight {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.popup.subFormAction {
    display: none;
}

.popup.subFormAction.activate {
    display: inherit;
}

.userAction.subFormAction.invalid {
    color: #7E1111;
    display: inherit;
}

/* WarningIco */
.userAction.subFormAction .warningIco{
    display: none;
    color: #7E1111;
}

.userAction.subFormAction.invalid .warningIco{
    display: inline-block;
    margin: 2px;
}

.disableLayer {
    z-index: 300000;
    position: absolute;
}

.tuto_highlight {
/*    z-index: 200105;*/
}

/* menu de pruebas */
.tutorialMenu {
    z-index: 10000;
    width: 300px;
    height: 300px;
    background:blue;
}

