.disabled_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101111;
    background-color: #000;
}

.disabled_background.in {
    opacity: 0.8;
}

.window_menu {
    background: #E4E6E2;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    position: absolute;
    text-align: left;
    z-index: 101112;
    overflow: hidden;
    font-weight: normal;
    width: 560px;
}

.window_menu > .window_top {
    font-size: 150%;
    font-weight: bold;
    font-family: "Courier New", courier;
    color: #990000;
    cursor: move;
    padding: 9px 15px;
}

.window_menu > .window_top > h3 {
    margin-bottom: 0;
    line-height: normal;
    font-size: 17pt;
    font-family: "Courier New";
    color: #990000;
}

.window_menu > .window_top > h3::before {
    content: '/';
}

.window_menu > .window_content, .window_menu > .styled_form > div > table {
    padding: 0px 15px;
    clear: both;
    overflow: auto;
}

.window_menu > .window_bottom {
    margin: 2em 0 0.5em;
    text-align: center;
}

.window_menu > .msg {
    margin: 2ex;
    border: 1px solid #888;
    padding: 1ex;
    border-radius: 1ex;
}
