@import 'variables';
@import 'compass/utilities/color/contrast';

.disabled_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101111;
    background-color: #000;
}

.disabled_background.in {
    opacity: 0.8;
}

.window_menu {
    color: contrast-color($modal-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background: $modal-bg;
    border: 1px solid $modal-content-border-color;
    border-radius: $border-radius-large;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    position: absolute;
    text-align: left;
    z-index: 101112;
    overflow: hidden;
    font-weight: normal;
    width: 560px;
    box-sizing: border-box;
}

.window_menu > .window_top {
    cursor: move;
    padding: 9px 15px;
    background: $modal-header-bg;
    color: contrast-color($modal-header-bg, $text-color-light, $text-color-dark, $text-color-threshold);

    @if ($modal-header-border-color != "none") {
        border-bottom: 1px solid $modal-header-border-color;
    }
}

.window_menu > .window_top > h3 {
    margin: 0;
}

.window_menu > .window_top > .icon-remove {
    margin-top: ((($headings-line-height * $font-size-h3) - 20px) / 2);
    float: right;
    font-size: 20px;
}

.window_menu > .window_content {
    box-sizing: border-box;
}

.window_menu > .window_content, .window_menu > .styled_form > div > table {
    padding: $modal-inner-padding;
    clear: both;
    overflow: auto;
}

.window_menu > .window_bottom {
    @if ($modal-footer-border-color != "none") {
        border-top: 1px solid $modal-footer-border-color;
    }
    padding: $modal-inner-padding;
    background: $modal-footer-bg;
    text-align: right;
}

.window_menu > .msg {
    margin: 2ex;
    border: 1px solid #888;
    padding: 1ex;
    border-radius: 1ex;
}

/* TODO */
.publish_workspace .se-notebook {
    height: 357px;
}

.publish_workspace textarea[name="longdescription"] {
    height: 260px;
}

.embed-code-window-menu .se-text-area {
    margin: 0;
    width: 100%;
}

.visibility-option {
    margin: 0 0 0 20px;

    .option-btn,
    .option-heading,
    .option-heading-img,
    .option-heading-content {
        display: table-cell;
        vertical-align: middle;
    }

    .option-btn input {
        margin: 0 10px 0 0;
    }

    .option-heading {
        cursor: pointer;
        width: 100%;
        padding: 5px;

        .option-heading-img {
            text-align: center;
            width: 40px;

            span {
                font-size: 20px;
            }
        }
    }

    .option-description {
        font-weight: 400;
    }
}

$list-group-item-hover-text-color: rgb(75, 75, 75);
$list-group-item-hover-bg: rgb(245, 245, 245);

.visibility-option:hover {

    .option-heading {
        color: $list-group-item-hover-text-color;
        background-color: $list-group-item-hover-bg;
    }
}

.btn-group-search-user {
    display: block;
    margin: 0 0 10px 20px;

    .se-text-field {
        width: 75%;
    }
}

.user-group {
    display: block;
    margin: 0 0 10px 20px;
    overflow-y: auto;
    max-height: 156px;
}

.sharing-user {
    border: solid 1px #DDD;
    padding: 5px 5px;
}

.sharing-user:not(:first-child) {
    margin-top: -1px;
}

.sharing-user-icon,
.sharing-user-description,
.sharing-user-permission,
.sharing-user-options {
    display: table-cell;
    vertical-align: middle;
}

.sharing-user-icon {
    padding-right: 10px;

    .icon-stack {
        line-height: 40px;
  font-size: 18px;
    }
}

.sharing-user-description {
    padding-right: 10px;
    width: 100%;
}

.sharing-user-permission {
    padding-right: 10px;
}

.sharing-user-description .user-fullname {
    font-weight: 700;
}

.sharing-user-description .user-username {
    color: #777;
    font-size: 12px;
}

.sharing-user-options .se-btn {
    width: 18px;
  text-align: center;
}
