@import 'variables';
@import 'compass/css3';
@import 'compass/utilities/color/contrast';

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  src: local('Comfortaa'), local('Comfortaa-Regular'),
       url("../fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_regular-webfont.woff") format("woff"),
       url("../fonts/comfortaa_regular-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url("../fonts/comfortaa_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_bold-webfont.woff") format("woff"),
       url("../fonts/comfortaa_bold-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_bold-webfont.svg#ComfortaaBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont.woff") format("woff"),
       url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSansBold'),
       url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-bold-webfont.woff") format("woff"),
       url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
       url("../fonts/opensans-bold-webfont.svg#OpenSansRegular") format("svg");
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $body-bg;
    color: contrast-color($body-bg, $text-color-light, $text-color-dark, $text-color-threshold);
}

h1, h2, h3, h4, h5, h6 {
    margin: ($line-height-base / 2) 0;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    text-rendering: optimizelegibility;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

#wirecloud_header {
    margin-bottom: 0.5ex;
}

.wirecloud_app_bar {
    margin: -5px 0 0 0;
    padding: 0 0 5px 0;
    white-space: nowrap;
}

.wirecloud_header_nav {
    margin: 0 0 0 5px;
}

.wirecloud_app_bar img {
    vertical-align: bottom;
    margin: 0 5px;
}

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 600px;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#wirecloud_header .menu_wrapper {
    text-align: right;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    color: #990000;
}

#wirecloud_header .menu_wrapper > .menu {
    display: inline-block;
    background: #E4E6E2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 1ex;
    vertical-align: top;
}

#wirecloud_header .user_menu_wrapper > .styled_button {
    margin: 0;
    vertical-align: baseline;
    height: 20px;
}

#wirecloud_header .user_menu_wrapper > .styled_button {
    color: #FFF;
    font-size: 12px;
    margin: 0;
    padding: 0px 0.75ex;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: transparent;
    background-color: #41768D;
    border-radius: 0;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}

#wirecloud_header .user_menu_wrapper > .styled_button.open > div {
    background: white;
    border-color: #BEBEBE;
    color: #41768D;
}

#wirecloud_header > .menu_wrapper > .menu > span {
    background: #E4E6E2;
    padding: 0.5ex 0.75ex;
    cursor: pointer;
    color: #444;
    display: inline-block;
    position: relative;
}

#wirecloud_header > .menu_wrapper > .menu > .user_menu_wrapper {
    display: inline-block;
    width: 30ex;
    margin: 0 1ex;
}

#wirecloud_header > .menu_wrapper > .menu > .selected {
    cursor: default;
}

#wirecloud_header > .menu_wrapper > .menu .mark {
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    left: 0;
    background-color: inherit;
    height: 0;
}

.wirecloud_toolbar {
    overflow: visible;
    margin: 0 5px;
}

.wirecloud_toolbar .styled_button {
    width: 21px;
    box-sizing: content-box;
    text-align: center;
}

.wirecloud_toolbar .styled_button .badge {
    position: absolute;
    bottom: -5px;
    right: 0px;
}

#wirecloud_breadcrum {
    text-align: center;
    font-family: "Courier New", courier;
    font-weight: bold;
    width: 320px;
    transition: width 0.30s ease-in;
}

#wirecloud_breadcrum > .first_level {
    color: #990000;
}

#wirecloud_breadcrum > .second_level {
    color: #006633;
}

#wirecloud_breadcrum > .third_level {
    color: #E8A150;
}

@media (min-width: 1024px) {
    #wirecloud_breadcrum {
        width: 500px;
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    #wirecloud_breadcrum {
        width: 600px;
        font-size: 20px;
    }
}

/* Loading window */

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-window.disabled {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    z-index: 4;
    margin: 4ex;
}

#loading-subtask-title {
    margin: 0;
}

.window_menu .styled_form .notebook {
    height: 400px;
}

.parametrizable_input > * {
    display: inline-block;
}

.parametrizable_input > .readOnlyIcon, .parametrizable_input > .visibilityIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px;
    vertical-align: bottom;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.parametrizable_input > .readOnlyIcon {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -552px;
}

.parametrizable_input > .readOnlyIcon.readOnly {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -552px;
}

.parametrizable_input > .visibilityIcon {
    background-image: none;
}

.parametrizable_input > .visibilityIcon.visible {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -384px;
}

.clearfloats {
    clear: both;
}

.powered-by-wirecloud {
    margin: 1px 5px;
}

.powered-by-wirecloud:before {
    content: 'Powered by ';
    vertical-align: middle;
}

.powered-by-wirecloud:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 20px;
    background: url("../images/logos/wc1-mini.png");
}
