.resource_details img {
    width: 170px;
    height: 80px;
    border: 1px solid;
    border-color: #CDCED1;
    border-radius: 4px;
    background: white;
    display: inline-block;
}

.resource_details .north_container {
    padding: 0 3ex;
}

.resource_details .panel .summary {
    text-align: left;
}

.resource_details .popularity {
    margin-left: 0;
    display: block;
    margin-top: 0.5ex;
}

.resource_details .attr_title {
    font-weight: bold;
}
