@import 'variables';
@import 'compass/utilities/color/contrast';


@mixin font($type: "h5", $weight: "semibold") {

    @if $type == "h5" {
        font-size: 14px;
        line-height: 20px;
    } @else if $type == "h6" {
        font-size: 12px;
        line-height: 20px;
    }

    @if $weight == "semibold" {
        font-weight: 400;
    } @else if $weight == "bold" {
        font-weight: 700;
    }
}

@mixin font-truncate() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin font-styled(
    $text-size,
    $text-weight
) {
    @if $text-size == "large" {
        font-size: $font-size-large;
        line-height: $line-height-large;
    } @else if $text-size == "base" {
        font-size: $font-size-base;
        line-height: $line-height-base;
    } @else if $text-size == "small" {
        font-size: $font-size-small;
        line-height: $line-height-small;
    } @else if $text-size == "xs" {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
    }

    @if $text-weight == "normal" {
        font-weight: $font-weight-base;
    } @else if $text-weight == "bold" {
        font-weight: $font-weight-bold;
    }
}

@function contrast-text-color(
    $component-bg
) {
    @return contrast-color($component-bg, $text-color-light, $text-color-dark, $text-color-threshold);
}
