@import 'variables';

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
}

// Inline code
code {
      padding: 2px 4px;
      font-size: 90%;
      color: $code-color;
      background-color: $code-bg;
      border-radius: $border-radius-base;
}

// User input typically entered via keyboard
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: $kbd-color;
    background-color: $kbd-bg;
    border-radius: $border-radius-small;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: bold;
        box-shadow: none;
    }
}

// Blocks of code
pre {
    display: block;
    padding: (($line-height-base - 1) / 2);
    margin: 0 0 ($line-height-base / 2);
    font-size: ($font-size-base - 1);
    line-height: $line-height-base;
    word-break: break-all;
    word-wrap: break-word;
    color: $pre-color;
    background-color: $pre-bg;
    border: 1px solid $pre-border-color;
    border-radius: $border-radius-base;

    // Account for some code outputs that place code tags in pre tags
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}

// Enable scrollable blocks of code
.pre-scrollable {
    max-height: $pre-scrollable-max-height;
    overflow-y: scroll;
}

// codehilite
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: $brand-info; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid $brand-danger } /* Error */
.codehilite .k { color: darken($brand-primary, 20%); font-weight: bold } /* Keyword */
.codehilite .o { color: #666666; } /* Operator */
.codehilite .cm { color: $brand-info; font-style: italic; } /* Comment.Multiline */
.codehilite .cp { color: $brand-warning; } /* Comment.Preproc */
.codehilite .c1 { color: $brand-info; font-style: italic; } /* Comment.Single */
.codehilite .cs { color: $brand-info; background-color: #fff0f0; } /* Comment.Special */
.codehilite .gd { color: #A00000; } /* Generic.Deleted */
.codehilite .ge { font-style: italic; } /* Generic.Emph */
.codehilite .gr { color: $brand-danger } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold; } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0; } /* Generic.Traceback */
.codehilite .kc { color: $brand-warning; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: $brand-warning; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: $brand-warning; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: $brand-warning } /* Keyword.Pseudo */
.codehilite .kr { color: $brand-warning; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #902000 } /* Keyword.Type */
.codehilite .m { color: $brand-success; } /* Literal.Number */
.codehilite .s { color: #4070a0 } /* Literal.String */
.codehilite .na { color: #4070a0 } /* Name.Attribute */
.codehilite .nb { color: $brand-warning } /* Name.Builtin */
.codehilite .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.codehilite .no { color: #60add5 } /* Name.Constant */
.codehilite .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: $brand-warning } /* Name.Exception */
.codehilite .nf { color: #06287e } /* Name.Function */
.codehilite .nl { color: #002070; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: $brand-primary; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #bb60d5 } /* Name.Variable */
.codehilite .ow { color: $brand-warning; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: $brand-success; } /* Literal.Number.Float */
.codehilite .mh { color: $brand-success; } /* Literal.Number.Hex */
.codehilite .mi { color: $brand-success; } /* Literal.Number.Integer */
.codehilite .mo { color: $brand-success; } /* Literal.Number.Oct */
.codehilite .sb { color: #4070a0 } /* Literal.String.Backtick */
.codehilite .sc { color: #4070a0 } /* Literal.String.Char */
.codehilite .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #4070a0 } /* Literal.String.Double */
.codehilite .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.codehilite .nx { font-weight: bold }
