@import 'variables';
@import 'compass/utilities/color/contrast';

.panel {
    color: contrast-color($panel-bg, $text-color-light, $text-color-dark, $text-color-threshold);
    background-color: $panel-bg;
    border: 1px solid rgb(205, 206, 209);
    border-radius: $panel-border-radius;
    margin-bottom: $line-height-base;
}

.panel-heading {
    border-top-left-radius: ($panel-border-radius - 1);
    border-top-right-radius: ($panel-border-radius - 1);
    background-color: $panel-default-heading-bg;
    padding: $panel-heading-padding;
}

.panel-body {
    padding: $panel-body-padding;
}

.panel-footer {
    padding: $panel-footer-padding;
}
