html {
    border: 0 solid transparent;
}

body {
	font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.link {
	text-decoration: none;
	color: #306BBD;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}
