#navigation-bar {
//background:transparent url(http://eyeos.org/css/../images/bg-nav.png) no-repeat scroll 0 0;
background:transparent url(/ezweb/images/bg-nav.png) no-repeat scroll 0 0;
height:33px;
margin-top:12px;
margin-left: 250px;
position:relative;
width:960px;
z-index:10000;
top: -52px;
float: left;
}

#navigation-bar .nav-bar-button {
float:left;
font-family:sans-serif;
font-size:15px;
font-weight:bold;
padding-left:25px;
padding-top:9px;
}

body {
	color:#000;
    //background: url("../images/fond.gif") top left;
    margin:0;
    padding:0;
    font-size:80%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a, a:visited{
	color:darkBlue;
}

.window_link{
	color:darkBlue;
	text-decoration:underline;
	cursor: pointer;
}

#loading-background {
    background: white;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

#loading-indicator {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-message {
    margin: 50px 4ex;
    font-size: 10pt;
    height: 8ex;
    font-weight: bold;
}

#loading-message .window_content {
    margin-top: 1ex;
}

#loading-message {
    margin: 4ex;
}
#loading-subtask-title{
	margin: 0;
}

.hidden {
    display: none !important;
}

/* header ------------------------------------------------------------------------------------------ */
#header {
	//background: url("../images/header_deg.png") repeat-x top left;
	background-color: white;
	color:white;
	height: 74px;
}

.form-row input[type="submit"] {
	background: transparent url(../images/header_deg.png) repeat;
	color: white;
}

#content-main .registration a{
	color:#2D6F9C;
}

#greeting {
	text-align:right;
	margin-right:15px;
	margin-top:5px;
}

#greeting a, #greeting a:visited{
	color:white;
}

#greeting .languages a{
	text-decoration:none;
}

#logo {
	//margin-top:1px;
	//background: url("../images/logoAyto_azulOsc02.png") no-repeat;
	//width: 220px;
	margin-top:5px;
	width: 150px;
	height: 46px;
}

#powered {	
bottom:0;
display:block;
position:absolute;
right:-38px;
top:-2px;
width:180px;
}

#add_tab_link, #left_slider, #right_slider {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px none;
  cursor: pointer;
  display: none;
}

#toolbar_section {
	margin-top:7px;
}

.toolbar_section input[type=button]{
	border: 0px none;
  	cursor: pointer;
  	padding-bottom: 3px;
}

.ws_name{
  border: 0px none;
  height: 15px;
}

#workspace_name {
  color:#2D6F9C;
}

#workspace_menu_link{
	margin: 0 auto;
	width: 19px;
	height: 11px;
	padding-top: 5px;
}

#ws_operations_link {
	width: 19px;
	height: 9px;
  	background: transparent url(../images/menu-arrow-selected.png) no-repeat scroll 0 0;
}

.toolbar_marked, .toolbar_unmarked {
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	height: 21px;
	margin: 0 7px;
	color: #2D6F9C;
}

.toolbar_marked {
	font-weight: bold;
	top: 4px;
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}

.toolbar_unmarked {
	background: transparent url(../images/button.png) repeat-x scroll left top;
}

#left_slider{
 margin-top:2px;
 margin-left:3px;
 width: 10px;
 background: transparent url(../images/leftSlider.png) no-repeat scroll 0 0;
}

#right_slider{
 margin-top:2px;
 width: 10px;
 background: transparent url(../images/rightSlider.png) no-repeat scroll 0 0;
}

#tab_marker{
	width: 4px;
	height: 23px;
	background: transparent url(../images/tab_marker.png) no-repeat scroll 0 0;
}

#tab_space{
	-moz-opacity: 0.2;
	filter: alpha(opacity=20);
    opacity: 0.2;
}

#catalogue_link {
  
  padding-bottom: 3px;
}

#wiring_link {
  
  padding-bottom: 3px;
}

#dragboard_link {
  padding:0 7px;
  top: 4px;
}

#dragboard_link span {
	top: 3px;
}

#logs_link {
  height: 16px;
  border: none;
  width: 16px;
  background: transparent url(../images/info.png) no-repeat;
}

#preferences_link {
  height: 16px;
  width: 16px;
  border: none;
  background: transparent url(../images/preferences.png) no-repeat;
}

#logs_link.highlighted {
  background: transparent url(../images/info_highlighted.png) no-repeat;
}

.message_section{
	background: lightyellow;
	border: 1px solid red;
}

.message_box{
	color: #000000;
	font-weight: bold;
}

#add_tab_link {
	background: #666666 url(../images/button-selected.png) repeat-x scroll left top;
	display:none;
}

/*#add_tab_link:hover {
	background: transparent url(../images/button-selected.png) repeat-x scroll left top;
}*/

#add_tab_link {
	background: transparent;
	font-size: 10px;
	margin-top:-6px !important;
	display:none;
}

#tab_section .tab {
  font-size: 12px;
  border: 1px solid #C2CBD2;
  font-weight:normal;
  color: black;
  //background: #DDDDDD url(../images/degradado.png) no-repeat scroll left top;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  margin: 0;
}

#tab_section .tab.selected {
  background: #F0E68C !important;
}

.disabled {
  display: none !important;
}

#tab_section .current {
  color: #4c5054;
  //background: url("../images/fond.gif") repeat scroll left top transparent;
  border: 1px solid #C2CBD2;
  border-bottom: 0px none;
  font-weight:bold;
}

.tab span {
  margin: 2px 5px 0;
}

.current .tab_name, .current span {
  margin: 0px 5px 0;
}

.tab .tab_name {
  /*background: #97A0A8;*/
  font-size: 8pt;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
}

.current .tab_name {
  /*background: #E0E0E0;*/
}

#menu_layer{
  
}

.disabled_background {
  background-color: #6699cc;
  opacity: .2;
  moz-opacity: .5;
  filter: alpha(opacity=50);
}

.drop_down_menu, .window_menu{
  background: #FFFFFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.drop_down_menu {
  border: solid 1px #AAAAAA;
}

.drop_down_menu .border_bottom{
	border-bottom: 4px double #2D6F9C;
}

.drop_down_menu div .help_button {
  background: transparent url(../images/help.gif) no-repeat scroll 0 0;
  width: 16px;
  height: 16px;
}

.underlined {
  border-bottom: solid 1px #AAAAAA;
}

.window_menu, .help_text_enabled {
  border: 2px solid #2D6F9C;
}

.window_menu .window_title, .help_text_enabled #app_name {
  color: #2D6F9C;
}

.window_menu .window_content {
  margin-top: 2ex;
}

.window_menu .window_content tr:hover {
  background: #C4D2DD;
}

.window_menu .window_content td {
  padding: 0.7ex 1ex;
}

.window_menu .window_content td input {
  vertical-align: sub;
}

.window_menu .window_content td.label {
  text-align: left;
  padding-right: 2ex;
  font-weight: bold;
}

.window_menu .window_content .complexTable {
  width: 100%;
}

.window_menu .window_content .complexTable td {
  padding-left: 0;
}

.window_menu .window_content .complexTable td.inheritCell {
  text-align: left;
  padding-right: 2ex;
  padding-left: 1ex;
}

.window_menu .window_content .complexTable td.inheritCell input {
  margin-right: 1ex;
}

.window_menu .window_content .msg {
  text-align: justify;
}

.window_menu .legend {
  margin-top: 3ex;
}

.window_menu .explanation{
	font-size: 8pt;
	color: dimGray;
}

.window_menu .error {
  color: red;
  font-weight: bold;
  margin-left: 0px;
}

.window_menu .warning{
	font-weight: bold;
	font-size: 8pt;
	border: 1px solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding: 10px;
}

.required_mark{
	color: red;
}

.tabOps_launcher{
  width: 16px;
  height: 16px;
  background: transparent url(../images/tabops16px.png) no-repeat;
}

.tab_dragger{
	width: 8px;
	height: 16px;
	float: left;
	background: transparent url(../images/separator.gif) no-repeat;
}

.closebutton {
  background: transparent url(../images/remove.png) no-repeat;
  width: 16px;
  height: 16px;
}

button {
  background: transparent url(../images/button.gif) repeat;
  border: medium none;
  color: white;
}


/* gadgets ------------------------------------------------------------------------------------------ */


#gadgets .gadget {
	border: 1px solid #C5D7EF;
	border-top:1px solid #7AA5D6;
}

#gadgets .gadget .toolbar{
	background-color:#E5ECF9;
	border-bottom: 1px solid #C5D7EF;
}
#gadgets .gadget .toolbar h2{
	color:#36C;
}

#gadgets .gadget .preferences{
	border-bottom: 1px solid #C5D7EF;
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .preferences table{
	background-color:#E5ECF9;
	color:#36C;
}

#gadgets .gadget .main h4{
  border-bottom:1px dotted #dfdfdf;
}
#gadgets .gadget .main table{
  border:1px dotted #dfdfdf;
}

/* containers --------------------------------------------------------------------------------------- */

#wrapper {
  min-width: 600px;
  margin: 0 4px 4px 4px;
}

.container {
  border-top: 1px solid #C2CBD2;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  background-color:#E0E0E0 url(../images/init.dat) no-repeat scroll bottom center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
}


/* showcase ---------------------------------------------------------------------------------------- */

#showcase_container {
  background: transparent;
}

/* logs -------------------------------------------------------------------------------------------- */

#header .tab_section #logs_tab {
  color: #FFCC00;
}

#logs_header a {
    color:darkBlue;
    text-decoration:underline;
}

/* dragboard template ------------------------------------------------------------------------------- */
#dragboard_template {
  display: none;
}


.help_button {
	background: transparent url(../images/help.gif) no-repeat scroll 0 0;
	border: none;
	width: 16px;
	height:16px;
	display:block;
}


.color_button {
	background: transparent url(../images/colorpicker.png) no-repeat scroll 0 0;
}
