.styled_button {
    border: 0px;
    padding: 0px;
    background: transparent;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.styled_button > button {
    border: 0px;
    padding: 0px;
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
}

.styled_button > div, .styled_button > button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(191, 191, 191);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgb(137, 137, 137);
    background-color: white;
    border-radius: 5px;
    padding: 3px 20px 2px;
}

.styled_button > div > span {
    margin: 0px 3px 1px 3px;
}

.styled_button > div:hover, .styled_button > button:hover {
    border-color: rgb(204, 204, 204);
    background-color: rgb(252, 253, 252);
}

.styled_button img.icon {
    margin: 3px;
    vertical-align: middle;
}

/* Primary button */

.styled_button.btn-primary > div, .styled_button.btn-primary > button {
    font-size: 12px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
    border: 1px solid #50BCBC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #56CCCC #56CCCC #50BCBC;
    border-bottom-color: #4BB2B2;
    background-color:#0093C6;
}

.styled_button.btn-primary > div:hover, .styled_button.btn-primary > button:hover {
    border-color: rgb(0, 204, 219);
    background-color: rgb(4, 137, 183);
}
