<header class="navbar">
  <nav class="navbar-inner">
    <div class="logo-header">
      <a href="http://lab.fi-ware.eu/" class="logo-header">
        <img alt="FI-WARE IdM" class="logo" src="{{ STATIC_URL}}images/header-logo.png" />
      </a>
      <a href="http://lab.fi-ware.eu/" class="brand">
        <span>FI-</span>WARE
      </a>
    </div><ul class="oil-portal">
      <li>
        <a href="http://cloud.lab.fi-ware.eu/">
          Cloud
        </a>
      </li>
      <li>
        <a href="https://store.lab.fi-ware.eu/">
          Store
        </a>
      </li>
      <li class="active">
        <a href="https://mashup.lab.fi-ware.eu/">
          Mashup
        </a>
      </li>
      <li>
        <a href="https://account.lab.fi-ware.eu/">
          Account
        </a>
      </li>
      <li>
        <a href="http://lab.fi-ware.eu/">
          Help&amp;info
        </a>
      </li>
    </ul>

  </nav>
</header>
