<div id="wirecloud_header">

    <header class="navbar">
      <nav class="navbar-inner">
        <div class="logo-header">
          <a href="http://lab.fi-ware.eu/" class="logo-header">
            <img alt="FI-WARE IdM" class="logo" src="{{ STATIC_URL}}images/header-logo.png" />
          </a>
          <a href="http://lab.fi-ware.eu/" class="brand">
            FI-WARE
          </a>
        </div><ul class="oil-portal">
          <li>
            <a href="http://cloud.lab.fi-ware.eu/">
              Cloud   
            </a>
          </li>
          <li>
            <a href="http://wstore.lab.fi-ware.eu/">
              WStore
            </a>
          </li>
          <li class="active">
            <a href="http://wirecloud.lab.fi-ware.eu/">
              Wirecloud
            </a>
          </li>
          <li>
            <a href="https://idm.lab.fi-ware.eu/">
              IdM
            </a>
          </li>
        </ul>

      </nav>
    </header>


    <div class="breadcrum_wrapper"><div class="breadcrum">
        /<span id="wirecloud_breadcrum"></span>
    </div></div>

</div>
