<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
<div class="fade">
    <div class="widget_menu"><t:title/><div class="infobuttons"><t:errorbutton/></div><div class="buttons"><t:minimizebutton/><t:menubutton/><t:closebutton/></div></div>
    <div class="widget_shadow">
        <div class="widget_wrapper"><t:iframe/></div>
        <div class="statusBar"><t:leftresizehandle/><t:bottomresizehandle/><t:rightresizehandle/></div>
    </div>
</div>
</s:styledgui>
