<s:styledgui xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template">
<div class="wc-dashboard-share-item">
<div class="wc-dashboard-share-item-icon">
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<t:icon></t:icon>
</span>
</div>
<div class="wc-dashboard-share-item-description">
<div class="user-fullname"><t:fullname></t:fullname></div>
<div class="user-username"><t:username></t:username></div>
</div>
<div class="wc-dashboard-share-item-permission"><t:permission></t:permission></div>
<div class="wc-dashboard-share-item-options"><t:btndelete></t:btndelete></div>
</div>
</s:styledgui>
