{% load i18n %}
<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
<div class="alert alert-info se-alert-static-top wc-initial-message">
    <h4 class="text-center">{% trans "Hey! This tab is empty" %}</h4>
    <p>{% trans "Add some widgets using the add widget button (<t:button/>) available on the top right part of the workspace view." %}</p>
    <blockquote><t:tutorials/></blockquote>
</div>
</s:styledgui>