<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
    <label class="wc-share-visibility-option">
        <div class="wc-share-option-btn"><t:radiobutton/></div>
        <div class="wc-share-option-heading-img"><t:image/></div>
        <div class="wc-share-option-heading-content">
            <div class="wc-share-option-title"><t:title/></div>
            <div class="wc-share-option-description"><t:description/></div>
        </div>
    </label>
</s:styledgui>
