<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
    <div class="visibility-option">
        <div class="option-btn"><t:radiobutton/></div>
        <label class="option-heading">
            <div class="option-heading-img"><t:image/></div>
            <div class="option-heading-content">
                <div class="option-title"><t:title/></div>
                <div class="option-description"><t:description/></div>
            </div>
        </label>
    </div>
</s:styledgui>