<s:styledgui xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template">
<div class="fade panel panel-default">
<div class="wc-widget-heading panel-heading"><t:grip></t:grip><t:errorbutton></t:errorbutton><t:titlevisibilitybutton></t:titlevisibilitybutton><h4 class="panel-title"><t:title></t:title></h4><t:minimizebutton></t:minimizebutton><t:menubutton></t:menubutton><t:closebutton></t:closebutton></div>
<div class="wc-widget-body"><t:iframe></t:iframe></div>
<div class="wc-widget-footer panel-footer"><t:leftresizehandle></t:leftresizehandle><t:bottomresizehandle></t:bottomresizehandle><t:rightresizehandle></t:rightresizehandle></div>
</div>
</s:styledgui>
