/* Styled Notebook */

.notebook .tab_wrapper {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    height: 32px;
    line-height: 33px;
    overflow: visible;
}

.notebook .tab_wrapper .move_left {
    margin: 0 5px;
}

.notebook .tab_wrapper .move_right {
    margin: 0 5px;
}

.notebook .tab_wrapper .move_left, .notebook .tab_wrapper .move_right {
    color: black;
    cursor: default;
    display: inline-block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    visibility: hidden;
}

.notebook .tab_wrapper .move_left.enabled, .notebook .tab_wrapper .move_right.enabled {
    cursor: pointer;
    visibility: visible;
}

.notebook .tab_area {
    height: 33px;
    margin: 0;
}

.notebook .tab_area .tab {
    background: transparent;
    color: rgb(0, 136, 204);
    height: 15px;
    line-height: 16px;
    border: 1px solid transparent;
    vertical-align: top;
    padding: 8px 12px;
    border-radius: 4px 4px 0 0;
    font-size: 13px;
    font-weight: normal;
    min-width: 1ex;
    margin: 0 3px;
}

.notebook .tab_area .tab:hover {
    border-color: rgb(238, 238, 238) rgb(238, 238, 238) transparent rgb(221, 221, 221);
    color: rgb(0, 85, 128);
}

.notebook .tab_area .tab img {
  height: 16px;
  margin: 0 0.5ex 0 0;
  position: relative;
  top: 1px;
  vertical-align: sub;
}

.notebook .tab_area .tab > .close_button {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    margin: 0 0 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notebook .tab_area .tab.selected {
    background: #FFFFFF;
    color: rgb(85, 85, 85);
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent rgb(221, 221, 221);
}

.notebook div.tab_wrapper > .tab_area_msg {
  right: 80px;
  border: 1px solid #3B7614;
  background-color: #B6F48E;
  background: #a5f2c9 url("../images/styledElements/icon_success.gif") no-repeat right;
  padding: 2px 5px;
  font-size: 90%;
  min-width: 250px;
}

.notebook > div > .wrapper {
    background: transparent;
    top: 33px;
    right: 0;
    bottom: 0;
    left: 0;
}

.notebook > div > .wrapper > div {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
}
