.label,
.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    border-radius: 3px;
}

.badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 9px;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}
