.model_table {
    font-size: 14px;
    line-height: 20px;
}

.model_table > .headrow {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.model_table > .headrow > .cell, .model_table > .tbody > .row > .cell {
    padding: 4px 8px;
    text-overflow: ellipsis;
}

.model_table > .headrow > .cell.sortable {
    cursor: pointer;
}

.model_table > .headrow > .cell.ascending, .model_table > .headrow > .cell.descending {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.model_table > .headrow > .cell.ascending:before {
    float: right;
    content: "\f0d8";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.model_table > .headrow > .cell.descending:before {
    float: right;
    content: "\f0d7";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 8px;
}

.model_table > .container.tbody {
    overflow-y: auto;
    color: #333;
}

.model_table > .tbody > .row:hover {
    background-color: #f5f5f5;
}

.model_table > .tbody > .row {
    border-bottom: 1px solid #DDD;
    white-space: nowrap;
}

.model_table > .tbody > .row:last-child {
    border-bottom: 0 none;
}

.table-striped > .tbody > .row:nth-child(odd) {
    background-color: #F9F9F9;
}

.tab.container > .model_table:first-child > .headrow {
    padding-top: 3px;
}
