#catalogue .developer_title {
color: #666666;
}

button.contratable {
  background:transparent url(/ezweb/images/contratable.gif) repeat scroll 0 0;
}

#catalogue .toolbar {
  border-bottom: 1px solid #C2CBD2;
}

#catalogue .last_toolbar_button {
  border-right: 1px solid #C2CBD2;
}

#catalogue .toolbar_menu .first_toolbar_button {
	border-left: 0px;
}

#catalogue .toolbar_menu .selected_section {
	background: #C7C7C7;
	color:#404040;
}

#catalogue .toolbar_menu div {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: #e9e9e9;
  font-size: 14px;
}

#catalogue .toolbar_menu div:hover {
  color: red;
}

.no_border {
  border-top: 0px;
  border-right: 0px; 
  border-bottom: 0px; 
}

#catalogue a {
  text-decoration:none;
  cursor:pointer;
}

#catalogue a:active {
  outline: none;
}

#catalogue a:focus {
  outline: none;
}

#catalogue .paginate img {
  border-style:none;
}

#catalogue .center .resources .resource .resource_name {
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

#purchase_window_table .center_text {
  text-align: center;
}

#purchase_window_table .right_border {
  border-right: 1px solid #cccccc;
}

#colorpicker301{
	position: fixed;
}
