@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'),
       url("../fonts/comfortaa_regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_regular-webfont.woff") format("woff"),
       url("../fonts/comfortaa_regular-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_regular-webfont.svg#ComfortaaRegular") format("svg");
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url("../fonts/comfortaa_bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/comfortaa_bold-webfont.woff") format("woff"),
       url("../fonts/comfortaa_bold-webfont.ttf") format("truetype"),
       url("../fonts/comfortaa_bold-webfont.svg#ComfortaaBold") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-regular-webfont.woff") format("woff"),
       url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
       url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#wirecloud_header {
    font-family: "Courier New", courier;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.5ex;
}

.logo_wrapper {
    margin-top: -19px;
    font-family: Comfortaa;
}

.logo_wrapper > div:first-child > img {
    margin: 0;
    vertical-align: bottom;
    padding: 0 0 1ex;
    vertical-align: -1.3ex;
    height: 78px;
    width: 98px;
    display: inline-block;
    vertical-align: top;
}

.logo_wrapper > div:first-child > div {
    display: inline-block;
    vertical-align: top;
}

.fiware_title, .fiware_subtitle {
    margin: 0;
}

.fiware_title {
    font-size: 30px;
}

.fiware_subtitle {
    font-size: 20px;
    color: #3E80AD;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.1);
}

.breadcrum_wrapper {
    font-family: "Open Sans";
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0.85) 50%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(50%,rgba(237, 237, 237, 0.85)), color-stop(100%,rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    font-size: 30px;
    width: 75%;
    float: right;
    font-weight: normal;
    color: #666;
    padding: 11px;
    margin-top: -36px;
}

#wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    min-width: 600px;
}

.container_content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

#wirecloud_header .menu_wrapper {
    text-align: right;
    font-family: "Arial";
    font-size: 12px;
    font-weight: normal;
    color: #990000;
}

#wirecloud_header .menu_wrapper > .menu {
    display: inline-block;
    padding: 0 0 0 1ex;
    vertical-align: top;
}

#wirecloud_header .styled_button > span {
    color: #FFF;
    margin: 0;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    background-color: #5BB75B;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: rgb(81, 163, 81) rgb(81, 163, 81) rgb(56, 112, 56);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#wirecloud_header .styled_button > span:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f007";
    margin-right: 1ex;
}

#wirecloud_header .styled_button > span:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f0d7";
    margin-left: 1ex;
}

#wirecloud_header .styled_button:hover > span {
    background: rgb(81, 163, 81);
}

#wirecloud_header .styled_button.open > span {
    background: rgb(81, 163, 81);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#wirecloud_header > .menu_wrapper > .menu > span {
    padding: 0.5ex 0.75ex;
    cursor: pointer;
    color: #08C;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#wirecloud_header > .menu_wrapper > .menu > span:hover {
    text-decorator: none;
    background-color: #EEE;
}

#wirecloud_header > .menu_wrapper > .menu > .user_menu_wrapper {
    display: inline-block;
    width: 30ex;
    margin: 0 1ex;
}

#wirecloud_header > .menu_wrapper > .menu > span.selected {
    cursor: default;
    background-color: #08C;
    color: white;
}

#wirecloud_header > .menu_wrapper > .menu .mark {
    display: none;
}

#wirecloud_header > .menu_wrapper > .menu > .selected > .mark {
    height: 2ex;
}

#wirecloud_header > .submenu {
    display: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#wirecloud_breadcrum > span {
    padding: 0px 1ex;
}

/* window_menu */

.disabled_background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101111;
    background-color: #4C5054;
    opacity: .8;
}

.window_menu {
    background: #E4E6E2;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    position: absolute;
    text-align: left;
    z-index: 101112;
    overflow: hidden;
    padding: 1em 2em;
    color: #4C5054;
    font-weight: bold;
    font-family: Arial;
    font-size: 80%;
}

.window_menu > .window_top {
    font-size: 150%;
    font-family: "Courier New", courier;
    color: #990000;
}

.window_menu > .window_top > .closebutton {
    float: right;
}

.window_menu > .window_content, .window_menu > .styled_form > div > table {
    margin-top: 2ex;
    clear: both;
    overflow: auto;
}

.window_menu > .window_bottom {
    margin: 2em 0 0.5em;
    text-align: center;
}

.window_menu > .msg {
    margin: 2ex;
    border: 1px solid #888;
    padding: 1ex;
    border-radius: 1ex;
}

/* Loading window */

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#loading-window.fadding #loading-background {
    display: none;
}

#loading-window.disabled {
    display: none;
}

#loading-message {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 70%;
    max-width: 100%;
    height: 10ex;
    z-index: 4;
    margin: 4ex;
    height: 8ex;
}

#loading-message .window_content {
    margin-top: 1ex;
}

#loading-subtask-title {
    margin: 0;
}

.closebutton {
    border: 0px none;
    cursor: pointer;
    padding: 0px;
    width: 16px;
    height: 16px;
    background: url(../images/icons-sprite.png);
    background-position: -48px -312px;
}

.help_button {
    margin-left: 0px;
    margin-bottom: 2px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    width: 16px;
    height: 16px;
    display: block;
}

.window_menu .styled_form .notebook {
    height: 400px;
}

.parametrizable_input > * {
    display: inline-block;
}

.parametrizable_input > .readOnlyIcon, .parametrizable_input > .visibilityIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px;
    vertical-align: bottom;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.parametrizable_input > .readOnlyIcon {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -552px;
}

.parametrizable_input > .readOnlyIcon.readOnly {
    background-image: url(../images/icons-sprite.png);
    background-position: -24px -552px;
}

.parametrizable_input > .visibilityIcon {
    background-image: none;
}

.parametrizable_input > .visibilityIcon.visible {
    background-image: url(../images/icons-sprite.png);
    background-position: -48px -384px;
}

.clearfloats {
    clear: both;
}
