{% load i18n %}<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml"><div class="resource click_for_details">
        <div class="header">
            <h2 class="resource_name"><t:title/><span class="txt-gradient"></span></h2>
            <t:rating/>
            <t:mainbutton/>
            <t:type/>
            <span class="vendor"><t:vendor/></span>
            <div style="clear: both;"/>
        </div>

        <div class="wc-resource-img-container"><t:image/></div>
        <div class="description"><t:description/><span class="txt-gradient"></span></div>
    </div></s:styledgui>
