{% load i18n %}<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
<s:horizontallayout>

    <s:options>{"class": "resource_details full"}</s:options>

    <s:westcontainer>
        <div class="panel panel-default"><div class="panel-body">
            <div class="se-thumbnail se-thumbnail-sm"><t:image/></div>
            <t:rating/>
            <t:mainbutton/>

            <div class="links">
                <t:home/>
                <t:license_home/>
                <t:issuetracker/>
            </div>
            <dl class="summary">
                <dt>{% trans 'Vendor' %}</dt>
                <dd><t:vendor/></dd>
                <dt>{% trans 'Version' %}</dt>
                <dd><t:version/></dd>
                <dt>{% trans 'License' %}</dt>
                <dd><t:license/></dd>
                <dt>{% trans 'Last Updated' %}</dt>
                <dd><t:lastupdate/></dd>
            </dl>
        </div></div>
    </s:westcontainer>

    <s:centercontainer>

        <s:options>{"class": "description_column"}</s:options>
        <t:details/>

    </s:centercontainer>

</s:horizontallayout>
</s:styledgui>
