{% load i18n %}
<s:styledgui xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template" xmlns="http://www.w3.org/1999/xhtml">
    <div class="developer_block">
        <h2>{% trans "Adding mashable application components from packages" %}</h2>
        <img class="developer_image" src="{{STATIC_URL}}images/catalogue/mac_package.png" />
        <div class="developer_description">
            <p>{% trans "Do you have a widget, operator or mashup stored in a wgt file? Then you can upload it to the catalogue by means of this form." %}</p>
        </div>

        <form style="margin: 0px;" enctype="multipart/form-data" method="post" class="wgt_upload_form">
        <div>
           <input type="hidden" name="force_create" value="true" />
           <input type="file" name="file" class="wgt_file" />
           <t:upload_wgt_button/>
        </div>
        </form>
        <div class="clearfloats"></div>
    </div>
</s:styledgui>
