{
  "env": {
    "browser": true
  },
  "globals": {
    "Promise": false,
    "WeakMap": false
  },
  "rules": {
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 0
      }
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "guard-for-in": 0,
    "no-alert": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "new-cap": [
      2,
      {
        "newIsCap": true,
        "capIsNew": true,
        "properties": true
      }
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-trailing-spaces": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-undef": 2,
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none",
        "caughtErrors": "none"
      }
    ],
    "func-call-spacing": [
      2,
      "never"
    ],
    "func-style": [
      2,
      "expression"
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "array-bracket-spacing": [
      2,
      "never",
      {
        "singleValue": false
      }
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "dot-notation": 2,
    "spaced-comment": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-infix-ops": 2,
    "keyword-spacing": [
      2,
      {}
    ],
    "space-before-function-paren": [
      2,
      {"anonymous": "always", "named": "never", "asyncArrow": "always"}
    ],
    "strict": [
      "error",
      "function"
    ],
    "curly": [
      2,
      "all"
    ]
  }
}
