/catalogue/
/deployment/
/index/
/node_modules/
/static/
/screens/
/.eggs/
/build/
/htmlcov/
/dist/
/whoosh_index/
__pycache__/
*.pyc
*.mo
*.db
*.egg-info
*.DS_Store
.coverage
.noseids
nosetests.xml
*.swp
*.swo
