/catalogue/
/deployment/
/index/
/node_modules/
/static/
/screens/
/.eggs/
/build/
/htmlcov/
/dist/
/coverage/
/solr_conf/
/whoosh_index/
*.pyc
*.mo
*.db
*.egg-info
*.DS_Store
.coverage
.noseids
nosetests.xml
*.swp
*.swo
*.log
*.bak
