Django<1.12,>=1.10
lxml>=2.3
django-appconf<2.0,>=1.0.1
django_compressor<3.0,>=2.0
rdflib>=3.2.0
requests>=2.1.0
selenium>=3.4
pytz
django_relatives<1.0.0
user-agents
regex
markdown
django-haystack>=2.6.0
whoosh>=2.7.2
pycrypto
pyScss<2.0,>=1.3.4
Pygments
pillow
jsonpatch
