<s:styledgui xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://wirecloud.conwet.fi.upm.es/StyledElements" xmlns:t="http://wirecloud.conwet.fi.upm.es/Template"><div class="resource panel panel-default">
<div class="panel-heading">
<h2 class="panel-title resource_name text-truncate"><span class="title-tooltip"><t:title></t:title></span></h2>
<span class="vendor"><t:vendor></t:vendor></span>
<t:mainbutton></t:mainbutton>
<div style="clear: both;"></div>
</div>
<div class="wc-resource-img-container"><t:image></t:image></div>
<div class="description text-truncate"><t:description></t:description></div>
</div></s:styledgui>
