import os

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'wirecloud-pip-develop-python2.7-postgres',
        'USER': 'wirecloud-pip-develop-python2.7-postgres',
        'PASSWORD': 'wirecloud',
        'HOST': os.environ.get('DB_HOST', ''),
        'PORT': os.environ.get('DB_PORT', ''),
    }
}
