{% load compress i18n wirecloudtags %}{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "WireCloud Platform - Sign in" %}</title>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<link %}"="" favicon.ico"="" href="{% theme_static " images="" rel="shortcut icon" type="image/x-icon"/>
    {% compress css %}
    {% platform_css "index" %}
    {% endcompress %}
    <script type="text/javascript">
        var Wirecloud = {};
    </script>
<script %}"="" baserequirements.js"="" js="" src="{% static " type="text/javascript" wirecloud=""></script>
</head>
<body>
<div style="text-align:center;">

        {% with wc_logo_id="123456"|make_list|random %}{% with wc_logo="images/logos/wc"|add:wc_logo_id|add:".png" %}
        <img alt="Image can not be loaded." src="{% theme_static wc_logo %}" style="vertical-align: middle; heigth: 250px; width: 416px;"/>
        {% endwith %}{% endwith %}

        <div style="display: inline-block; vertical-align:middle; margin: 4ex 10ex; width: 400px;">
<div class="alert alert-error" id="unsupported-browser-msg" style="display: none; text-align: left;">
<h4>{% trans "Your browser seems to lack some required features" %}</h4>
<p>{% blocktrans %}We recommend you to upgrade your browser to the newest version of either <a href="https://www.mozilla.org/firefox">Firefox</a> or <a href="https://www.google.com/chrome">Google Chrome</a> as these are the browsers currently supported by WireCloud.{% endblocktrans %}</p>
</div>
<form id="wc-login-form" method="post" style="text-align: left; width: 400px">
<div class="panel panel-default">
<div class="panel-heading">

                {% if form.errors %}
                <div class="alert alert-danger">{% blocktrans %}<h4>Your username and password didn't match.</h4><p>Please try again.</p>{% endblocktrans %}</div>
                {% endif %}

                {% csrf_token %}
                <input name="next" type="hidden" value="{{ next }}"/>
<input %}"="" autocapitalize="off" autofocus="autofocus" class="se-text-field" name="username" placeholder="{% trans " style="margin: 3px 0; width: 100%;" type="text" username"=""/>
<div style="display: table-row;">
<div style="display: table-cell; width: 100%; padding: 3px 3px 3px 0px;"><input %}"="" class="se-password-field" name="password" password"="" placeholder="{% trans " style="width: 100%; margin: 0;" type="password"/></div>
<div style="display: table-cell; padding: 3px 0px 3px 3px;"><input class="se-btn btn-primary" style="margin: 0;" type="submit" value="{% trans 'Sign in' %}"/></div>
</div>
</div>
</div>
</form>
</div>
</div>
<script type="text/javascript">
        try {
            Wirecloud.check_basic_requirements();
        } catch (e) {
            document.getElementById('unsupported-browser-msg').style.display = "";
        }
    </script>
</body>
</html>
